[2018-05-23 09:58] pitr-ch commented on #712
You can use `Concurrent.global_logger=`. the value has to be something callable e.g. `lambda do |severity, progname, message = nil, &block|` so you may need to wrap the Rails.logger in it.

[2018-05-23 09:58] #712 closed

[2018-05-23 10:02] vemv commented on #712
Thank you @pitr-ch!

[2018-05-23 14:10] #681 closed

[2018-05-23 18:26] pitr-ch opened #720 "Add TruffleRuby to CI"

[2018-05-24 16:28] headius commented on #717
JRuby can't violate anything about Java's threads, so we won't forcibly kill a target thread. We do have mechanisms to allow you to block with a wakeup mechanism, however, which is how we do locking and sleeps and selects interruptibly. See how sleep works in JRuby for an example.

[2018-05-24 16:35] pitr-ch commented on #717
yeah, I use the JRuby's interruptible in https://github.com/ruby-concurrency/concurrent-ruby/blob/master/ext/com/concurrent_ruby/ext/SynchronizationLibrary.java#L244 however that does not work afaik with `java.util.concurrent.CountDownLatch` which can be only interrupted with https://docs.oracle.com/javase/8/docs/api/java/lang/Thread.html#interrupt-- which is not used by JRuby. So either 1) c-r ne

[2018-05-24 20:17] headius commented on #717
@pitr-ch I believe you want to use this method: https://github.com/jruby/jruby/blob/1e235478afd39f5b62dd26dd3b8677fbc7582011/core/src/main/java/org/jruby/RubyThread.java#L1530

RubyThread.executeTask allows you to register an "unblocker" implementation that can be used to do that thread interrupt. I use the same mechanism here: https://github.com/jruby/jruby/blob/807900a0478fd4d9a5509eb4ad1172a1a8

[2018-05-25 14:10] pitr-ch commented on #717
Ah great that looks simpler that I thought. I may be able to fix this without rollbacking the Java implementations for the upcoming patch release. Thanks.

[2018-05-25 14:44] enebo commented on #717
@pitr-ch hey is there still a Fixnum type check in concurrent-ruby?  We have a 2.5 implementation now and we see:

[code]

(Sorry for not just PRing or opening an issue :) ).

[2018-05-25 19:02] jjb opened #723 "is Map set not documented?"
How does one set a value for Map?

http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Map.html

Thanks!

[2018-05-25 21:07] jjb commented on #723
Okay, I think the assumption is it has the same API as `Hash`: `h[:foo]` and `h[:foo]=5`

[2018-05-25 21:07] #723 closed

[2018-05-28 12:57] kalsan opened #724 "Feature request: Implementing `completed?` for ScheduledTask"
For features, it is possible to call `f.completed?` instead of `f.rejected? || f.fulfilled?`. Having this shortcut in `SheduledTask` would be a nice thing to have.

Love ruby-concurrency. Best gem availalble.

[2018-05-29 09:03] pitr-ch commented on #717
@enebo thanks, fixed

[2018-05-30 13:49] pitr-ch opened #726 "Java and Ruby thread do enqueue/create-threads differently"
Ruby pools create threads first before putting work to queue, java threads put work first into queue until full then they create new threads.

This needs to be unified.
We also need to implement java.util.concurrent.SynchronousQueue for Ruby and provide option for its usage on Ruby and Java.

[2018-05-30 13:56] pitr-ch commented on #724
There is a `complete?`method available. The naming is off.

[2018-05-30 13:56] #724 closed

[2018-05-30 19:10] #677 closed

[2018-05-30 19:20] #674 closed

[2018-05-30 19:26] pitr-ch commented on #675
This is an implementation deficiency shortcoming of Promise, it will however work as expected in the new Promises implementation from edge gem:
[code]

[2018-05-30 19:26] #675 closed

[2018-05-31 17:32] havenwood opened #728 "Consider Renaming #then Promises Methods"
As of Ruby 2.6.0-preview2, [#then is now an alias](https://github.com/ruby/ruby/commit/d53ee008911b5c3b22cff1566a9ef7e7d4cbe183) for Kernel#yield_self.

It might be worth renaming the Promises #then to avoid confusion. It does also work to leave it be.

[2018-05-31 21:19] havenwood commented on #728
I suppose there's not too much room for confusion, since folk are generally familiar with #then being a Promises-related term.  There's already the keyword `then` too, and that wasn't seen as a problem.

Closing, since the `then` term is so closely related to Promises and still works.

[2018-05-31 21:19] #728 closed

[2018-06-07 22:06] jrochkind commented on #550
@pitr-ch Hey, 15 months later.... any chance of fixing Delay to make it reliable?

[2018-06-08 12:03] yegor256 opened #730 "Where is Concurrent::Set?"
Documentation link is broken and the class is not present in the package (if I'm not wrong). Where is it?

[2018-06-18 14:49] pitr-ch opened #731 "Update APIs to use named arguments"
* where it makes sense
* a bigger task
  * the named arguments should be added across the whole gem
  * or in few steps for a logically connected groups of APIs/abstractions each time

[2018-06-25 14:06] numeraltwo commented on #694
Hey @pitr-ch I've got something working for this if you are still looking for a contributor. If so, I'll refine and make a PR in the next few days.

[2018-06-29 14:00] pitr-ch commented on #730
Could you point me to the broken documentation? The Set is on master, but not yet released. It'll be in the next one.

[2018-06-29 14:29] pitr-ch commented on #694
@numeraltwo that would be great 👍 Please go ahead and create a PR.

[2018-07-01 12:32] eregon commented on #720
@pitr-ch Please coordinate with me ;)

https://github.com/ruby/mspec/blob/297309c05b89e1a964595d6b8d67a01fd62966e0/.travis.yml#L23-L29
shows one way to run TruffleRuby in CI.
Starting from the upcoming 1.0.0-rc3 release, running the post-install should not be needed on Travis CI.

https://github.com/travis-ci/travis-ci/issues/9803 tracks support for `rvm: truffleruby` to just work, but I don't kno

[2018-07-04 15:50] herwinw opened #736 "Feature Request: AtomicInteger"
Ruby has deprecated the Fixnum class in favour of a more generic Integer class ([example blog post](https://blog.bigbinary.com/2016/11/18/ruby-2-4-unifies-fixnum-and-bignum-into-integer.html)). The class `Concurrent::AtomicFixnum` still uses the Fixnum limits. This means the maximum value of this class depends on the architecture of the system.

At least when using MRI this doesn't make much sense

[2018-07-06 10:38] pitr-ch commented on #736
yeah sounds like a good idea, and I appreciate your offer to help!

Few thoughts:
* Could you add constants to `AtomicFixnum` clearly stating what its max and min value, just taking numbers from `NativeInteger`
* Has to be backward compatible (which you already have in mind).
* I would not add max and min option. Let's keep the API simple.

[2018-07-06 11:34] pitr-ch commented on #670
@GustavoCaso are you still looking into this? If not please let me know.

[2018-07-06 12:36] GustavoCaso commented on #670
Hey @pitr-ch, first of all, thank you for the invite. Sorry for the huge delay swamp with work and other contributions. But count with me for this one

[2018-07-06 13:45] pitr-ch commented on #658
I've done it on my branch and it will go in with other promises changes. Thanks for the suggestion.

[2018-07-06 13:45] #658 closed

[2018-07-06 13:48] #583 closed

[2018-07-06 14:03] pitr-ch commented on #582
done in 476f59383e6bb357d41416f7e1693ede6350e7bb

[2018-07-06 14:03] #582 closed

[2018-07-06 14:07] pitr-ch commented on #670
Ok great, I've assigned it to you.

[2018-07-06 14:09] #689 closed

[2018-07-06 14:11] pitr-ch commented on #657
@ianks ping

[2018-07-06 15:05] pitr-ch commented on #656
I cannot find the reference.

[2018-07-06 15:05] #656 closed

[2018-07-06 15:06] GustavoCaso commented on #670
Thanks

[2018-07-06 15:13] pitr-ch commented on #652
@doudou would you be still interested in looking into this?

[2018-07-06 15:20] pitr-ch commented on #618
A solution could be to write a general JRuby RejectedExecutionHandler which would run a Ruby block when applied.

[2018-07-06 15:21] pitr-ch commented on #599
May be related to #627

[2018-07-06 15:56] #476 closed

[2018-07-06 16:43] #543 closed

[2018-07-06 16:57] pitr-ch commented on #711
This is not implemented at the moment. There is an issue to support this #493. Having a blocking policy is a good idea not sure if doable though. Adding note to the issue.

[2018-07-06 16:59] pitr-ch commented on #493
Having ThreadPoolExecutor block/wait fallback policy would also help with the issue.

[2018-07-07 18:54] pitr-ch commented on #730
Ah the readme does not match the latest release but master. Unfortunately I have to keep the default branch master (whose readme is shown on https://github.com/ruby-concurrency/concurrent-ruby url) because it's the default base of all PRs and changing it would make contributions more difficult. Not sure there is anything practical I can do about it.

[2018-07-07 18:58] jdantonio commented on #730
You could release a new version of the gem. Bump the minor version number.

[2018-07-07 19:03] pitr-ch commented on #730
I've at least added a note at the begging of https://github.com/ruby-concurrency/concurrent-ruby/blob/master/README.md#features--documentation

[2018-07-07 19:03] #730 closed

[2018-07-07 19:05] pitr-ch commented on #730
@jdantonio yeah a new version is my primary focus. I am still fighting CI stability issues but I am getting there. A new release will be out soon.

[2018-07-07 19:11] pitr-ch opened #739 "Looking for maintainer of Rubinius support"
We currently do not have capacity to maintain Rubinius support. If anybody is interested please respond.

[2018-07-07 19:47] #715 closed

[2018-07-07 20:36] pitr-ch commented on #693
@kikonen could you provide a small reproducer so it can be fixed? Thanks.

[2018-07-07 21:17] pitr-ch commented on #726
We probably need to take code from http://gee.cs.oswego.edu/cgi-bin/viewcvs.cgi/jsr166/src/jdk8/java/util/concurrent/ThreadPoolExecutor.java?view=markup and modify it to match our needs.

[2018-07-08 07:31] #550 closed

[2018-07-11 11:21] pitr-ch opened #743 "Intermittent failure of "Concurrent::Synchronization Concurrent::Synchronization::LockableObject#wait can be called from within a #synchronize block" on jruby-9.0.5.0"

[2018-07-11 18:12] doudou commented on #652
Hum ... completely forgot about this. I'll add it to my todo list ... Sorry for that.

[2018-07-11 21:04] #743 closed

[2018-07-12 09:41] greghuc opened #746 "JRuby 9.2 fix: New gem version pushed to rubygems soon?"
Hi @pitr-ch

Is there any chance of a new version of concurrent-ruby being pushed to rubygems soon?

I've just hit this [JRuby 9.2 / concurrent-ruby bug](https://github.com/ruby-concurrency/concurrent-ruby/pull/733) which was fixed about a week ago. I tried using concurrent-ruby head from github, but this errors with `On JRuby but Java extensions failed to load. no such file to load -- concurrent_

[2018-07-12 13:21] pitr-ch opened #747 "Allow to install concurrent-ruby from master on JRuby"
When the concurrent-ruby is installed from master on JRuby it will not work because the java extensions are not compiled. Possible solutions:

1. write extconf.rb which is able to compile java extension when missing.

[2018-07-12 13:23] pitr-ch commented on #746
Thanks for contacting us. I hope no later then next week there will be a RC of 1.1.0 pushed. I've also created #747 to allow to install from master.

[2018-07-12 13:23] #746 closed

[2018-07-12 13:31] greghuc commented on #746
@pitr-ch great thanks!

[2018-07-12 13:41] pitr-ch commented on #652
@doudou thanks. No problem 😃

[2018-07-12 19:21] pitr-ch opened #748 "Add and improve deprecation warnings"
* add deprecations to deprecated abstractions
* allow users to disable the warning per abstraction so it does not show all the time
* each deprecation will show up only once, e.g. only first creation of Future will print the warning

[2018-07-13 15:53] rubemz commented on #639
@pitr-ch I'm looking at this issue and I'm up to be a contributor. We're using [Shoryuken](https://github.com/phstc/shoryuken) and I believe some problems we're seeing in production may be related to this issue.

[2018-07-13 20:40] pitr-ch commented on #639
Great! Thanks @rubemz. I'll have a look.

[2018-07-14 12:01] eregon commented on #720
https://github.com/oracle/truffleruby/blob/master/doc/user/standalone-distribution.md now documents how to test TruffleRuby in TravisCI

[2018-07-21 11:10] GustavoCaso commented on #670
@pitr-ch I started working on fixing the examples but got stack when the example works only if I `puts` the row.

Here is a gist with the example and a comment, any feedback is very welcome https://gist.github.com/GustavoCaso/862139e82718341db4cfb00ea8720f2e

[2018-08-02 09:18] pitr-ch commented on #670
Thanks for looking at it, sorry I missed your comment. The gist example works for me without `puts` added, how does it fail for you?

[2018-08-03 12:58] pitr-ch opened #755 "Check YARD documentation in CI that it matches the code"

[2018-08-08 06:36] GustavoCaso commented on #670
@pitr-ch If I run it multiple times there is no output, maybe the first time it is, but later there is no output

[2018-08-11 21:42] prashantvithani commented on #747
@pitr-ch Can you give more details about how to write extconf.rb to compile java extensions for concurrent-ruby? I've been trying to get this work with JRuby-9.2 on Java-10. But the error says `Java extensions are required for JRuby`

Stacktrace
[code]

[2018-08-12 09:43] prashantvithani opened #758 "[JRuby, Java-10] Error: illegal access on 'submit'"
Getting this error while using `TimerTask`

[code]

[code]
Java version
[code]

JRuby version
[code]

[2018-08-15 15:27] pitr-ch commented on #670
@GustavoCaso try to call `#value!` instead of `value` it will give you an error happening in `get_year_end_closing`. The error is there even with the puts added. Btw the example does not need to use the same API you can do something with GitHub API or anything else if you like.

[2018-08-15 15:30] pitr-ch commented on #670
Just got to looking at your PR :)

[2018-08-15 15:52] pitr-ch commented on #758
Thanks for reporting @prashantvithani! It might be a problem with java modules. I am marking with `looking-for-contributor` for now. Maybe somebody will donate some of theirs time to dig into it, before I'll be able to.

[2018-08-15 15:57] pitr-ch commented on #747
Hi @prashantvithani, I wonder that myself. I was trying to find some guide for it but so far I did not. Currently we use `Rake::JavaExtensionTask` but we should really have an extconf.rb in the `ext/concurrent-ruby` dir which would create a Makefile compiling the Java extension. Would you be interested to look into it? It should also be verified that bundler tries to build extensions when installi

[2018-08-24 07:51] prashantvithani commented on #747
@pitr-ch  I surely will look into this to make bundler build the extensions. I also faced the issue while building gem locally with `Rake::JavaExtensionTask` as it uses the default source and target values `1.5`.
[code]
I had to specify the version in `Rakefile`.

I will see if I can replace it with `extconf.rb`.

[2018-08-24 08:16] prashantvithani commented on #758
I don't have much experience with JRuby as I've started exploring it just recently. I'll try to look into the functioning of Java modules and check whether it's just the issue with `TimerTask (SingleThreadExecutor)` or happening with others (`ThreadPoolExecutor`) as well.

[2018-08-27 13:36] pitr-ch commented on #758
Thanks a lot!

[2018-08-27 13:40] pitr-ch commented on #747
Thanks! I think target 1.5 is no longer possible in java newer then 8. Please accept the collaboration invitation and I'll assign the issue to you.

[2018-08-27 13:51] prashantvithani commented on #747
Thanks for the invitation! I have accepted it, you can now assign this to me :)

[2018-08-31 19:35] doudou commented on #652
Finally ... #761

[2018-09-06 03:14] mrbongiolo commented on #585
So, today I've been bitten by those deadlocks, it wasn't nice!
The worst thing is that there is no exception, nothing, just the server hanging there. I was trying a lot of things, and then, eventually I came across a "Circular reference exception" is some of my specs (but it just happened here and there), which finally gave me some hints to find this issuer right here.

After reading over it I und

[2018-09-06 08:39] solnic opened #763 "const_missing with Concurrent::Array on TruffleRuby"
Hey there 😄 I stumbled upon the following problem:

[code]

`concurrent` version is `1.0.5`

[2018-09-06 11:30] pitr-ch commented on #763
Thanks for letting us know! This is already fixed in `concurrent-ruby` 1.1.0.pre1 (however there is similar problem with Set until pre2 is out.)

[2018-09-06 11:30] #763 closed

[2018-09-06 12:13] solnic commented on #763
@pitr-ch thanks. Are you not planning to backport the fix to 1.0.x?

[2018-09-06 14:16] pitr-ch commented on #763
No at the moment, the 1.1 is fully compatible.

[2018-09-12 18:59] jbodah commented on #711
Not the most elegant, but here's a simple implementation using `SizedQueue` as a blocking buffer:

[code]

[2018-09-19 09:50] route commented on #634
@pitr-ch did you guys end up with something? With the latest version thread pool still swallows exceptions

[2018-09-23 14:06] jayjlawrence commented on #723
Actually there's a whole bunch of really good documentation in [AtomicReferenceMapBackend|https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/collection/map/atomic_reference_map_backend.rb]

I was attempting to use `.has_key?(item)` on a Map with no success. I say to myself "well that's not the same as Hash, what gives?"

The AtomicReferenceMapBackend is an implementatio

[2018-09-24 15:54] pitr-ch opened #764 "Documentation of AtomicReferenceMapBackend should be on Map class"
and the AtomicReferenceMapBackend should not be exposed.

[2018-09-24 15:55] pitr-ch commented on #723
Thanks @jayjlawrence for the info. This is actually a bug then (created #764) the documentation should be on Map and the AtomicReferenceMapBackend should not be exposed. We'll appreciate the examples.

[2018-09-24 17:20] jayjlawrence commented on #764
I can't promise - but I'll try and do this in the near future.

[2018-10-06 18:03] xsresearch commented on #684
@remofritzsche If you are looking to determine how many threads are available in the pool, you can apply the following patch to concurrent-ruby:

[code]

Then just replace pool.remaining_capacity with pool.ready_worker_count in your example (and set max_queue to -1 instead of 0) and you will achieve the desired behaviour.

[2018-10-08 07:58] remofritzsche commented on #684
Great, thank you. Are there any plans of adding this to the official source? As we're developing a Gem, we do not want to patch other Gems if we can work around it. Thanks :)

[2018-10-10 19:52] pitr-ch commented on #711
Yeah that is a reasonable solution in the meantime.

[2018-10-10 19:53] #711 closed

[2018-10-10 19:55] pitr-ch commented on #634
@route I've put this on my list to revisit. Thanks for your interest.

[2018-10-10 19:58] pitr-ch commented on #764
@jayjlawrence thanks for the offer! I've send you an invitation to become a collaborator, please accept and I'll assign this issue to you.

[2018-10-30 08:37] #720 closed

[2018-10-30 19:43] pitr-ch commented on #764
I've fixed this in #767

[2018-10-31 14:14] #764 closed

[2018-10-31 17:39] andyfangdz opened #768 "1.1.0 is a breaking build but wasn't marked as such"
1.1.0 was released, but it requires ruby `>= 2.0.0`. Previously (in 1.0.5), it was marked as `>= 1.9.3`.

This change is breaking for many CI systems running tests for ruby 1.9. Should we release a new minor and mark this version as bad?

[2018-10-31 18:48] pitr-ch commented on #768
This is unfortunate, I was thinking 1.9.3 is so old that it won't be an issue for anybody (eol was 3.5 years ago). I've updated the release notes and changelog to include the change that 2.0 is required, (sorry it slipped) that I could do immediately.

Could you limit concurrent-ruby version in your Gemfile to 1.0.5 to fix your CI immediately?
Could you tell me more about your situation? Why do yo

[2018-10-31 19:38] andyfangdz commented on #768
Hey @pitr-ch, thanks for the response! I've limited my version to 1.0.5 to fix this issue for the mean time.

For many gems that maintain compatibility for 1.9.3, if they include a dependency on `activesupport`, `concurrent-ruby 1.1.0` is pulled-in automatically, since there are typically no lockfiles for Gems. For CI systems that runs build for these gems, they will fail on versions of Ruby 1.9.3

[2018-10-31 20:06] pitr-ch commented on #768
Hm indeed `activesupport 4.0` still supports 1.9.3, I'll yank 1.1 for now that will do no harm and think about how to approach this situation.

[2018-10-31 20:17] jaredbeck commented on #768
Just FYI, because 1.1 was yanked we had a production deploy fail:

[code]

[2018-10-31 20:41] baburdick commented on #768
Same here. v1.1.0 was fine for us.

[2018-10-31 21:55] l8nite commented on #768
Same issue here today - what a pain. :)

[2018-11-01 13:30] alishersadikov opened #770 "Cannot fetch v 1.1.0 from rubygems"
We upgraded to 1.1.0 and when bundling, we are getting:
[code]
in our CI. I assume uploading to rubygems is in progress. How soon can we expect that to complete?

Thanks!

[2018-11-01 14:06] pitr-ch commented on #770
please se https://github.com/ruby-concurrency/concurrent-ruby/issues/768, 1.1.1 should be uploaded today.

[2018-11-01 14:06] #770 closed

[2018-11-01 15:33] alishersadikov commented on #770
Thanks!

[2018-11-01 18:37] pitr-ch commented on #768
Sorry guys, did not realize yank can be so disruptive. Lesson learned 👍
1.1.1 should be uploaded soon.

[2018-11-01 18:44] pitr-ch commented on #731
we have to stay compatible with 1.9.3, see #768

[2018-11-04 17:36] sadiqmmm commented on #768
A quick solution will be to add
**gem 'concurrent-ruby', '1.0.5'**
to rails app Gemfile and Bundle it. It will load the concurrent-ruby version 1.0.5, not 1.1.0

[2018-11-05 13:05] pitr-ch opened #772 "Drop Ruby 1.9.3 and JRuby 1.7 support"
- [ ] communicate with authors of depending gems
- [ ] think out and describe here how it will be dropped

[2018-11-06 07:01] pitr-ch commented on #772
@jeremyevans thanks for letting me know. However I've fixed that problem, I run into it as well. Maybe just part of concurrent-ruby is required which then misses the `utility/1.9.3` file. I'll release 1.1.2 which will be more defensive today. You can then remove the [restriction](https://github.com/jeremyevans/sequel/compare/42145d14203d...fbadf8f11d6c).

[2018-11-06 09:15] pitr-ch commented on #772
@jeremyevans 1.1.2 is pushed, please let me know if it works for you.

[2018-11-06 09:24] pitr-ch opened #774 "Clean or automate up github releases"
Seems to only create maintenance chores.

[2018-11-06 10:57] kamaradclimber opened #775 "NoMethodError: undefined method `post' for nil:NilClass"
[code]

When using concurrent-ruby (1.1.2), the following code:
[code]

throws:
[code]

This did not happen with 1.0.5

[2018-11-06 15:49] jeremyevans commented on #772
@pitr-ch Yep, looks good here, thank you for the quick fix: https://travis-ci.org/jeremyevans/sequel/jobs/451424245

[2018-11-06 22:07] delner commented on #775
Having this same issue. From what I can see `Concurrent.global_io_executor` now returns `nil`, so if you were depending on getting an executor from that, it will raise this error.

That `Concurrent.global_io_executor` is equivalent to `Concurrent::Delay.new { Concurrent.new_io_executor(auto_terminate: true) }.value` which also returns `nil`.

[2018-11-07 04:57] f3ndot opened #777 "Support Hash of Futures for Concurrent::Promises.zip"
Reading [the guide](http://ruby-concurrency.github.io/concurrent-ruby/1.1.2/file.promises.out.html) for the [Promises](http://ruby-concurrency.github.io/concurrent-ruby/1.1.2/Concurrent/Promises.html) work in 1.1.x I came across the fantastic `Concurrent::Promises.zip` method.

It's interface, per the guide, expects an array of `Future`s and will return a final value of said array's values. This i

[2018-11-07 06:05] f3ndot commented on #777
Forgot to mention that this pattern would apply to the errors section as well:

[code]

[2018-11-07 07:12] pitr-ch commented on #775
From the fix I deduce that you are requiring just part of the concurrent-ruby not the whole gem. Is that correct? That's not officially supported at the moment (only `require 'concurrent'` is) so even if we try to make it work sometimes problems get through, see #714. I'll release 1.1.3 with a fix, thanks for investigating.

[2018-11-07 08:05] pitr-ch commented on #775
1.1.3 is out, please reopen if it did not fix the issue.

[2018-11-07 08:05] #775 closed

[2018-11-07 15:03] delner commented on #775
@pitr-ch I can't speak for @kamaradclimber but this is the case on my end; we were only including `Future`.

[2018-11-07 15:16] pitr-ch commented on #775
Thanks for confirming. This type of issues should not happen again after #714 is implemented.

[2018-11-08 14:47] pitr-ch commented on #777
That is definitely an interesting idea, thanks for sharing! I'll leave it as `looking-for-contributor` for the moment to see if anybody would be interested to implement it. If not I'll do it.

[2018-11-22 08:39] prashantvithani commented on #758
I've raised a PR. Removing `java_alias` and calling java method directly solves this issue. However, it works fine in JDK-8

[2018-11-29 16:13] pitr-ch commented on #774
Github started to support release notifications. Investigate and consider to promote as a channel to get info about new releases.

[2018-12-02 12:25] zw963 opened #782 "README error."
![image](https://user-images.githubusercontent.com/549126/49339690-4a698700-f670-11e8-92ed-244e2f13638c.png)

[2018-12-06 14:46] #782 closed

[2018-12-06 14:47] pitr-ch commented on #782
Thanks!

[2018-12-08 12:01] zw963 commented on #634
yes, when i use concurrent-ruby, i found it not work, even if add following config:

[code]

Because no any exception is raise actually.

[2018-12-08 15:30] route commented on #634
@pitr-ch I can work on this if you are short of hands and agree to merge it in one shape or another

[2018-12-13 08:22] pitr-ch commented on #634
@route thanks a lot! please have a look and open a PR with a prototype where we could discuss the desired change. Things to keen in mind:
* The final change (not the prototype) should be backward compatible, we'll probably be forced to keep the current behavior by default and introduce the fixed one with an option. However we can print a warning when the default is used to let users switch manuall

[2018-12-18 21:00] dgolombek opened #785 "Proposal: Allow specification of thread name for executors"
Modern loggers ([SemanticLogger](https://github.com/rocketjob/semantic_logger), [Logging](https://github.com/TwP/logging)) support including thread name in log messages. However, it's currently challenging to set the thread names used with executors. With the addition of Thread#name= in Ruby 2.3, we can now support this in a multi-platform way:

- Thread#name= in MRI/Rubinius
- Using a ThreadFacto

[2018-12-19 00:56] OunmanNgampeerapong opened #786 "yyes"
[code]

[2018-12-19 12:07] pitr-ch commented on #786
I assume this is opened by mistake, closing.

[2018-12-19 12:07] #786 closed

[2018-12-20 00:48] OunmanNgampeerapong commented on #786
Ok

[2018-12-20 01:07] OunmanNgampeerapong commented on #786
thankyou

[2018-12-20 01:12] OunmanNgampeerapong commented on #777
Ok

[2018-12-29 21:30] dgolombek commented on #785
In the course of implementing this, I discovered that JRuby doesn't work as I expected it to, and this is hard to implement there currently. I've submitted jruby/jruby#5543 to get this fixed in JRuby, but it'll be  a while before that's available in enough JRuby versions to make this widely supported there.

[2019-01-02 21:13] Jonathanmarsh4 opened #790 "Where’s all my bitcoin"
[code]

[2019-01-03 01:11] #790 closed

[2019-01-03 12:46] pitr-ch commented on #785
Thanks, this would be a great addition. `name-%d` sounds good, could you also include proc based name generation e.g.`-> i { "name-#{i.to_s(36)}" }`? I've assigned the issue to you. It think this would be valuable even if it works only in MRI for now.

[2019-01-24 22:47] ajlai opened #794 "TimerTask#execute is not a blocking call"
Hi,

I was looking through the TimerTask examples and noticed that the one below isn't working as documented:

[code]

If I put those contents into a file and run it via `ruby timer_task_boom_test.rb`, it exits immediately. If I add a `sleep` right after the timer_task.execute line then I see the `Boom!`s printed out.

Is timer_task.execute supposed to be a blocking call? Or has the behavior chang

[2019-01-24 23:03] jdantonio commented on #794
Did you run the example in IRB or as a stand-alone Ruby script?

When Ruby reaches the end of a script it immediately exits, killing all threads, destroying all objects, and releasing all its resources. None of the abstractions in this gem prevent this from happening. (This is by design. We don't want buggy code to ever prevent Ruby from exiting.) So if you ran this as a stand-alone script then Ru

[2019-01-24 23:13] ajlai commented on #794
I ran

I ran this example as a stand-alone ruby script.
Yes, I understand what ruby does when it reaches the end of the script. My original question was pertaining to the line in example:
[code]
which made it sound like the script would block on that line until the task was shutdown (from within the task itself).

I noticed that the script did **not** block on that line and was asking whether time

[2019-01-24 23:18] ajlai commented on #794
So if it is expected behavior that ruby exits right after `timer_task.execute` then it seems like `timer_task.execute` is nonblocking, which means the example needs to be updated?

[2019-01-24 23:21] jdantonio commented on #794
`timer_task.execute` is not blocking and the example is correct. The examples are all run in IRB unless specifically noted otherwise. If you copy/paste that code into IRB the example will work exactly as documented since IRB remains open until explicitly exited by the user.

[2019-01-27 04:48] 2017kamb opened #795 "typo in readme file"
typo mistake in readme file in the following line:
Concurrent Ruby makes one of the strongest thread safety guarantees of any Ruby concurrency library, providing consistent behavior and guarantees on all **three** of the main Ruby interpreters (MRI/CRuby, JRuby, Rubinius, TruffleRuby).

In the above line **three** should be **four**

[2019-01-30 06:46] jamie commented on #777
So I started working through a POC of this, trying to follow [the documentation here](https://ruby-concurrency.github.io/concurrent-ruby/master/file.promises.out.html) for consistency as much as possible. Some notes:

- Hard to tell the difference between a legit hash and an options hash, resulting alternatives for syntax are all ugly. I think the best is an explicit options hash, but I still hate

[2019-01-30 12:49] f3ndot commented on #777
@jamie remember `::Promise` and `::Future` are deprecated in favour of `::Promises::Future`. It's a gotcha that I've been bit by a few times.

[code]

[2019-01-30 17:38] jamie commented on #777
Ah, that explains it. I was grepping the code for `def self.zip` and only found the one in Promise. Concurrent::Promises::FactoryMethods defines zip_futures, and aliases that to zip. That code might be a bit more interesting to refactor hash support into...

[2019-02-03 08:16] pitr-ch commented on #795
Thanks fixed

[2019-02-03 08:16] #795 closed

[2019-02-03 10:59] fxn opened #796 "Concurrent::Set is not thread-safe in CRuby"
`Concurrent::Set` returns `Set` in CRuby with this argument:

[code]

As discussed in #793, that is not enough for thread-safety, you also need the interface to be atomic somehow. For `Hash` and `Array` this holds because they are written in C, but `Set` is [partially written in Ruby](https://github.com/ruby/ruby/blob/trunk/lib/set.rb).

To demonstrate `Concurrent::Set` is not thread-safe I have c

[2019-02-04 09:12] fxn commented on #796
I have revised the example to have the context switch happen in the middle of the execution of `delete?`.

[2019-02-07 06:30] thedarkone commented on #796
Hi @fxn,

you are right, the comment should be dropped (it is incorrect). https://github.com/ruby-concurrency/concurrent-ruby/blob/b20a56296e6ef6dd85d9eb07100271f369787509/lib/concurrent/set.rb#L26-L27

---

Furthermore, currently it looks like Set is not safe to use beyond basic `add`/`remove`/`include?` methods. I knew Set was written in Ruby, and I skimmed through the methods while reviewing #6

[2019-02-07 09:57] pitr-ch commented on #796
@fxn thanks for filing the issue!
@haridutt12 would you be interested in taking a stab at fixing it?

[2019-02-08 20:08] nerdrew opened #798 "Is the documentation for Concurrent::Map#put_if_absent inverted?"
The documentation looks like it says that it will return the new value if the key was not present and return nil if the new value was not inserted because the key *was* present.

It looks like the implementation is the opposite.

[code]

[2019-02-08 21:30] nerdrew commented on #798
Documentation: http://ruby-concurrency.github.io/concurrent-ruby/1.1.x/Concurrent/Map.html#put_if_absent-instance_method

[2019-03-06 19:41] pitr-ch commented on #798
Thanks @nerdrew! You are right. Could you contribute a fix please?

[2019-05-01 00:57] ax-slad commented on #639
Any update here? Is this something that may get resolved anytime soon?

[2019-05-07 23:00] cesarizu opened #808 "Segmentation fault with ruby-2.6.3"
When updating an app to run with ruby 2.6.3 (from 2.4.4) I get the following error:

[code]

I tried using `Concurrent.use_stdlib_logger(Logger::DEBUG)` to get more information but nothing else is printed to the console. How can I start debugging this problem?

[code]

[2019-05-20 14:27] iNecas opened #809 "Promoting the Actor implmentation from edge to proper concurrent-ruby?"
We've been using the Actor implementation from the edge in https://github.com/Dynflow/dynflow for a while and we've hit no issues. Seems like it might be ready to get promoted to the concurrent-ruby proper.

It would also help us with some obstacles we have right now when delivering our code on debian (see https://github.com/theforeman/foreman-packaging/pull/3438).

[2019-05-25 04:32] iNecas opened #810 "Backtrace propagation into the executor"
When an error occurs within some code running inside concurrent-ruby executor, it ends up with something like this, while loosing the info about the true origin of the code:

[code]

Example:

[code]

Result:

[code]

Desired would be something like

[code]

This is very bad developer experience and makes it very hard to deal with the code that is using actors or other concurrent-ruby abstractions

[2019-05-25 04:51] ianks commented on #810
Depending on you environment, you can configure backtrace filtering. It's not reasonable to rewrite this code to optimize for short backtraces.

[This is a good article about backtrace filtering to help get you started](https://thoughtbot.com/blog/shhh-your-test-unit-backtraces-are-too-noisy)

[2019-05-25 20:19] iNecas commented on #810
Please note that this is not that much about filtering, as it is about propagating the backtrace when running some code via concurrent-ruby executor. The filtering can be handled separately (although if the backtrace propagation would be handled, I think it would improve the out-of-box usability)

[2019-05-25 20:29] iNecas commented on #810
In other words, the key thing in this desired outcome:

[code]
is not `[ concurrent-ruby ]`, but the `/home/inecas/tmp/actor.rb:20:in `run'`, that you don't get at the moment.

See https://github.com/Dynflow/dynflow/pull/326 for real-world example of such a situation. Without that patch, it's next to impossible to find that `dynflow/dispatcher/client_dispatcher.rb:148` has been initiated from `/dy

[2019-06-22 03:25] kj opened #813 "Actor pool terminated event sent as message"
* Operating system: Linux
* Ruby implementation: Ruby
* `concurrent-ruby` version: 1.1.5
* `concurrent-ruby-edge` version: 0.5.0

Given this code:

[code]

-why does the `Actor` receive both and event `:terminated` and a **message** `:terminated` in the output:

[code]

-it only seems to receive a message when I use a `Pool`. If I replace the `#initialize` method with:

[code]

-then the output in

[2019-06-22 03:27] kj commented on #809
If you look through the source code it looks like there is a lot of documentation missing, and a fair bit of clean up required. I don't think it's ready to be promoted.

[2019-07-09 06:58] FooBarWidget opened #815 "Why does ScheduledTask accept an executor?"
`@executor` isn't used anywhere in the ScheduledTask source code. Why does ScheduledTask accept an executor as option? Maybe it shouldn't? It appears as if ScheduledTask is supposed to be executed by a TimerSet, not by a normal executor.

[2019-07-09 13:14] jdantonio commented on #815
As far as I can tell that's a mistake on my part made in commit e20922d9ae4f0cf2fd8a6a2eae4c0533a12ee4c8 "TimerSet now creates ScheduledTasks." That was a long time ago so I can't remember specifics. I'm guessing based on what I see in the code.

Prior to that commit the `TimerSet` object would create a private `Task` object and run that task on the provided executor. In that commit I refactored t

[2019-07-10 05:57] FooBarWidget commented on #815
So from what I understand, TimerSet is an evented reactor, and so it only has one thread no matter how many ScheduledTasks, which makes it very efficient even when a large number of ScheduledTasks are scheduled, correct?

And because TimerSet if evented, you don't want to run potentially blocking code on there, and so when a ScheduledTask is activated, TimerSet should pass the task to an executor,

[2019-07-10 05:59] FooBarWidget opened #816 "What is the difference between ScheduledTask and Promises.schedule?"
ScheduledTask and Promises.schedule seem to do the same thing, although Promises.schedule also accepts a Time object. But otherwise, what's the difference between these two?

[2019-07-10 14:56] jdantonio commented on #816
Old versus new. ScheduledTask was the original abstraction, first written in the early days of this library. @pitr-ch, the current maintainer, has been working to move as many features as reasonable into the Promises abstraction. Over time, the various different abstractions began to increasingly share the same internals. Things that were perceived to be different evolved into functionality-specif

[2019-07-10 14:56] jdantonio commented on #815
Correct on all counts.

[2019-08-05 09:38] mwsteb commented on #808
Not sure if this should be a separate issue or not, but I'm here to report that it happens on Ruby 2.5.5p157 as well. Here's the trace:

[code]

[code]

[2019-08-07 21:32] headius opened #817 "Executor threads not being created as daemon"
There appears to be an executor service somewhere in concurrent-ruby that's not marking the threads as "daemon" on JVM. As a result, this causes that executor to keep the process from terminating.

This issue has been affecting builds of JRuby for some time; the CRuby standard library test suite we run appears to trigger concurrent-ruby to create this executor, resulting in the entire suite hangin

[2019-08-07 21:35] headius commented on #817
Is it here?

https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/executor/cached_thread_pool.rb#L55

[2019-08-07 21:37] headius commented on #817
Maybe here too: https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/executor/java_thread_pool_executor.rb#L111

[2019-08-08 12:44] infomatico commented on #809
hello @pitr-ch, any news about the problem?

[2019-08-20 18:28] anuragshopify commented on #796
I'd like to work on this. What would the fix entail though? Changing the implementation in mri ruby or providing a thread safe interface here?

[2019-08-23 21:09] cesarizu commented on #808
After some testing it seems that this commit is the culprit: eb81fffe "avoid "can't be called from trap context" errors in ThreadLocalVar". Reverting that commit fixes the problem.

[2019-08-24 10:03] pitr-ch commented on #794
I cannot get the example to print anything, not sure what is going on. I'll revisit it.

[2019-08-24 12:08] pitr-ch commented on #816
What @jdantonio said. Promises is new more integrated replacement. I would recomend using schedule. It can be easily integrated with other abstractions since result is a common chain-able Promises::Future. The ScheduledTask is isolated. Over time ScheduledTask will be deprecated.

[2019-08-24 12:08] #816 closed

[2019-08-24 12:09] #815 closed

[2019-08-24 12:35] pitr-ch commented on #796
@anuragshopify thank you! I would recommend to inherit from the MRI's Set in concurrent-ruby and fixing the methods in the new class here. Then you could try to contribute it back to MRI.

[2019-08-24 12:38] pitr-ch commented on #808
Thank you for reporting and finding out the commit, it is a big help.

[2019-08-24 17:08] kvokka opened #819 "LazyRegister concurrent register bug"
If yout take a look at https://github.com/ruby-concurrency/concurrent-ruby/blob/bbeacbcebf72668ed04df0738df7e3a654f7c177/lib-edge/concurrent/lazy_register.rb#L61 you will see, that it has a bug.

When block evaluation time is stochastic, then even 2 `register` calls will produce unpredictable result.

[code]

Will be happy to fix it, if u don't mind.

[2019-08-24 18:47] pitr-ch commented on #819
Thank you for you interest. However, I don't see the problem, could you please elaborate. Thanks.

[2019-08-24 20:07] kvokka commented on #819
Thank you for such a quick response.

After spending some time, I realized, that the is no a word about concurrent write of user data, only the registry itself. So, the developer should to manage it. This means, that for my case I should create a subclass, which allows the concurrent immutable access to the data.

Will do it anyway for my needs. Is it good idea to add it as a PR to `-edge` afterwa

[2019-08-25 14:27] pitr-ch commented on #819
What is your use-case?
Yeah keep the new class next to the lazy_reqister in edge for now please. I would recommend to submit a draft PR so we can discuss early. Thanks!

[2019-08-26 09:51] rubenfonseca commented on #808
We're also seeing this problem with ruby-2.6.3.

[2019-08-27 13:18] dmtask commented on #808
Same Problem here.

[2019-08-27 14:57] pitr-ch commented on #808
I'll look into this as soon as possible.

[2019-08-28 06:13] dmtask commented on #808
@pitr-ch Thank you. :)

[2019-08-28 19:21] pitr-ch commented on #808
I do not have a reproducer, however, I've spotted potentially dangerous array access in the code which is fixed in #821, please try it and let me know if the issue goes away. Thanks.

[2019-08-30 06:21] Yax commented on #678
Maybe you know any workarounds for this problem?

[2019-09-02 08:17] dmtask commented on #808
We were able to avoid the mistake and solved it differently. I still try to test the bugfix as fast as possible.

[2019-09-03 05:14] pitr-ch commented on #808
Thank you @dmtask!

[2019-09-03 18:56] pitr-ch opened #822 "Add wrapping delegating executor"
an executor which wraps each given task with a block

[2019-09-05 16:53] dmtask commented on #808
For me, it works.

[2019-09-05 19:47] davidw commented on #808
I am getting segfaults and some of them show this:

[code]

I have a minimalistic Rails app that reproduces the problem, if that's helpful.

I tried applying the patch above, but it does *not* seem to fix it.  I just hand-edited in to version 1.1.5, so I don't know if that's sufficient.

[2019-09-06 18:17] pitr-ch commented on #808
Thanks @dmtask and @davidw for testing and link to the reproducer. I'll dig further.

[2019-09-06 18:26] davidw commented on #808
@pitr-ch ultimately I think there must be a bug in Ruby itself somewhere too. I don't know much about this code, but I can see user level code generating errors, exceptions, even deadlocking, but it should not segfault.

[2019-09-13 22:36] danodemo commented on #808
Also encountering this problem with Ruby 2.6.0

[code]

It happens anytime I run an Activerecord call of any kind, no matter how simple, from within `rails c` in our local environment.

Our product and staging environments appear to be unaffected

[2019-09-16 15:15] voxik opened #824 "Unstable test suite"
Trying to update concurrent-ruby package in Fedora, the test suite is quite unstable. Here are the failing tests if I am lucky enough and there is no deadlock:

[code]

It seesm that the `scheduled_task_spec.rb` and `timer_task_spec.rb` are unstable for some reason.

[code]

[2019-09-18 08:44] mvgijssel opened #825 "Waiting for Actor termination?"
Is there an easy way to wait for an Actor to terminate? I'm aware that I can wait till all messages are processed:

[code]

or wait for the actor to respond (which AFAIK is the same)

[code]

but both are not what I'm looking for. I want to know how to block until an actor is terminated when the actor has asynchronous execution itself:

[code]

[2019-09-25 09:48] equivalent commented on #808
Let me add one more example to the discussion :)

as discussed [here](https://github.com/rails/rails/issues/37004#issuecomment-523419624) after upgrading rails 5.2 (on Ruby 2.6.3)  to 6.0.0 (on Ruby 2.6.3) I started having  this issue when running RSpec:

[code]

[2019-10-06 12:31] pitr-ch opened #827 "New lighter task scheduler for promises"
It currently uses TimerSet which runs in IO pool and creates unnecessary threads.

[2019-10-30 18:23] davidw commented on #808
Still seeing this with a recent release of Ruby: `ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-linux]`

[2019-10-30 21:29] davidw commented on #808
Looks like it's dying in `rb_objspace_free` called from within `ruby_vm_destruct` if that means anything.

[2019-10-30 22:48] davidw commented on #808
I think there's some kind of race condition going on.

I added a `sleep 5' to the end of `    def self.threadlocal_finalizer(index)` and the crash is gone.

Wild guess: something is getting GC'ed, then the thread tries to run and barfs.

[2019-10-31 00:02] davidw commented on #808
@pitr-ch what is the new thread for in those cleanup methods anyway? If I remove it, things work correctly, and all tests pass in the master branch. Is it some kind of optimization?

[2019-11-01 16:04] davidw commented on #808
I filed a Ruby bug here: https://bugs.ruby-lang.org/issues/16288

In this code, the thread in the finalizer won't run, because the main thread has already been marked as killed, so it can't start a thread:

[code]

`Exception `ThreadError' at ./the_finalizer.rb:18 - can't alloc thread`

[2019-11-01 17:34] mainameiz commented on #808
I have similar error and created small sample app. Maybe it would be useful. https://github.com/mainameiz/segfault_app

[2019-11-01 17:55] davidw commented on #808
@mainameiz that looks like the same thing. I also have MongoDB. Can you remove Mysql from yours and still get it to reproduce the crash?

[2019-11-01 20:06] mainameiz commented on #808
If I remove mysql, the bug disappears.
More interesting... if I remove `ActiveRecord::Migration.check_pending!` from `spec/rails_helper.rb` the bug disappears also.

[2019-11-01 20:18] mainameiz commented on #808
Also find that `concurrent-ruby 1.0.3` does not have a bug, but `1.0.4` has.

[2019-11-01 20:48] davidw commented on #808
@mainameiz aha!

From `lib/concurrent/atomic/ruby_thread_local_var.rb`

As above, if you comment out the `Thread.new` and its accompanying `end` block, the code runs - at least in my case.

The commit that seems to have introduced that is `eb81fffed0be650bdb2aaaf3d65fc7e6ea6e3b2d`.

[code]

[2019-11-04 16:55] davidw commented on #808
@pitr-ch I don't know what the right solution is, but the Ruby guys commenting on the Ruby bug above are suggesting that starting threads in a finalizer is probably not a good idea, which makes sense to me. It shouldn't crash Ruby, of course, but maybe another solution is needed. I wish I could suggest something sensible. Do you have any test cases that exercise the `trap` problem?

[2019-11-14 16:18] davidw commented on #808
As an update, I now have some code in the above Ruby core ticket that reliably segfaults, without all the infrastructure of a Rails project.  It doesn't utilize concurrent-ruby, but if they decide that, say, a finalizer can't create a new thread, it will have repercussions for this code.

[2019-11-16 20:02] edzhelyov commented on #798
Hey, is this still open? I can take a stab at fixing it. The code needs to change in accordance with the documentation, right?

[2019-11-17 14:34] pitr-ch commented on #808
The previous code without the `Thread.new` had the trap problem, I think it was not allowed to take the lock. I don't have anything more specific at hand. I've updated the https://github.com/ruby-concurrency/concurrent-ruby/pull/821 PR with a different solution. Who has reproducer set up, please try it and let me know, Thanks!

[2019-11-17 14:39] pitr-ch commented on #798
@edzhelyov thank you! Please do. The behaviour is correct, it has to match https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ConcurrentHashMap.html#putIfAbsent-K-V- so the documentation needs a fix.

[2019-11-18 10:12] mainameiz commented on #808
:heart: Seems like it works now. But I am not sure I test it right

I had some trouble with usage of https://github.com/ruby-concurrency/concurrent-ruby/pull/821.
Adding this line to Gemfile
[code]

causes an error:
[code]

So instead I
1) clone `concurrent-ruby` to local machine
2) remove `concurrent-ruby-edge.gemspec` and `concurrent-ruby-ext.gemspec`
3) add this line to Gemfile:
[code]

Finally

[2019-11-20 00:03] davidw commented on #808
`gem 'concurrent-ruby', git: 'git@github.com:ruby-concurrency/concurrent-ruby.git', branch: 'segfault'` seems to fix the segfault for me, although of course there is still a bug in the Ruby interpreter itself.

[2019-11-20 09:45] pitr-ch commented on #808
Thanks for the confirmation. I'll merge the fix and new release should be available in December.

[2019-11-20 09:51] #798 closed

[2019-11-28 13:48] kaikuchn opened #836 "Dup and Clone with (Mutable)Structs"
[code]

Hey folks,

I've started using this awesome gem in an effort to make one of my employer's apps thread-safe. Thank you for all your hard work, this makes my life so much easier! :)

While I'd preferably not even use the `MutableStruct` I have to do so for now. And in doing so I noticed that `dup` and `clone` do not behave as they do with Ruby's normal `Struct`. I.e., since values are stored

[2019-12-03 15:33] kaikuchn commented on #836
By the way, if you consider this a bug, I'm more than happy to craft a PR in an attempt to fix it.

[2019-12-05 19:19] pitr-ch commented on #836
Thanks for the report @kaikuchn, PR would be highly appreciated, Thanks! From a brief look it looks like we do not implement dup and clone at all which is probably the problem.

[2019-12-27 13:02] #836 closed

[2019-12-27 17:43] #785 closed

[2019-12-30 17:24] equivalent commented on #808
confirming that the current concurrent-ruby `master` works ...but [mainameiz ](https://github.com/ruby-concurrency/concurrent-ruby/issues/808#issuecomment-554948050) has a good point that there are issues with

[code]

so in meantime I've created fork where those files are removed https://github.com/equivalent/concurrent-ruby and this just works

[code]

[2020-01-07 19:38] fzakaria opened #839 "TimerTask is starting a non-daemon thread"
I have a small reproduction example:
[code]

The threads started by TimerTask **should be** daemons however the JVM does not shutdown.
There seems to be some other _concurrent-ruby_ thread which is not a **daemon**

The problem is that at the end of the test, the JVM remains active and does not shutdown.

(The following is from _jstack_)
[code]

[code]

[2020-01-08 00:36] fzakaria commented on #839
I've created a minimal reproduction repository: https://github.com/fzakaria/concurrent-ruby-timer-task-failure

[code]

[2020-01-08 14:09] kaikuchn commented on #839
Maybe this is related to #817?

[2020-01-08 15:11] fzakaria commented on #839
Great find!
I'll submit a PR with the places he found.

[2020-01-08 18:32] fzakaria commented on #839
PR submitted!

[2020-01-15 13:27] laasem commented on #810
Any update here?

[2020-01-16 06:57] pitr-ch commented on #810
Nobody is working on it at the moment.

[2020-01-16 11:37] laasem commented on #810
We did this as a workaround for the moment - still testing it out though:

[code]

and then used as such

[code]

[2020-01-16 11:39] laasem commented on #810
We did this as a workaround for the moment - still testing it out though:

[code]

and then used as such

[code]

[2020-01-19 15:27] pitr-ch commented on #808
there is a missing require, which leads to the missing constant, fixing on master

[2020-01-26 10:38] #817 closed

[2020-01-26 10:38] #839 closed

[2020-01-28 10:02] slemrmartin commented on #703
Hey, I have the same problem. Is this repo still maintained? This bug makes whole thread pools unusable

[2020-02-05 09:53] AlexLarra opened #846 "Find scheduled_task by args and remove it"
I'm using [sucker_punch](https://github.com/brandonhilkert/sucker_punch) based in concurrent-ruby.
But I need to find a scheduled task by the passed args in another request to kill it if necessary.

[code]

[2020-02-05 19:25] pitr-ch commented on #846
Could you be more concrete what are you looking for? A code snippet would help.

[2020-02-10 14:57] pitr-ch commented on #824
Yeah that is true. I am trying to improve that over time. However it requires a lot of time which I do not have. Did you run `rake spec:ci`? That is a more stable test set.

[2020-02-10 15:07] pitr-ch commented on #825
The newer Actor implementation which has exact same behaviour as Erlang is more thought out in that respect and has http://ruby-concurrency.github.io/concurrent-ruby/master/Concurrent/ErlangActor/Pid.html#terminated-instance_method
In the old Actors you can either create a different actor and link it or ask for a termination event with `:termination_event` message. Then you can block with `wait` o

[2020-02-10 19:37] fzakaria commented on #796
@fxn is my stab at the fix: https://github.com/ruby-concurrency/concurrent-ruby/pull/847/files

[2020-02-11 05:40] fzakaria opened #848 "Concurrent::Future vs Concurrent::Promises::Future"
The fact that there are two Future classes -- the former in the title having much less capabilities seems very confusing.

Is there a historic reason for keeping the two ?
Can we just alias:

[code]

[2020-02-11 05:57] fzakaria commented on #822
Looks like this can be closed.

[2020-02-12 09:22] AlexLarra commented on #846
Something like:

[code]

[2020-02-12 09:22] pitr-ch commented on #822
Indeed, thanks.

[2020-02-12 09:22] #822 closed

[2020-02-12 09:29] pitr-ch commented on #848
yeah it is confusing. The old one has to stay for compatibility though. We have to be careful when trying to change any of the old APIs because this gem is the 20th most downloaded gem and about 1/5 of all gems depend transitively on it. The new implementation is not compatible with the old so it cannot replace it (although, I wish to do that).  However, we could be more "aggressive" with deprecat

[2020-02-12 09:51] DavidS opened #849 "segfault on ruby 2.5.1 (on travis-ci)"
[code]

Running https://github.com/puppetlabs/puppet_litmus/pull/241/commits/1fd29fecad3d83d6a4ee0f1afaab204016d64d2a on travis consistently gives the attached ruby segfault: [log.txt](https://github.com/ruby-concurrency/concurrent-ruby/files/4191054/log.txt)

[code]

The same code works fine on ruby 2.5.7.

[2020-02-12 15:03] fzakaria commented on #848
I see.
I haven't looked to detailed into the API but there's definitely some overlap.
There might be the opportunity to move the implementation into a single class and just alias the constant name.

(The method implementation could carry the deprecation warning)

We can close this then.

[2020-02-12 15:03] #848 closed

[2020-02-13 01:32] goyachanpuru opened #850 "illegal access on 'newThread': class org.jruby.javasupport.JavaMethod (in module org.jruby.dist) cannot access a member of class java.util.concurrent.Executors$DefaultThreadFactory (in module java.base) with modifiers "public""
[code]

When useing ActiveJob with "config.queue_adapter = ActiveJob::QueueAdapters::AsyncAdapter.new" with concurrent-ruby 1.1.6, the error is occured.
But it works with concurrent-ruby 1.1.5.

The backtrace is as follows.

[code]

[2020-02-13 17:54] Justin-W opened #851 "v1.1.6 LoadError: cannot load such file -- etc (LoadError)"
v1.1.6 seems to have introduced a [new code usage of the `etc` gem](https://github.com/ruby-concurrency/concurrent-ruby/blob/v1.1.6/lib/concurrent-ruby/concurrent/utility/processor_counter.rb#L1), but does not properly register it as a gem dependency, resulting in a runtime LoadError while attempting to install v1.1.6 via `bundler`.

FYI: Our gem depends on concurrent-ruby indirectly.

### Error t

[2020-02-16 19:17] pitr-ch commented on #846
I thought about it. I would recommend to ask for this API in the `sucker_punch` gem. For each scheduled job it could expose the ScheduledTask object. Then it would be possible to cancel it.

I'd like to keep this gem and its API low-level. Having a global store of all the schedule tasks would slow it down and complicate things for mostly unused API.

[2020-02-16 19:17] #846 closed

[2020-02-16 19:25] pitr-ch commented on #849
Thanks for the report. Few notes:
* There was similar error https://github.com/ruby-concurrency/concurrent-ruby/issues/808
* This is a bug in MRI no Ruby code should be able to segfault Ruby.
* The original version working on 2.5.1 was breaking on 2.6.3.

Further investigation is needed.

[2020-02-16 19:33] pitr-ch commented on #850
What Java version do you use?
(Note: could it be related to issues https://github.com/ruby-concurrency/concurrent-ruby/pull/840 ?)

[2020-02-16 19:39] pitr-ch commented on #851
As far as I know `etc` is part of the stdlib https://ruby-doc.org/stdlib-2.5.1/libdoc/etc/rdoc/index.html as a default gem. Could it be an issue with your environment?

[2020-02-16 19:55] headius commented on #850
I suspect this code uses `java_method` to access a specific method. That issue is fixed in jruby/jruby#5841.

[2020-02-16 20:26] pitr-ch commented on #796
@fxn thank you for the PR! I have a proper look in few days. I've run out of time today.

[2020-02-17 08:24] pitr-ch commented on #849
@fzakaria would you be interested to take a look at this?
So far I know that Thread creation, Mutex, Queue cause problems and at the moment I do not have more ideas how to get around this.

[2020-02-17 17:40] fzakaria commented on #849
Sure thing.
I'll build 2.51 from source & run the tests and see what I can uncover.

[2020-02-17 20:04] fzakaria commented on #849
Few notes from looking into it:
1. @pitr-ch added some changes to address https://bugs.ruby-lang.org/issues/16288 as part of https://github.com/ruby-concurrency/concurrent-ruby/pull/821

2. This bug involves changes post (1) where the segfault is occurring within `Queue#push`
To me that means either the `Queue` or the `@index` have been garbage collected already.

[2020-02-18 23:28] Justin-W commented on #851
After further investigation, it seems that the root cause of this issue is [alpine linux issue #9216](https://gitlab.alpinelinux.org/alpine/aports/issues/9216), where the ruby-etc package was excluded from the alpine linux v3.8 image despite the fact that etc has been a standard gem since ruby v2.5.0. Apparently, this issue caused problems for multiple ruby-based systems when built on top of alpin

[2020-02-18 23:28] #851 closed

[2020-02-19 14:59] pitr-ch commented on #851
No problem. Thanks for the detailed followup.

[2020-02-23 04:52] goyachanpuru commented on #850
@pitr-ch
Java version I use is as below.

[code]

[2020-03-01 08:23] pitr-ch commented on #850
Thanks, @goyachanpuru could you try with JRuby 9.2.10.0 if it is fixed?

[2020-03-01 10:33] pitr-ch commented on #849
Thanks for looking into this. I got an idea how to deal with it, please have a look https://github.com/ruby-concurrency/concurrent-ruby/pull/856

[2020-03-01 10:34] pitr-ch commented on #849
@DavidS could you try the PR if it works for you?

[2020-03-03 14:24] olleolleolle commented on #850
Eh, JRuby 9.2.11.0 is now out, so try with that!

[2020-03-07 06:50] goyachanpuru commented on #850
@pitr-ch @olleolleolle
My Rails application has worked well using JRuby 9.2.11.0 (2.5.7). :tada:
Thank you for help so kindly.

■ my jruby version:  jruby 9.2.11.0 (2.5.7) 2020-03-02 612d7a05a6 Eclipse OpenJ9 VM openj9-0.15.1 on 11.0.4+11 +jit [darwin-x86_64]

[2020-03-07 06:50] #850 closed

[2020-03-07 08:29] pitr-ch commented on #850
@goyachanpuru great to hear that!

[2020-03-09 15:36] DavidS commented on #849
Apologies for the delay - I've been on vacation the last week. I'll see if I can run that PR through our CI systems, we've had quite a high hit-rate on the segfault.

[2020-03-09 17:15] pitr-ch commented on #849
@DavidS No problem, thank you for giving it a try.

[2020-03-09 17:18] pitr-ch commented on #808
Hi @cesarizu @mwsteb @rubenfonseca @dmtask, I've came up with a different solution for this problem, it is in https://github.com/ruby-concurrency/concurrent-ruby/pull/856. Could you give it a try. I do not have a reproducer. Thanks!

[2020-03-16 17:43] equivalent commented on #808
btw last week I've removed my temp solution mentioned here https://github.com/ruby-concurrency/concurrent-ruby/issues/808#issuecomment-569740474 went with latest gem version released on ruby-gems, all works great :+1:

[2020-03-16 17:55] mainameiz commented on #808
@pitr-ch I have a test app https://github.com/mainameiz/segfault_app. Your fix (https://github.com/ruby-concurrency/concurrent-ruby/pull/856) also works fine.

[2020-03-19 09:32] ilyacherevkov opened #860 "Concurrent::Promises::Channel deadlock in example code"
I'm running example from [Promises::Channel docs](https://ruby-concurrency.github.io/concurrent-ruby/master/Concurrent/Promises/Channel.html).

`channel = Concurrent::Promises::Channel.new 2
log     = Concurrent::Array.new          # => []

def produce(channel, log, producer, i)
  log.push format "producer %d pushing %d", producer, i
  channel.push_op([producer, i]).then do
    i + 1 < 4 ? produce

[2020-03-22 09:48] pitr-ch commented on #808
Thanks for testing and the update!

[2020-04-08 04:58] headius opened #862 "Bad test behavior when transient test threads die"
I have been seeing a failure on and off when running concurrent-ruby's specs against JRuby head. I believe this failure in the cylic barrier specs may have a bug:

[code]

The failure above is confusing because it's reporting one description and failing on some other line. Specifically, the failure error says it is waiting for a thread to join (which is the `join_with` logic used around line 200 i

[2020-04-09 14:43] markiz opened #863 "Outdated documentation about Concurrent::Async and constructors?"
https://github.com/ruby-concurrency/concurrent-ruby/blob/7dc6eb04142f008ffa79a59c125669c6fcbb85a8/lib/concurrent-ruby/concurrent/async.rb#L61-L79

I don't think that is necessary anymore, since everything related to initialization now lives in `.new`?

[2020-04-15 18:33] metaphalon opened #864 "Concurrent::ThreadPoolExecutor does not increase thread count"
When running the code [1] I can see that the tasks are done one after the other.
When I start this with min_threads > 1 the tasks are executed in parallel.
Looks to me the thread count is not automatically increasing.
It seems only to happen with jRuby (9.2.11.1), using MRI ruby seemed fine.

[code]

[1]
[code]

[2020-04-18 20:06] blelump commented on #860
It starts to work when the channel capacity is being increased to 4. Nonetheless it is still unclear to me why it has to be 4, or in essence, what's the underlying `Channel` behavior.

[2020-04-23 02:56] dylanbromby opened #865 "Concurrent::Future documentation typo"
In this block
[code]
I think
[code]
Should read
[code]

[2020-04-25 12:07] thbar opened #867 "Best way to override logger on a per-promise basis?"
Thanks for your work on `concurrent-ruby`!

I discovered through experimentation that:

[code]

will log automatically on STDOUT (but will not log if you raise a `StandardError`).

Is there a recommended way to override that on a per-future fashion?

I see that setting `@logger` should normally be the road to follow (https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent-ru

[2020-04-25 19:49] thbar commented on #867
I can live without that for now, and don't want to clutter the current maintainers, so I will close for now. If I investigate more later, I will comment back!

[2020-04-25 19:49] #867 closed

[2020-04-27 13:53] ndbroadbent opened #868 "Compatibility with puma and Rails - "WARNING: Detected 2 Thread(s) started in app boot:""
[code]

Hello, I'm trying to debug a thread warning in puma. Here's the issue I opened over there: https://github.com/puma/puma/issues/2237

The problem seems to be that requiring [`lib/concurrent-ruby/concurrent/atomic/ruby_thread_local_var.rb`](https://github.com/ruby-concurrency/concurrent-ruby/blob/f749b81cb6c6291640c0004b57e60dbc2b59a72b/lib/concurrent-ruby/concurrent/atomic/ruby_thread_local

[2020-04-27 23:22] nateberkopec commented on #868
Should concurrent-ruby be creating threads at require-time? I think this could create risks for anyone using a forking webserver.

[2020-04-28 13:55] prashantvithani commented on #747
@pitr-ch I was wondering if the jar file can be checked in as mentioned in this comment by @headius : https://github.com/jruby/jruby/issues/5292#issuecomment-428238827. I've seen that pattern in other gems with java extensions as well.

[2020-05-08 17:46] wjordan opened #870 "Promise.zip hangs on rejected promise in chain"
`Promise.zip` seems to hang with any rejected promise in its collection for large enough collections (several hundred items).

Here is a minimal repro:
[code]

Removing the rejected promise (e.g., removing the `raise 'rejected' if i.zero?` line) causes the code to run without issue for higher `n` as expected.

Tested on `concurrent-ruby` version 1.1.6, Ubuntu 18.04.4, with various rubies installed

[2020-05-11 16:49] schuylr commented on #849
Just want to confirm I'm also seeing this on Ruby 2.5.3 with Version 1.1.6 of the gem.

[2020-05-15 20:39] astupka opened #871 "Passenger worker hangs / segfaults with Ruby 2.5 / concurrent-ruby 1.1.6"
Thank you for all your hard work on the latest 1.1.6 release.

I recently upgraded our app gems and started noticing the passenger workers would become unresponsive (request queue = 100) and not shutdown (normal mem/no CPU usage) after ~12-24 hours.  Inspecting the error logs, I found some segfaults that appeared related to the finalization code present in 1.1.6.  Rolling back to 1.1.5 resolved th

[2020-05-15 20:49] astupka commented on #871
Could be addressed in this PR https://github.com/ruby-concurrency/concurrent-ruby/pull/856

[2020-05-27 18:35] bolshakov opened #872 "Concurrent::Collection::RubyNonConcurrentPriorityQueue#delete works wrong"
[code]

Here is the test case:

[code]

It fails with the following error:

[code]

As you can see it does not maintain the oredr after removing an element in some cases.

[2020-06-18 08:46] crevete commented on #871
I've encountered the same issue with ruby 2.6.6, rails 5.2.4, and only when running unit tests with `fork` call.

ruby 2.6.6p146 (2020-03-31 revision 67876) [x86_64-linux]

When rolling back to this gem to 1.1.5, the Segmentation Fault disappears.

[2020-06-30 16:52] wjordan opened #873 "RubyMine integration fails due to custom gem require path"
Feel free to close this as 'not a bug', but I thought I'd raise awareness of a RubyMine IDE integration issue I stumbled upon affecting consumers of this dependency: [`RUBY-23350`](https://youtrack.jetbrains.com/issue/RUBY-23350).

The root cause of the issue seems to be that the `concurrent-ruby` gem uses a non-standard require path: https://github.com/ruby-concurrency/concurrent-ruby/blob/7dc6eb

[2020-07-01 03:26] wjordan opened #875 "Async is not fork-safe"
Related to #500, `Concurrent::Async` is not currently fork-safe because it does not reset its internal `@queue` when a process forks. This causes a deadlock / thread-hang when a child process tries to re-use the object because it doesn't restart the `#perform` loop because it thinks it's still running.

Here is a test case that fails on `master`: https://github.com/ruby-concurrency/concurrent-ruby

[2020-07-02 20:45] Nowaker commented on #634
Swallowing an exception is really problematic. Any plans to tackle that? There even seems to be a ready to use solution, at least for the 2017 code...

[2020-07-20 19:46] #849 closed

[2020-07-20 19:48] #875 closed

[2020-07-20 20:01] pitr-ch commented on #873
This is really a bad problem :( For context it was moved because of packaging issues see #812
Thanks for the PR! I have to think what to do about this.
Best approach probably is merging edge into core which will allow common load paths for both. It has to be done with care though, to keep it backward compatible (hopefully it will be possible).
@wjordan It is quite a task, would you be willing to t

[2020-07-20 20:19] pitr-ch commented on #871
#856 was merged plese test with master.

[2020-07-20 20:24] pitr-ch commented on #865
Thanks, fixed https://github.com/ruby-concurrency/concurrent-ruby/commit/6a79be0645b42c12733c161b5c6020035043292c

[2020-07-20 20:24] #865 closed

[2020-07-20 20:26] pitr-ch commented on #863
You are right, Thanks! Could you open a PR removing it?

[2020-07-20 20:32] pitr-ch commented on #747
That is a good and simple idea that would work. Unfortunately, it requires committing a binary blob into git which I'd like to avoid. I think the later comment https://github.com/jruby/jruby/issues/5292#issuecomment-594365949 sounds better.
I appreciate you've looked into it. Please do not be discouraged by my late response for lack of time on my part.

[2020-07-21 13:34] markiz commented on #863
@pitr-ch Sure, #878

[2020-07-21 14:49] #863 closed

[2020-07-21 22:59] timriley commented on #868
I just noticed this error in my app running via Puma, too.

I took a look at the latest code in `lib/concurrent-ruby/concurrent/atomic/ruby_thread_local_var.rb ` and it seems like the issue might have been fixed by the changes in https://github.com/ruby-concurrency/concurrent-ruby/pull/856?

This PR was merged only yesterday! Lucky timing :)

@pitr-ch out of interest, were you aware of this issue

[2020-07-22 19:52] pitr-ch commented on #868
I was not, indeed a lucky timing :)
Could you test the fix from #856 in your environment?

[2020-08-07 03:45] MTres19 commented on #868
I had a very similar if not the same issue and the patch from that pull request does does eliminate the warning for concurrent-ruby. I still get the warning for ActiveRecord, but I guess that is a separate issue. Thank you all for your work!

[2020-08-10 01:08] nateberkopec commented on #868
Released, so I think this can be closed.

[2020-08-10 06:55] pitr-ch commented on #868
@nateberkopec please, could you confirm the warning is gone? Then I'll close.

[2020-08-10 18:36] emilyst opened #880 "Release 1.1.7 introduced failure on `require 'concurrent/atomic/ruby_thread_local_var'`"
Release of concurrent-ruby 1.1.7 appears to have introduced a regression when requiring `'concurrent/atomic/ruby_thread_local_var'` directly.

[code]

Below is a snippet which demonstrates the current behavior (in 1.1.7) and the expected behavior (in 1.1.6).

[code]

Thanks in advance!

[2020-08-10 20:28] pitr-ch commented on #880
Hi, this is not really a supported use case. Officially only `require "concurrent"` is supported since we cannot track the dependencies between files in CI to make sure partial requires work. However, I'd be happy to merge a PR which fixes this. Please let me know if you would find time to contribute it, thanks.

[2020-08-10 20:30] emilyst commented on #880
Thanks for the reply. I suspected something like this would be the case. We have already worked around the issue at work by using `require "concurrent"`. The only bad part is that it means that we drag in the entire library into memory just to get the `RubyThreadLocalVar` stuff.

I suspect you're right that this is a use case not worthwhile for you to support, so I'm happy to let things be for now

[2020-08-11 13:01] dentarg commented on #868
@pitr-ch I can confirm that I no longer see the warning using concurrent-ruby 1.1.7 (I was using concurrent-ruby 1.1.6 before). My app uses Puma 4.3.5 and Ruby 2.5.

[2020-08-11 13:17] pitr-ch commented on #868
@dentarg Thank you 👍 for confirming!

[2020-08-11 13:17] #868 closed

[2020-08-16 14:07] pitr-ch commented on #864
I do not have time to explore this problem at the moment. I'll get to it eventually but if somebody contributes by investigating and potentially opening a PR it would be a big help.

[2020-08-16 22:22] metaphalon commented on #864
I had another look at it and it seems its related to the java version.

The described problem exists for me in java 1.8.0 [1].
When running the code with java11.0.8  [2], the problem does not appear.

So this is probably a java issue and not a problem of this gem, so I will close the ticket.

[1]
OpenJDK Runtime Environment (build 1.8.0_232-b09)

[2]
OpenJDK Runtime Environment 18.9 (build 11.0.8+

[2020-08-16 22:22] #864 closed

[2020-08-18 07:51] pitr-ch commented on #864
@metaphalon thanks for the follow up!

[2020-08-18 15:18] ccasabona opened #881 "V 1.1.7 causes multiple errors when compiling webpacker assets during Centos 7 deploy"
Encountered two errors using webpacker and Rails 6 alpha when compiling assets onto a Centos 7 system after upgrading concurrent-ruby to v 1.1.7.

OS:  Linux Centos 7
Ruby: ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux]
Rails: 6-alpha
concurrent-ruby-ex and concurrent-ruby-edge not installed.

The first problem was NoMethodError: undefined method `+' for nil:NilClass.  This error wa

[2020-08-18 17:46] pitr-ch commented on #881
Thanks for the report but unfortunately there is nothing to go on. `concurrent-ruby` is not even in the backtrace. Please keep digging what is wrong.

[2020-08-18 21:08] ccasabona commented on #881
Thank you for your answer.  Before opening the issue, I had gone back and forth between concurrent-ruby 1.1.6 and 1.17 several times, and I was able to reproduce the error.

I took several steps to investigate: I used Rails 6.0.3.2 instead of 6 alpha; I forked concurrent-ruby and reverted #879; I changed several assets to force new compilation; and under all these circumstances I could not duplica

[2020-08-18 21:08] #881 closed

[2020-08-19 08:59] pitr-ch commented on #881
Thanks. No problem at all. It's good that it was reported for others to find.
What did you do in the end, stayed on 1.1.6?

[2020-08-19 11:41] ccasabona commented on #881
In the end, I am back where I started, namely 1.1.7 and Rails 6 alpha.  Since I could not  duplicate my own problem, perhaps there was something unexpected about the particular assets that were being compiled.  So changing to 1.1.7 pointed out a problem that I didn’t know I had that I was able to fix, but I still don’t know what it was.

[2020-08-26 10:21] totrash opened #882 "Concurrent::Map Performance"
[code]
I tried to use Concurrent::Map instead of Concurrent::Hash because I don't need ordered Hash and I suppose that this is the main difference between them.

Unfortunately, my tests show that Map is generally slower especially on writing

Am I understand it right that Concurrent::Map is created for better performance when You don't need ordered inserts in Hash ?

[My tests full code](https://g

[2020-08-28 07:14] adityacs opened #883 "concurrent-ruby-edge Channel.select consumes full cpu on single core system"
[code]

I am running a this simple code and I see that `select` is not blocking on the `channels` and instead always `looping` which causes full CPU to be consumed on single core system.

[code]

[2020-08-28 09:12] pawelpacana commented on #808
@pitr-ch We've started observing some issues with ThreadLocalVar since 1.1.7 on MRI when mutation testing with mutant (known for exercising MRI well). I did not manage to reproduce it on a contrived example although it has been repeating on CI and local mutation test runs.

[code]

https://github.com/RailsEventStore/rails_event_store/issues/757

[2020-08-28 12:21] pitr-ch commented on #808
Thanks @pawelpacana for the report! I think I see the issue, the assignment conflicts with the `each_value` on line 100. I'll fix it asap, let you verify and then release a new version.

[2020-08-28 12:36] pitr-ch commented on #808
@pawelpacana pls verify https://github.com/ruby-concurrency/concurrent-ruby/pull/884 works.

[2020-09-08 00:46] Prajjwal commented on #880
Hi,

It would indeed be a pain to track dependencies between files in CI, but wouldn't that be completely eliminated by using a module loader? Wanting to load only the stuff you want in memory is a common enough use case, and many gems do this already.

I've only glanced at the codebase so I'm not sure how much work this would be, but I'm open to working on it if a maintainer feels like its possib

[2020-09-08 19:09] pitr-ch commented on #880
@Prajjwal thanks you for your interest! What do you mean by module loader, Zeitwerk?

[2020-09-08 19:51] h0jeZvgoxFepBQ2C commented on #868
I'm still seeing this with Ruby 2.6.6 and Rails 5.2.4.3:

[code]

Even though I have concurrent-ruby 1.1.7 in my Gemfile.lock?

[2020-09-09 03:24] Prajjwal commented on #880
@pitr-ch Yes, Zeitwerk is probably what I'd try first.

- It is quite opinionated about directory structure and class naming, although there's ways to hook into it and override things if you want. This is both a pro and con - on one hand you don't have to think about how to structure anymore, and on the other you might have to restructure the project to conform to it.
- Classes and modules are laz

[2020-09-18 09:34] pawelpacana commented on #808
@pitr-ch I can confirm the fix working, thank you 🖤

[2020-09-20 17:30] chrisseaton opened #885 "Race condition in TVar"
When a `TVar` is first written to, the fact that it's been locked isn't recorded until *after* the check if any previous reads are now stale. If the transaction aborts at this point due to stale reads the `TVar` is left locked.

[2020-09-20 17:32] #885 closed

[2020-09-21 07:07] pitr-ch commented on #808
@pawelpacana thanks for confirming

[2020-09-21 07:42] pitr-ch commented on #885
Thanks for the fix.

[2020-09-21 07:57] pitr-ch commented on #880
Thank you for your interest @Prajjwal !

There is bunch of related issues:
- maybe https://github.com/ruby-concurrency/concurrent-ruby/issues/714
- has to be fixed https://github.com/ruby-concurrency/concurrent-ruby/issues/873

[2020-09-21 08:17] pitr-ch commented on #880
Thank you for your interest @Prajjwal !

There is bunch of related issues:
- maybe https://github.com/ruby-concurrency/concurrent-ruby/issues/714
- has to be fixed https://github.com/ruby-concurrency/concurrent-ruby/issues/873
- has to be doable later https://github.com/ruby-concurrency/concurrent-ruby/issues/713

One important thing to think about is that we cannot break backward compatibility. E

[2020-09-21 09:53] pitr-ch opened #887 "STM guarantees clarification"
The current implementation seems to allow https://en.wikipedia.org/wiki/Software_transactional_memory#Implementation_issues
see the example below. I think it should be clarified in the readme.

[code]

@chrisseaton would you have some time to do that?

[2020-09-21 10:05] pitr-ch commented on #887
The transaction's `#commit` allows the partial reads of the values.

[2020-09-21 10:27] chrisseaton commented on #887
Yes this is a weaker variant of STM. The implementation technique is described at https://github.com/ruby-concurrency/concurrent-ruby/blob/63a690770cebb836d0c66c3022327d5399f8894e/docs-source/tvar.md but maybe I need to break down and list the properties in a way that's more accessible.

[2020-09-21 11:36] pitr-ch commented on #887
The doc mentions "and isolated - atomic blocks never interfere with each other when they are running" though. I think that could be interpreted as prohibiting the behaviour in the example.

[2020-09-21 11:36] chrisseaton commented on #887
Yeah I'll take a fresh look and probably implement a stronger algorithm.

[2020-09-21 11:55] pitr-ch commented on #887
That would be awesome 👍 Thanks.

[2020-09-21 14:55] ko1 commented on #887
👍

[2020-09-21 15:09] ko1 commented on #887
Just for clarification.

[code]

On this example, the monitor detects inconsistency, and it is intentional, right?
I think it is possible that inconsistency *only* in `atomically` block (and if there is an inconsistency, the `atomically` abort and retry. However, this example shows it is inconsistency outside of `atomically`.

[2020-09-24 08:40] Prajjwal commented on #880
Hey @pitr-ch .

We could start by just autoloading the top level components and see if that gets anywhere. I've messaged you on twitter (handle: `prajjwalsin`). Let's have a chat soon.

[2020-10-01 00:04] emilyst opened #888 "Question: What is the purpose of `ThreadLocalVar#bind`?"
What is the purpose of `ThreadLocalVar#bind` and what is the difference between that and `ThreadLocalVar#set`?

The documentation says it's available, but it's unclear why I would use it or what value I would pass it.

[2020-10-03 23:17] bensheldon opened #889 "ScheduledTask triggering ThreadPoolExecutor's `fallback_policy: :abort` breaks ScheduledTasks"
When `ScheduledTask`s are being run on a ThreadPoolExecutor with `fallback_policy: :abort`, triggering the abort breaks all subsequent usage of ScheduledTasks, they never execute, even when running on a different executor.

Apologies that I don't quite understand the internals of ScheduledTasks, but I'm hypothesizing that when their delay expires, they attempt to execute, and then the executor rai

[2020-10-04 19:12] pitr-ch commented on #888
Does this help http://ruby-concurrency.github.io/concurrent-ruby/master/Concurrent/ThreadLocalVar.html#bind-instance_method ?

[2020-10-04 19:16] emilyst commented on #888
Hi, thanks for responding.

It does not help. It says,

This is unfortunately circular. It says that what `#bind` does is "bind." Additionally, I could not find this method used in any tests (it's odd that it should exist as a public and documented method but be entirely untested). I searched extensively on GitHub for usages of it, but I could not find any practical examples.

The documentation al

[2020-10-04 19:17] pitr-ch commented on #889
I think it is a combination of the abstraction and executor combination nobody was thinking about. Could you open a PR which would raise an ArgumentError if the ScheduledTask is given an executor with `fallback_policy: :abort`?

[2020-10-04 19:42] pitr-ch commented on #888
Ah, the "bind" in the documentation has a "stores" meaning, it does not refer to the method.
Instead of trying to describe it, let me past the source of the method here, I think is most clear and self-explanatory.
[code]
Please reopen if needed.

[2020-10-04 19:42] #888 closed

[2020-10-04 19:45] emilyst commented on #888
I did see the source, but I wasn't sure what the purpose of this was. I'll try to summarize what I believe I'm seeing.

You can use `#bind` when you want to execute some code as if the value of the variable is something other than what it actually is?

[2020-10-05 08:07] pitr-ch commented on #888
yes. I've included one more example of common usage.

[code]

[2020-10-05 16:17] emilyst commented on #888
Thanks.

[2020-10-05 21:24] chrisseaton commented on #887
Referring back to [1],

[1] T. Harris, J. Larus, and R. Rajwar. Transactional Memory. Morgan & Claypool, second edition, 2010.

So that's the technical term from what we're experiencing - a lack of 'opacity'.

Does that make sense to people - I will document that if it does.

I'd love to provide a full library of STMs for Ruby with different characteristics (I did half my PhD on STM before I switc

[2020-10-08 19:44] pitr-ch commented on #887
Could you include an example? And maybe provide some advice to users how to avoid these issues?

[2020-10-11 13:08] #887 closed

[2020-10-12 05:00] ko1 commented on #887
My understanding of "Opacity" is, reading inconsistent values in a *transaction*, and the transaction should be abort at commit time if there is inconsistent reading.

The example https://github.com/ruby-concurrency/concurrent-ruby/issues/887#issuecomment-696177282 is inconsistency out of transaction.

I'm not an expert of STM, so I can be wrong.

[2020-10-12 08:00] chrisseaton commented on #887
Not sure what you mean, sorry - it's inside a transaction - an `atomically` block.

Do you mean it's visible outside of the transaction? Yes its allowed to escape due to you throwing a transaction. Throwing an exception from inside the transaction is like a side effect and allows you to leak information out of it. We don't disallow exceptions though, because we think it would become very hard to d

[2020-10-12 08:43] ko1 commented on #887
The following code doesn't throw any exceptions.
But it returns values of v1 and v2.

[code]

In `atomically` block, missing opacity can allow reading v1 and v2 values inconsistently (in this case, allowing `v1 != v2`). However, the return array should contains consistent v1 and v2 values (in this case `v1 == v2`) on STM I think.

In other words, I think STM should check consistency of v1 and v2 v

[2020-10-12 08:47] ko1 commented on #887
Note that I don't want to discuss about the concurrent-ruby's behavior, but I want to know the word "Opacity" and STM's expected features.

[2020-10-12 09:02] chrisseaton commented on #887
Ah - I think this might be because your transaction is read-only, so might be omitting the commit check. Read-only transactions aren't usual which is why there could be a bug here. I'll look into it.

'Opacity' was introduced in

PPoPP ’08: Proc. 13th ACM SIGPLAN Symposium on Principles and Practice of Parallel Pro- gramming, pages 175–184, February 2008.

https://www.cse.msu.edu/~cse914/Readings/

[2020-10-12 09:08] ko1 commented on #887
Thank you so much!

So maybe current behavior is a bug, and my understanding of Opacity was correct.

[2020-10-12 09:10] chrisseaton commented on #887
I think this illustrates the problem now:

[code]

[2020-10-12 10:00] pitr-ch commented on #887
Note: any write will fix the problem having e.g. `v3.value = 1` instead of `v1.value += 1; v2.value += 1` will also force the transaction abort.

[2020-10-20 02:54] rajnikantmahato commented on #808
[SIGSEGV]> ruby
/data/data/com.termux/files/usr/lib/ruby/2.7.0/rubygems.rb:1432: [BUG] Segmentation fault at 0x00000005
ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [arm-linux-androideabi]

-- Control frame information -----------------------------------------------
c:0005 p:---- s:0019 e:000018 CFUNC  :require
c:0004 p:0086 s:0014 e:000013 TOP    /data/data/com.termux/files/usr/lib/ruby/2.7.0/

[2020-10-21 22:55] fzakaria opened #892 "ThreadPoolExecutor kill does not terminate currently active tasks"
After reading the documentation at https://github.com/ruby-concurrency/concurrent-ruby/blob/master/docs-source/thread_pools.md it describes that `ThreadPoolExecutor#kill` will terminate active tasks.

This however does not seem to be the case and here is a small reproducible example:

[code]

I see the following output in the console:
``bash
Starting job 1
Killing pool!
Finished job 1
``

Looks li

[2020-10-21 23:03] fzakaria commented on #892
@pitr-ch I changed the test a litle:
[code]

and see

[code]

Looks like `#kill` is synchronized and not executing if there's an active task.

[2020-10-21 23:19] fzakaria commented on #892
Looks like the version I'm using must suffer from this https://github.com/jruby/jruby/issues/4206
Not sure if it's a _concurrent-ruby_ bug then.

[2020-10-21 23:19] #892 closed

[2020-10-28 17:50] dudad0066 opened #893 "mje"
[code]

[2020-10-28 18:09] #893 closed

[2020-11-03 02:46] kvokka commented on #882
the test is wrong
map is subclass of Array, so key deletion is a way more complex procedure than key deletion on a hash (feel free to measure it with ruby primitives)

and the fact, that it's only 2 times slower shows a great job done by ruby team!

[2020-11-05 09:53] kvokka commented on #883
It is Ruby, not go, so it is not possible to push from another thread to the current one, like it is implemented in go's `select`.

As the result you can only pull, which this `select` is actually doing (and consuming 100% CPU).

Add `s.default { sleep 0.001 }` will solve it.

[2020-11-05 12:58] naddika opened #894 "Promise? Future? Which is for what cases?"
In general promises and features are closely related, if not synonims. And in the documentation it says so too.

Therefore, it's confusing which one should be used in what circumstances. And how are they related in the gem? Is one of a more low level or outdated than the other? Do they basically both do the same thing?

Also, existense of these make it even more confusing:

[code]

[2020-11-13 08:11] kvokka commented on #894
Will try to answer you about it
`Concurrent::Promises::Future` is an actual class which carry the implementation of `future`
`Concurrent::Promises.future` is a helper class method, which give u a simple way to create a future
`Concurrent::Future` is a deprecated module

[2020-11-13 08:29] kvokka opened #895 "Use channel as a stremming object"
I found that `Concurrent::Channel` is great for representing stream data.

Initial problem was, that I needed to stream data in JRuby with Sinatra (so i stuck with Puma and was not able to use embedded sinatra stream module, which require Rainbows).

`Concurrent::Channel` fits almost ideally, but it needs to have some protection from unstarted stream && some callbacks in the end. Idk if it is only

[2020-11-27 20:02] pitr-ch commented on #808
@rajnikantmahato why do you believe this is related

[2021-01-05 20:33] dsisnero opened #897 "should we use new c macros included with rubyc?"
with https://github.com/ruby/ruby/pull/3983 , rubyc  includes c macros to do atomic operations.  should we use these for the atomic operations?

* Operating system:                linux / mac / win
* Ruby implementation:             Ruby / JRuby / TruffleRuby / Rubinius
* `concurrent-ruby` version:       x.y.z
* `concurrent-ruby-ext` installed: yes / no
* `concurrent-ruby-edge` used:     yes / no

[2021-01-08 11:56] marianposaceanu opened #899 "Any plans to support Ruby 3 ractor as a back-end for most common constructs in the gem?"
I'm really curios if this is actually feasible and what are the plans if any regarding this direction.

Thank you for all the great work on this gem (and yes, I'll try to answer the question myself by forking and playing a bit with the repo).

[2021-01-12 14:25] jdantonio commented on #899
In principle I believe that many of these abstractions still have value in the Ruby 3 world. For the same reasons we have multiple data structures like map, array, stack, queue, etc. Abstractions solve problems. Ractor should be a much better foundation than threads, as I believe you are suggesting with your question. As far as concrete plans, I haven't worked in Ruby or on this gem in several yea

[2021-01-18 16:49] pitr-ch commented on #897
This is a good idea, thank you for letting me know. Although, the implementation in concurrent-ruby should use these conditionally only when available since it has to support old Ruby versions.

[2021-01-18 16:53] pitr-ch commented on #899
Hi, I'll be grateful for any information you share back from your experiments. I am planning to look at it in more detail in the summer.

[2021-01-26 08:38] grncdr opened #900 "[documentation] Concurrent::Set documentation is ambiguous, possibly misleading."
The docs for `Concurrent::Set` state (emphasis mine)

However, on CRuby, the implementation of `Concurrent::Set` is just the built-in `Set` ([ref](https://github.com/ruby-concurrency/concurrent-ruby/blob/v1.1.8/lib/concurrent-ruby/concurrent/set.rb#L25-L28)).

Clearly, the built-in set does *not* perform any locking around method calls. This caused a few bugs for me when I used `Concurrent::Set` i

[2021-01-27 08:14] pitr-ch commented on #900
Hi @grncdr, thanks for the report. It would be better to fix the implementation on CRuby though. It should also lock during the iteration since that is the behaviour of Concurrent::Set on JRuby and TruffleRuby. Could you contribute the fix please?

[2021-01-29 17:47] #525 closed

[2021-02-04 19:09] stouset commented on #899
This would be really useful, particularly with thread pools.

Unfortunately, the current design of thread pools allows you to pass a new `proc` of work to be done on each call to `post`, whereas a Ractor-style approach requires the `proc` to be set during initialization, with `post` only passing arguments that will be sent to the Ractor.

[2021-02-04 21:41] stouset commented on #899
Upon further investigation, it seems that wrapping `Ractor` in any meaningful way is impossible with the current version of Ruby.

[code]

Essentially `Ractor.new { expr }` is *syntax* that causes the block to be isolated. If you try to pass a proc from a wrapper method, it won't be isolated. So there's no way to create a Ractor that does thread-pool househkeeping while invoking a user-provided ca

[2021-02-08 08:42] GildedHonour opened #902 "Concurrent::Channel - doesn't exist"
The example taken from here https://github.com/ruby-concurrency/concurrent-ruby/blob/a5076bf9e977b290cce5a65b7b72810562bca295/docs-source/channel.md

[code]

[2021-02-08 19:48] pitr-ch commented on #902
Use `require "concurrent-edge"` as well.

[2021-02-08 19:48] #902 closed

[2021-02-15 11:13] mhenrixon commented on #639
I did the following:

[code]

It seems to fix the issue for me for now. Any chance we could see something like this implemented in the actual TimerTask? Doesn't seem correct that a timer task should ever be allowed to use more than one thread? https://github.com/mhenrixon/sidekiq-unique-jobs/pull/576

[2021-03-06 20:41] jcavalieri opened #903 "How do you set defaults for thread pools globally?"
[code]

Hi concurrent-ruby Maintainers and Community,

I'm getting an error of `fatal: No live threads left. Deadlock?` when using a handful `Promises::future` calls.

Digging into it, I found that no only is my project's code kicking off threads using futures,  but semantic-logger, the project's logger, is also kicking off threads with concurrent-ruby. So it looks like my futures + logging from s

[2021-03-06 21:41] jcavalieri commented on #903
I did this monkey patch for now.

[code]

It would be nice to be able to do something like this:

[code]

[2021-03-11 21:19] pitr-ch commented on #903
Do you know any details about the bed interaction that leads to the deadlock?

It is better if projects set up their own pools, to avoid these interactions. It was rather a mistake to provide the global pools in the ConcurrentRuby, driven by making it convenient. The configuration of the global pools is lacking to avoid situations when a project would change the global pool configuration breaking

[2021-03-12 02:26] jcavalieri commented on #903
I believe it is because a promise is essentially calling a block that has many calls to semantic logger. I'm assuming that when a call to the logger is requesting a thread it can't get it, and then promises can't be fulfilled.

So a factory approach sounds interesting. If I'm understanding correctly it is like this example in the documentation?

[code]

And if this is the case, if a project and a

[2021-03-12 03:17] jcavalieri commented on #903
Thanks for the suggestion. I went with this, since I don't need threading:

[code]

and

`Tasks.future { ... }`

This does appear to work and keep isolation from semantic logger's use of the thread pool.

[2021-03-19 20:47] pitr-ch commented on #903
[code]
would direct to the global pool.
To have a separate pool it should create its own, e.g. using the factory method for the already included global fast thread pool (which is intended only for non-blocking tasks).
[code]
Using :io global pool could also solve the problem.

[2021-03-19 20:47] #903 closed

[2021-03-19 20:53] pitr-ch commented on #899
Thanks a lot for the investigation. This is a pity, it was originally planned to have additional syntax to create isolated blocks as needed, exactly for these use cases. It appears it did not get in. If you raise this issue with Ruby please send me a link to the issue.

[2021-03-23 18:02] totrash commented on #882
@kvokka

Thanks for replay.
I still dont get it the idea behind those 2 classes.
From documentation:

"Map A hash-like object that should have much better performance characteristics, especially under high concurrency, than Concurrent::Hash."

I see a lot of Concurrent::Map usage in some open source project but why should anybody use it if Concurrent::Hash is faster ?

[2021-04-18 17:19] luizkowalski commented on #585
Hey! not sure if this is the best place to do it but I stumbled upon this issue a couple of weeks ago when adding Futures to my application. after a lot of back and forth with the code, trials and errors and dig through documentations, I created a small library to help me use Futures on Rails applications:

https://github.com/luizkowalski/concurrent_rails

It is simply a wrapper for Future while a

[2021-04-18 20:13] joelvh commented on #585
@luizkowalski I just came across this thread and was wondering when you'll publish your gem?

[2021-04-18 20:52] luizkowalski commented on #585
@joelvh hey, just did! forgot to do it before because I had the first version yanked due to bad configuration and then I forgot

[2021-06-04 17:57] #796 closed

[2021-06-04 17:57] #900 closed

[2021-06-04 18:03] fxn commented on #796
🎉

[2021-06-04 18:26] #872 closed

[2021-06-13 12:39] justinlynn commented on #899
Calling `Ractor#make_shareable` with `task` (from your example) permits isolating the provided block, and thus - wrapping Ractor creation/management. This does have side-effects, so those do need to be looked into, but it is possible.

[2021-06-15 07:44] pitr-ch commented on #899
@justinlynn Thanks very much for the additional information! That looks promising and it was part of the original design, the previous discussion made me worried that it was dropped. I'll be looking into this more over the summer or a prototype PR would be always welcomed!

[2021-06-15 17:48] stouset commented on #899
Awesome investigation! I don't believe I tried to `make_shareable` the `task` when I looked into this, so perhaps that was the missing piece.

[2021-06-16 01:17] justinlynn commented on #899
Thanks very much for the kind words, @pitr-ch and @stouset. I'll see what I can come up with but I've been quite busy with work recently so I can't promise. Cheers :)

[2021-06-17 12:35] olleolleolle commented on #739
The Rubinius matrix element in Travis CI is not even installing.

Perhaps that should be let go?

[code]

[2021-06-17 12:37] chrisseaton commented on #739
The Rubinius repository and discussion rooms have been dead for a year now. Might be time to remove support. I think GitLab are maintaining an internal copy is the only thing? But we can't test against that, and we can't test against that.

[2021-08-20 23:12] OmriSama commented on #899
Should this be marked as `looking-for-contributor`?

[2021-11-06 02:08] immakdas commented on #808
[BUG] Segmentation fault at 0x0000000000000440
ruby 3.0.1p64 (2021-04-05 revision 0fb782ee38) [x86_64-linux]

[2021-12-03 00:18] AndyObtiva opened #928 "jruby-9.3.2.0 issue with using + on two Concurrent::Set objects"
* Operating system:                mac catalina
* Ruby implementation:             JRuby 9.3.2.0
* `concurrent-ruby` version:       1.1.9
* `concurrent-ruby-ext` installed: no
* `concurrent-ruby-edge` used:     no

I just installed the brand new jruby-9.3.2.0 today and encountered the following issue with Concurrent::Set

irb example:
[code]

It works fine with jruby-9.3.1.0:
[code]

Help is appre

[2021-12-03 17:17] AndyObtiva commented on #928
Just noting that @headius confirmed and fixed in https://github.com/jruby/jruby/pull/6959

I will close this issue once jruby-9.3.3.0 is released.

[2021-12-14 16:36] jacobat opened #929 "Concurrent::Hash and Concurrent::Array are not threadsafe on CRuby"
`Concurrent::Hash` and `Concurrent::Array` are not threadsafe on CRuby.

This can be demonstrated for `Array` with:
[code]
This returns `[1]`.

For `Hash` this code shows the issue:
[code]
This returns `{a: 1}`.

In both cases the we would expect to see 20 instead of 1.

[code]

[2021-12-14 23:21] chrisseaton commented on #929
Hmmm I can see the misunderstanding. The docs say "ensuring only one thread can be reading or writing at a time" and that's what's going on here - one thread reads at a time, and one thread writes at a time, but not both in a single atomic action. The behaviour you're expecting is implemented on the other VMs, but that's really because they over-compensate and lock everything, which also isn't ver

[2021-12-15 09:43] jacobat commented on #929
The docs say: "A thread-safe subclass of Hash/Array". I guess the question is: what is meant by thread safe? I tried googling and wasn't able to find a crystal clear definition.

One level of "thread safety" is that the object remains internally consistent while being used concurrently. As an example where this is not the case one can try manipulating a regular Ruby array from multiple threads usi

[2021-12-15 10:20] chrisseaton commented on #929
If you want these methods to be atomic right now as a workaround, a solution is to use compare-and-swap via `Atom` or `AtomicFixnum`.

[2021-12-15 12:38] bestie commented on #929
This is more than I expect from 'thread safe' also and I think the CRuby behavior is fine.

The problem I see is that the library is inconsistent. On both JRuby and TruffleRuby the thread execution is serialized and the block is atomic.

I think having a synchronised `map!` / `each` function would be a nice thing for CRuby to have too.

[2021-12-15 12:53] jacobat commented on #929
I don't have an application depending on this. I was simply trying things and was surprised by the behaviour. It just seems like something that could catch people by surprise if they're unaware of it.

I don't see how I could make an implementation using `#compare_and_set` with `#map!` that returns the correct result consistently.

[2021-12-15 13:26] jacobat commented on #929
I see it now :)

[2021-12-23 02:49] jamesarosen commented on #691
I would have expected `Concurrent.global_timer_set.wait_for_termination` to be the implementation of "wait around long enough," but it resolves as soon as the `stopped_event` is synchronized across the threads. That's because `TimerTask#ns_shutdown_execution` only blocks on synchronizing the `@running` variable. `#execute_task` doesn't record the current state in any way, so `#ns_shutdown_executio

[2021-12-23 03:05] jamesarosen commented on #691
This is my current workaround:
[code]

That will give the tasks up to 20 seconds to finish their current run.

[2021-12-23 04:20] jamesarosen commented on #691
A related problem is that `task.running?` does not change during a task iteration:
[code]
emits
[code]
Even changing it to `task.send(:sychronize) { task.running? }` doesn't help.

[2022-01-08 13:15] aaronjensen opened #931 "undefined method `exception' for nil:NilClass with Ruby 3.1.0"
[code]

After upgrading to Ruby 3.1.0 I'm getting a very strange, very hard (for me) to debug error with premailer+sprockets that ultimately manifests with concurrent failing to provide a reason for a promise rejection.

The error is strange enough that it seems like it could be a ruby bug.

When stepping through with byebug I get here:

https://github.com/rails/sprockets/blob/v4.0.2/lib/sprockets

[2022-01-08 20:49] agrberg commented on #931
## Problem

I'm having the same error via `premailer-rails` as well and have been looking into it a bit myself this morning. My difference is that `block_given?` in `Sprockets::Manifest#find_sources` is false so I have an instance of Enumerable in https://github.com/fphilipe/premailer-rails/blob/v1.11.1/lib/premailer/rails/css_loaders/asset_pipeline_loader.rb#L11. Calling `first` on that object st

[2022-01-09 00:42] aaronjensen commented on #931
@agrberg I have the exact same circumstances. The same fixes it for me. Though it is called without a block initially, I believe that [this line](https://github.com/rails/sprockets/blob/v4.0.2/lib/sprockets/manifest.rb#L139) ends up recalling the same method with a block.

[2022-01-09 00:51] aaronjensen commented on #931
Here is a repro:

https://github.com/aaronjensen/concurrent-repro

Install gems, then run `bin/rails c` and do:

[code]

[2022-01-09 21:22] agrberg commented on #931
I'm still tracking this down in a few spare moments. Via `pry-byebug` I was able to narrow the cause a bit further. `SafeTaskExecutor` in [`Promise#realize`](https://github.com/ruby-concurrency/concurrent-ruby/blob/v1.1.9/lib/concurrent-ruby/concurrent/promise.rb#L564) is intended to return a triple. However in our case at least both `success` and `reason` are `nil`. This is why there is no method

[2022-01-10 02:45] aaronjensen commented on #931
@agrberg Right, because for some reason the `begin` block at https://github.com/ruby-concurrency/concurrent-ruby/blob/52c08fca13cc3811673ea2f6fdb244a0e42e0ebe/lib/concurrent-ruby/concurrent/executor/safe_task_executor.rb#L23-L29 exits without recording an exception or getting to line 24.

The furthest I see things going is https://github.com/rails/sprockets/blob/v4.0.2/lib/sprockets/manifest.rb#L1

[2022-01-10 15:17] agrberg commented on #931
I found the same thing! I disabled the source of the error by changing [this line](https://github.com/ruby-concurrency/concurrent-ruby/blob/v1.1.9/lib/concurrent-ruby/concurrent/concern/obligation.rb#L128) to `reason&.exception(*args)` and now get a clearer error of `Premailer::Rails::CSSHelper::FileNotFound` specifically:

[code]

My hunch is that there is a race condition between this file being

[2022-01-10 15:19] aaronjensen commented on #931
I believe that error only happens because of the thing I described. It is not the actual error as far as I can tell, rather the natural consequence of the asset loader returning nul rather than an asset.

[2022-01-10 16:46] aaronjensen commented on #931
I narrowed the repro down to just concurrent-ruby: https://github.com/aaronjensen/concurrent-repro

[code]

[2022-01-10 18:42] aaronjensen commented on #931
This was introduced by this commit:

[code]

cc @tenderlove

[2022-01-13 00:47] aaronjensen commented on #931
It's seeming like this is a bug in concurrent-ruby, which does not account for the local jump that happens when an enumerator breaks when `first` is used. I'll look into seeing how I might fix it, but it would be great for one of the maintainers to chime in if they are available.

[2022-01-13 01:48] aaronjensen commented on #931
https://github.com/ruby-concurrency/concurrent-ruby/pull/932 should fix it

[2022-01-13 14:20] jonmast opened #933 "Worker threads get stuck when using caller_runs policy"
I'm attempting to use a threadpool to implement bounded concurrency with the the `caller_runs` fallback_policy to add back pressure. This doesn't work as I'd expect, after the queue is full and the fallback policy is triggered subsequent jobs all get processed on the caller thread rather than being delegated to the workers.

Reproduction script:
[code]

Output:
[code]

I suspect this is because th

[2022-01-13 14:28] chrisseaton commented on #933
Yes looks like it's run while holding the lock.

https://github.com/ruby-concurrency/concurrent-ruby/blob/7b7900a9133a5c31e60fc55133559ae07c934d69/lib/concurrent-ruby/concurrent/executor/ruby_executor_service.rb#L19-L24

[2022-01-13 15:14] agrberg commented on #931
Awesome job debugging this dude! 🙇

[2022-01-16 14:56] agrberg commented on #931
This weekend I upgraded my tiny app to Rails 7 and transitioned from Webpacker to importmaps. I exercised the latter by precompiling my assets locally and stumbled onto another work around when attempting the Ruby 3.1 upgrade. **The specific case w/ `premailer-rails` that @aaronjensen and I have can be avoided in test/development when assets exist on disk!** I can also confirm the natural followup

[2022-01-19 10:46] eregon commented on #899
I think few abstractions of concurrent-ruby are actually compatible with Ractors (the programming model, which never allows one mutable object to be used by multiple Ractors), except thread pools and actors-like abstractions (if they have copy semantics) could probably run on top of Ractor with some limitations.
Using move semantics would be very confusing for blocks/Procs, as then anything they a

[2022-01-19 10:50] eregon opened #934 "Officially support requiring subparts of concurrent-ruby, e.g., require 'concurrent/map'"
Currently, concurrent-ruby loads every file of the gem eagerly (like most gems actually, this is more reliable than manually setting up `autoload`s everywhere which is error-prone).
It would be nice footprint-wise if only the files needed for the usages are loaded.

The best way to do that seems to adopt https://github.com/fxn/zeitwerk.
That would mean dropping support for Ruby < 2.5, which should

[2022-01-20 01:39] AndyObtiva commented on #928
I tested and confirmed that this issue got fixed in the newly released JRuby 9.3.3.0.

I am closing this issue as a result.

Thanks to the JRuby team.

[2022-01-20 01:39] #928 closed

[2022-01-21 23:53] sambostock commented on #934
I notice adding a runtime dependency on Zeitwerk would require breaking

[2022-01-28 15:18] aaronjensen commented on #931
@chrisseaton have you had a chance to look at this? This is the only thing blocking us from upgrading to 3.1.0 and I'd rather not have to patch premailer-rails, though if you are thinking of not accepting this, please let me know and I can open a PR there to work around this. Thank you!

[2022-01-31 18:09] eregon commented on #934
That's true, it might be worth adapting that goal though.

[2022-02-11 14:59] thomasvanholder commented on #931
@aaronjensen,  did you find a solution to make this work while we wait for the PR to be reviewed?

[2022-02-11 15:03] aaronjensen commented on #931
@thomasvanholder because it's ruby, you can redefine `SafeTaskExecutor#execute` as I defined it in the PR. You can also monkey-patch what's described in the workaround here: https://github.com/ruby-concurrency/concurrent-ruby/issues/931#issuecomment-1008149312

We have been holding on monkey-patching hoping this gets merged, but we may need to just do it if we want to upgrade Ruby.

[2022-02-11 15:05] aaronjensen commented on #931
@eregon it looks like Chris may be busy, would you be able to take a look at this by chance?

[2022-02-11 15:06] chrisseaton commented on #931
Sorry I will manage to take a look today.

[2022-02-11 15:07] aaronjensen commented on #931
No problem, and thank you.

[2022-02-23 20:58] aaronjensen commented on #931
Hi @chrisseaton  and @eregon sorry to prod, but would it be possible to take a look at this?

[2022-02-24 21:23] mshappe commented on #931
It would be really good if this could either move forward, or we could find out what else is being done to unblock Ruby 3.1.0 upgrades...

[2022-02-24 21:26] chrisseaton commented on #931
Very sorry! I'll definitely take a look in the next 24 hours.

[2022-02-25 01:51] chrisseaton commented on #931
I can reproduce. Sorry I know that's just a start but evidence I'm on it.

[2022-02-25 01:52] aaronjensen commented on #931
Great, thanks @chrisseaton. Not sure if you saw my PR or not, but it fixes it w/ minimal changes and has a test: https://github.com/ruby-concurrency/concurrent-ruby/pull/932

[2022-03-01 19:41] byroot commented on #934
The problem with this idea is that you can easily end up in a situation where one of the concurrent-ruby classes is only used at runtime. Assuming we're talking about a web application, that means the code will be loaded during the first request cycle that uses it, defeating Copy on Write (for most MRI setups) and also busting the global constant cache (big deal for MRI right now, may change in th

[2022-03-02 10:54] eregon commented on #934
If the goal is to optimize COW fork / avoiding autoloading then one should eagerly load, Zeitwerk has a mode for that: https://github.com/fxn/zeitwerk#global-eager-load
Of course that means everything (e.g., all concurrent-ruby classes) will be loaded eagerly, but that seems generally the case for eager loading.
So, this should just work if Rails uses `Zeitwerk::Loader.eager_load_all` in productio

[2022-03-02 10:57] byroot commented on #934
My point is that right now, when you use one of the concurrent-ruby component, you explictly require it, which means you get both:

  - Only load what you use
  - Everything you use is eager loaded.

If you were to migrate to Zeitwerk, you'd have to choose between loading things that are not used, vs maybe not eagerloading things.

So I don't think autoloading (be it with zeitwerk or Kernel#autolo

[2022-03-02 12:13] eregon commented on #934
That's what is explicitly not supported currently: https://github.com/ruby-concurrency/concurrent-ruby#usage
And the reason for that AFAIK is it's pretty hard to load the necessary dependencies and test it for all possibilities (i.e., test that each file can be loaded on its own in a separate process).

In my understanding Zeitwerk solves this issue of loading the necessary dependencies automatica

[2022-03-02 12:17] byroot commented on #934
Well, somehow it works because I've never seen any code requiring it all.

What Zeitwerk does it to automatically setup `Kernel#autoload` for all the files inside your `lib/` directory, and does so recursively when files are loaded. So yes you can mix it with `require`.

[2022-03-03 18:50] tomstuart commented on #931
While there may be an underlying issue in `concurrent-ruby` that still needs to be addressed, note that `sprockets` v4.0.3 has just been released, which contains [this fix](https://github.com/rails/sprockets/pull/720).

[2022-03-04 09:18] aaronjensen commented on #931
That’s great news, thank you @tomstuart

[2022-03-07 16:58] chrisseaton commented on #652
Replaced with #938.

[2022-03-07 16:58] #652 closed

[2022-03-07 19:29] #639 closed

[2022-03-07 20:39] aaronjensen commented on #931
PR was merged, thanks @chrisseaton

[2022-03-07 20:39] #931 closed

[2022-03-09 23:12] chrisseaton commented on #933
[code]

That's what we want, isn't it?

[2022-03-09 23:54] chrisseaton commented on #933
Here's a deterministic test.

[code]

Phew that was hard.

I have a PR that achieves that, if I get feedback that is is the desired behaviour.

[2022-03-14 23:50] #591 closed

[2022-03-14 23:52] chrisseaton commented on #670
Fixed in #937.

[2022-03-14 23:52] #670 closed

[2022-03-15 00:19] chrisseaton commented on #824
We'll try to improve this over time, but the issue is so old that it's probably not specifically useful now. Thanks for the report.

[2022-03-15 00:19] #824 closed

[2022-03-15 00:20] chrisseaton commented on #618
@thedrow are you still interested in this feature?

[2022-03-15 00:21] #588 closed

[2022-03-15 00:22] #755 closed

[2022-03-15 00:22] #489 closed

[2022-03-15 00:23] #774 closed

[2022-03-15 00:23] #739 closed

[2022-03-15 00:23] #713 closed

[2022-03-15 00:24] #731 closed

[2022-03-15 00:24] #394 closed

[2022-03-15 00:24] #148 closed

[2022-03-15 00:24] #597 closed

[2022-03-15 00:24] #682 closed

[2022-03-15 00:25] #710 closed

[2022-03-15 00:25] chrisseaton commented on #718
Fixed!

[2022-03-15 00:25] #718 closed

[2022-03-15 00:25] #748 closed

[2022-03-15 00:28] chrisseaton commented on #690
No response in four years.

[2022-03-15 00:28] #690 closed

[2022-03-15 00:29] #446 closed

[2022-03-15 00:32] chrisseaton commented on #541
A lot of time's passed. We'll re-evaluate what we want from 2.0 in the future.

[2022-03-15 00:32] #541 closed

[2022-03-15 00:32] chrisseaton commented on #542
A lot of time's passed. We'll re-evaluate what we want from 2.0 in the future.

[2022-03-15 00:32] #542 closed

[2022-03-15 00:32] chrisseaton commented on #544
A lot of time's passed. We'll re-evaluate what we want from 2.0 in the future.

[2022-03-15 00:32] #544 closed

[2022-03-15 00:34] chrisseaton commented on #794
@ajlai are you still interested in this issue?

[2022-03-15 00:34] chrisseaton commented on #772
Nobody serious is using 1.9 at the moment. We only support JRuby latest at the moment. We'll re-evaluate support Ruby versions in the future.

[2022-03-15 00:34] #772 closed

[2022-03-15 00:36] chrisseaton commented on #232
I think the memory model is out of scope. It hasn't yet been adopted by Core.

[2022-03-15 00:36] #232 closed

[2022-03-15 00:37] chrisseaton commented on #555
Closing due to age. Please feel free to open a PR if you have some code.

[2022-03-15 00:37] #555 closed

[2022-03-15 00:39] chrisseaton commented on #894
The idea was if you come to the gem looking for a future, you can have a future, and if you come to the gem looking for a promise, you can have a promise.

[2022-03-15 00:39] #894 closed

[2022-03-15 00:40] chrisseaton commented on #144
Closing due to extreme age.

[2022-03-15 00:40] #144 closed

[2022-03-15 00:40] chrisseaton commented on #147
Closing due to extreme age.

[2022-03-15 00:40] #147 closed

[2022-03-15 00:40] chrisseaton commented on #222
Closing due to extreme age.

[2022-03-15 00:40] #222 closed

[2022-03-15 00:40] chrisseaton commented on #410
Ancient.

[2022-03-15 00:40] #410 closed

[2022-03-15 00:59] chrisseaton commented on #693
Is anyone able to supply a reproducer? I can't reproduce.

[2022-03-15 01:03] jeremyevans commented on #772
@chrisseaton If you are going to close this, can you please update the gemspec: https://github.com/ruby-concurrency/concurrent-ruby/blob/master/concurrent-ruby.gemspec#L30

[2022-03-15 12:36] #933 closed

[2022-03-15 14:10] jonmast commented on #933
Sorry I'm so slow to follow up but this is perfect, thanks @chrisseaton

[2022-03-15 14:54] thedrow commented on #618
I no longer use Ruby so no.

[2022-03-15 14:54] #618 closed

[2022-03-16 12:52] eregon commented on #931
The test added in https://github.com/ruby-concurrency/concurrent-ruby/pull/932 is causing various problems, for instance it doesn't work on JRuby (https://github.com/ruby-concurrency/concurrent-ruby/pull/932), it doesn't work on TruffleRuby (https://github.com/ruby-concurrency/concurrent-ruby/runs/5554594154?check_suite_focus=true), and a fairly small variation of that test segfaults on CRuby 3.0

[2022-03-16 13:11] eregon commented on #931
Sorry, I missed you reported this issue to CRuby, that gives more details: https://bugs.ruby-lang.org/issues/18474

So in CRuby 3.1 and in TruffleRuby, this code gives a `LocalJumpError` (different messages):
[code]

[code]

[code]

I think what we'd need is to tweak the test to just raise `LocalJumpError` explicitly for clarity and reproducibility (e.g., otherwise it works incorrectly on CRuby 3.

[2022-03-16 17:04] aaronjensen commented on #931
@eregon If you could instead limit the text to running only on the affected environment (CRuby >= 3.1) the it could maintain the shape of the actual problem. I don't know if just raising LocalJumpError actually does what you would think (I believe I tried that, but I could be mistaken).

[2022-03-17 23:49] chrisseaton commented on #714
No clear requirement for this at the moment. Not common practice in other gems.

[2022-03-17 23:49] #714 closed

[2022-03-18 15:52] eregon commented on #931
So, using the minimal example from mame in https://bugs.ruby-lang.org/issues/18474:
[code]

Here are the results:
[code]

CRuby 3.0 behavior is a clear bug, it prints `"should_not_reach_here"` which is semantically completely broken.
What most likely happens is on CRuby Enumerable#first uses `break` internally, like if we wrote it like:
[code]
and the break, instead of breaking out of that `each {

[2022-03-18 16:28] eregon commented on #931
My conclusion is:
* Creating an Enumerator with `to_enum` and yielding to it from another thread can never work, that is broken code.
* Such broken code triggers several bugs in CRuby (https://bugs.ruby-lang.org/issues/18474, https://bugs.ruby-lang.org/issues/18649)
* The added test basically tests that the workaround in concurrent-ruby for these CRuby bugs works to some extent (but it cannot full

[2022-03-18 16:35] mshappe commented on #931
@eregon Thank you for investigating this and for your very complete explanation of what was going on. I suspect CRuby's behaviour comes down to the reality that CRuby's thread handling is, and always has been, not-really-thread handling!

[2022-03-18 18:09] aaronjensen commented on #931
Thanks @eregon, that sounds great.

[2022-04-29 14:48] cwli24 opened #957 "Concurrent::Promise causing error with Rails.cache/.fetch"
[code]
This is causing the same crash from the server. I tried using :file_store as cache rather than :memory_store (which was made 'thread-safe' by Rails anyways), and also using ReentrantReadWrite lock to gate the cache, but no success. This is what's showing:

![image](https://user-images.githubusercontent.com/28714891/165968181-f9038da6-ff05-400a-ba2f-4711344e47fc.png)

[code]

[2022-04-29 16:01] cwli24 commented on #957
Actually this may be(?) related to an issue with the cache; just the trace has a poor way of showing it. I tried using the native Thread class via replacing Promise.execute with Thread.new and `fetch_requests.each(&:join)`, and it's also failing on the fetch return, saving data to the cache. I'm suspicious the cache might just not like storing http responses..

[2022-04-29 16:41] cwli24 commented on #957
I'm fairly certain the root of this is actually caused by what's being stored into the cache, and subsequently this problem. I'm going to close this issue, and link [the one I opened on Rails' github](https://github.com/rails/rails/issues/44982).

[2022-04-29 16:41] #957 closed

[2022-05-04 03:34] blizzart commented on #808
still there, Rocky Linux 8, ruby 3.1.2p20 freshly compiled

[BUG] transient_heap_block_alloc: failed

ruby 3.1.2p20 (2022-04-12 revision 4491bb740a) [x86_64-linux]

-- Control frame information -----------------------------------------------
c:0001 p:---- s:0003 e:000002 (none) [FINISH]

-- C level backtrace information -------------------------------------------
/usr/local/bin/ruby(rb_print_backt

[2022-05-04 21:20] chrisseaton commented on #808
Ask around about this.

[2022-07-15 21:50] Overload119 opened #958 "Does global_io_executor / Concurrent::CachedThreadPool clear threads?"
[code]

I've been debugging an issue with Sidekiq outlined [here](https://stackoverflow.com/questions/72987337/debugging-why-a-sidekiq-job-is-stuck). I'm trying to remove the number of threads in my long-running Ruby process.

It seems like `GLOBAL_IO_EXECUTOR` just keeps growing in the number of threads and never shrinks.

This can be tested in Ruby:

[code]

I've gotten around this issue with th

[2022-07-15 22:15] chrisseaton commented on #958
By default, `Promise` uses the `:io`, as you've realised. This is for IO operations, where many threads often makes sense. If you want a fixed number of threads you can use for example `:fast`, which is designed for parallelism on runtimes that support that or C extensions that run in parallel on all runtimes. Or you can created your own `FixedThreadPool`.

What do you promises do?

[2022-07-15 22:41] Overload119 commented on #958
Actually it's another gem that's using this library that I've debugged this down to.
https://github.com/YusukeIwaki/puppeteer-ruby/issues/237

I don't think I could answer that question correctly since I'm not sure exactly what these calls are doing but it relates to interacting with a puppeteer browser over the network.

I guess the surprising thing for me is that CachedThreadPool never actually

[2022-07-15 22:56] chrisseaton commented on #958
I think you (or this upstream Gem author) want to submit jobs to an executor, rather than creating promises manually. An executor has (can have) a queue of jobs, where jobs sit until there is available concurrency.

Concurrent Ruby is working as expected here. I can advise on design choices if I'm pointed at the relevant code and given the context. I don't have time to go off and find what they're

[2022-07-15 22:56] chrisseaton commented on #958
I'm going to close this issue, as there's no bug or feature request here. But feel free to keep engaging here to get your problem fixed.

[2022-07-15 22:56] #958 closed

[2022-08-04 04:13] leoarnold opened #959 "Memory leak in Concurrent::Future"
[code]

When passing a `block` to `Concurrent::Future.execute` and `wait`ing for the result, the `Future` can be garbage collected, but the return value of the block seems to stay in memory forever, as demonstrated by the following script:

[code]

When running the script on several different versions of MRI, I always get something like this never ending output:

[code]

[2022-08-04 14:57] leoarnold commented on #959
It turns out that there is way more leaking than just the return value of the block:

[code]

yields the output:

[code]

[2022-08-04 15:08] leoarnold opened #960 "Memory leak in Concurrent::Promises.future"
[code]

The test script

[code]

yields the following output

[code]

[2022-08-04 16:12] leoarnold commented on #960
Maybe this "leak" is intentional, i.e. keeping a pool of sub-threads in a thread-local variable which is then garbage collected when the parent thread is garbage collected :thinking:

[2022-08-04 16:13] leoarnold commented on #959
Maybe this "leaking" of the `Array` objects is intentional, i.e. keeping a pool of sub-threads in a thread-local variable which is then garbage collected when the parent thread is garbage collected :thinking:

[2022-10-17 03:03] ioquatix opened #962 "Ruby locking is per-fiber, not per-thread."
Ruby mutex implementation is per-fiber and generally speaking, all locking mechanisms should be per-fiber for the purpose of mutual exclusion.

As such, it appears at least some parts of concurrent ruby might not be correct, according to this specification.

I've been looking at <https://github.com/ruby-concurrency/concurrent-ruby/blob/385156117c110808875e1e87d5267147f696f796/lib/concurrent-ruby/c

[2022-10-17 21:00] chrisseaton commented on #962
This is since Ruby 3.0 isn't it?

Not massively looking to working through the significance of this change...

Would you be willing to start by working with me to redefine what you think the specs should be now?

[2022-10-17 22:43] ioquatix commented on #962
IIRC, different versions of Ruby did different things and 3.0 standardised the behaviour. On some platforms where fibers were backed by threads, mutex was already per-fiber.

I checked the implementation a little bit and it looks okay to me, you are using `Mutex` correctly.

Maybe it's a genuine usage error on the part of rails, let me check their code.

[2022-10-17 23:00] ioquatix commented on #962
I've updated the original discussion of this issue, because I'm no longer sure that the issue is with this code.

[2022-10-17 23:12] ioquatix commented on #962
This seems to reproduce the original issue, at least the error is the same:

[code]

The question is, is this what's happening?

[2022-10-17 23:14] chrisseaton commented on #962
That thread doesn't hold the lock so can't release it.

[2022-10-17 23:34] ioquatix commented on #962
Yes, I understand that, but why is it not happening on the same thread?

[2022-10-17 23:39] chrisseaton commented on #962
Are you saying you're aware that the last code snippet you posted is broken - you're saying that something else in some other code is making the same mistake as this example code, and that's what you're trying to fix?

Ok I think we're on the same page now. Yeah sounds like an application bug.

You could probably add some error-handling code to say which thread is holding it and which is trying to

[2022-10-18 00:04] ioquatix commented on #962
Sorry about my lack of clarity, I don't really know what's going on fully yet.

Yes, I'm trying to reproduce possible scenarios which could create the behaviour I'm seeing so I know what to look for.

Yes, maybe in Rails or maybe the way Rails is being invoked by Falcon.

Yes, that's the plan. I don't have a full repro, but I might try hacking something together.

[2022-10-18 00:47] ioquatix commented on #962
Okay, I think I have an idea of the problem.

The thread local variable is per-thread, while the synchronisation is per fiber. I think this must be leading to some kind of invalid state.

[2022-10-18 00:58] ioquatix commented on #962
Okay, that appears to be the problem. The fix in this case is to use fiber local variables:

[code]

I just monkey patched this into my local gem and it fixed the issue.

The current implementation of thread locals looks a bit... over engineered? Maybe it was that way for backwards compatibility?

In any case, the locking is per fiber, and the state used for tracking that locking is per-thread, so

[2022-10-21 10:31] hanazuki opened #963 "`Promises.any_fulfilled_future` does not accept an Event"
Documentation on `Promises.any_fulfilled_future_on` says:

But actually it fails when you pass an Event to the function.

Reproducing code:
[code]

Output:
[code]

---

[code]

[2022-10-22 16:17] hanazuki opened #964 "Repeated calls to `ResolvableEvent#resolve` with `raise_on_reassign = true` does not raise"
Documentation for `ResolvableEvent#resolve` says:

But it just returns `false` on reassignment.

Reproducing code:
[code]

---

[code]

[2022-10-24 08:03] flash-gordon opened #967 "Semaphore doesn't raise exception when negative int passed to constructor"
The [docs](https://ruby-concurrency.github.io/concurrent-ruby/1.1.4/Concurrent/Semaphore.html#initialize-instance_method) say it'll raise an error but it doesn't:
[code]
I use cruby.
There's no check for negative number in the code:
https://github.dev/ruby-concurrency/concurrent-ruby/blob/385156117c110808875e1e87d5267147f696f796/lib/concurrent-ruby/concurrent/atomic/mutex_semaphore.rb#L12

[2022-10-25 18:34] pitr-ch commented on #963
This should fix it
[code]

[2022-11-10 00:08] ioquatix commented on #962
@chrisseaton any thoughts on the next steps?

[2022-11-10 00:13] chrisseaton commented on #962
I'm a bit worried about how deep this goes.

Yes likely complexity is about backwards-compatibility. I'd like to add a simple core set of primitives to MRI for the long-term but that's another discussion...

That's probably the central thing to think about. I'd like to be able to write a spec that we want to meet. Would you be able to help me with that? Even just the plain-English description of t

[2022-11-10 00:34] ioquatix commented on #962
(It's not what I want, it's what's defined by CRuby).

Mutex locking is per-fiber.

Therefore, if you are storing state "per lock" you need to store it per fiber.

[2022-11-10 01:19] ioquatix commented on #962
@eregon can I please pull your expertise into this discussion.

[2022-11-10 14:35] eregon commented on #962
I think for ReentrantReadWriteLock and others which use ThreadLocalVar, we should use FiberLocalVar (to be added, https://github.com/ruby-concurrency/concurrent-ruby/pull/376#issuecomment-126322710) if Mutex is per Fiber.
That can be easily detected with
[code]

I think then the compatibility concerns are non-existent because using a ThreadLocalVar for per-Mutex-state on 3.0+ is just a bug.

[2022-11-17 10:29] mensfeld opened #970 "`Concurrent::Hash` default initialization is not thread-sae"
Based on the docs:

Given this code:

[code]
the initialization is not thread-safe.

Obviously the latter part of the doc indicates that:

but the initial part makes it confusing:

It can be demoed by running this code:

[code]

I would expect to either:
1. Have the initialization block behind a mutex - so there is no conflict
2. Have the docs updated (I can do that)

Works like so:

[code]

[2022-11-19 18:48] mensfeld commented on #970
Same applies to the `Concurrent::Map`:

[code]

[2022-11-22 05:23] Largo opened #971 "Slow require 'concurrent' on windows"
Hi!
So I'm on the hunt for the reason why my app needs seconds to start instead of miliseconds. I'm using TZInfo in my app which depends on concurrent-ruby. I'm not sure if anything can be done about it, as the issue might lie with ruby on windows but maybe it can be improved? I assume this also affects rails on windows startup.

[code]

Windows benchmark on an intel core i9 laptop:
`0.047000   0.

[2022-11-22 18:11] chrisseaton commented on #971
Can you profile it for me?

I'm sorry I'm not going to be able to help with anything Windows-specific - I just don't know anything about it.

[2022-11-23 04:26] Largo commented on #971
It is faster today, probably because of a cache, I've also checked the code and could only find one windows specific part, which doesn't seem to be an issue.
It might just be require itself again, which is known to be slower on windows.

[code]

[code]

[2022-11-23 17:05] chrisseaton commented on #971
The top two make it seem like an IO issue? Are you one some kind of strange machine, or a virtualised machine?

This isn't likely to be a Concurrent Ruby issue, so I'm closing unless there is evidence otherwise. I'm happy to keep engaging with you here to try to help as best I can though.

[2022-11-23 17:05] #971 closed

[2022-11-24 04:25] nightpool commented on #970
This pattern is widely prevalent in open source code and it's very very clear that developers assume that this works.  I think it's very important to wrap this initializer block in a mutex and not just update the docs

[2022-11-24 18:02] granthusbands commented on #970
It's now slightly complicated, as some (as above) have a fix that assumes the initializer is not in the mutex and so call `compute_if_absent` or such. Unless the mutex is reentrant or there's a test for this, it would then deadlock.

Also, it's suboptimal to use a mutex that's separate from the hash, as above; it would help for Concurrent::Hash to have some of the quality-of-life improvements of C

[2022-11-24 18:11] mensfeld commented on #970
@granthusbands if not fixable or brings weird problems to the table, maybe we could expand rubocop to notify on common mistakes, etc.