[2013-11-14 19:31] rbeiter opened #1 "TimerTask silently falls through if intervals specified as Strings"
If you invoke Concurrent::TimerTask with an execution_interval or timeout_interval that is not an integer, the task never executes nor does it error out.

These values admittedly have no business being strings but the silent nature of the failure took a little bit of time to track down after the introduction of Configliere to manage these parameters in an existing project.

Desired behavior would

[2013-11-15 16:28] #1 closed, assigned to nobody

[2014-02-05 19:40] mighe opened #8 "Future interface"
`Future.new` takes a block and schedules it, but this strategy can be dangerous because the block can be executed before the end of the constructor, especially if someone subclasses `Future`

To solve this we can add the method `execute` that takes a block, returns a `Future` and then schedules it.
`execute` can be either a `Future` method or an external executor one.
The current `new` method shou

[2014-02-15 04:04] jots opened #9 "error installing"
I get the following error when trying to install.  Any ideas what is causing it?

% ruby --version
ruby 1.9.3p484 (2013-11-22) [x86_64-linux] Brightbox

% bundle install --path vendor
Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

/usr/bin/ruby1.9.1 extconf.rb
creating Makefile

make
compiling futures.c
In file included from futures.c:10:0:
/usr/include/ruby-1.9

[2014-02-15 04:42] #8 closed, assigned to nobody

[2014-02-15 19:31] mighe opened #10 "Obligation value"
`Obligation#value` waits for the event to occur if timeout is not zero and current state is `pending`.
Should it wait also if the state is `unscheduled`?
In other words: should it wait until the obligation is completed, right?

[2014-02-16 17:08] #10 closed, assigned to nobody

[2014-02-22 13:11] chrisseaton opened #14 "Add support for I-Structures (IVars)"
An IVar is like a future that you can assign. As a future is a value that is being computed that you can wait on, an IVar is a value that is waiting to be assigned, that you can wait on. IVars are single assignment and deterministic.

Then, express futures as an asynchronous computation that assigns an IVar. The IVar becomes the primitive on which futures and dataflow are built.

[code]

For the t

[2014-02-22 13:15] chrisseaton opened #15 "Add support for M-structures (MVars)"
An MVar is a mutable single element container. You can store a single item in an MVar, and they're always empty or full. As well as get, you have take, which removes the value. As well as put you have mutate, which atomically takes and puts.

They're basically a value with a mutex.

If you read on an empty MVar you block, if you write to a full MVar, it's an error.

[code]

For theory see

P. Bart

[2014-02-23 01:11] jdantonio opened #16 "Next release: v0.5.0 on Monday 17 March 2014?"
I've learned that @headius will be talking about this gem during his presentation at [RubyConf India](http://rubyconfindia.org/2014/) on Saturday, 22 March 2014. Because the APIs of `Future`, `ScheduledTask`, and `Promise` (in progress) have changed to include the new `#execute` method I'd like to release an update prior to his presentation. Unless there is a significant objection from the communi

[2014-02-24 16:59] chrisseaton opened #19 "Add a simple STM"
Software transactional memory provides a simple model for updating multiple references with atomicity, isolation and consistency. Completely transparent STM in Ruby would require language modifications, but if we have a transactional variable object, we can do it quite easily. This is what Haskell did, with their TVar. Clojure's implementation is similar I believe.

[code]

The action inside the `

[2014-02-24 20:17] #15 closed, assigned to nobody

[2014-02-25 14:33] chrisseaton opened #21 "Implement a wrapper for thread local variables"
The current thread local mechanism in Ruby is hard to work with. It's based around symbols, so is hard to isolate different module's variables, and requires slow lookup from symbol to variable.

A wrapper object, `ThreadLocalVariable` with simple `#value` and `#value=` methods would be a useful abstraction. Under MRI and Rubinius it could use the existing mechanism, but allocate a unique symbol au

[2014-02-27 04:16] #14 closed, assigned to nobody

[2014-02-27 04:16] #19 closed, assigned to nobody

[2014-02-27 04:16] #21 closed, assigned to nobody

[2014-03-01 17:52] mighe opened #25 "Exchanger"
[java.util.concurrent.Exchanger](http://docs.oracle.com/javase/7/docs/api/java/util/concurrent/Exchanger.html) is a very simple and useful synchronization utility that let two threads to safely swap an element.

Could this be useful in our gem?

[2014-03-01 21:06] jdantonio opened #26 "GitHub wiki vs. project Markdown files"
When I started the project I wrote all the documentation in Markdown files in the _md_ directory. Should we deprecate those files and move the content into GitHub wiki pages? It's nice having the documentation in the repo itself but I can't imagine moving the project off of GitHub. The wiki pages may be more usable by the community.

[2014-03-02 18:04] #26 closed, assigned to nobody

[2014-03-10 13:23] #25 closed, assigned to nobody

[2014-03-16 13:41] #16 closed, assigned to jdantonio

[2014-03-19 13:43] jdantonio opened #30 "v1.0.0 Roadmap"
The other day @chrisseaton suggested to me that we should begin to plan what 1.0.0 will look like. I think this is an excellent idea. When I started this gem I was just creating a bunch of tools that I thought might be useful. I did not plan a feature set. I am open to all ideas and suggestions. We will use this thread to collectively create a new roadmap.

Below are a few things I would like to a

[2014-03-22 18:40] lucasamorimca opened #33 "undefined method `status' for Concurrent::CachedThreadPool and Concurrent::FixedThreadPool"
This is happening with `CachedThreadPool` and `FixedThreadPool`.

Tested with JRuby 1.7.11 and MRI 1.9.3-p545

[code]

[code]

[2014-03-24 18:08] billdueber opened #35 "Implement ThreadPoolExecutor.CallerRunsPolicy?"
I would love to see an implementation of java's ThreadPoolExecutor.CallerRunsPolicy -- it allows automatic throttling, so I need not worry about creating too big a queue or too many threads when using a thread pool.

[2014-03-26 04:25] jstoneham opened #36 "Actors clear queue at run/stop time"
Because actors clear their queue in `on_run`, there's a race condition where if you try to start a set of actors with a `Supervisor` and post something to their queue before they get started (or post it before you start them entirely), they drop it on the floor as they start up.

Why do actors clear queue in `on_run`, `on_stop`, etc.? In a pooled situation, wouldn't that cause a single restarted w

[2014-03-29 19:37] #30 closed, assigned to jdantonio

[2014-03-31 22:11] #35 closed, assigned to nobody

[2014-04-01 11:01] mighe opened #43 "Atomic IVar"
Currently IVar are a bit brittle when shared between many writer threads:

[code]

one of them will fail due to MultipleAssignmentError

I was wondering about a safer method like `IVar#set_unless_assigned` returning true if the operation succeeded, false otherwise.

Given that `IVar`s are a well defined entity in literature, do you think is a good idea to add this method to `IVar` or should we cre

[2014-04-01 14:55] jdantonio opened #44 "Pre-release with new thread pools?"
On April 9th I will be presenting (remotely) to the [Copenhagen Ruby Brigade](http://lanyrd.com/2014/cphrb/). I would like to build a pre-release version of the gem before then so that people can start working with the new thread pools. This pre-release will include everything in the [changelog](https://github.com/jdantonio/concurrent-ruby/wiki/Changelog) up to that point. I would like to build th

[2014-04-07 01:56] #33 closed, assigned to sh286

[2014-04-07 17:37] #36 closed, assigned to jdantonio

[2014-04-07 19:25] #43 closed, assigned to nobody

[2014-04-07 20:47] michaelklishin opened #50 "Blocking queue"
We have a [blocking queue implementation](https://github.com/ruby-amqp/bunny/tree/master/lib/bunny/concurrent) for CRuby and JRuby in Bunny. It's not perfect on CRuby (timeout-based operations is somewhat of a pain to implement on CRuby using only standard library) but JRuby's version is backed by j.u.c.

If you consider it useful enough, I can alter it a bit for your library and submit a pull req

[2014-04-08 13:19] #44 closed, assigned to nobody

[2014-04-10 19:43] mighe opened #51 "Source structure"
We have a lot of files and their number is going to grow.
We could put them in different folder, repeating what we already did for channels.

Since this refactoring is fairly big, I'd like to hear you opinion

[2014-04-11 03:01] #51 closed, assigned to nobody

[2014-04-16 08:14] gdo opened #56 "Link on https://github.com/jdantonio/concurrent-ruby/wiki"
The links like "Actor" are borken on page https://github.com/jdantonio/concurrent-ruby/wiki

[2014-04-16 13:11] gdo opened #57 "IVar Timeout example"
Do you have an example of timeout with ivar ?

if I do
response=Concurrent::IVar.new
v=response.value(1)
sleep(2)

I obtain :
v == nil
response.state == :pending
response.reason == nil

Is it normal ? because response.state == :timeout will be more understable.

[2014-04-16 23:26] #56 closed, assigned to nobody

[2014-04-18 18:03] #57 closed, assigned to nobody

[2014-04-24 14:32] jdantonio opened #64 "0.6.0 Pre-release 2"
We've added several optimizations since the first pre-release of 0.6.0. We should consider another pre-release. Perhaps Friday, May 2.

Thoughts?

[2014-04-24 14:42] #9 closed, assigned to nobody

[2014-05-05 14:25] pitr-ch opened #67 "Unnecessary method lookup cache dropping"
see https://github.com/jdantonio/concurrent-ruby/blob/master/lib/concurrent/actor/simple_actor_ref.rb#L20

I think this could be probably replaced by accessor in ActorContext.

[2014-05-07 08:37] #67 closed, assigned to nobody

[2014-05-07 08:51] pitr-ch opened #68 "Random TimerTask error in travis"
e.g. https://travis-ci.org/jdantonio/concurrent-ruby/jobs/24605648

[2014-05-09 09:11] pitr-ch opened #70 "Fail subsequent posts to Agent after failure"
from clojure agent doc: _"If any exceptions are thrown by an action function, no nested dispatches will occur, and the exception will be cached in the Agent itself."_

[2014-05-13 01:21] #68 closed, assigned to jdantonio

[2014-05-13 01:22] #64 closed, assigned to nobody

[2014-05-13 14:26] schmurfy opened #76 "TimerSet: cancel/reset task"
In my use case I wanted to use a timer to act as a buffer:
- i queue data
- I create or reset a timer so that after X seconds an action is performed
- if the queue reach or exceed a specific size an action is done and the timer is canceled

After looking at the code TimerSet might be my friend using the Concurrent::timer() api passing my actor as an executor instead of using the global pool but wh

[2014-05-14 04:29] elcuervo opened #77 "RubyMotion?"
I'm considering to use concurrent-ruby on some of my projects. For one of them some people are asking me for RubyMotion support and that'd require some work to implement concurrency since I'm already using Celluloid. Since I _might_ take that road that will it make sense to add RubyMotion support for this gem? Or that's way out of the scope?

[2014-05-14 07:32] pitr-ch opened #78 "Add `AtomicReference` as in Atomic gem"
Implement simple AtomicReference with locks or possibly merge Atomic gem, came up in #73.

[2014-05-14 11:53] chrisseaton opened #79 "Failure within critical sections"
A while ago we removed `Mutex#synchronize` in favour of `Mutex#lock` and `#unlock` as this is more efficient. Where does this leave us with failure recovering (exceptions etc) inside the critical section? We don't seem to have any tests for this at the moment either.

[2014-05-16 11:46] gdo opened #80 "a Promise.all methode ?"
Hello,

a little question (but I don't know how to setup the question tag :(

Do you have any plan to implemente a Promise.all method  ? I make reference to :

[code]

from $q of angularJS.

Best regards
Ebuprofen

[2014-05-16 14:58] jdantonio opened #81 "New Actor Implementation Discussion and Roadmap"
First, I want to publicly apologize to @lucasallan for changing directions on actors so many times. He has been working very hard to implement remote actors and I keep moving the target. He and I have exchanged thousands of words worth of email messages discussing actors. His contribution to the evolution of this gem are far greater than the commit log indicates. He deserves much thanks.

For the

[2014-05-16 14:59] jdantonio opened #82 "v0.6.0 Release Plan and Date"
TL;DR I think we should remove `ActorContext` from the master branch and release 0.6.0 ASAP, possibly as soon as 5/25.

A quick look at the [changelog](https://github.com/jdantonio/concurrent-ruby/wiki/Changelog) shows that we have implemented a _ton_ of great stuff since the 0.5.0 release. The only thing we're waiting on that was planned for 0.6.0 is a new actor implementation. Since I've changed

[2014-05-16 15:17] jdantonio opened #83 "v0.7.0, GitHub Organization, and Merging Atomic"
Charles Nutter, aka @headius, has graciously [offered to merge](https://github.com/jdantonio/concurrent-ruby/pull/73#issuecomment-43216361) his (very successful) [ruby-atomic](https://github.com/headius/ruby-atomic) and [thread_safe](https://github.com/headius/thread_safe) gems into ours. I think we should accept his offer. He has done great work and has been an avid promoter of this gem. If we wa

[2014-05-17 11:40] jdantonio opened #84 "Brittle Tests"
- [x] https://travis-ci.org/jdantonio/concurrent-ruby/jobs/25312849 (Supervisor)
- [x] https://travis-ci.org/jdantonio/concurrent-ruby/jobs/25500230 (TimerTask)
- [x] https://travis-ci.org/jdantonio/concurrent-ruby/jobs/25149388 (ScheduledTask)
- [x] https://travis-ci.org/jdantonio/concurrent-ruby/jobs/25513537 (TimerTask)
- [x] https://travis-ci.org/jdantonio/concurrent-ruby/jobs/25628764 (Superv

[2014-05-17 11:43] #78 closed, assigned to nobody

[2014-05-17 12:29] #79 closed, assigned to nobody

[2014-05-19 09:48] pitr-ch opened #85 "Pushing to master?"
Hi guys,

I've noticed you are pushing commits directly to master. I would like to suggest an alternative, opening PRs and let all code landing in master go through reviews. So far I had a great experience with PR reviewing. Lot of bugs and problems is discovered through review, it is also a great opportunity to learn form each other.

[2014-05-19 14:50] #77 closed, assigned to nobody

[2014-05-19 14:55] #85 closed, assigned to pitr-ch

[2014-05-21 01:00] #84 closed, assigned to jdantonio

[2014-05-21 17:56] headius opened #91 "Need speaker/talk for JRubyConf EU (1st August 2014, Potsdam, Germany)"
We're having another JRubyConf EU this year, and it really would be a shame if nobody came to talk about concurrency :-)

If anyone's planning to be at Eurucamp or is otherwise interested in JRubyConf, we should put together a submission on "Concurrency in Ruby" that heavily leans on this library.

http://2014.jrubyconf.eu

[2014-05-24 12:33] pitr-ch opened #97 "Brittle specs"
I saw this when running on JRuby. We should probably fix all brittle tests before 0.6 release.

[code]

I am trying to run it again to get full trace, but so far no luck.

[2014-05-26 14:49] #82 closed, assigned to nobody

[2014-05-26 15:17] jdantonio opened #98 "0.7.0 Release To-do"
This is the to-do list for the 0.7.0 release. The target date for this release is Sunday, 10 August, 2014. This is intended to coincide with the [Steel City Ruby](http://www.steelcityruby.org/) conference being help in Pittsburgh, PA, USA on 15-16 August. This is an initial list based on the discussion in Issue #83 ("v0.7.0, GitHub Organization, and Merging Atomic"). Please feel free to add/edit/d

[2014-05-26 15:49] #83 closed, assigned to nobody

[2014-06-05 06:24] 404pnf opened #104 "use TimerTask to cache ruby function. Need help"
re-edit to make the question more clear.
# Goal: implementing something like this: asynchronous-http-cache-validations

https://www.igvita.com/2008/10/07/asynchronous-http-cache-validations/
# In irb

[code]
# in Sinatra

The function f simulates a query to the backend database. Some slow query takes more than 10 seconds, e.g, popular sales. I can't cache it forever because it changes.

Every user

[2014-06-07 17:18] billdueber opened #105 "README: Set up badges (and underlying systems) to use new github location"
Not the highest priority, obviously, but worth doing.

[2014-06-08 18:04] #105 closed, assigned to nobody

[2014-06-08 18:04] #50 closed, assigned to nobody

[2014-06-09 15:59] billdueber opened #106 "MRI thread pools don't shut down in an orderly fashion"
My reading of the docs leads me to believe that the proper way to end use of a thread pool is to call `#shutdown` followed by `#wait_for_termination(seconds)`.

The following gist demonstrates code that is not deterministic under MRI but works fine under JRuby (although in the case of the latter, I don't know if it's because things are working correctly or that JRuby has other delays that allow th

[2014-06-13 13:58] pitr-ch opened #110 "Migrating yard documentation to githb-pages"
Hi guys,

would you agree If I moved our documentation from http://rubydoc.info/ to github pages for this repository?

reasons:
- I hit an issue which I cannot get around. `{include:file:a/path}` is not working on rubydoc.info
- We would have more control over the generated documentation (add plugins, update template).

If you agree I'll create a script which will push the generated documentation

[2014-06-14 10:54] #110 closed, assigned to pitr-ch

[2014-06-15 15:36] #106 closed, assigned to jdantonio

[2014-06-19 22:50] #91 closed, assigned to nobody

[2014-06-21 11:11] #97 closed, assigned to nobody

[2014-06-21 11:53] #104 closed, assigned to nobody

[2014-06-23 13:40] jdantonio opened #117 "Intermittently Failing Tests"
I'm still trying to address all the intermittently failing tests. It's a [Sisyphean](http://en.wikipedia.org/wiki/Sysiphus) task. Please use this thread to link to any failing Travis test runs that you believe are due to buggy tests.

[2014-06-25 06:54] #81 closed, assigned to nobody

[2014-06-25 08:05] pitr-ch opened #119 "Remove 'leaps of faith' from our constructors"
As discussed in #102, assigning ivars in `#initialize` method does not guarantee their visibility. Following synchronization pattern should be used under JRuby.
[code]

[2014-06-25 08:45] pitr-ch opened #120 "Safe final immutable objects"
this is followup to #102 discussion.

In Java if you create an object where all its fields as declared as final than the visibility of those fields is guaranteed (assuming proper construction (which means that references to it do not escape during construction)).

I am looking for a way to properly construct an object in JRuby having similar guaranty assuming any ivar won't be changed after the co

[2014-06-25 18:54] rtyler opened #122 "Would a SynchronousThreadPool be possible to implement?"
For some of our integration tests it would be much simpler if I could set up our futures/etc to use a `SynchronousThreadPool` which would just execute the block synchronously in the current thread.

Would this be possible or is it just a dumb idea? If the latter, I'd love some pointers on how folks are writing integration tests with concurrent-ruby

[2014-06-26 08:09] pitr-ch opened #123 "Wiki outdated"
based on #122 discussion, cc @jdantonio

From my experience wiki is always troublesome to keep up to date :/ I think we could  move the documents from wiki to our repo and include them to our `yard` documentation.

[2014-06-26 12:50] #122 closed, assigned to nobody

[2014-06-26 13:12] chrisseaton opened #125 "Hang out in Gitter"
It might improve communication if we hung out in some IRC or chat room. What would people think about trying out Gitter? Charles Nutter and I are on there for a start.

https://gitter.im/ruby-concurrency

[2014-06-26 13:51] hexdigest opened #126 "JRuby warning"
Hi, I'm using concurrent-ruby 0.6.0 in JRuby environment and getting strange warning when program starts:

[code]

[2014-06-27 10:14] #125 closed, assigned to nobody

[2014-06-27 14:14] #126 closed, assigned to nobody

[2014-07-09 13:23] elia opened #134 "pool.wait_for_termination requires argument under jruby"
I'd really like to be able to wait indefinitely in jruby too

if it's not possible it should at least be clarified in the docs

https://github.com/ruby-concurrency/concurrent-ruby/wiki/Thread-Pools#examples

[2014-07-23 13:56] #123 closed, assigned to nobody

[2014-07-30 12:45] pitr-ch opened #139 "Consolidate IVar childen into one object"
IVar, Future, Promise, Probe have a lot in common. I think we could explore an way how to merge some or more into one class.

[2014-07-30 16:23] #134 closed, assigned to nobody

[2014-08-06 13:56] jdantonio opened #142 "1.0 Roadmap"
I'd like us to consider making our next release after 0.7 our 1.0 release. We've made significant gains over the spring and summer. We've deprecated a ton of my earlier experimental stuff, fixed many bugs, greatly improved the reliability of our test suite, merged ruby-atomic, created an automated build process for compiling platform-specific gems, and added an entirely new and feature-rich actor

[2014-08-07 20:46] elcuervo opened #144 "IO example"
I know there's some ides in #142 but I'd like to see some examples like `celluloid-io` but using `concurrent-ruby`. Anyone have some or should I just do some?

[2014-08-09 15:07] alexdowad opened #146 "Provide a read-write lock"
Just discovered this project; it looks like you guys have put together a very nice suite of utilities.

It looks like you don't have a read-write lock yet (one which allows multiple concurrent readers, but only one concurrent writing). A couple years ago, I needed one for a Ruby project and couldn't find anything good, so I developed my own implementation. Here it is: https://github.com/alexdowad/

[2014-08-10 12:35] pitr-ch opened #147 "Remote Actors"
Starting issue for discussion, cc @jdantonio @lucasallan.

I am thinking about following:
-   to have an actor which would represent a bridge to other process
  -   as you've mentioned, with plug-able transport layer (usual adapter pattern I guess)
-   `RemoteReference` implementation which would represent actors in different process, it would be created by bridge-actor and route the messages back

[2014-08-10 12:36] pitr-ch opened #148 "Actors un/become or state machine"

[2014-08-10 13:08] pitr-ch opened #149 "Remove configuration of global pools"
-   keep them lazy initialized
-   rename: task -> short-non-blocking, operation -> long-blocking
-   add more global executors like an immediate executor
-   remove configuration object, move global pools to `Concurrent` space
-   possibly improve parsing of :executor option
    -   to also handle agent two pools
    -   to understand :immediate too
    -   etc.
-   what to do with logging?

@chr

[2014-08-11 08:35] sempervictus opened #150 "Requiring concurrent in a gemspec results in superclass mismatch on RBX"
Using rubinius 2.2.10 (2.1.0 bf61ae2e 2014-06-27 JI), currently converting an NLP implementation to use futures and eventually become a dataflow. Works great in IRB, but requiring 'concurrent' in the code causes gem build to raise "Superclass mismatch: Concurrent::Atomic != Rubinius::AtomicReference." Likely some evil gremlin within Rubinius...

Having glanced over the class definition for Concurr

[2014-08-12 22:53] #98 closed, assigned to nobody

[2014-08-13 20:51] #150 closed, assigned to nobody

[2014-08-25 13:22] jacobat opened #155 "Documentation on Actors is misleading"
On http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Actor.html (as linked from https://github.com/ruby-concurrency/concurrent-ruby#features--documentation) the code samples use a `terminated` method on the actor which does not exist on 0.7.0.

The Wiki mentions (https://github.com/ruby-concurrency/concurrent-ruby/wiki#asynchronous-concurrency) which links to a different page in the doc

[2014-08-27 12:29] Asmod4n opened #157 "TimerTask timeout_interval does what execution_interval should be doing"
In the current 0.7.0 release timeout_interval behaves wrong.
A TimerTask also doesn't have a start or stop method.

When you setup a new task, it gets executed every timeout_interval instead of execution_interval.
The culprit seams to be https://github.com/ruby-concurrency/concurrent-ruby/blob/v0.7.0/lib/concurrent/timer_task.rb#L319

[2014-08-29 12:56] obrok opened #159 "Failures in logging have catastrophic consequences for Actors"
Running the following code in irb produces a `fatal: No live threads left. Deadlock?` on 2.1.2. On jruby the process just hangs indefinitely.

[code]

I also encountered this when the process was finishing and the logger used inside `Concurrent.configuration.logger` got closed before `concurrent-ruby` finished its cleanup, but I couldn't reproduce it in a code snippet.

[2014-09-01 09:59] #159 closed, assigned to pitr-ch

[2014-09-29 14:58] obrok opened #161 "SystemStackError with Actors and ImmediateExecutor"
I'm using the ImmediateExecutor for testing and run into an issue where in some scenarios the stack is exhausted. This is not so difficult to imagine - processing of one message by an actor pushes about 20 elements onto the stack so if actors trigger other actors and so on this will multiply rather quickly.

I think there might be at least two ways to address this:
1. Change the immediate executor

[2014-09-30 07:06] olbat opened #162 "Provide counting semaphores"
First of all thank you for you great work, Ruby definitely needs a reliable concurrency library such as yours ...

It looks like there is no implementation of [counting semaphores](http://en.wikipedia.org/wiki/Semaphore_%28programming%29) in your library.
It should be great to provide one since there is none in the Ruby core.

Some links that may be useful:
- [The POSIX implementation](http://linu

[2014-10-02 02:29] elspethsoup opened #163 "Concurrent::ThreadLocalVar leaks threads"
In commit 316ddddeb120f090f71eafe3ff09c12cbbf9759f, it appears as though we start storing values for ThreadLocalVars in a Hash with the threads as the key. This means the Hash will hold on to references to the threads and the values, so they will never get garbage collected.

If the intent of the original commit was to remove the use of symbols to look up the variable off of a ruby Thread local va

[2014-10-09 13:31] #161 closed, assigned to nobody

[2014-10-16 07:58] schmurfy opened #169 "Actors deprecation warning in 0.7.0"
I tried 0.7.0 yesterday and after some testing trying to figure out how things works now (wiki page about Actress seems rather inaccurate with current version) I got this:

[code]

Which does not makes any sense to me... I am using 0.7.0 and I got it from rubygems not even from github.

Edit: I remember Actress supposed to replace Actor but I can't figure out how to use them xD

[2014-10-16 08:05] schmurfy opened #170 "warning about mising C extension with 0.7.0"
I get that:

[code]

And when I look at the gem folder there is not c extension installed :(

[2014-10-17 00:09] mastfish opened #171 "Concurrent::RejectedExecutionError when trying to execute Future"
On ruby 2.1.3, with version 0.7.0, when I try to do "Concurrent::Future.execute", I get a Concurrent::RejectedExecutionError.

This doesn't happen on 0.7.0.rc1, but it does happen on 0.7.0.rc2.

[2014-10-20 07:15] #169 closed, assigned to nobody

[2014-10-20 12:45] obrok opened #172 "Possible to crash the root actor"
In some circumstances the root actor can fail. It seems there is nothing that can bring it back up, which makes it impossible to spawn new actors (`#spawn` returns `nil`). Maybe the root actor shouldn't be a real actor with regular failure semantics?

Example scenario when root fails is when using the `IntermediateExecutor` and mixing actors with promises - the executor mangles the `current_actor`

[2014-10-21 11:25] iNecas opened #173 "RubyThreadPoolExecutor leaks threads"
I've got a suspicion that garbage collection of threads in RubyThreadPoolExecutor does't work as expected, leaving orphaned threads still running, even when deleted from the pool.

It seems we just delete the worker from the pool https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/executor/ruby_thread_pool_executor.rb#L257, but we don't send :stop task to the worker, so

[2014-10-22 09:08] #173 closed, assigned to nobody

[2014-10-23 14:48] #172 closed, assigned to pitr-ch

[2014-10-25 05:00] asppsa opened #177 "undefined method `time' on nil:NilClass. (NoMethodError)"
Hi there,

I'm seeing error messages like the following while stress-testing a server I'm making that uses concurrent-ruby.

[code]

The issue appears in 0.7.0 as well as with a checkout of the latest code from git.    Under Rubinius I get error messages; under jruby things just seem to freeze, and I haven't tried MRI.  These errors (or lack of errors for jruby) seem to coincide with all actors in

[2014-10-29 20:22] #171 closed, assigned to nobody

[2014-10-30 07:26] #177 closed, assigned to nobody

[2014-11-04 19:54] hsm3 opened #181 ""Compiled extensions not installed" warning on Heroku, 0.7.0"
We have a fairly vanilla app deployed on Heroku, cedar stack, and just started using concurrent-ruby.  We are seeing logs like this:

[code]

There's nothing suspicious in the output from the actual deployment (meaning the git push to heroku).

Is this the correct behavior, or should the C versions be found and used?

[2014-11-05 14:37] obrok opened #182 "JavaThreadPoolExecutor have bounded queue for min_threads = 0"
In `JavaThreadPoolExecutor` there is this:

[code]

It has the surprising result that `Concurrent::ThreadPoolExecutor.new(max_threads: 4)` has a bounded queue while `Concurrent::ThreadPoolExecutor.new(max_threads: 4, min_threads: 1)` an unbounded one. What is the reason for this condition? Maybe there should be a separate option for this?

[2014-11-12 12:14] pitr-ch opened #183 "Remove dependency on 'ref' gem"
added in #164

[2014-11-15 09:16] SebastianEdwards opened #185 "Actor Pool cannot be asked"
When using `Concurrent::Actor::Utils::Pool` the value returned from an `ask` always seems to be a reference to the balancer rather than the return value of the `work` method. For example:

[code]

[2014-11-15 17:13] #163 closed, assigned to pitr-ch

[2014-11-15 17:30] jdantonio opened #186 "New Approach to C/Java Native Extensions"
Now that we've had C/Java native extensions in the latest release for a few months, they have proven to be as big of a pain as I expected. For the next major release I suggest that we move *all* C and Java native code into the [ruby-atomic](https://github.com/ruby-concurrency/atomic) gem, keep `concurrent-ruby` pure Ruby, have this gem detect the presence of `ruby-atomic` when installed, and use t

[2014-11-15 17:30] #170 closed, assigned to jdantonio

[2014-11-15 17:31] #181 closed, assigned to jdantonio

[2014-11-16 14:42] #185 closed, assigned to pitr-ch

[2014-11-19 01:33] #157 closed, assigned to nobody

[2014-11-22 20:22] jrochkind opened #190 "Set max_queue on a ThreadPool?"
First, thanks so much for this gem, it's exactly what I've been wanting.

I am porting some code from manual use of Java thread pools  -- Porting it to concurrent-ruby so it can run under MRI too, which does make sense in some cases for this code even with the GIL.  In this code, I manually set the equivalent of max_queue on my thread pools -- I figure the queue allows for evening out some varianc

[2014-11-23 03:29] #190 closed, assigned to jdantonio

[2014-11-23 19:00] jrochkind opened #192 "posting to a shutdown thread pool?"
If you post to a threadpool that is in `shutdown?` state, your work does not get executed and the call returns `false`.

What I would have expected instead, is following whatever is the pool's `overflow_policy` -- raise an exception for :abort, run in caller thread for :caller_runs, and only return without complaining (maybe returning `false`, sure) for `:discard`.

But is the present behavior wha

[2014-11-25 11:27] gmalkas opened #193 "TimerSet's priority queue has nil elements"
Hey,

it seems TimerSet's priority queue has some nil elements:

[code]

Here is the state of variables when the exception was raised:
[code]

This seems a bit strange to me, as reading through `TimerSet` code I do not see how a `nil` element could be pushed onto the queue.

Any idea?

Version information:
concurrent-ruby 0.7.0
jruby 1.7.16.1 on Java 8

Thanks!

[2014-11-26 17:44] #182 closed, assigned to jdantonio

[2014-12-08 16:02] #192 closed, assigned to jdantonio

[2014-12-11 03:39] #183 closed, assigned to nobody

[2014-12-11 03:44] #80 closed, assigned to jdantonio

[2014-12-13 14:41] jdantonio opened #209 "`ThreadLocalVar` test fails on Rbx"
Since merging the latest updates to `ThreadLocalVar` we have one test that always fails on Rbx:

[code]

[2014-12-28 11:24] #162 closed, assigned to nobody

[2014-12-28 15:30] #209 closed, assigned to pitr-ch

[2015-01-01 11:16] rkday opened #216 "TimerSet doesn't pop any timers until the first timer pops"
[code]

I'd expect this to print three timestamps, each 6 seconds apart. Instead, the six-second timer doesn't fire until after the twelve-second timer:

[code]

I'm pretty confident that I can see the issue (we never signal the condvar), so I'm preparing a patch now.

[2015-01-01 14:04] #216 closed

[2015-01-01 18:44] jdantonio opened #219 "ThreadLocalVar fails tests on MRI 2.2 and Rbx 2.4.1"
The test `Concurrent::ThreadLocalVar GC does not leave values behind when bind is not used` fails consistently on MRI 2.2 and Rbx 2.4.1. This test manually triggers garbage collection then counts objects that still remain. The tests may be failing due to inconsistencies in GC or a bug in the code. Further investigation is required.

* [Failing MRI build](https://travis-ci.org/ruby-concurrency/conc

[2015-01-01 20:06] pitr-ch commented on #219
I'll update #215 to master and try again.

[2015-01-08 16:14] cmbaron opened #220 "concurrent/atomics.rb does not require thread_local_var in 0.7.1"
Just updated to 0.7.1, got a NameError trying to use Concurrent::ThreadLocalVar
worked around by adding :require => ['concurrent', 'concurrent/atomic/thread_local_var'] in my Gemfile

[2015-01-08 16:25] jdantonio commented on #220
@cmbaron Thanks for the info. I apologize for the bug--that's a pretty serious oversight on our part. We're working on a 0.7.2 release so we'll make sure this gets fixed ASAP.

[2015-01-14 16:03] jdantonio opened #221 "0.7.2 and 0.8.0 Releases"
I'd like to lock down the remaining work and release dates for the 0.7.2 and 0.8.0 releases. @pitr-ch, @chrisseaton, and @headius are all speaking at [FOSDEM](https://fosdem.org/2015/) so I would like to have these latest versions released before the event. As a reminder, 0.7.2 and 0.8.0 will [have equivalent features but will handle compiled C extensions differently](https://github.com/ruby-concu

[2015-01-14 16:10] jdantonio opened #222 "Parallel Enumerable"
Suggested by @SebastianEdwards, who has begun working on a [spike](https://github.com/SebastianEdwards/concurrent-ruby/commit/91c35675d1e15060c01156c5c5e002aff91999e6) with me.

[2015-01-14 18:20] chrisseaton commented on #219
I understand why it fails on Rubinius now - Rubinius by design totally ignores requests for GC.

I think we just need to say that this is a bad test and remove it. It tests for something that the language does not guarantee to do - it's simply broken.

[2015-01-15 02:51] jdantonio commented on #220
Fixed in PR #215

[2015-01-15 02:51] #220 closed

[2015-01-15 02:52] jdantonio commented on #219
I've removed the test and merged #215. As much as I'd like to have a working test I just don't know that we can accurately test this.

[2015-01-15 02:52] #219 closed

[2015-01-15 02:54] jdantonio commented on #193
@obrok Have you been able test this fix?

[2015-01-15 09:42] obrok commented on #193
Not yet, sorry :( We're battling some stability problems, and I don't want to potentially add to them before they are resolved.

[2015-01-15 13:41] jdantonio commented on #193
@obrok No sweat. We'll keep it open for now.

[2015-01-15 18:20] jrochkind opened #223 "Futures, Promises, and shared state in local vars"
I wrote up this issue more fully in my blog, at https://bibwild.wordpress.com/2015/01/15/ruby-threads-gotcha-with-local-vars-and-shared-state/

But consider this little demo showing the issue:

[code]

That 'value' local var is the _same_ one as the outer scope, changes to it in the scope where the thread/future was created effect the thread too.

With stdlib Thread.new, you can get around this wi

[2015-01-15 19:30] jdantonio commented on #223
@jrochkind I read your blog post and to be perfectly honest, the behavior you demonstrate for `Concurrent::FixedThreadPool.new` surprises me. That's not intentional behavior. I'm going to do some more research to try and understand it better.

All of our high-level abstractions (such as `Concurrent::Future`) post work to an internal thread pool--a pool just like the one you manually create in your

[2015-01-15 19:40] chrisseaton commented on #223
I wouldn't say that anything here is unsafe. The Ruby semantics may not be what you'd expect, but when you understand that Ruby closures take a reference to the frame, not a copy, they do make sense and I think they're consistent.

If you've ever written code like this:

[code]

Then you already know that closures can mutate the original frame in Ruby. If threads did anything special to isolate fr

[2015-01-15 19:40] jrochkind commented on #223
I believe it the behavior is a result of how ruby works, and you'll have trouble making it any different. It's the reason stdlib `Thread.new` takes arguments.

I understand that closures are inherently unthreadsafe. So what you have to do is avoid shared state. The trick is passing input parameters into the destined-for-a-thread closure in a way that avoids shared state.  `Thread.new` gives you a

[2015-01-15 19:41] jrochkind commented on #223
@chrisseaton  Right, I agree.  The thing is that `Thread.new(variable) {|new_variable` gives you a way to capture your value separately from the original frame.  Concurrent::Future and Concurrent::Promise do not, but may need such?

[2015-01-15 19:42] chrisseaton commented on #223
Yeah I agree with that. It's a lot like the situation in JS where people think they've captured a loop variable in a closure when actually subsequent iterations are modifying what was captured.

[2015-01-15 19:59] jdantonio commented on #223
@jrochkind @chrisseaton It's not the closure's behavior that was surprising me, it's the variable change within the block. Ruby's variables are references and not thread-safe. When we pass an argument to a thread pool we're not doing anything special to it so it shouldn't be safe within the block. Upon further examination I see the issue isn't with what's happening *within* the block, it's that th

[2015-01-15 20:05] chrisseaton commented on #223
Ah so what you're saying is that the key problem is that passing the variable into the block isn't useful, because it provides the illusion of isolation (I think 'isolation' is much better term that 'safety' here), but that doesn't hold for mutable objects. And so you don't think passing variables into blocks to be run potentially on other threads is not a good idea.

The example with a local assi

[2015-01-15 20:10] jrochkind commented on #223
Right, that's exactly what's going on @jdantonio.  The thing is that you often need a way out of it -- you need a way to pass input, in a variable (rather than a literal string) to a `unit of work' (whether using raw Thread, ThreadPoolExecutor, Future, or anything else), while making the variable fixed, no longer tied to the variable in the stack frame.

I tried to explain this above and in my blo

[2015-01-15 20:10] jdantonio commented on #223
@chrisseaton Yes. When I first looked at the examples I only thought about the mutability of the objects within the block, I didn't fully think through the assignment statements and the scope of the different variables. Hence my initial confusion.

[2015-01-15 20:13] jrochkind commented on #223
And I think ThreadPoolExecutor supports the same pattern as stdlib Thread just because it allows you to pass arguments to `post` that get copied to block arguments in the task block. Just having this API:

     pool.post(value) {|some_value| .... }

Is what does it. It's possible the people implementing that API were just copying it from somewhere else without thinking of what it did -- or were ju

[2015-01-15 20:21] jdantonio commented on #223
@jrochkind "But we do not have access to what we did with Thread.new to make it safe." But that's the thing, passing a variable through `Thread.new` isn't actually "safe." The reference gets copied but it's still a reference to the same object, which is mutable. So, as @chrisseaton suggests, we should probably not use the word "safe" to describe this phenomenon.

One possible implementation could

[2015-01-15 20:28] jrochkind commented on #223
Assume the value is immutable. THEN it's safe.  If "safe" is the wrong word, that's fine, this stuff is super confusing to talk about, maybe I don't have the right unsafe terminology.

But the problem here is entirely separate from the mutability of the object.  Even if the object is immutable (say, you freeze it with ruby #freeze), is is STILL unsafe. It's not about mutability, it's about the var

[2015-01-15 20:30] chrisseaton commented on #223
Well this is kind of what the data flow pattern does. There if you have any data dependencies you're supposed to pass them through arguments. Of course there's no way to enforce that, and we have the same problem here.

If only Ruby could tell us if the proc we have been passed contains a reference to an enclosing lexical frame. Then we could issue a warning. Maybe Ruby should do that anyway for b

[2015-01-15 20:30] jrochkind commented on #223
(And yeah, Actor pattern avoids this problem entirely, where Future and Promise do not, it is true! I think anyway!)

[2015-01-15 20:36] jrochkind commented on #223
@chrisseaton  Okay, as a thought experiment, let's just pretend that magically, we could warn if your block included a reference to an enclosing lexical frame -- or even refuse to run the block if it did.

The problem then is, you have NO way to pass a parameter into a Future -- the only way to construct a future in terms of something you have in a variable (rather than a literal hard-coded into s

[2015-01-15 20:38] chrisseaton commented on #223
Yeah I follow that. We're encouraging bad practice because it's the only way to do it.

[2015-01-15 21:46] jdantonio commented on #223
Actor provides better guarantees than Future or Promise but at the cost of a lot more complexity.

@jrochkind I'm not opposed to extending the APIs of Future, Promise, etc. to allow arguments to be passed the way `Thread.new` allows, we just need to be careful how we document this. We need to make sure that users understand that this situation isolates the variable itself from the enclosing scope

[2015-01-15 21:53] jdantonio commented on #223
Alternatively, we could allow for a *single* argument to be passed and leave it to the user to pass a list when necessary:

[code]

[2015-01-15 21:56] jrochkind commented on #223
yep, I see the method signature problem. If backwards compatibility is important (or if reproducing the Thread.new method signature isn't desirable even if -- I'm not sure it is), I think your named `args` argument example is reasonable.

But I also think your second idea of supporting a single arg, or an explicit list in an array -- is also reasonable. (And can of course be done with backwards co

[2015-01-15 22:00] jrochkind commented on #223
Actually, the second one is probably asking for trouble with too much magic -- what if you think you're passing in a single value as a block arg, but your single value was a Hash, and now it gets interpreted as an options hash instead.

Probably best to go with the simpler `args: x` even though it's uglier. I don't know if `args` is the right name or `arguments` or `block_args` or `block_arguments

[2015-01-15 22:02] jrochkind commented on #223
Another option would be a *new* method with an entirely different signature, `execute_with_block_args` or something.  But maybe that's a future refinement if it looks needed.

[2015-01-16 02:03] brasten commented on #223
Some other options for discussion purposes; I don't necessarily think these are any better but they might prompt some additional ideas:

[code]

[2015-01-16 02:19] brasten commented on #223
Hmm; that second one doesn't appear to work the way I thought it would.

[2015-01-16 03:29] jdantonio commented on #223
@jrochkind Please take a look at PR #224. How does this API look? We can consider merging this into the upcoming 0.8.0 release (see #221).

[2015-01-16 05:09] jrochkind commented on #223
For the record, I'm realizing, through discussion on reddit, that this can actually get quite a bit more complicated than I thought too (or not really once you understand what's going on, which I am gradually coming to).

Note that this actually does not trigger the problem, contrary to my earlier post:

[code]

But this would:

[code]

It's got to do with what scope the variable in use is defined

[2015-01-16 08:55] pitr-ch commented on #219
@chrisseaton thanks for the info. Could you point me to a source. I would like to find out more.

[2015-01-16 09:41] chrisseaton commented on #219
Sorry! I had it the wrong way around! It's JRuby that actively ignores any request for GC. Rbx does try to honour it, but it doesn't guarantee to.

Rbx GC primitive: https://github.com/rubinius/rubinius/blob/master/vm/object_memory.cpp#L506-L574
JRuby's GC rationale: https://github.com/jruby/jruby/blob/master/core/src/main/java/org/jruby/RubyGC.java#L42-L52

[2015-01-16 14:11] jdantonio commented on #223
Concurrency is hard, there's no question about it! The dynamism we love so much in Ruby also makes concurrency much harder. One commenter on Reddit suggested moving to a different language (Elixir was the suggestion, but I have a [different opinion](http://www.jerrydantonio.com/elixir-as-viewed-by-an-erlanger/) on that), but that isn't always an option. Plus, programming in languages with immutabl

[2015-01-16 14:14] #155 closed

[2015-01-16 14:26] pitr-ch commented on #221
- [ ] @pitr-ch provide tests at least for MRI

[2015-01-16 14:45] pitr-ch opened #225 "Replace sleep based testing"
We can use `Event`s, `Queue`s, or `Atomic*` to coordinate the concurrent parts. As @rkday already did in #212.

[2015-01-16 14:46] pitr-ch opened #226 "Remove brutal thread killing in tests"

[2015-01-16 14:49] pitr-ch opened #227 "Document or improve global-pool's auto termination"
If `concurrent-ruby` is used in tests of other project, the thread pools are terminated before the tests are executed. Reason is the order of `at_exit` callbacks, termination runs before the test run is executed.

[2015-01-16 21:44] thedarkone commented on #223
@jrochkind actually this example you provided is alright on Ruby 1.9+ (or 2.0+ I don't remember it exactly).

[code]

On 1.8 `|i|` would overwrite the closure's `i`, but not on 1.9+.

You can play with this script:
[code]

PS: I find your usage of "bad shared state" is slightly confusing, the issue is more like "bad shared closures" or "bad shared params".

[2015-01-18 00:09] rkday commented on #227
This was part of my motivation for https://github.com/ruby-concurrency/concurrent-ruby/pull/199 - I hit exactly this with minitest/autorun, and it's much easier to spot if you get an exception by default.

It's easy to work around by setting `Concurrent.configuration.auto_terminate = false` in a minitest_helper.rb file.

[2015-01-24 18:55] pitr-ch commented on #219
@chrisseaton my C++ knowledge is not strong but it looks like rbx runs the GC unless:
- GC disabled
- or GC is already running
In other cases `GC.run true` should force the GC to run. That does not sound too bad, I'll revisit the tests later for rbx.

Looking at JRuby GC-forcing, I've found few hacks which none of them were good/reliable. Only sound thing I found is using `ForceGarbageCollection`

[2015-01-24 18:59] chrisseaton commented on #219
That's probably not portable to other JVMs though. There are some GCs that are not designed to do a blocking collection (for example C4) and I'm not sure if it's possible to force them to do one.

I'll still say that I think it's just a broken test.

[2015-01-25 08:03] jdantonio commented on #193
I'm closing this issue because we believe it to be fixed by #217 and other updates, all of which were released in 0.7.2. If we discover that it hadn't been fixed we will open a new issue.

[2015-01-25 08:03] #193 closed

[2015-01-25 08:06] jdantonio commented on #186
PR #205 addresses this. It is the basis for the 0.8.0 release.

[2015-01-25 08:06] #186 closed

[2015-01-25 08:06] #221 closed

[2015-01-25 15:06] jdantonio commented on #223
This update was merged in PR #224 and will be release very soon in the 0.8.0 release.

[2015-01-25 15:06] #223 closed

[2015-01-25 23:19] jdantonio opened #230 "Merging the `thread_safe` gem"
When this gem was first given to us the plan was to merge the code into `concurrent-ruby` and deprecate this gem. We chose to focus on `atomic` first and have now had two releases with the merged code. We're now discussing the final [deprecation of atomic](https://github.com/ruby-concurrency/atomic/pull/5). Now is a good time to turn our attention to `thread_safe`. Before we start the work there a

[2015-01-26 18:28] headius commented on #230
I have not followed how the concurrent-ruby gem has been broken into component pieces. If I understand right, there could be a concurrent-ruby-collections subgem that e.g. Rails could depend on, right?

Rest of the migration sounds right to me.

[2015-01-26 18:48] jdantonio commented on #230
@headius Not sub-gems, sub-components. The concurrent-ruby gem is *internally* subdivided into groups so that a user can choose to load only a subset of the code, similar to what Active Support does (I can choose to require just `active_support/core_ext` rather than the whole gem). But concurrent-ruby still exists as only one gem (only the C-native extensions are in a separate gem). So Rails would

[2015-01-26 18:54] headius commented on #230
Ok I see. It would be great if we could get Rails 5+ to start depending on concurrent-ruby right now, so they can kick the tires and have all the other goodies available. I'm not sure who to talk to about that.

I have no objections to the merge, but I want to hear from @thedarkone since he did a lot of work on thread_safe.

[2015-01-27 07:59] pitr-ch opened #232 "Document what "memory model" guarantees each Atomic method provides"

[2015-01-27 08:00] pitr-ch commented on #232
Follow up of https://github.com/ruby-concurrency/atomic/issues/2

[2015-01-27 08:01] pitr-ch commented on #232
It looks like the C code uses a full memory barrier, see https://github.com/ruby-concurrency/concurrent-ruby/blob/master/ext/concurrent/atomic_reference.c#L29-L38

[2015-01-27 08:04] pitr-ch opened #233 "Atomic get_and_set faulty in C"
C version does not compare the read value which allows another update to sneak in.
Compare: https://github.com/ruby-concurrency/concurrent-ruby/blob/master/ext/concurrent/atomic_reference.c#L52-L56 and http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/6-b14/java/util/concurrent/atomic/AtomicReference.java#139

[2015-01-27 08:09] pitr-ch commented on #233
Or maybe not, since CRuby is not switching between Threads inside methods implemented in C.

[2015-01-27 14:06] jdantonio commented on #233
@pitr-ch I'll have to research it more. That code was copied from the original gem. My modifications were structural only.

[2015-01-27 14:15] pitr-ch commented on #233
@jdantonio Yeah I know, I'll leave it open for others to comment. The C code is correct if CRuby does not switch threads in C methods (which I think is true). There are 2 actions we could take:
- if I or anybody confirms the switching assumption (which may change in newer version though) we do not need to change anything.
- Do the loop and CAS as in Java to be sure no matter if Ruby does switches

[2015-01-27 14:52] jdantonio commented on #233
The longer I work on this gem, the more I appreciate languages with written specifications. Even if we can confirm that MRI Ruby does not switch threads in C methods, unless there is a written guarantee somewhere in the Ruby documentation my vote will be to assume the worst and and a loop.

[2015-01-28 17:57] thedarkone commented on #230
If this is "prints something out" deprecation message, then care must be taken that this is a never bundler-installable on an any Rails version (Rails uses `~> 0.1` for 4.0 <-> 4.1 and `~> 0.3, >= 0.3.4` for 4.2+), so this would have to be a `1.0` release.

They should be:
  1. any "interesting/dangerous" code (insertion/deletion/resizing etc) of `Array`/`Hash` is pure C,
  2. GVL is always held w

[2015-01-28 18:02] dsisnero commented on #233
Is the c supposed to be used from rubinius. If so, they use real threads

Sent from my iPad

[2015-01-29 00:15] headius commented on #230
I didn't know about the C ext limitation. That does indeed complicate
things, because concurrent - ruby now includes atomic, which uses C to do
atomicity on MRI.

[2015-01-29 01:27] jdantonio commented on #230
* `concurrent-ruby` is pure-Ruby. The C extensions are isolated in the `concurrent-ruby-ext` gem which is entirely optional (as of the 0.8.0 release).
* `concurrent-ruby` does include a couple of ["global" objects](https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/configuration.rb) (thread pools. timer sets, etc.) but they are all lazy loaded. We wrap then in our [Dela

[2015-01-29 01:34] jdantonio commented on #233
@dsisnero The C extensions are not intended to be used under Rubinius. Everything in `concurrent-ruby` has a pure-Ruby implementation and the C extensions are optional. They will only load under MRI. @brixen has been a great supporter of our work and has indicated that the Rubinius community prefers pure-Ruby implementations.

[2015-01-29 02:35] headius commented on #230
@jdantonio Thanks for clarifying...now I think I understand the splitting of the gem. Full speed ahead!

[2015-01-29 02:45] brixen commented on #233
Rubinius does prefer to expose the necessary facilities to make concurrency models possible in Ruby code. If there is something specific that you need, please let us know. I've been working through [this PhD thesis](http://stefan-marr.de/2013/01/supporting-concurrency-abstractions-in-high-level-language-virtual-machines/) in the interest of improving how Rubinius supports concurrency in Ruby and o

[2015-01-29 08:52] pitr-ch commented on #233
@brixen thanks. In this case it's fine, we just delegate to `Rubinius::AtomicReference` :) But it would be useful to have some wiki page dedicated to Rubinius concurrency like JRuby has [here](https://github.com/jruby/jruby/wiki/Concurrency-in-jruby). I've found only http://rubini.us/doc/en/systems/concurrency/.

[2015-01-30 20:26] brixen commented on #233
@pitr-ch we will work on documenting everything more thoroughly. Very early sneak preview of upcoming work: https://github.com/rubinius/rubinius-book :)

[2015-01-31 09:51] pitr-ch commented on #233
@brixen Thanks! Stared and watched, looking forward to the concurrency chapter :) The cover is really nice ;)

[2015-02-02 21:05] rogeriochaves opened #234 "Channel documentation"
I don't know if channels are ready yet, but there is [no documentation](http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Channel.html)

[2015-02-03 02:08] jdantonio commented on #234
@rogeriochaves I believe that channels are ready, but I'll defer to @mighe on that. He implemented that feature. We definitely need documentation for that set of abstractions. To be perfectly honest, I don't even know how they work! :blush:

[2015-02-03 07:50] mighe commented on #234
I'll add some documentation in the next days.
Channels are implemented "taking inspiration" from [Go channels](https://golang.org/doc/effective_go.html#channels): they are more o less synchronized queue to pass data between threads. The interesting feature is that they are *selectable*, following the same pattern used by non-blocking IO.

[2015-02-03 12:21] rogeriochaves commented on #234
Thank you! I'm very interested to discover how it works

[2015-02-04 16:23] obrok commented on #193
@jdantonio I restored the functionality where we encountered this problem and it seems it no longer happens.

[2015-02-04 16:26] jdantonio commented on #193
@obrok Awesome! Thank you!

[2015-02-13 10:41] pitr-ch opened #241 "Synchronization layer"
Hello,

I would like to build a common synchronization layer in `concurrent-ruby` having following API:
[code]
Which would have different implementation based on Ruby interpreter.

I kindly ask @brixen @headius @hone @ko1 @YorickPeterse @zzak to help with finding the best options for the different implementations. This PR is intended to serve to discus the options and issues, I'll open PR with imp

[2015-02-13 10:42] pitr-ch commented on #241
`lock`, `unlock`, `try_lock` are not really needed for `concurrent-ruby` so far, we will be fine with `synchronize` so they can be omitted if it turns out to be a bad idea to use `sun.misc.Unsafe` for its implementation on JRuby.

[2015-02-13 10:47] pitr-ch opened #242 "Migrate form using mutex to synchronization layer"
see #241

[2015-02-13 10:48] pitr-ch commented on #119
will be addressed in #242

[2015-02-13 10:48] #119 closed

[2015-02-13 12:37] YorickPeterse commented on #241
Rubinius currently provides the following methods for this:

* `Rubinius.lock`
* `Rubinius.try_lock`
* `Rubinius.locked?`
* `Rubinius.unlock`
* `Rubinius.lock_timed` (can be used to time out after waiting for a lock to release)
* `Rubinius.memory_barrier`
* `Rubinius.synchronize`
* `Rubinius.uninterrupted_lock` (currently only used by `Thread#__run__` here: https://github.com/rubinius/rubinius/blo

[2015-02-13 14:41] pitr-ch commented on #241
@chrisseaton gave me a good question on concurrent-ruby chat: "What is the motivation?" Sorry for omitting in the first place, let me fix that.

There are essentially 2 reasons for this: First is performance, allowing the best option to be used on any given Ruby implementation.

Second is following code which is not guaranteed to be safe on JRuby and Rubinius, AFAIK.

[code]

There are no locks ar

[2015-02-13 14:46] jdantonio commented on #241
The code example @pitr-ch shows, with a mutex being created in the constructor, is something we do *all the time* in this gem. I'll be honest that these low-level implementation details aren't my forte. My position is that if the aforementioned code sample cannot provide guaranteed behavior across the three major interpreters, then we should do something about it. The common synchronization layer

[2015-02-13 14:57] YorickPeterse commented on #241
I'm fairly sure that the above snippet is thread-safe at least on Rubinius as creating of instance variables is not deferred to the background (or otherwise done in a non blocking manner). Also, since the variable is set up in the `initialize` method it should be fully set up before any thread can even use it.

The following case however could be problematic depending on the implementation:

[code

[2015-02-13 14:59] chrisseaton commented on #241
@YorickPeterse what you are saying makes sense with sequential consistency, but unless there is some kind of synchronisation or memory barrier, what makes you think that the write to `@mutex` will always be observed before the write to whatever variable or other location stores the object that contains the mutex?

[2015-02-13 15:08] pitr-ch commented on #241
@YorickPeterse Thanks for your response!

I agree with you that it's better to use the API and I am suggesting the same for `lock`, `unlock`, `try_lock` and `synchronize`. But I could not find any methods on `Rubinius` which would directly support `wait`, `signal`, `broadcast`. `ConditionVariable` implementation on Rubinius uses `Rubinius::Channel`.

I like the variable name :) yeah it's not a per

[2015-02-13 16:05] pitr-ch opened #244 "`unlock`s outside of ensure block"
there is several `unlock` calls outside of ensure blocks in this file, see https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/atomic/copy_on_notify_observer_set.rb#L46

[2015-02-13 17:05] pitr-ch opened #245 "`Condition` is using `Time.now`"
see https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/atomic/condition.rb#L42

It may cause performance issue and I am also not entirely sure if it is save to be used here.
We rely on this class a lot, we will have to find other way or give up the timeout detection.

[2015-02-13 17:11] jdantonio commented on #245
@pitr-ch What's the concern with `Time.now`?

[2015-02-13 17:31] jrochkind opened #246 "Consider calling it 1.0 sooner?"
I am already using concurrent-ruby in production apps myself, which I feel comfortable doing based on observed/tested robustness of the code; sufficient features for what I need; observed attention to backwards compat concerns already in your development; and your encouragement that it is indeed suitable for production use already.

I understand that you're waiting on more features for a 1.0 relea

[2015-02-13 17:59] pitr-ch commented on #245
Hm it turns out Time.now is actually much faster than I've expected. It was around 1.8601 µs  (microseconds), so about 10times slower than a method call (on MRI). The performance impact is not that big as I thought, still this should be as fast as possible so if we can we should consider removing it or using just `ConditionVariable` if the time-out detection is not needed.

Nevertheless there is a

[2015-02-13 20:43] brixen commented on #241
@pitr-ch Rubinius does not use any memory barrier for instance variables so they do not have volatile (Java definition) semantics.

We would not want to see ruby-concurrency injecting anything into objects on Rubinius. I can add the `wait`, `signal`, `broadcast` API that you listed as it's quite consistent with the existing API we have with eg `Rubinius.lock(object)`, etc.

[2015-02-13 21:51] pitr-ch commented on #241
I agree injecting is not a good solution. Thanks @brixen for the offer to extend the Rubinius API! That will be great!

[2015-02-15 13:54] jdantonio commented on #246
Thank you, @jrochkind, for the suggestion. I think you make a very good point. Our 1.0 roadmap has been very loose but it's time we get more specific. None of the in-progress features are essential. They are mostly additive. For me, the three big things that are essential for a 1.0 release are:

* Verify that the new setup for C extensions introduced in 0.8.0 is working for the community and they

[2015-02-16 11:26] iNecas opened #248 "Concurrent::RejectedExecutionError when running with minitest/autorun via JRuby"
I've been hitting Concurrent::RejectedExecutionError when running my test-stuite. It was ok with MRI, but switching to JRuby was the game-changer. It turns out there seems to be an at_exit trap that shuts down the Java thread pool. I've first tried to fix that using the same approach as in this test suite, reinitializing the Concurrent.configuration. However, there still was an issue with `@root`

[2015-02-16 13:20] jdantonio commented on #248
@iNecas We definitely need to figure out a better way to handle shutting down the Java thread pools.

The reason for the `at_exit` hook is that Java's thread pools will prevent the JVM from shutting down if the thread pool is not explicitly shut down. Under JRuby our thread pools are simple wrappers around the thread pools from `java.util.concurrent` and it's the underlying thread pool that causes

[2015-02-17 01:37] asppsa commented on #144
I've created a simple gem that does IO using the Actors framework [here][io_actors].  Included in the "examples" folder is an example that does "ping pong" over a socket pair.  This isn't really "battle tested" yet -- any feedback on the approach taken is appreciated.

[io_actors]: https://github.com/asppsa/io_actors

[2015-02-21 09:44] pitr-ch commented on #248
It's also related to #227.

Thanks @iNecas for filling. (I know you did not have too since you've already told me over coffee.)

Thanks @jdantonio for the info, I did not know about https://github.com/ruby-concurrency/concurrent-ruby/search?q=set_shutdown_hook&type=Code&utf8=%E2%9C%93

I think the right approach could be: not installing any `at_exit` hooks by default to avoid any hacky re-initiali

[2015-02-21 09:44] pitr-ch commented on #227
the solution is partly also discussed in #248

[2015-02-21 09:53] pitr-ch commented on #144
@asppsa that's great! I did not have time look yet though, I'll do so when I' am back from vacation in a week. Would you consider working with us to create utils for IO cooperation in `concurrent-ruby` gem itself? I would very much like to have some support in `concurrent-ruby` directly.

[2015-02-22 19:35] iNecas commented on #248
Nice catch with the `set_shutdown_hook`. I first thought that was something Java scpecific (as it wasn't happening on MRI). Definitely +1 to not do so automatically, especially not having different approaches in jruby vs. others.

Not having there the at_exit termination would definitely fix my testing issues

[2015-02-22 23:01] jdantonio commented on #248
@pitr-ch @iNecas I believe that the `at_exit` hook should be created by default. To not do so will lead to a very bad experience for many users. The `java.util.concurrent` thread pools must be manually shut down within the application or the process will simply hang on exit, become completely unresponsive, and need manually killed by a user. Since we silently create the global thread pools without

[2015-02-22 23:20] jdantonio commented on #144
@asppsa +1 to what @pitr-ch said. I've take a quick look at your gem and it looks great. We've had a number of requests for better IO-based operations and I'd love to add something of that nature. If you would be interested in possibly implementing some of your work directly in `concurrent-ruby` we'd love to talk more.

[2015-02-23 00:01] asppsa commented on #144
Hi guys,

Firstly, I'm very flattered.  In principle I'd be all for getting this
into concurrent-ruby!  I extracted this code out of a closed source
project I am working on with the hope that others could help to improve
the quality of the implementation.  Making it part of your project would
definitely help to advance that goal from what I can see!

The main issue I can see with it at the moment

[2015-02-23 18:42] jrochkind commented on #248
Under MRI, if you exit with running thread pools with current work in progress-- I think maybe it will actually kill threads and abandon work?

In general, I think dealing with thread pools you created at program termination, is something you're going to have to do yourself, just like you do in Java. You have to decide whether you want to wait on them, or shut them down messily, or what.

But I un

[2015-02-23 19:42] jdantonio commented on #248
@jrochkind Yes, under MRI when you exit the program the runtime will kill all the threads, regardless of what they are doing. You'll lose those tasks as well as any tasks on the queue that have not been started yet. And therein lies the problem. Under JRuby the thread pools will prevent the process from exiting unless they get properly shut down. The only way we can get that behavior on MRI would

[2015-02-23 20:49] iNecas commented on #248
I'm ok with both doing something at_exit to the default thread pools, or not, as far as it's consistent on all the implementations, ideally configurable. The problem for me was just, that it was working without issues on MRI, while I saw some strange errors on JRuby. From the adoption point of view, having the default shutdown makes sense.

[2015-02-23 23:13] jrochkind commented on #248
Hmm, I see, yeah, thanks @jdantonio.  That does make me understand why the originaloriginal solution of an at_exit hook everywhere makes sense... but then the question is _why_ it was causing a problem as reported in this issue. Does anyone have a handle on that?

[2015-02-23 23:19] rkday commented on #248
@jrochkind - I think it's causing a problem because minitest/autorun does its auto-running magic through another at_exit hook, and the two hooks conflict.

[2015-02-23 23:27] jrochkind commented on #248
Aha, right.

A workaround might be messing with when minitest vs concurrent-ruby gets loaded, to try to get concurrent-ruby's `at_exit` to run last.  But I realize that's not very satisfactory, I'm really just brainstorming here.

But I wonder if the current behavior is really mostly right, and we just need a special way to disable/change it in the special circumstances where it is not, like minit

[2015-02-23 23:31] jrochkind commented on #248
Wait, every single Executor adds it's _own_ `at_exit` hook when it's created? That's what it looks like looking at the code.

It might make things more manageable (and performant?) if they added themselves to a queue or something, and there was a single global `at_exit` hook that killed everything in the queue. That'd make it easier to "turn off", and/or call yourself at program termination, "Okay

[2015-02-24 07:53] iNecas commented on #248
Just to make the discussion complete, we already do have such as option to enable disable that: https://github.com/ruby-concurrency/concurrent-ruby/blob/f104631243098a7e4a06b1b05181ae19c429679b/lib/concurrent/configuration.rb#L165 it only is not used in the Java thread pool

[2015-02-24 13:44] jrochkind commented on #248
Thanks @iNecas that method, [an at_exit set at class load in configuration.rb](https://github.com/ruby-concurrency/concurrent-ruby/blob/f104631243098a7e4a06b1b05181ae19c429679b/lib/concurrent/configuration.rb#L165) --  which can be turned on or off with configuration -- seems to operate only on the global threadpools, and seems to call `shutdown` but *not* `wait_for_termination`. If I understand r

[2015-02-24 14:01] jrochkind commented on #248
For comparison, it looks to me like celluloid also [installs an at_exit handler](https://github.com/celluloid/celluloid/search?utf8=%E2%9C%93&q=at_exit), but provides a file that you can [require 'celluloid/test'](https://github.com/celluloid/celluloid/blob/c31d1e9277db888f472bc95ff1cf4ae516f409e0/lib/celluloid/test.rb) which will disable the at_exit handler -- it actually simply sets `$CELLULOID_

[2015-02-24 14:09] jdantonio commented on #248
Thank you everyone for your thoughts and research. I think we have an understanding of the situation and enough information to craft a solution. As soon as I have an opportunity I will post a lengthy summary/explanation of the problem, the history of our executors that lead to the current (somewhat inconsistent) implementation, and my thoughts on how we should proceed. I just got to work so it wil

[2015-02-24 18:08] jdantonio commented on #248
## Background

The original thread pool implementations were very simple and were written in pure-Ruby (no JRuby wrappers around java.util.concurrent). There were four thread pools: `FixedThreadPool`, `CachedThreadPool`, `NullThreadPool` (now called `PerThreadExecutor`), and `EventMachineDeferProxy` (long-since deprecated and removed). The *minimum* API for thread pools at that time was a `#post`

[2015-02-24 19:27] jrochkind commented on #248
I like it.

But would you consider registering each thread pool meant for auto-shutdown in a (thread-safe) collection, with a single `at_exit` handler that shuts down all such registered pools?

You say you hope to prevent a global registry....  but you essentially have a global registry now, the global registry is just the ruby interpreter's list of `at_exit` hooks. Which is not a very handy "glo

[2015-02-24 19:32] jrochkind commented on #248
And is it possible to be more parsimonious, and not have entirely separate logic path for the global threadpools?   Rather than:

Why can't the global thread pools be handled the same as all other thread pools -- if thread pools may or may not be autoshutdown?, then of course the global thread pools would be, but why do they need a separate path to treat them special?

Let's say I realize I should

[2015-02-24 21:10] jdantonio commented on #245
On MRI this is being addressed in PR #253 by using Ruby's `Process::CLOCK_MONOTONIC` (see [here](http://ruby-doc.org//core-2.2.0/Process.html#method-c-clock_gettime)) which I didn't know existed. So I did some Googling to see if we could do something similar in Java and we can: `System.nanoTime()` (see [here](http://docs.oracle.com/javase/1.5.0/docs/api/java/lang/System.html#nanoTime())). Once we

[2015-02-24 21:27] tenderlove commented on #245
@jdantonio I *think* JRuby supports this monotonic API.  @headius is that true?

[2015-02-24 21:50] jdantonio commented on #245
Confirmed that Rbx does *not* have this feature. https://twitter.com/rubinius/status/570336877250678786

[2015-02-24 23:37] headius commented on #245
JRuby should support the monotonic clock already (based on nanoTime, unsurprisingly).

[2015-02-25 01:26] jdantonio commented on #245
@headius Which versions of JRuby? It seems to me that it only supports this API in `jruby-head` but not the 1.7.x branch? Can you confirm? If so, we can easily use `System.nanoTime()` directly on versions of JRuby without `Process.clock_gettime`.

[2015-02-25 02:55] jdantonio commented on #248
May main concerns with a global registry for thread pools are bloat and complexity.

One of the strengths of this gem is that we have very loose coupling between most components. A user can create a single thread pool and that's what they get--a single thread pool. You don't get a bunch of hidden scaffolding created to support it. And this is the case for most of the gem. (The main exception being

[2015-02-25 13:38] headius commented on #245
Oh yes, sorry...my brain is already running on JRuby 9k :-D

Process::CLOCK_MONOTONIC is a Ruby 2.x feature, and JRuby 1.7 only implements 1.9.3. System.nanoTime should be pretty cheap, though.

[2015-02-25 15:15] jrochkind commented on #248
Okay, I see your objection to global registry, although I think there are pro's and con's both ways, your position is not unreasonable. :)

Is there a reason the global thread pools need their own separate `at_exit` handler though, can they just use the same mechanism for auto-shutdown as every other threadpool?   Is there a reason the global pools need to be handled specially?

(I think I saw in

[2015-02-25 15:20] jrochkind commented on #248
It also might be nice if you could configure an individual pool with it's at_exit shutdown behavior -- you might want a pool to do a `shutdown && wait_for_termination(some_timeout)` at exist, instead of `kill`.

I don't think this feature needs to or should be in the first release of a refactored at_exit handling. Just bring it up as potentially an example use case to mentally test against the arc

[2015-02-27 04:43] jdantonio commented on #245
Addressed in #253 and #254.

[2015-02-27 04:43] #245 closed

[2015-02-27 12:36] jdantonio opened #256 "Replace `Time.now` with new monotonic clock"
Monotonic clock support was added in PRs #253 and #254. There are numerous placers where we use `Time.now` in our code. We should replace as many of those as possible with monotonic clocks. The current `clock_time` implementation within `Condition` should be moved to the `Concurrent` namespace and made public. Each of the following classes should then be updated, if possible:

- ~~Agent (used for

[2015-03-01 05:59] jdantonio commented on #248
@iNecas @rkday Can you please provide me with example code that triggers this exception along with instructions on how to reproduce the error? I don't use minitest/autotest myself. I've been working on these (and other) updates to our global thread pools and I'd like to start exploring the minitest/autotest issue.

[2015-03-01 13:37] jdantonio opened #257 "Final 1.0 Roadmap"
It's been suggested (#246) that we're ready for a 1.0 release. People are using this gem in production and the Rails team is considering making `concurrent-ruby` a dependency of Rails (#251). I believe we've reached a level of maturity, stability, and performance that warrants a 1.0 release. Our community deserves it. So with that in mind I would like to set a final 1.0 roadmap. Because of the maj

[2015-03-01 13:37] jdantonio commented on #246
Moved to #257

[2015-03-01 13:37] #246 closed

[2015-03-01 13:37] jdantonio commented on #142
Moved to #257

[2015-03-01 13:37] #142 closed

[2015-03-01 13:52] chrisseaton commented on #257
Have you thought about setting a timescale on this? Do we want 1.0 in a month? Three months? A year?

I think the most important part of 1.0 will be correctness. We need to set our reputation from our 1.0 release. I'm going to do what I've been saying I'll do for a while and set up some stress tests (and maybe some performance tests). I have some compute resources I can dedicate to this full time

[2015-03-01 14:07] rkday commented on #248
@jdantonio - this should reproduce it (RejectedExecutionError when running under MRI 2.1.5 or JRuby 1.7.16.1). Switching the order of the `require` statements (and thus the order of at_exit hooks) fixes it for me - so this is slightly different from @iNecas 's report where some code worked under MRI but not under JRuby.

[code]

[2015-03-01 14:33] jdantonio commented on #257
No specific timeline yet, but setting one is a good idea. My main goal here was to provide focus and clarity on what will be included. Having said that:

* The 0.9 release will be as soon as I can reasonably finish those items. I'd like to give our users plenty of time to remove any deprecated method calls. No more than a month or two.
* I'd like to have 1.0 release *before* @tenderlove releases a

[2015-03-01 18:03] pitr-ch commented on #256
I would treat this as a bug, it may cause ugly/hard-to-find bugs.

[2015-03-01 18:08] jdantonio commented on #256
Unless there is some way to make guarantees on systems without a monotonic clock, I don't see that we *can* consider it a bug. It's a limitation in Ruby that we can't do anything about. I plan to write extensive documentation explaining possible clock problems and attach that documentation to all abstractions within this library that use the clock, but I think that's the best we can do.

I'm open

[2015-03-01 18:29] pitr-ch commented on #256
We may need to do more C coding :/ borrowing ideas from https://github.com/copiousfreetime/hitimes AFAIK the gem uses monotonic clock.

[2015-03-01 18:41] jdantonio commented on #256
Writing C code to do this will only help a limited audience. It would provide better support for MRI 1.9.3 and 2.0, but only when the C extension gem is installed. It won't help Rubinius users. Support for Ruby 1.9.3 [has ended](https://www.ruby-lang.org/en/news/2015/02/23/support-for-ruby-1-9-3-has-ended/) so we're mostly talking about MRI 2.0 and Rubinius. As much as I would like to offer a perf

[2015-03-01 19:31] pitr-ch commented on #256
You are right I forgot that we need also a pure-Ruby solution. In that case we could do a slow but correct implementation in pure-Ruby. Pseudo implementation follows
[code]
and possibly warn users to use c extensions on old MRI version.

[2015-03-02 03:25] jdantonio commented on #248
@rkday I've verified this issue on jruby-1.7.18. The problem does *not* appear to exist on the `fix/thread-pool-shutdown` branch being used for PR #255. Please confirm if you have a chance.

The problem appears to have been related to an `Actor` bug which I fixed in commit 3f2df1c. Our configuration uses `LazyReference` objects (previously `Delay`, changed in 7fb5a0d). These prevent our global thr

[2015-03-02 03:36] jdantonio commented on #248
@iNecas If you have time can you please check the `fix/thread-pool-shutdown` branch and see if the change I mentioned above fixes your issue?

[2015-03-03 03:31] jdantonio commented on #256
Thanks for the suggestion!

[2015-03-03 15:33] jdantonio commented on #256
@pitr-ch I think that for now I'm going to hold off on created a C implementation. I've implemented a pure-Ruby version based on your suggestion and run some timing tests. The Ruby version is *significantly* slower, as would be expected. But the number of users that would benefit from a C implementation is fairly small and will continue to get smaller as more MRI users upgrade. The C implementatio

[2015-03-04 02:59] #256 closed

[2015-03-04 02:59] jdantonio commented on #256
Fixed in PR #258

[2015-03-04 20:39] pitr-ch opened #260 "Reconsider Condition usage at some places"
There is lot of abstractions which are using `Condition` without using the added feature (ability to check if it timed out) which may be speeded up by using original `ConditionVariable`. It some cases the need for `Condition` could be eliminated by manually rechecking if the condition holds after a thread was signaled.

[2015-03-04 20:41] pitr-ch opened #261 "Namespaces cleanups"
go through whole gem and make sure name-spacing is fine everywhere. It will be hard to correct after 1.0 release. One thing comes in mind the name-spacing around atomic reference (result of the gem merge) is little inconsistent, there may be more. Check `Concurrent.methods` for pollution. Hide constants which are not part of public API.

[2015-03-04 21:02] pitr-ch commented on #257
@tenderlove when is the next Rails release which would possibly use `concurrent-ruby` ?

I agree I would also aim for correctness and quality. To achieve that I am toying with and idea to split concurrent-ruby into two parts. Rock solid core which we release as 1.0, moving rest (like actors since it still evolves, and agents since they are incomplete, parts still lacking documentation if left, etc

[2015-03-04 21:18] tenderlove commented on #257
Unknown.  I haven't broached the subject with the rest of the team yet, but we need thread safe hashes (for caches), latch classes (for doing streaming stuff), and a LIFO queue would be really nice too (though I haven't checked if there is one in here).  I think it will be an easy sell.  I don't think any of us are interested in maintaining that stuff.

Anyway, the soonest would be with Rails 5 wh

[2015-03-05 04:15] jdantonio commented on #257
@pitr-ch Thoughts, in no particular order:

* I'm comfortable creating a second gem. That is an idea I proposed in Issue #83 back in May. It's just a question of what would go into the second gem.
* If you don't feel that Actor is ready for 1.0 then moving that to a second gem makes sense.
* I think Agent can stay in core. It hasn't changed in a very long time. We can still add featured post-1.0.

[2015-03-05 12:04] iNecas commented on #248
I confirm that my issue is not reproduced on the new branch

[2015-03-05 12:07] jdantonio commented on #248
@iNecas :-) Thank you!

[2015-03-05 13:05] iNecas commented on #248
THANK YOU! The cr team just rocks

On 5 March 2015 at 13:07, jdantonio <notifications@github.com> wrote:

[2015-03-06 14:21] jdantonio commented on #257
@pitr-ch How about `concurrent-ruby-edge` for the new gem? The word "incubator" is grammatically correct but for some reason (which I cannot fully explain) feels not right. The word "edge" used used in similar software situations, such as Edge Rails. The connotation of "cutting edge" feels better. I don't feel strongly about this, it's just a thought.

I've also begun thinking about moving `Channe

[2015-03-06 17:55] mighe commented on #257
@jdantonio  I agree to move Channel to the edge gem.
I'm too busy at the moment to document it (I'm developing a system using our gem and it will be deployed next month, I'll probably come back after it), but the real problem is that, AFAIK, nobody is using Channel at the moment, so it is still not battle tested.
Not only: Channel can be implemented in an external gem that uses concurrent-ruby, th

[2015-03-07 16:57] jdantonio commented on #248
Addressed in PR #255.

[2015-03-07 16:57] #248 closed

[2015-03-07 16:57] jdantonio commented on #227
Addressed in PR #255.

[2015-03-07 16:57] #227 closed

[2015-03-07 16:57] jdantonio commented on #149
Addressed in PR #255.

[2015-03-07 16:57] #149 closed

[2015-03-07 18:58] jdantonio opened #263 "Intermittently Failing Tests"
A running list of tests that occasionally fail and need to be fixed:

- [x] [Concurrent::Exchanger exchange without timeout can be reused](https://travis-ci.org/ruby-concurrency/concurrent-ruby/jobs/53489448)
- [x] [Concurrent::ScheduledTask instance #execute does nothing unless the state is :unscheduled](https://travis-ci.org/ruby-concurrency/concurrent-ruby/jobs/53586321)
- [x] [dataflow passes

[2015-03-07 18:59] jdantonio commented on #117
Moved to #263

[2015-03-07 18:59] #117 closed

[2015-03-08 23:10] jdantonio commented on #257
@pitr-ch I've pushed back the target release dates. Again, these aren't written in stone. We'll push back as often as necessary to make sure we are confident in the code. The current release dates correspond to this summer's Marvel superhero movie release dates. :-)

[2015-03-11 20:10] pitr-ch commented on #256
ACK sounds good!

[2015-03-13 08:07] pitr-ch commented on #257
I am not native English so I may get it wrong but edge implies for me 'same stuff but newer and maybe unstable' where incubator implies 'making/trying out new stuff for core' the second seems more accurate to me.

Thanks for pushing it back.

About integration of #139 and #176. We already felt the pain of the scattered implementations with @inecas when porting [dynflow](https://github.com/dynflow/

[2015-03-19 12:19] aplatypus opened #265 "how do I install with Jars? "deprecated. use instead jars/installer""
Hi,

I came here from the thread_safe gem project, both projects are emitting the message:

*  "deprecated. use instead jars/installer"

There's nothing fancy going on, apart from me using JRuby at this point.  The install commands:

* jruby -S gem  install  thread_safe
* jruby -S gem install concurrent-ruby

Produce this as output:

     jruby -S gem  install  thread_safe
     deprecated. use ins

[2015-03-19 13:01] jdantonio commented on #265
@aplatypus I've never seen that message so I don't have an answer for you right now, but I'll look into it ASAP. To do so I'll need to reproduce the warning locally. Can you answer a few questions about your environment, please?

* What version of JRuby are you using?
* What JDK/JRE are you using, and which version?
* What operating system and version are you using?
* How did you install JRuby (rv

[2015-03-20 07:30] aplatypus commented on #265
@jdantonio ... Hi there.  I had a response from the JRuby project:

*  https://github.com/jruby/jruby/issues/2726#event-259338624

Apparently it is a deprecated message -- so people can ignore it on JRuby 9.0.0.

You can consider this question '*resolved*'.

[2015-03-20 07:30] #265 closed

[2015-03-20 13:31] jdantonio commented on #265
@aplatypus Awesome! I'm glad you were able to get the problem resolved. Since you are using our gems, please feel free to give us any suggestions or feedback. We love hearing from our growing community.

[2015-03-21 11:31] jdantonio commented on #139
I suggest we close this discussion and the associated PR #176 and possibly revisit in the future when we begin planning a 2.0 release.

These discussions have been a very interesting thought exercise, but they are all speculative. These changes would break many existing APIs, many of which have been in place since the earliest days of this gem (long before I invited additional maintainers). There

[2015-03-21 11:45] jdantonio commented on #139
I've been traveling and otherwise very busy lately so I hadn't seen [this comment](https://github.com/ruby-concurrency/concurrent-ruby/issues/257#issuecomment-78858991) from @pitr-ch when I made my [previous comment](https://github.com/ruby-concurrency/concurrent-ruby/issues/139#issuecomment-84319084). So I wasn't aware that some of these ideas came from work being done in another project. We shou

[2015-03-21 11:59] jdantonio commented on #257
I think the choice of the name for the edge/incubator/experimental gem should not be based on strict English-language semantics, but should be based on what will be most intuitive to most users. A quick search of Rubygems show that there are many gems with "edge" and "experimental" variants but none with "incubate" or "incubator" variants. Based on that trend I think `concurrent-ruby-edge` or `con

[2015-03-22 09:21] iNecas commented on #139
Yes, as @pitr-ch already mentioned, the lack of reasonable chaining (the dataflows would seem to workaround the issue, but the price of a thread needed to be allocated is too high) is quite painful for us. In the previous implementation, we had this https://github.com/Dynflow/dynflow/blob/master/lib/dynflow/future.rb#L85-L92, and it was quite nice to work with that API.

In the https://github.com/

[2015-03-22 09:26] iNecas commented on #257
Edge sounds more 'stable' to me than 'experimental'. The experimental feels like "it's not in core, because it's kind of unstable', while the 'edge' means to me something like "here is where we're going with this gem. The API is not ready yet, but you can start trying that in your production: just don't expect API not changing".  So +1 on the `concurrent-ruby-edge`.

[2015-03-22 12:20] jdantonio commented on #139
@iNecas Thanks for the explanation! It seems to me that we should be able to add a chaining feature without completely throwing out and rebuilding the core of the library. PR #176 feels too much like [nuking the entire site from orbit](https://www.youtube.com/watch?v=aCbfMkh940Q).

A couple of questions:

* Why does `Promise` not meet your need? It provides chaining, runs the entire tree/chain on

[2015-03-23 22:33] pitr-ch commented on #139
Thanks @iNecas for detailed explanation.

- Problem with promise is that it cannot be constructed by one thread and then later fulfilled externally by another arbitrary thread as `IVar` can.
- This suggestion is to remove the `Probe` implementation since it adds only one method `set_unless_assigned` (maybe a better name `try_set`) which is useful on `IVar` too. And it's not related.
- The unificat

[2015-03-23 22:50] pitr-ch commented on #257
Ok lets follow the convention agreeing with @iNecas, `edge` sounds better to me. Thanks @jdantonio for looking it up.

[2015-03-24 12:47] iNecas commented on #139
@jdantonio I've put together more documentation on Dynflow side that might help understanding our use-case for the IVar here as well http://dynflow.github.io/documentation/#inner-world-communication.

As @pitr-ch mentioned, the current promise has the limitation of not being able to set the value outside the block passed at the beginning. If the limitation was not there, we would probably be just

[2015-03-24 12:57] pitr-ch commented on #139
One more issue is in actors. I need to use `IVar` so I can set it but that removes the ability to chain other async events when the actor answers (since doing it with blocking is bad). Example: `actor.ask(:message).then { |result| process result }` which won't work since it's `IVar` not `Promise`.

[2015-03-24 14:58] pitr-ch commented on #139
Sorry one more issue came to mind: the current objects share interface for value retrieval but the fulfillment differs so they are not easily interchangeable. If we use `IVar` and `Promises` in Dynflow we will have to keep checking the types to be able to set the value.

[2015-03-25 22:51] jdantonio commented on #139
@iNecas Thank you for the link to the Dynflow documentation. I'll take a look at it.

@iNecas @pitr-ch I made a similar comment in #269, but have either of you experimented with having `Promise` extend `IVar` the way `Future` does? I haven't had a chance to work with the code, but I glanced at it the other day and it seemed like a possibility. If we updated `Promise` to extend `IVar` it might work

[2015-03-26 09:58] iNecas commented on #139
Yes, the IVar as the Promise parent is the way to go for me and makes sense.

[2015-04-22 13:13] pitr-ch commented on #261
Use similar documentation friendly pattern for the different implementations:
[code]

[2015-04-22 13:55] jdantonio commented on #261
The naming of `Atomic` was a [conversation in gitter](https://gitter.im/ruby-concurrency/concurrent-ruby?at=5535d43ffd52de687867e60d) earlier this week. My suggestion from that conversation:

[code]

[2015-04-22 15:04] pitr-ch commented on #261
:+1: for `AtomicReference`

[2015-04-22 23:24] #146 closed

[2015-04-23 00:09] jdantonio commented on #244
Fixed in PR #270

[2015-04-23 07:55] pitr-ch opened #278 "Migrate all remaining classes to Synchronization::Object"
Executors should be done asap.

[2015-04-24 10:41] #244 closed

[2015-04-24 10:42] #139 closed

[2015-04-24 10:55] jdantonio opened #279 "Move Exchanger and Lazy Register to Edge Gem"
After #274 is merged.

* The current `Exchanger` implementation, which uses `MVar` has a race condition that cannot be fixed with the current approach. It must be rebuilt from scratch without using `MVar`.
* `LazyRegister` has never been documented and has no tests.

[2015-04-24 11:21] jdantonio commented on #261
`AtomicReference` change was merged to master in PR #277.

[2015-04-24 22:45] ianks commented on #261
Nice. This was important because it will allow us to differentiate between different types of AtomicReferences (i.e. AtomicMarkableReference, etc.).

[2015-04-25 00:22] headius opened #280 "Performance improvements for Executor#post"
The `#post` method in Executor has a very large amount of overhead:

* Several closures, including one created *solely* to pass args through to the given block.
* Use of java_method on *every* call.
* Creation of `[Runnable.java_class]` array on every call.

The closures are especially heavy because they force us to run this method with a heap-based local variable scope, even though it's *only* us

[2015-04-25 00:31] jdantonio commented on #280
@headius Thank you very much for noticing this. I'm currently working on some updates to our executors. I'll take a look at your patch and if I have any questions I'll ask ASAP.

[2015-04-25 00:51] headius commented on #280
It would worth doing a pass over the rest of the codebase looking for
closures in hot methods. They're a perf hit on all impls compared to
methods, and you can often proc'ify a method and get the same iterator
pattern for free.

- Charlie (mobile)
On Apr 24, 2015 7:31 PM, "jdantonio" <notifications@github.com> wrote:

[2015-04-26 22:34] jdantonio commented on #257
I don't think that 4 May is a reasonable target for releasing 0.9. I've pushed it back to 15 May.

[2015-04-26 22:37] chrisseaton commented on #257
Hi everyone - I said I'd be doing things for this release but haven't - I have a full time project that I manage now plus I'm up against my PhD deadline so there is little spare time. Let me know if there is something that you particularly need me to do and I'll make space for it.

[2015-04-27 01:24] jdantonio commented on #278
I've spiked two different implementation of this, neither of which I am entirely happy with. Both feel like they would be completely refactored before a v2.0 release, but both could possibly work for the v1.0 release. I have performed no performance benchmarks.

* 62fe60cfc15e7da351c0a68805090e4576eee455 has the executors extend `Synchronization::Object` directly then inject themselves into the `E

[2015-04-27 01:27] jdantonio commented on #257
@chrisseaton No sweat. I appreciate how busy you are. I think @pitr-ch and I have a handle on this next release. What will be most valuable will be if you are able to help us stress test prior to the v1.0 release.

[2015-04-27 18:23] pitr-ch commented on #278
I was thinking about following class structure:
`AbstractExecutor` < `Synchronization::Object`
`JavaExecutor` < `AbstractExecutor`
`RubyExecutor` < `AbstractExecutor`
`RubyThreadPoolExecutor` < `RubyExecutor`
`JavaThreadPoolExecutor` < `JavaExecutor`
relying only on the `Synchronization::Object` methods not creating any Mutex instances.

I was planning to take a look at it but you were faster :)

[2015-04-28 02:39] jdantonio commented on #278
I should have some more time to work on this tomorrow night. I'll try it the way you suggested and see how it comes out.

[2015-04-28 11:30] pitr-ch commented on #278
@jdantonio few comments on the commit.

[2015-04-28 12:12] pitr-ch opened #282 "TVar transaction isolation possibly broken"
cc @chrisseaton
I've noticed that there is a typo in `tvar_spec` see
https://github.com/ruby-concurrency/concurrent-ruby/blob/master/spec/concurrent/tvar_spec.rb#L114. If fixed the test starts to fail. So far I did not look any deeper.

[2015-04-28 13:16] jdantonio commented on #278
See PR #283

[2015-04-28 13:38] jdantonio commented on #280
@headius Maybe I'm doing something wrong, but I get this error:

[code]

at

[code]

Thoughts?

[2015-04-28 14:11] headius commented on #280
Ohh sorry...I found that was an issue in 1.7 after I submitted. Add
.java_class to the end of Runnable.
On Apr 28, 2015 8:38 AM, "jdantonio" <notifications@github.com> wrote:

[2015-04-28 14:51] chrisseaton commented on #282
Fixed in bd345ad250e1419ed7c71043c65d18f1fcce8941. It includes a pretty significant change so I will make sure I implement a stress test for it.

[2015-04-28 17:01] pitr-ch commented on #279
I would also suggest to move Agents.

[2015-04-28 17:01] headius commented on #280
I fixed the gist, but I do want to point out that that particular part I only did to two of the executors, not to all of them. If there's a better way to decorate them all, that would be great...but until then this will need to be done for each place where Executors factory is used to create a new Executor.

[2015-04-29 10:28] jdantonio commented on #279
Agent is on of the oldest abstractions in this library. It preceded everything but Future and Promise. And Agent has no known bugs. I don't see how it is "experimental" or "cutting edge."

[2015-04-29 11:00] pitr-ch commented on #279
The reason is not bugs but rather that the implementation is incomplete, e.g. #70 which makes it hard to use. Also the integration with STM is missing.

[2015-04-29 11:19] chrisseaton commented on #279
Did we want to integrate agents with STM somehow?

[2015-04-29 11:36] jdantonio commented on #279
@pitr-ch I respectfully disagree that our Agent is an "incomplete" implementation. It is more limited in functionality than the Clojure abstraction which inspired it, but that doesn't make it incomplete or experimental. Everything in this library was *inspired* by something outside of Ruby, but that's not the same as 100% compatibility with the original source (something which has never been a goa

[2015-04-29 11:38] jdantonio commented on #279
@chrisseaton I believe that @pitr-ch is referring to the common synchronization layer (#284, #283, etc.) and not TVar. @pitr-ch Is that correct?

[2015-04-29 12:10] pitr-ch commented on #279
Having agents in the gem is great but I think they need some work to be able to go to 1.0, because of that I've suggested moving them to edge temporarily until it is done. There is ton of work to be done so I am trying to bring it down.

Sorry, I meant TVar, `agent.post`s are postponed in clojure to the end of successful transaction commit. It something like distributed transactions where you are

[2015-04-29 12:58] pitr-ch commented on #279
But we should also migrate Agent to the common synchronization layer you've mentioned.

[2015-05-03 14:23] jdantonio commented on #280
Fixed in #283

[2015-05-03 14:23] #280 closed

[2015-05-07 10:39] jdantonio commented on #260
Once #287 is merged the only remaining use of `Condition` will be in `MVar`. I'll take a look at that sometime before the 1.0 release.

[2015-05-07 11:23] jdantonio commented on #260
OK, I lied. I just updated `MVar` to use `ConditionVariable`. This Issue will be closed once we merge #287.

[2015-05-07 18:31] jdantonio commented on #278
Addressed in #287.

[2015-05-07 18:31] #278 closed

[2015-05-07 18:32] jdantonio commented on #260
Addressed in #287.

[2015-05-07 18:32] #260 closed

[2015-05-07 18:32] jdantonio commented on #241
Addressed in #287.

[2015-05-07 18:32] #241 closed

[2015-05-07 18:32] jdantonio commented on #242
Addressed in #287.

[2015-05-07 18:32] #242 closed

[2015-05-08 08:09] pitr-ch opened #292 "Synchronization::Object documentation and verification"
- [x] documentation
- [ ] contact implementors to start with verification
- verify:
  - [ ] CRuby 1.9
  - [ ] CRuby 2.0
  - [ ] CRuby 2.1
  - [ ] CRuby 2.2
  - [x] JRuby 1.7
  - [ ] JRuby 9
  - [ ] Rubinius (last version and ??)
  - [ ] Truffle?

[2015-05-08 08:10] pitr-ch commented on #241
Just to add more context for possible readers.

There was a `Concurrent::Synchronization::Object` created which provides methods `synchronize`, `wait`, `signal`, `broadcast` and other utilities to create volatile and final fields. `concurrent-ruby` classes then usually inherit from this class. `Concurrent::Synchronization::Object` has different implementations based on the particular behavior of a

[2015-05-08 10:31] jdantonio commented on #241
:+1:

[2015-05-08 17:55] jdantonio commented on #279
Addressed in #291.

[2015-05-08 17:55] #279 closed

[2015-05-13 23:12] jdantonio commented on #233
Fixed in #297

[2015-05-13 23:12] #233 closed

[2015-05-16 15:05] pitr-ch commented on #120
It's being resolved in the Synchronization Layer.

[2015-05-16 15:05] #120 closed

[2015-05-16 15:34] pitr-ch commented on #261
Current `Concurrent` namespace
[code]
I would like to suggest moving all implementation classes (`Mutex..`, `C...`, etc. ) out of the main space. It's implementation detail anyway. I am not sure how to go about it though. One option would be to move these to `Concurrent::Implementations` namespace. Thoughts?

[2015-05-16 17:23] jdantonio commented on #76
Being addressed in #299

[2015-05-17 08:13] schmurfy commented on #76
nice ! Any rough idea on when it might land into a release ?

[2015-05-17 10:53] jdantonio commented on #76
It will be in the next release, v0.9.0. I hope to finish the PR today.

[2015-05-18 02:58] jdantonio commented on #76
PR #299, which implements these features, is now ready to be merged. The PR grew in scope and now included significant refactoring to `TimerSet` and `ScheduledTask`. It also include small enhancements to `Future` and `Concurrent.timer`.

[2015-05-18 03:14] jdantonio commented on #261
I've been giving this a lot of thought and in principle I agree, and I think `Concurrent::Implementation`, `Concurrent::Internal`, or `Concurrent::Core` (or something similar) is fine. My only concern is that this release has gotten *really* big (over 250 commits). I'd like to get this release out the door and begin working on improving the test suite. Since these changes are internal, perhaps we

[2015-05-18 03:20] jdantonio opened #300 "Update README and CHANGELOG"
The upcoming v0.9.0 release is fairly significant. The README and CHANGELOG need updated.

[2015-05-19 01:39] #76 closed

[2015-05-19 01:39] jdantonio commented on #76
Merged in #299. Will be released in v0.9.0.

[2015-05-19 07:06] pitr-ch commented on #261
I think it would be better for 0.9, we can postpone it after `pre` thought. We should also re-consider our directory structure. Currently it's not corresponding with the namespaces which is agains usual convention and might be confusing.

[2015-05-19 13:47] jdantonio commented on #261
I appreciate that the directory structure is unconventional but we aren't changing it in 1.0. We also aren't creating submodules for most of the public classes. Almost everything that's part of the public API needs to be directly under the `Concurrent` namespace. Creating submodules will be unnecessarily confusing for the users.

The problem for us (and this is a good problem to have) is that we h

[2015-05-20 19:39] pitr-ch commented on #261
Yep I agree the public classes should stay in `Concurrent::*`. Hm the `Synchronized::Object` should probably move into `Concurrent` as well. I see you point and I think about it in similar way. I would like achieve some order based on clear rules which would fulfill the outlined requirements, but without exceptions. We are before 1.0 and I think now is the right time to align the structure. After

[2015-05-20 19:47] pitr-ch commented on #300
Let me know when you have a skeleton of the changes, then I could go through my commits and fill in my part if you'd like.

[2015-05-21 12:39] jdantonio commented on #261
I'm comfortable with most of this. It may shake out a little differently as we go through everything (we have a lot of stuff). There is nothing else that I want to work on for 0.9 so I'll work on this. That will give you time to finish up the things you are working on.

Something about `Concurrent::Object` doesn't "feel" right to me. It's more typing, but `Concurrent::SynchronizedObject` is more d

[2015-05-21 12:45] jdantonio commented on #300
I haven't started on this yet, but I'll push a branch as soon as I do. The changelog is up-to-date through Mar. 20. Since then it seems to be mostly internal refactoring, but there is still a lot. This could definitely benefit from both of us working on it.

[2015-05-21 13:30] pitr-ch commented on #261
yeah You are right :+1: for `Concurrent::SynchronizedObject`.

[2015-05-24 19:37] jdantonio commented on #226
Addressed in #296

[2015-05-25 19:05] pitr-ch commented on #282
@chrisseaton I've `got: 1, expected: 0` on https://github.com/ruby-concurrency/concurrent-ruby/blob/synchronization/spec/concurrent/tvar_spec.rb#L125-125 on `jruby-1.7.20`. Sorry I didn't have time to investigate further. It fails in about 35% of cases.

[2015-05-25 21:33] chrisseaton commented on #282
Fixed in 674065c9c367bc5061fe39c2dda505a2995bee17

[2015-05-25 21:33] #282 closed

[2015-05-26 00:16] jdantonio commented on #226
![screen shot 2015-05-25 at 8 14 54 pm](https://cloud.githubusercontent.com/assets/173910/7803334/de95505a-031a-11e5-82d7-d0b584082d8e.png)

[2015-05-26 00:16] jdantonio commented on #226
A thing of beauty...

[2015-05-26 00:16] #226 closed

[2015-05-26 07:17] pitr-ch commented on #226
Nice :)

[2015-05-27 02:16] jdantonio opened #311 "Fix build tests"
The scripts in the `build-tests` directory are based on the class hierarchies that existed before `Synchronization::Object` and no longer work. They need updated to reflect the new class hierarchies.

[2015-05-29 06:53] lionelperrin opened #312 "dataflow API"
Hello,

Thank you for this library. It really is filling a big gap in the standard ruby library. I don't want to report an issue but would rather discuss about two things:

* Dataflow API. The dataflow API is very convenient for the application I'm developping. I think that it helps keeping dependencies between tasks very clear. Nevertheless, I face an issue due to the exception management. I woul

[2015-05-29 11:21] chrisseaton commented on #312
Maybe we could have a variant of `Concurrent::dataflow`, `Concurrent::dataflow_futures` that gives you the futures instead of their values? Of course you could still just access `task_a` inside your block.

As you say reference clusters, sending a Ruby block across a network connection is problematic. It would probably need to be solved at the level of MRI (and JRuby, and Rubinius...). Also, even

[2015-05-30 00:58] ianks opened #313 "bundle install failing on JRuby"
Has anyone experienced this error when running `bundle install` inside of the dev repo? Things seem to work well on Travis (with Bundler being at version 1.7.12).

[code]

#### Specs
- Arch Linux
- Bundler 1.7.12
- jruby 1.7.19 (1.9.3p551) 2015-01-29 20786bd on OpenJDK 64-Bit Server VM 1.7.0_79-b14 [linux-amd64]
- rubygems 2.4.7

[2015-05-30 01:26] jdantonio commented on #313
Delete Gemfile.lock

This started happening recently and I haven't had an opportunity to figure out why.

[2015-05-30 04:19] ianks commented on #313
This solution works. This may be an issue we need to report to JRuby, but for this purpose I think its solved.

[2015-05-30 04:19] #313 closed

[2015-05-31 12:13] pitr-ch commented on #312
It seem that `Concurrent::Promise` might offer what you are looking for.

You can also look at new Future/Promise framework in `concurrent-edge` gem, just released in 0.9.pre. See https://github.com/ruby-concurrency/concurrent-ruby/blob/master/examples/edge_futures.out.rb for examples. it offers better performance an requires less thread to operate. In your case it could look as follow:
[code]

[2015-06-01 06:38] lionelperrin commented on #312
Thank you for pointing this out, I like the syntax associated to future chaining. It has a very clear meaning.
In my case, some futures depends on several other. I think this can be solved with the promise API which allows to trigger a computation when all promises from a list are available. It is solved with a very clear API using dataflow as well. Is there any equivalent with future I have misse

[2015-06-01 07:09] pitr-ch commented on #312
There is a `zip` which allows to connect together many futures:
[code]

[2015-06-01 13:50] Sdogruyol opened #315 "Async slowness on Jruby"
Trying to process 1 million async calls.

I'm testing against JRuby-Head (9k) and after some time the process becomes unresponsive and stops processing.

When using CRuby it takes about 2G of Ram but completes without any slowing down.

```ruby echo.rb  28.85s user 0.90s system 99% cpu 29.779 total```

Here's the code snippet

[code]

Is this related to GC on JVM because the memory consumption inc

[2015-06-01 14:09] obrok commented on #315
I'm guessing you are running out of heap - the default maximum heap size for a java VM is I think on the order of half a gigabyte and when you start approaching that the VM is spending more and more time trying to reclaim memory and failing (because the data is still in use). You can change this limit by passing an option to jruby (-J-Xmx2G for 2 gigabytes for example).

[2015-06-01 14:15] Sdogruyol commented on #315
@obrok thanks for the response. Here's the command that i used

```jruby echo.rb -J-Xmx2G```

Unfortunately I'm still getting the same result. It's like as if the GC pause is increasing rapidly till it nearly blocks the process.

[2015-06-01 14:18] obrok commented on #315
1. It's possible there is indeed a memory leak of some sort
2. The memory usage might be different than on cruby - try a radically larger heap size, for example 4 or 8 gigabytes

[2015-06-01 14:26] jdantonio commented on #315
@obrok Thanks for the quick response. I was in the process of running some tests when you responded.

@Sdogruyol There has been significant internal refactoring in the v0.9.0.pre1 release which should help with this. Unfortunately, some of my changes broke your example in that pre-release. I need to fix that before you can run your test on the latest release. I'll fix that tonight and get back to

[2015-06-01 14:28] Sdogruyol commented on #315
Guess the heap size is and young/eden gc limit parameters are not being applied.

```jruby echo.rb -J-Xmx2G -J-Xmn512m```

Here's the error i'm getting

Error: Your application used more memory than the safety cap of 500M.0.987747284149765

[2015-06-01 14:31] headius commented on #315
Put the -J parameters before the script you want to run; in this case you're just passing them as arguments to the script.

[2015-06-01 15:05] Sdogruyol commented on #315
Confirmed putting the options before the script worked.

```jruby -J-Xmx2G -J-Xmn512m -w echo.rb```

Thanks @headius

[2015-06-02 02:58] jdantonio commented on #315
@Sdogruyol This no longer appears to be an issue on the latest master branch (we've done significant internal refactoring). Can you please test against the latest? I can create a pre-release build of the gem if you would like.

Here is the Gist I used for testing: https://gist.github.com/jdantonio/1dddc74f090b904b3332

[2015-06-02 03:06] jdantonio commented on #263
The board is all green. Given the massive internal refactoring of later, I'm closing. I'll start a new issue if necessary.

[2015-06-02 03:06] #263 closed

[2015-06-02 06:53] lionelperrin commented on #312
Oh great! Look like it is quite easy to replicate the dataflow API using only futures. It looks quite easy to handle simple error cases using `rescue` but it is still difficult to manage cases where only one input is missing.
I understand that this can be solved using a construct like this:
[code]
But in my opinion, writing like this might be easier and more flexible:
[code]

[2015-06-02 12:12] pitr-ch commented on #261
Re-opening not to loose track about this. I would suggest following approach:
- write down the rules for name-spacing
- do a PR silent week before next pre release, where we all cooperate on updating whole gem to follow the writen down rules

[2015-06-02 12:20] jdantonio commented on #261
I'm not going to lose track of this. I'm going to work on it today.

[2015-06-02 12:20] #261 closed

[2015-06-02 13:28] pitr-ch commented on #261
Sorry, poor choice of words on my behalf, I was reopening just to keep it in the Milestone list. I knew this will not be forgotten.

[2015-06-02 16:12] jdantonio opened #318 "Buggy Tests"
- [x] [Concurrent::Promise fulfillment sets the promise state to :fulfilled if the block completes](https://travis-ci.org/ruby-concurrency/concurrent-ruby/jobs/65106242)
- [x] [Concurrent::Edge futures .schedule scheduled execution in graph](https://travis-ci.org/ruby-concurrency/concurrent-ruby/jobs/65112803)
- [x] [Concurrent::Edge futures .schedule scheduled execution](https://travis-ci.org/rub

[2015-06-02 18:18] #315 closed

[2015-06-02 18:38] jdantonio commented on #300
Started in #323

Everyone is welcome to add to the changelog. It's going to be very long...

[2015-06-02 19:01] jdantonio opened #324 "Final v0.9.0 Tasks (and Namespacing)"
**TL;DR: I believe we are ready to lock in the public API, release v0.9.0, and begin work on v1.0.**

With PRs #322 and #323 (and the BiasedConditionVariable [requested by the Rails team](https://github.com/rails/rails/pull/14938/files#r30142179)) I believe we are ready to release v0.9.0. This issue is to discuss final thoughts before that release.

When we first began discussing v0.9.0, in Issue

[2015-06-04 07:30] pitr-ch commented on #324
I think we should have another pre-release with the complete change-log (so users like @SebastianEdwards have time to try it before we release). Since we are releasing edge for the first time I would also like #314 to be merged (still few thinks to do there) before pre2.

We should also talk about how do we edge releases in future. Since it shares README file and some other pieces I think we shoul

[2015-06-04 07:38] pitr-ch commented on #312
It comes from the `then` convention: do the block only on success so on zip on success of all the futures. There is `chain` method however which returns triplet `success, value, reason` this should be modified on `zip(*).chain` to return whole set. Now it behaves too much like then returning `success` only of all the futures were success, `value` array of values, `reason` first failure. I'll modif

[2015-06-04 08:28] jdantonio commented on #311
Fixed in #325

[2015-06-04 08:28] #311 closed

[2015-06-04 21:23] jdantonio commented on #324
In no particular order:

* I'm comfortable doing another pre-release of 0.9.
  - We should discuss #326 and discuss a final solution.
  - We can certainly merge #314, too, but I'd like to get that done as soon as reasonably possible. (Any idea how long that may take?)
* We can wait until 1.0 or later for BiasedCondition. I didn't look at the feature request too closely, I just assumed (perhaps inc

[2015-06-05 14:06] sschepens commented on #324
Are you planning on pushing pre-releases to rubygems? I wish to test them

[2015-06-05 14:07] jdantonio commented on #324
@sschepens Yes, I will be publishing `v0.9.0.pre2` this weekend. Are you OK downloading the gem files from GitHub, or do you need them pushed to Rubygems?

[2015-06-05 14:16] sschepens commented on #324
@jdantonio it would be great if you could push them to Rubygems, i'm developing a gem that would be using concurrent-ruby as a dependecy so i need it to be in Rubygems :)

[2015-06-05 14:40] jdantonio commented on #324
@sschepens :cool: I'll push to Rubygems and make a note on this thread when I build the next pre-release. Do you mind if I ask what you are building? I'm very curious to see how others use this gem.

[2015-06-05 14:47] sschepens commented on #324
I'm building an Amazon SQS message processor, it's based on [shoryuken](https://github.com/phstc/shoryuken) which uses Celluloid. I forked it because i was having memory leaks and wanted to change some things, I tried to use Celluloid but was having leak issues too and some other problems.
So I decided to give concurrent-ruby a try!

[2015-06-05 15:48] jdantonio commented on #324
Awesome! Let us know how it goes and if we can do anything to help.

[2015-06-05 18:35] pitr-ch commented on #324
@sschepens: exactly what @jdantonio said. Any feedback is very valuable and appreciated.

[2015-06-05 20:48] ianks opened #327 "Private APIs exposed in documentation"
Looking throught the docs I have noticed that a lot of implementation specific APIs show up in the docs. I think this is rather confusing to the end user. There is too much information to consume in it, and will cause users much pain and suffering. We should fix this by 1.0. Thoughts?

[2015-06-05 20:50] jdantonio commented on #327
Perhaps something like PR #322?

[2015-06-05 20:52] ianks commented on #327
:smile:

[2015-06-05 20:52] #327 closed

[2015-06-05 20:54] jdantonio commented on #327
:-)

[2015-06-06 15:27] sschepens commented on #324
@jdantonio @pitr-ch thanks!
I know Actors are and Edge feature but their documentation is really lacking, as well as Behaviors.
Also i'm having an 'issue' when an exception is thrown in an Actor pool.
A simple failing actor just gets reset on failure:
[code]

But the same actor in a a Pool gets into a reset loop:
[code]
I don't know if this is an expected behavior.

[2015-06-06 17:56] pitr-ch opened #328 "Actor reset loop"
Thanks for letting me know @sschepens, moving the issue here from https://github.com/ruby-concurrency/concurrent-ruby/issues/324#issuecomment-109602285 so we can discuss freely.

I know Actors are and Edge feature but their documentation is really lacking, as well as Behaviors.
Also i'm having an 'issue' when an exception is thrown in an Actor pool.
A simple failing actor just gets reset on failur

[2015-06-06 18:00] pitr-ch commented on #328
@sschepens what version of concurrent-ruby are you running: pre1 or master? I'll look. It does not sound like an intended behavior. Sorry about the documentation, I am trying to find time to make it better but that's not always easy.

[2015-06-06 18:30] pitr-ch opened #329 "Cancelable jobs"
It's too late for 0.9 but this is rather critical problem. So could we add it to 1.0, provided we'll find a good solution?

[2015-06-06 18:35] pitr-ch opened #330 "Change AtomicReference API: `try_update` and `try_update!`"
see https://github.com/ruby-concurrency/concurrent-ruby/pull/281#issuecomment-109407223

[2015-06-06 21:58] jdantonio commented on #329
Several people have asked about this so I think it's a reasonable addition to 1.0 if we can find a good solution. But I think that we should take as much time as necessary to find a good solution, even if we have to add it after 1.0 is released.

[2015-06-07 09:13] pitr-ch commented on #328
The supervision was late addition and there are issues left, I am sorry about that. It's one of the reasons it's in edge. I've fixed the pool in 9daf923 it will be going to master with #314 and released in pre2 soon.

[2015-06-07 09:27] pitr-ch commented on #328
You could also try to enable debug level logging which will allow you to track messages and events easily.

[2015-06-07 15:23] pitr-ch opened #331 "Moving new Future implementation to core"
Placeholder for a discussion we need to have.

[2015-06-07 15:24] pitr-ch opened #332 "Moving Actors to core"

[2015-06-08 00:33] #300 closed

[2015-06-09 01:30] ianks opened #338 "Possible indeterministic read/writes in AtomicFixnum.c"
Auditing the code in `atomic_fixnum.c`, I noticed a possible source for error in the code.

[code]

The code for set direct sets the value of `DATA_PTR(self). Most of the time, users will be a a machine in which Fixnum less than or equal to the native word size, meaning that this assignment will be atomic. However, this behavior is not guanteed, and in a sense is logically flawed. This assignment,

[2015-06-09 13:14] jdantonio commented on #338
If the behavior we want is not guaranteed then we need to fix it. Our philosophy is that our users are probably working in edge-case scenarios than the average Rubyist so we need to be *more* concerned about edge cases than other gems may be.

Is this related to #337?

[2015-06-09 16:12] ianks commented on #338
Yes it is relate to #337. I was playing around with the code, but did not mean to PR it though.

The reason I don't necessarily want to jump into prematurely fixing is two-fold:

1. I would like to demonstrate some live example of this, and attempt to know more about the system conditions which it would happen. Identifying a logical descrepancy is one thing, but if it's not possible for the bug to

[2015-06-11 00:42] jdantonio commented on #338
@ianks I appreciate your help with this. Let me know if you need anything from me.

[2015-06-11 00:45] jdantonio commented on #312
@lionelperrin May I close this issue, or do you need additional assistance?

[2015-06-11 05:12] ianks commented on #338
So after thinking about it for a bit yesterday, I have come to realize that we _cannot_ guarantee visibility on an AtomicFixnum variable with the current code. Whenever a thread looks up the current `value`, there is no guarantee that the is the most current up to date value. It may just be reading the variable from one processors cache. This means we cannot ensure consensus on the current AtomicF

[2015-06-11 06:41] #312 closed

[2015-06-11 14:20] sschepens opened #341 "TimerTask uses deprecated API"
I'm using TimerTask and it's generating lot's of these logs:
[code]

[2015-06-11 14:31] jdantonio commented on #341
I'll take a look and try to reduce the noise.

[2015-06-11 17:48] jdantonio commented on #341
@sschepens Yep. That's a bug. When I deprecated `Concurrent.timer` I failed to notice that I was calling that method in `TimerTask`. I'll work on this ASAP and it will be fixed in the full 0.9 release.

[2015-06-12 00:56] jdantonio commented on #341
Fixed in #344. Will be released in v0.9.0.

[2015-06-12 00:56] #341 closed

[2015-06-12 13:02] iNecas opened #347 "Edge future wait with timeout risks memory-leaking"
In the `wait_until_complete`, we push the thread into `@Waiters` stack. The problem is, we don't remove that from the stack and we keep pushing it there. Therefore, if you do something like this:

[code]

While it's needed to have long-running futures and perioadic checks with timeouts to reproduce, we should still be more cautious about this

[2015-06-12 20:22] cmbaron opened #348 "RubyThreadPoolExecutor not aborting when full"
Created a thread pool with max/min threads = 1 and max_queue = 0.  Posting multiple &block's that will block the thread does not raise Concurrent::RejectedExecutionError.

0.7.2:
[code]

0.8.0:
[code]

[2015-06-12 20:38] cmbaron commented on #348
Ok, five minutes later I found the problem.
max_queue: 0 is not "0", but "unlimited.
max_queue: -1 solves this issue.

noting to see here.

[2015-06-12 20:38] #348 closed

[2015-06-13 10:10] pitr-ch commented on #338
Since this is only a CRuby extension we can include CRuby's GVL into consideration. There is a mutex in  GVL, so acquiring thread always sees everything done by releasing thread. Regarding visibility it should be safe.

[2015-06-13 15:05] pitr-ch commented on #347
This one is tricky, if I try to prevent this it will require Set data-structure or something like that, which will be more expensive then the simple stack. It'll definitely require a warning there though. The assumption is that threads are:
- either waiting as long as they can then they abandon the waiting and fail or deal with the missing result in another manner,
- or if they check periodically

[2015-06-13 15:25] pitr-ch commented on #347
warning added in https://github.com/ruby-concurrency/concurrent-ruby/pull/349

[2015-06-15 06:55] pitr-ch opened #350 "MutexAtomic#compare_and_set broken contract"
It may also return false if another thread is just reading the value, there should be lock not just try_lock:
https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/atomic_reference/mutex_atomic.rb#L45

[2015-06-15 08:40] iNecas commented on #347
The question is, why do we need the `@Waiters` structure anyway?

[2015-06-15 09:01] iNecas opened #351 "`Concurrent.zip().then {}` should follow the logic of an empty set and immediately call the then part"
In current behavior, it doesn't proceed to the dependent future. I would expect, that the empty set of futures is completed immediately: all the futures are completed.

I have a use-case here https://github.com/iNecas/dynflow/blob/multi-executor-refactor/lib/dynflow/dispatcher/executor_dispatcher.rb#L55-L59, I had to solve that with conditinal check on the emptyness, which I don't like that much

[2015-06-15 09:03] pitr-ch commented on #347
To be able to eliminate synchronized block from completion path when there is no thread waiting. It will do just one CAS then. See https://github.com/pitr-ch/concurrent-ruby/blob/futures/lib/concurrent/edge/future.rb#L291-L292

[2015-06-15 09:08] iNecas commented on #347
My point is, couldn't we hande that by just some sequential number, rather than storing the actual threads. In this case, it could even be a boolean flag

[2015-06-15 09:27] pitr-ch commented on #347
That's not a bad idea at all :+1: I wanted to have an option to inspect blocked threads, but the leak doesn't worth it.

[2015-06-15 13:19] jdantonio commented on #350
I think it has to be `#synchronize` and not `#lock`. The `#lock` method will raise an exception if the lock cannot be acquired. Neither the C nor the Java implementation will ever raise an exception. In order to keep the behavior of the method consistent across all platforms the pure-Ruby code cannot raise an exception.

PS: Thank you @pitr-ch for creating this issue. I saw the comment from @Sebas

[2015-06-15 13:22] jdantonio commented on #351
:+1: The suggested behavior sounds more intuitive.

[2015-06-15 17:45] pitr-ch commented on #347
Hm, with `AtomicFixnum` there is an [aba](https://en.wikipedia.org/wiki/ABA_problem) problem :/ There is a way around it but I'll look into it later.

[2015-06-16 11:12] iNecas commented on #350
I just want to confirm that this seems to cause unexpected issues even when not using the atomic reference directy (we use actors heavily): for example it seems to lead to

[code]

or deadlocks:

[code]

Both appeared in travis https://travis-ci.org/Dynflow/dynflow/jobs/66854036, when not using the c extension. When adding the C extension, this problem doesn't seem to occur: I will keep monitoring

[2015-06-16 19:16] pitr-ch opened #354 "Synchronization::JavaObject bugs on Java7"
Volatile write in ensure_ivar_visibility! is not paired with a read.

[2015-06-16 20:26] pitr-ch commented on #312
zip(*).chain implemented in #349

[2015-06-16 20:29] jdantonio commented on #338
@ianks @pitr-ch So what is the verdict? Is this a safe operation or is it a bug?

[2015-06-17 00:35] ianks commented on #338
I think that it is safe, but only due to MRI implementation details. The
real question is whether or not we rely on MRI internals to guarantee
thread-safety or not.
Also, if we consider this to be safe, wouldn't we also need to consider the
ir_set method in AtomicReference to be superfluous?

On Tue, Jun 16, 2015 at 2:30 PM jdantonio <notifications@github.com> wrote:

[2015-06-17 06:10] pitr-ch commented on #328
This is merged in master, closing, @sschepens let me know if you run into any other problems and thanks for letting me know about this issue.

[2015-06-17 06:10] #328 closed

[2015-06-17 07:58] #351 closed

[2015-06-17 13:01] jdantonio commented on #338
The C extension is only intended for MRI Ruby. Rubinius uses a different API for C extensions (and recommends not to use them anyway). So we can safely depend on the internals of MRI Ruby.

The `ir_set` method was part of the original `ruby-atomic` gem. I didn't change any of the implementation details when I merged it in. Honestly, I don't know enough about these low-level details to know if it's

[2015-06-17 13:15] jdantonio commented on #350
Fixed in #355.

@iNecas Can you please run your tests against the latest master using only the core gem (no C extensions) and let me know if the fix worked?

[2015-06-17 16:09] iNecas commented on #350
I've added into our testing matrix to run both the ext and no-ext variant (Travis-CI is probably not very happy about it https://travis-ci.org/Dynflow/dynflow/builds/67221941 :), but I can keep them running side by side for a while to see if both work the same: will let you know after iterating few times with the tests: the failures are quite hard to reproduce, so it can take a while to appear eve

[2015-06-17 19:56] ianks commented on #338
I ran the rest suite without synchronizing during `ir_set` and `ir_get` and nothing failed. Obviously, this should be taken with a large grain of salt as we arent stress-testing it yet, but it does make sense given the GVL.

[2015-06-17 20:17] ianks commented on #338
Also, I believe that we can drop the synchronization in `MutexAtomic` as well if we are relying on the GVL.

https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/atomic_reference/mutex_atomic.rb#L29

From my benchmarks, we are getting about a 165% speed boost by doing this.

[2015-06-17 20:30] jdantonio commented on #338
We can depend on the behavior of the GIL in the C extensions, but we cannot necessarily do the same in the pure-Ruby code. Although the *vast* majority of Ruby users are likely running MRI, JRuby, or Rubinius, we can't guarantee that they are. Other Ruby interpreters exist. From the very beginning I've always taken the approach that this gem should be truly and completely interpreter agnostic. Whi

[2015-06-17 20:35] ianks commented on #338
To be clear, I would propose to *only* remove synchronization given that we are on MRI and that the CExtension is not loaded. To me, this interpreter specific optimization is more or less equivalent to what we have already been doing with native extensions; meaning that we are optimizing depending on the platform, but maintaining the exact same behavior wrt API and functionality.

[2015-06-18 06:37] pitr-ch commented on #338
I agree with @jdantonio. We have to have an implementation of AtomicReference which is Ruby implementation independent. In this case it's MutexAtomic so this class should keep synchronisation. We could add another implementation written in pure ruby just for MRI and compare the performance with the C extension, but I am not sure what would be the benefit of that. There are probably not many users

[2015-06-18 06:56] ianks commented on #338
I am starting to think that relying on the GIL is not a wise move. Reasons:

- It makes it harder for us as contributors to ensure correctness of the program. Essentially, we are relying on the fact that MRI ensures synchronization.
- Matz recently mentioned his intentions of [deprecating the GIL in upcoming Ruby versions](https://www.youtube.com/watch?v=bqWBB8-iEac).

Obviously now this is a theo

[2015-06-18 08:25] iNecas commented on #350
So far so good, at least the deadlock issues and mutli-assignment seemed to disappear (I've hit some failing test on non-ext version, but couldn't not reproduce locally: still a chance it would be something with my test suite: will monitor that, especially the comparison to the ext variant. Thanks @jdantonio

[2015-06-19 12:04] jdantonio commented on #350
@iNecas Thanks for taking the time to help us debug this. I'm going to close the issue for now. We can open it again if the bug resurfaces.

[2015-06-19 12:04] #350 closed

[2015-06-19 12:21] jdantonio commented on #338
I apologize, but I've lost track of everything we've discussed. To summarize: When writing pure-Ruby code we're going to continue assuming that the GIL does not exist. In C extensions we're going to assume that we're running under MRI and program with the GIL in mind. Is that everyone else's opinion?

Do we need to make any changes or can I close this issue?

[2015-06-19 12:23] #330 closed

[2015-06-19 12:23] jdantonio commented on #330
Fixed in #336

[2015-06-19 19:27] jdantonio commented on #324
@pitr-ch I would like to release v0.9.0 this weekend. It seems like all the known bug have been addressed. Thoughts?

[2015-06-20 14:48] pitr-ch commented on #324
@jdantonio I would be more comfortable with one more pre release to verify that all the fixes are working well for our users, and if they are, release next week. There is also https://github.com/ruby-concurrency/concurrent-ruby/issues/354 which I would like to fix before 0.9 even though it's kind a minor problem.

[2015-06-20 18:39] pitr-ch commented on #338
@jdantonio I agree. One exception being the new synchronisation layer. There is Ruby code which depends on MRI's GVL. I think the best approach is: All Ruby code is implementation independent and using the synchronisation layer which provides required tools for this library. Extensions may depend on internal details of their targeted implementations to gain more performance (they should still try

[2015-06-21 00:40] #338 closed

[2015-06-21 10:47] pitr-ch commented on #338
@ianks the original issue with native word size, what was the result there?

[2015-06-22 06:52] pitr-ch commented on #354
Another one is in the volatile fields, the volatile write is in wrong order.

[2015-06-22 11:24] iNecas commented on #350
@jdantonio would you mind releasing 0.9.0.pre3: I would like to get this tested in production-like environments, where we need the code to be released as a gem

[2015-06-22 12:58] jdantonio commented on #350
[Done](https://github.com/ruby-concurrency/concurrent-ruby/releases/tag/v0.9.0.pre3)

[2015-06-22 12:58] jdantonio commented on #324
[Done](https://github.com/ruby-concurrency/concurrent-ruby/releases/tag/v0.9.0.pre3)

[2015-06-22 14:10] iNecas commented on #350
Thanks @jdantonio !

[2015-06-26 18:31] jdantonio commented on #324
@pitr-ch @iNecas How does it look? Are we ready for 0.9.0 to be released this weekend?

[2015-06-26 18:57] iNecas commented on #324
:+1: I hit no issues besides the minor one with the `require 'monitor'` this week. From API point of view there is all we need, and makes sense to give this to even more folks and address potential issues as they appear.

[2015-06-27 17:37] pitr-ch commented on #324
i'll push #354 tomorrow and we'll be ready.

[2015-06-27 18:55] iNecas commented on #324
Travis is also happy about the state of art https://travis-ci.org/Dynflow/dynflow/builds/68624765

[2015-06-28 15:01] pitr-ch commented on #324
@iNecas nice. Could you also start running test on JRuby? That would be a big help!

[2015-06-28 17:12] pitr-ch commented on #324
Unfortunately there are some remaining issues to be solved in #357 related #354.

[2015-06-30 11:20] iNecas commented on #324
@pitr-ch planning to do that  (ETA in two weeks), I tried some time ago (and already filled issues accordingly https://github.com/ruby-concurrency/concurrent-ruby/issues/248). Now that it's fixed, I can give it another try.

Btw. what do you thing about an idea of including the Dynflow test suite in the concurrent ruby PR process (as 'allowed-fail' at least in the beginning). As we build the layer

[2015-06-30 11:46] pitr-ch commented on #324
@iNecas Great thanks.

Definitely :+1: to all you've said, I have it on my todolist but I didn't had a time to try add dynflow test suite. If I may be so bold, would you have time to look into that?

The future completion check could be done as utility helpers so any user of `concurrent-ruby` can use it in tests or even in production to hunt down bugs. That would be a great addition to `concurrent

[2015-06-30 11:53] jdantonio commented on #324
How long does the Dynflow test suite take to run? I like the idea of a sanity check, but our test suite is painfully slow already. I'd hate to make PRs even slower. If the Dynflow test suite is slow, too, perhaps we can limit those runs to when we merge to master.

[2015-06-30 12:08] iNecas commented on #324
It's 1:20 in average. Also, not all the tests use the concurrency futures
(such as persistence tests), in some cases, we test different variants of
connector (so basically running the same set of tests twice using different
drivers). Therefore, we could find a set of tests that use the
concurrent-ruby the most and make that as separate rake task. I think that
could take us under one minute, maybe

[2015-06-30 14:12] jdantonio commented on #324
@ianks I don't think that another minute or so for the additional tests should be a problem so long as we aren't running them against too many runtimes. Perhaps we could run the Dynflow tests against the latest MRI when PRs are created then run against all supported platforms when merging to master?

[2015-06-30 15:31] pitr-ch commented on #324
For me the test run-time on Travis is not concern until it takes hours. So I am for adding as many tests as it makes sense. At least CRuby 2.x and JRuby though.

[2015-06-30 15:32] pitr-ch commented on #324
I would rather run all tests on PRs than having additional tests on master to avoid broken master.

[2015-06-30 18:51] jdantonio commented on #324
Hours? You are *far* more patient than I am! :-)

[2015-06-30 18:56] jdantonio commented on #324
If Dynflow test only add additional coverage of a small portion of concurrent-ruby then the added value of adding those tests to this CI build is proportionally small. Especially considering the generally high level of code coverage we already have. It's a nice bonus but not critical. And I wouldn't consider a problem uncovered by Dynflow to indicate a "broken" master, just an uncovered bug. A bug

[2015-07-01 19:44] pitr-ch commented on #324
That's true it covers only actors, new futures, and pools (@iNecas please correct me if I am wrong). We could contact other users of concurrent-ruby to find more OSS projects we could run. You are right it does not indicate broken, I would have liked to have it simple green/red but there may be other issues like dynflow's (or other OSS project's) tests temporarily broken which would block us. So h

[2015-07-07 18:13] sschepens opened #362 "Actor Pool Graceful shutdown"
Is there a way to do a graceful shutdown of a pool?
Asking the pool to terminate doesn't wait for all workers to terminate

[2015-07-08 15:47] pitr-ch commented on #362
Sorry about that there was none, I waited to have the new Futures in place so I could fix it easily. Please Try #363 PR and let me know.

[2015-07-09 11:27] pitr-ch commented on #362
Fixed in #363

[2015-07-09 11:27] #362 closed

[2015-07-09 12:57] jdantonio commented on #354
@pitr-ch Can this be closed?

[2015-07-09 13:04] jdantonio commented on #324
There are no more open PRs and the new build task for building the Windows binaries works great. I'm ready to release core and ext v0.9.0, edge 0.1.0. I should have free time this evening. If anyone has any concerns about this release, please let me know ASAP.

I also plan to release [ref v2.0](https://github.com/ruby-concurrency/ref) tonight or this weekend, unless anyone has concerns.

Thank you

[2015-07-09 13:31] #354 closed

[2015-07-10 14:06] pitr-ch commented on #324
@jdantonio And big thanks to you too! Please go ahead and release. No concerns on mi side.

[2015-07-10 14:27] jdantonio commented on #324
Well, crap. It may take me longer to release than anticipated. I've discovered a circular reference that doesn't cause a problem when running tests, but raises an exception when running the build tests. `concurrent/utility/et_exit` requires `concurrent/concern/logging` which requires `concurrent/configuration` which requires `concurrent/utility/at_exit`. I'll release once I figure it out.

[2015-07-10 16:12] jdantonio commented on #324
Done!

[2015-07-10 16:12] #324 closed

[2015-07-14 00:47] asppsa opened #367 "Can't spawn actors in Rubinius"
Hi there,

Since 0.9 (edge 0.1), it seems that actors in Rubinius are broken.  Judging from the backtrace, the issue is somewhere in the new futures implementation:

[code]

[2015-07-14 01:01] asppsa commented on #367
So there is an instance variable clash -- `@Waiters` is defined in `lib/concurrent/synchronization/rbx_object.rb` as an array.

[2015-07-14 05:47] mastfish opened #369 "Intermittent hangs with nested futures"
Code like
[code]
Will occasionally cause the thread to hang forever. This is very intermittent (maybe once per hundred calls), and I've only been able to see it in logs from our production server. We're running MRI, 2.2.2, with version 0.9.0 of this gem.

I'm not sure if this is a limitation inherent to futures in ruby (perhaps something like dataflow should be used instead?), or if this is a bug.

[2015-07-14 06:44] #369 closed

[2015-07-14 07:14] pitr-ch commented on #367
Thanks you very much for reporting and finding the bug.

[2015-07-14 07:34] pitr-ch commented on #369
@mastfish Thank you for reporting, could you let us know how did you solve the issue?

[2015-07-14 07:37] mastfish commented on #369
@pitr-ch I _think_ this wasn't caused by the futures, but by the network call we were doing inside those futures. Still gathering information though, I'll re-open and give more details if the source turns out to be futures.

[2015-07-14 07:43] pitr-ch commented on #369
@mastfish thank you!

[2015-07-14 12:34] jdantonio commented on #369
@mastfish Thank you for reporting this and looking into the possible cause. Definitely open the issue again if you continue to experience issues.

Internally `Future` is just a wrapper around the global thread pool. Although I've never tried to use nested futures, off the top of my head I can't think of why this would cause a thread to hang indefinitely. The internal future should simply add a new

[2015-07-14 12:57] jdantonio opened #370 "Document the complete build/publish process"
See this: https://github.com/ruby-concurrency/concurrent-ruby/pull/368#issuecomment-121231154

[2015-07-14 23:52] jdantonio commented on #367
@asppsa @pitr-ch Can we close this issue, or are we waiting for more testing?

[2015-07-15 00:54] asppsa commented on #367
Yep, I am happy to close if @pitr-ch is.

[2015-07-15 00:55] #367 closed

[2015-07-15 03:13] mastfish commented on #369
The scenario I was thinking of was that all of the working threads handling the outer futures would be blocking on the futures inside, which would mean the futures inside would never get any processor time (or perhaps be blocked by the GIL). I'm not sure whether this could happen on MRI, though. It also seems like you'd need enough nested futures that all threads in the pool would be busy.

In any

[2015-07-18 19:20] pitr-ch commented on #369
If there are IO operations in futures, and there is no throttling system, the application can indeed run out of threads under heavy workload. The IO pool tries to prevent this by creating new threads if there are resources to create new ones, after that it queues the actions which brings danger of deadlocking. Based on my experience, it's best to enforce a limit on concurrently running IO operatio

[2015-07-18 19:23] pitr-ch commented on #369
You can also try edge futures, which are slightly faster and they utilise less threads. The underlying danger is still there though.

[2015-07-18 19:25] jdantonio commented on #369
@mastfish The thread pools also have a queue, however. The `#execute` method returns when the task is added to the pool, *not* once a thread picks up the task. So even is a pool is starved, a nested `Future` shouldn't cause a deadlock. The inner `#execute` will simply queue up the job and exit, returning control to the outer `#execute` call.

It is possible to create a thread pool with a limited q

[2015-07-18 19:35] pitr-ch commented on #369
As @jdantonio said, we try to do as much as possible to prevent deadlocks, but there still can be case when the futures task's completion is dependent on completion of other futures. Let's consider following scenario:
- application is handling concurrently incoming request
- each request results in two futures A and B where A depends on B and B is created some time after A.
- if the application is

[2015-07-21 00:18] jdantonio commented on #318
@pitr-ch The test `Concurrent::Edge futures .schedule scheduled execution` fails on at least one Windows version on almost every CI build. It's not a high priority, but can you please look into this when you get a chance?

[2015-07-21 05:03] rfdonnelly opened #378 "README link to v1.0 Roadmap is Broken"
README.md has the following:

    [v1.0.0 release](https://github.com/ruby-concurrency/concurrent-ruby/wiki/v1.0-Roadmap)

The link is broken.  Should it be https://github.com/ruby-concurrency/concurrent-ruby/issues/257 instead?

[2015-07-21 13:29] jdantonio opened #379 "Questions about Concurrent Ruby"
With the [Riding Rails announcement](http://weblog.rubyonrails.org/2015/7/17/this-week-in-rails-goodbye-rack-lock-concurrent-ruby-better-ac-parameters-and-more/) last week and [this discussion](https://github.com/rails/actioncable/issues/16) over at ActionCable, there are a lot of people talking about concurrent-ruby. Please use this thread for general questions about who we are, what we do, and w

[2015-07-21 14:10] jdantonio commented on #378
You are correct. Nice catch! I've fixed the link here: a1e777f5728c9d67ad590283eeaccde25e404e82. Thanks for the help!

[2015-07-21 14:10] #378 closed

[2015-07-21 15:59] Asmod4n commented on #379
When you want to run, say, 500 blocking operations at once (I/O Server), do you still need 500 actors?

[2015-07-22 03:56] thedarkone commented on #338
I'm late to the party, but I would like to add that IMHO it is also correct to have pure Ruby code that depends on MRI's GVL if it guaranteed to be only used on MRI (with a more generic Ruby code as a backup for other Ruby VMs).

@ianks additionally aren't `Fixnum`s always tagged pointers on MRI? Therefore by definition they always fit into native word size and not tearing is possible. This also m

[2015-07-22 07:38] ianks commented on #338
@thedarkone I agree. It seems contradictory to not rely GVL in the C extension yet not in pure Ruby version.

WRT Fixnum: yes, since Fixnum wil fit in the native word size I believe the assignment will not cause tearing. The assignment itself will be atomic, but there is nothing preventing the processor from reordering the instructions, which can cause visibility concerns amongst the other threads

[2015-07-22 14:03] jdantonio commented on #379
@Asmod4n The best person to answer your question is @pitr-ch since he built our actor implementation, but the short answer is Yes. But this also raises the question, is actor the best abstraction for your problem?

Like all our high-level abstractions, our actors run on one of the global thread pools. (You can also use dependency injection to provide a custom thread pool if you like.) Internally,

[2015-07-22 17:30] jdantonio commented on #379
@Asmod4n On point of clarification, it's probably not a good idea to run 500 I/O operations concurrently. There are performance costs associated with creating and managing a large number of threads. This is a situation where our ability to inject a custom executor is very handy:

[code]

[2015-07-22 17:33] Asmod4n commented on #379
@jdantonio thats what i was looking for :)

[2015-07-25 17:22] pitr-ch commented on #318
Sure, I'll look.

[2015-07-25 17:30] pitr-ch commented on #379
Another approach (it would be interesting to compare the performance) could be to use some event loop lib (e.g. EventMachine) to deal with the IO, doing only necessary work in callbacks, distributing rest of the work to actors, futures, etc.

[2015-07-25 17:41] Asmod4n commented on #379
Call be uninformed, but doesn't all I/O have to be handled by EventMachine for the current Process then?

[2015-07-26 12:06] pitr-ch commented on #379
It might be better to do it all uniformly on EventMachine but it's not required. E.g. all http requests could go through EM where translated to messages and then to actors for processing, but other parts of the code can use IO blocking operations to access files or other stuff without EM.

[2015-07-27 13:22] jdantonio opened #383 "2.0: Align APIs of AtomicReference, AtomicFixnum, and AtomicBoolean"
`AtomicReference` originated in a different gem. `AtomicBoolean` and `AtomicFixnum` were created simultaneously, but have since diverged. In the 2.0 release we need to give all three classes a common API.

[2015-07-27 13:47] jdantonio commented on #379
EventMachine suggests that all concurrency be handled by EM, but that's not a requirement. EM just uses Ruby threads under-the-hood so you can mix-and-match. You just have to know what you are doing. The flow @pitr-ch suggests should work fine. The basic application flow would be:

1. General initialization/configuration
1. Start actors for processing received messages
1. Start the EM reactor
  -

[2015-07-27 23:29] sschepens commented on #383
I want to take advantage of this to propose allowing `increment` and `decrement` methods of `AtomicFixnum` to receive a number that indicates the amount should be incremented or decremented.

[2015-07-28 02:30] jdantonio commented on #383
@sschepens I think that's an excellent idea, and very easy to implement.

[2015-07-30 15:22] jdantonio commented on #331
I think the path should be this:

* Next release with Rails-supporting stuff (next week or two)
* Immediately create 1.0.0.pre1 where we remove all deprecated code
* Bug fixes, stress tests, etc. on 1.0.0.pre1
* Release 1.0 ASAP (30 days?)
* Immediately create 2.0.0.pre1 with Actor, new Future, etc.
* Bug fixes only on 1.x line
* Release 2.0 ASAP

Thoughts?

[2015-07-30 20:09] jdantonio opened #388 "Fix all "circular reference" warnings"
See #385.

[2015-07-31 08:21] pitr-ch opened #389 "Create boot file"
which loads any otherwise circularly dependent files and minimal core of the lib, e.g. configuration, delay, executors etc.

[2015-07-31 08:22] pitr-ch commented on #389
duplicates #388

[2015-07-31 08:22] #389 closed

[2015-08-03 01:20] lucasallan commented on #383
Could you explain how is this common api? @jdantonio

[2015-08-04 08:57] pitr-ch commented on #331
:+1:

1.0 might be delayed though because of the Synchronisation layer (and Memory model) verification. We should also migrate all our classes to the layer.

[2015-08-04 17:32] ianks commented on #383
On this note, let's make sure AtomicMarkableReference is in line too.

[2015-08-08 18:57] jdantonio opened #392 "2.0: Drop support for Ruby 1.9.x?"
I doubt this will be very controversial, but it's good to have public discussion on such things. In the 2.0 release I would like to drop support for Ruby 1.9.x. The Ruby core team [stopped supporting 1.9.3](https://www.ruby-lang.org/en/news/2015/02/23/support-for-ruby-1-9-3-has-ended/) in February of this year. Rails 5 [will only run on Ruby 2.2+](http://www.sitepoint.com/whats-new-rails-5/). JRub

[2015-08-08 19:10] jdantonio opened #393 "2.0: Remove the `Dereferenceable` module?"
The [Dereferenceable](https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/concern/dereferenceable.rb) is something I created in the early days of this gem. I was working with Erlang (and some Clojure) and became enamored of immutable variables. The `Dereferenceable` module was my attempt to allow the programmer to (somewhat) enforce safety by copying, duplicating, and/or

[2015-08-08 19:17] ianks commented on #392
I agree we should drop 1.9.x support. What do you think our policy should
be for supporting Ruby versions in the future?
On Sat, Aug 8, 2015 at 12:57 PM jdantonio <notifications@github.com> wrote:

[2015-08-08 19:34] pitr-ch commented on #392
cc @iNecas

[2015-08-08 22:11] jdantonio commented on #331
In PR #391 all classes except MVar use Synchronization::Object. MVar uses two condition variables so it isn't compatible with the synchronization layer as it now exists.

[2015-08-10 11:18] pitr-ch opened #394 "Factory class for locks, generalisation of ReadWriteLock"
details in following discussion https://github.com/ruby-concurrency/concurrent-ruby/pull/381#issuecomment-127019635

[2015-08-10 11:33] pitr-ch commented on #393
:+1: for removing.

If there are users we could improve it. Replacing current module implementation (which pollutes object space) by 4 singleton implementations of Dereferenceable. One of them would be injected to the object at construction time.

[2015-08-10 11:37] pitr-ch commented on #331
Great. Regarding MVar, would this https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/synchronization/condition.rb#L48-48 help?

[2015-08-10 12:18] iNecas commented on #392
As long as 1.0 keeps running 1.9, and the 2.0 will still run on Ruby 2.0 I'm ok with it.

In general, in the "enterprise" point of view (I know many people don't like the word, but we don't make that disappear just by not looking that way:), the upstream end of support is not the end of real support (for example, Red Hat keeps backporting imporant, especially security, fixes after that date).
On t

[2015-08-10 14:22] jdantonio commented on #331
That looks like it should work, but it didn't. The tests on 32e75b981d369262cd34ce7e674295f8aa95c59f hang. I didn't spend a lot of time on it so there may be something I'm missing.

[2015-08-10 14:46] pitr-ch commented on #331
Doesn't `MVar` still have the race issues?

[2015-08-10 14:50] jdantonio commented on #331
No. MVar is fine. It's the Exchanger implementation that uses MVar that has issues.

[2015-08-11 06:25] pitr-ch commented on #392
From my side: we should be vocal about this to collect objections (Including a deprecation warning when running on ruby 1.9 ?), otherwise I am inclined to dropping support.

[2015-08-12 07:26] pitr-ch opened #395 "Do we embrace Kernel#autoload ?"
Discussed here https://github.com/ruby-concurrency/concurrent-ruby/pull/386

[2015-08-12 07:28] pitr-ch commented on #395
I would rather not use it. https://github.com/rails/rails/issues/17091#issuecomment-62419427 and https://github.com/headius/thread_safe/issues/15#issuecomment-36153742 mentions that it does not play well with different autoload mechanisms. Since we are only library we cannot control what else is pulled to the application. It may not work well together - needs further investigation.

[2015-08-13 03:53] sschepens commented on #395
I don't see much benefit in using it, plus it implies overhead during runtime instead of on load and I almost never prefer that.

[2015-08-14 19:53] thedarkone commented on #395
What do you mean?

[2015-08-15 14:55] pitr-ch commented on #395
more random thoughts: if we fully migrate to autoload, users will only require 'concurrent', rest of the require points will be removed and its manually maintained require dependencies too. So for us it would be simpler.

[2015-08-15 17:34] jdantonio commented on #230
Done in #386.

[2015-08-15 17:34] #230 closed

[2015-08-15 17:42] jdantonio commented on #318
@ianks When you have some time, can you please look at [this failing test](https://ci.appveyor.com/project/rubyconcurrency/concurrent-ruby/build/266-thread_safe/job/97x9f313tiwad6t5) for `LockFreeLinkedSet`? It pops up occasionally.

[2015-08-18 14:21] dsnipe opened #402 "Subset require is not working"
Hello.
In my project I need only `Promise` component. I try to require only it as described in readme:
`require 'concurrent/promise'`
But when I tried to run an application, I get:
`delay.rb:159:in 'ns_initialize': uninitialized constant Concurrent::Delay::Executor (NameError)`
If i required the whole `concurrent`, everything works perfect (amazing gem, btw :+1: )

[2015-08-18 16:58] jdantonio commented on #402
Thanks for letting me know. I've removed that section of the README. As the gem has grown we've begun having circular-reference issues with the global configuration and some of the high-level abstractions like `Promise` (see #388). The gem loads very quickly because we don't initiate any back-end services nor do we do much metaprogramming (both requirements of Rails dependencies and we're a runtim

[2015-08-18 16:58] #402 closed

[2015-08-19 12:43] jdantonio opened #406 "Update thread pool doc"
This needs updated: http://ruby-concurrency.github.io/concurrent-ruby/file.thread_pools.html

[2015-08-21 08:57] pitr-ch opened #407 "Synchronisation layer improvments"
- [x] Prefer composition over inheritance of the `Synchronisation::Object`. Keep it internally though for our classes to avoid indirections, forbidding subclassing.
- [x] Add abstraction for CAS on fields (currently AtomicReference in a final field - with indirection) to be able to swap to better in place implementation where they become available.
- [x] break down the supported tools to avoid cos

[2015-08-25 04:59] ianks commented on #407
Is it possible to have a way of creating final fields without the @Uppercase syntax?

[2015-08-25 06:45] pitr-ch commented on #407
Yeah it is possible, but since I use regular syntax to accessing instance variables I wanted to distinguish which one are final and which are not. There is nothing which would prevent changing value of the "final" variable.

[2015-08-25 11:39] jdantonio commented on #407
@ianks The uppercase name is just a convention that @pitr-ch uses. It has no special meaning or behavior.

[2015-08-26 03:38] thedarkone commented on #395
Ad @pitr-ch's last comment:

While at #409 (in a now invisible @jdantonio's comment about some broken code) it just occurred to me, that he said he was running Rails and checking for warnings, but the code responsible for warnings was Rubinius code (that should only ever be required and evaled on rbx) and at the same time I was pretty certain that Rbx doesn't run Rails `master` tests right now (or

[2015-08-26 04:03] jdantonio commented on #395
@thedarkone You ate correct, I was getting that warning on MRI. The reason we were loading Rbx files on MRI was located in `utils.rb`, which I've updated in 525cd1801e77129866abe84706da0b1b07369e36.

As a general practice we treat `require`s as though this was Java, and endeavor to explicitly require all dependencies in every file. We then guard interpreter-specific files with `if` statements, rat

[2015-08-26 04:51] thedarkone commented on #395
Yes, I know that this was just a temporary post-merge issue. I was just saying that keeping a code base in such a state, that no `.rb` file is ever loaded unless absolutely necessary, is an unbelievably "hard problem" (as in nothing particularly bad happens, but on other hand no developer has the time to keep checking that *all the requires* at the top of the file are indeed needed).

[2015-08-26 12:20] jdantonio opened #410 "Tests for C classes may mask load errors."
See #408.

[2015-08-27 11:32] pitr-ch commented on #395
@thedarkone yeah it is hard, and I am afraid we have more than one bug in our requires currently since we do not test it. I like explicit requires more, but autoload just may be more practical. On the other hand we could explore some possibilities how to manage the requires: maybe parsing the constants out of a file, letting running Ruby process with required concurrent-ruby resolve the constant's

[2015-08-27 12:13] jdantonio commented on #395
I believe this problem is much simpler than that, and one that we've just about solved. The idea of reading constants out of a file, though novel, feels overly complex to me.

If we treat `require` as though this were Java/C#/etc. and every file `require`s every file it needs, then everything loads exactly as it's supposed to. `autoload` is not necessary--assuming no circular references. So we jus

[2015-08-27 14:35] jdantonio commented on #395
I should also note that this is strictly a 1.0 discussion. The 2.0 release won't have any circular references. Since we are creating new APIs for many of the core high-level objects, we will define all those APIs in ways that do not create circular dependencies.

[2015-08-27 16:39] pitr-ch commented on #395
Yeah it's a simple and nice rule but it may be difficult to maintain in practice, it's a just a convention (error-prone) and we do not have a way to test it right now. I would like to go this way, but I do not see a clear and easy path.

Regarding Delay, I would like to keep the current API (similar to other IVar, Future, Promise), since the coming implementation of Delay in new futures is even mo

[2015-08-27 18:28] lucasallan commented on #393
Should we add a deprecation-warn before actually remove it? @jdantonio

[2015-08-28 02:06] jdantonio commented on #70
#412

[2015-08-28 02:06] #70 closed

[2015-08-28 02:07] jdantonio commented on #388
#409

[2015-08-28 02:07] #388 closed

[2015-08-28 07:28] pitr-ch commented on #407
I would like to do this for 1.0. Functionally it does not change anything, just the API to promote better usage and to allow replace CAS with better implementation when available.

[2015-08-28 10:40] jdantonio commented on #407
If this is going to be in 1.0 then it needs to happen fairly soon. I apologize for being pushy, but we need to release 1.0 *before* Rails 5 is released. That has been plan ever since the Rails team approached us.

This weekend I am going to release `pre2` and submit a PR to Rails in which I replace `ThreadSafe::Cache` with `Concurrent::Map`. At that point we'll be committed to a 1.0 timeline align

[2015-08-30 20:40] pitr-ch commented on #407
Yeah I know, I've already started working on this. it'll be ready in a week for `pre3`. What's the Rails 5 schedule?

[2015-08-30 20:42] jdantonio commented on #407
I don't know the Rails 5 schedule. All they have announced is "fall" 2015. If you think this will be done in a week I'm happy to hold off pre 2.

[2015-08-31 18:45] andrewvc opened #414 "Concurrent::Array not packaged with gem?"
Concurrent::Array / Map are not packaged with the gem though they are in the source code and the docs.

Why is this?

[2015-08-31 18:57] jdantonio commented on #414
`Concurrent::Array/Map/Hash` were released in v1.0.0.pre1, a prerelease. By default, rubygems and bundler will not install prerelease gems. To install pre-release gems you must use the `--pre` argument when running the `gem` command (a good SO article [here](http://stackoverflow.com/questions/4041902/what-does-pre-do-in-gem-install-rails-pre)).

The formal API documentation ([here](http://ruby-con

[2015-08-31 20:28] #379 closed

[2015-08-31 20:42] andrewvc commented on #414
Thanks @jdantonio !

[2015-08-31 20:42] #414 closed

[2015-09-19 14:08] jdantonio opened #417 "Clear interpreter warnings"
When running the Rails test suit against the latest pre-release we see a bunch of interpreter warnings. We need to clear as many of these as possible before the next release. Here is the full output:

[code]

[2015-09-19 14:16] jdantonio commented on #417
Rails [PR 21679](https://github.com/rails/rails/pull/21679).

@pitr-ch Some of these warnings come from the latest updates to the synchronization layer. Would you like to look into those, or would you like me to?

[2015-09-21 08:45] pitr-ch commented on #417
@jdantonio heh, just pulled latest changes to find out your fix conflicts with my fix :) Thanks for the fix.

[2015-09-21 10:16] jdantonio commented on #417
I haven't merged this yet so we can close this and use yours.

[2015-09-21 14:12] pitr-ch commented on #417
They are already in master, the fixes where from @amatsuda, thanks!

[2015-09-21 14:27] jdantonio commented on #417
@pitr-ch Ah. I got my PRs confused. The changes that were merged into master were submitted by a new contributor who saw the Rails PR and jumped in to help.

[2015-09-21 17:05] Ch4s3 commented on #234
What's the status on this?

[2015-09-21 17:15] jdantonio commented on #234
I've completely re-implemented channels. PR #415 has those changes. Top-level documentation is provided in the [doc/channel.md](https://github.com/ruby-concurrency/concurrent-ruby/blob/new-channel/doc/channel.md) file on the `new-channel` branch. The new implementation is capable of replicating all the channel examples from [Go by Example](https://gobyexample.com/channels) and [A Tour of Go](https

[2015-09-21 17:18] Ch4s3 commented on #234
@jdantonio I'll take a look soon. I'm out of the country for a couple of weeks, but I'll grab Edge when its out and  run through the Go Examples with it. If I can fully wrap my head around it, I'll try to help with docs.

[2015-09-24 11:34] jdantonio commented on #234
I've merged PR #415, the new channel implementation. It will be in the Edge gem at the next release.

[2015-09-24 16:44] t3hk0d3 opened #420 "AtomicFixnum is broken (not atomic)"
AtomicFixnum does not gurantee fixnum incremented atomically.

It reproducing both on MRI (2.1.5) and JRuby (1.7.20-1)

Here is reproduce code:

[code]

Expected result:  ``Result: 1000/1000``
Actual result: ``Result: 993/1000`` (n -> 1000, n < 1000)

[2015-09-24 16:52] #420 closed

[2015-09-24 16:53] t3hk0d3 commented on #420
Oopps, my bad. Forgot about

[code]
to gurantee all taska are actually executed

[2015-09-24 18:33] jdantonio commented on #420
I'm glad you were able to resolve this. If you have any more questions please don't hesitate to ask. We love feedback from users!

[2015-09-26 00:34] leomao10 opened #425 "Concurrent::Future does work with Time.use_zone"
Hi There, I found that this bit of code doesn't work, the concurrent-ruby we are using at the moment is: 0.9.0

[code]

[2015-09-26 02:26] jdantonio commented on #425
The code above works as expected. It's important to understand that the block passed to the `Future` does not actually run within the outer block created by `Time.use_zone`. The block passed to the Future is passed to the global thread pool where it is executed in a different context at a nondeterministic time. Even if, by chance, the Future executes before the outer block ends it still isn't runn

[2015-09-26 08:25] eregon commented on #425
One solution here would be to move or replicate the Time.use_zone inside the future block I guess

[2015-09-28 04:59] leomao10 commented on #425
Thanks for your detailed reply @jdantonio

You are correct, this is same behavior happened for Thread as well.

[code]

Although I still think that since `Time.use_zone` wrapped outside `Thread.new` or `Concurrent::Future.execute`, this `Thread` instance should use time_zone setted in outer scope. But this should be ruby's issue, not concurrent-ruby's issue, I will submit a ticket in MRI and see w

[2015-09-28 04:59] #425 closed

[2015-09-28 10:01] eregon commented on #425
@leomao10 It seems due to the implementation in ActiveSupport
https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/time/zones.rb
Changing the `default zone` would be an easier workaround if you only need one time zone globally.
But otherwise, threads do not inherit thread local-variables by design (actually it's even fiber-local variables here).
Essentially, it's a

[2015-09-28 19:53] hobodave opened #426 "Inconsistent `flat` behavior"
Using concurrent-ruby-edge 0.2.0pre2 on jRuby 9.0.1.0.

The FlatPromise only resolves if the contained future is successful. If the inner future fails, or raises, then the flat never resolves and hangs the program if you `wait` or call `value`.

[code]

[2015-09-28 20:51] hobodave commented on #426
FYI, using jRuby 9.0.1.0.

Also, we noticed that this behavior differed sometimes during repeated executions:

[code]

[2015-09-29 10:47] pitr-ch commented on #426
Thank you for letting us know, I'll investigate.

[2015-09-29 16:04] pitr-ch commented on #426
Please try #428, I've just noticed your PR, Thanks, I'll try that too.

[2015-09-29 20:10] #426 closed

[2015-10-02 13:33] jrochkind opened #435 "clarify plans for Java <8 support?"
The README currently says:

However, loading concurrent-ruby 0.9.1 under Java 7 produces a deprecation warning that Java 7 will _not_ be supported in 1.0 release:

Which message represents current intentions/plans?  Will Java 7 support be removed, or will it be retained as long as JRuby 9k runs on it, even if Java 8 is preferred?

Can the two messages be made consistent, in either direction?

[2015-10-02 13:40] jdantonio commented on #435
Java 7 **will** be supported in concurrent-ruby 1.0.

Originally we planned to drop support for Java 7 but we've reversed direction on that. Now that Rails 5 uses concurrency-ruby (we're a dependency in ActiveSupport) we need to support whatever platforms Rails supports. Rails supports JRuby 9000 on any version of Java that JRuby 9000 supports. That means both Java 7 and Java 8. Se we've committed

[2015-10-02 13:53] jrochkind commented on #435
Awesome.

So the deprecation notice should be eliminated or changed in the next minor or patch release? It should either be eliminted entirely for Java 7, or just say that Java 8 is preferred but without saying Java 7 support will be removed?

If you think the Java 7 problems aren't likely to effect most people, I'd suggest removing the deprecation warning entirely. It's annoying to have it in you

[2015-10-02 13:55] jrochkind commented on #435
Also, that's awesome to hear Rails 5 will have a dependency on concurrent-ruby. Sweet.

I _really hope_ that concurrent-ruby can get a 1.0 release, with full semver commitment, before Rails 5 drops.  Rails does already have a variety of dependencies on pre-1.0 gems... but it makes things confusing and overly complicated.  Semver suggests if your gem is already being used widely in production it _r

[2015-10-02 14:01] jdantonio commented on #435
You made your second post just as I was about to post my response to your first.

To your first post: Very good point. I wasn't planning any more 0.9.x releases since we've had several 1.x pre-releases, but if that warning is causing confusion we should address that. I'll create a new patch release of 0.9 this weekend that changes or removes the warning.

To your second: The 1.0 release will be ou

[2015-10-02 14:02] jrochkind commented on #435
:yellow_heart:

[2015-10-02 14:04] jrochkind commented on #435
This project is _so awesome_, thank you guys!!

[2015-10-06 16:00] mikeknep opened #438 "Inconsistent `zip` return types"
The inconsistent return types of `Concurrent#zip` (Edge) has led to some annoying boilerplate code in our codebase. To demonstrate the inconsistency:

[code]

`zip_baz` feels correct to me, while I think `zip_bar.value!` should return a collection, i.e. `[1]`. And I don't understand if there's a valid reason for `zip_foo.value!` to return a different type (an `Event` instead of a `Future`).

As it

[2015-10-07 20:37] mperham opened #439 "Cannot require concurrent/map on JRuby"
Same code works on MRI.

[code]

[2015-10-07 20:48] mperham commented on #439
It worked when I did `require 'concurrent'` per the docs.

[2015-10-08 20:00] jdantonio commented on #438
@mikeknep You make a very compelling argument. I'm generally a fan of always returning a collection, even when empty. That feature is something @pitr-ch has been working on and he may have a specific reason for implementing it this way. I'd like to get his thoughts before we decide to make a change.

[2015-10-08 22:29] jdantonio commented on #439
This is probably related to #434, but I will verify tonight.

[2015-10-08 23:40] jdantonio commented on #439
This should be addressed in the 1.0.0.pre4 release which I just uploaded to GitHub. Most of our classes require requiring the entire gem (something we plan to change in 2.0), but the three classes imported from thread_safe (Array, Map, and Hash) should work fine by requiring just that class.

Please let me know if this works so I can close the issue.

[2015-10-08 23:40] jdantonio commented on #417
Fixed in 1.0.0.pre4

[2015-10-08 23:40] #417 closed

[2015-10-08 23:57] jdantonio commented on #435
Addressed in PR #440

[2015-10-09 04:32] mperham commented on #439
pre4 works great, thanks.

[2015-10-09 04:32] #439 closed

[2015-10-12 02:08] asppsa opened #442 "Agent#await causes validation errror"
Hi there,

Perhaps I'm doing it wrong, but it seems that calling `await` on an Agent will cause it to fail, even though the call seems to work.  See the following code:

[code]

For me this will output the following:

[code]

So, the thread pauses on the await as expected, but in the meantime the agent is marked as failed.  This doesn't seem to have anything to do with the (lack of) validator, as

[2015-10-12 12:46] jdantonio commented on #442
Nice catch! That is a bug. Fixed ib PR #443.

[2015-10-12 17:20] #442 closed

[2015-10-12 17:20] #370 closed

[2015-10-12 17:21] #318 closed

[2015-10-13 19:17] Zapotek opened #444 "Uninitialized constants"
I'm following the [examples](http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Map.html) but getting `uninitialized constant` errors, for example:

[code]

I'm using concurrent-ruby 0.9.1.

Am I missing something?

[2015-10-13 19:19] jdantonio commented on #444
`Concurrent::Map` was added in the 1.0 pre-releases. It is not in 0.9.x. Please install the latest pre-release.

[2015-10-13 19:24] Zapotek commented on #444
That did it. :)
The project looks great btw, thank you.

[2015-10-13 19:24] #444 closed

[2015-10-13 19:26] jdantonio commented on #444
Thank you! Let me know if I can help in any other way.

[2015-10-13 19:44] Zapotek opened #445 "Custom transactions for Value Objects, Structures, and Collections"
I couldn't find something relevant in the docs but is there a way to perform custom actions on, say, a `Concurrent::Hash` that share the same lock/sync procedures as the object itself?

Sometimes custom handling may be required prior to pushing or removing items and it'd be nice if those actions could be synchronized too.

[2015-10-13 19:53] jdantonio commented on #445
Not on `Concurrent::Hash` and `Concurrent::Array`. Those classes are specifically intended to be functional, thread-safe replacements for Ruby's standard library `Array` and `Hash`.

`Concurrent::Map` has several methods which perform a variety of actions within the lock and some, such as `fetch_or_store`, take a block. We could potentially extend the API in the future, but probably not before the

[2015-10-13 20:10] Zapotek commented on #445
That's fair enough, although `Map` is missing `#include?`, is that on purpose?

[2015-10-13 20:15] jdantonio commented on #445
Interesting. I was not aware of that. @thedarkone, thoughts?

[2015-10-13 20:19] jdantonio commented on #445
@Zapotek On a completely different topic: I notice you are the creator of Arachni. I :green_heart: those tools. I used arachni-rpc at my last job. It was awesome. Thank you for your work on that!

[2015-10-13 20:31] Zapotek commented on #445
@jdantonio Thanks man. I've been keeping an eye on concurrent-ruby for a while too, so right back at you. :) In Arachni I'm mostly IO bound and run on MRI, so I've gone the non-blocking IO route rather than multi-threaded, but there are places where I can remove my own code and delegate to concurrent-ruby to make things cleaner so I decided to start the cleanup.

[2015-10-13 20:52] thedarkone commented on #445
@Zapotek there is a `Map#key?` method that does what you want (careful not to confuse with `Map#key`). For Ruby's `Hash`, methods like `include?`, `key?` and `has_key?` are all just aliases of each other.

You can add `Map#include?` to [`lib/concurrent/map.rb`](https://github.com/ruby-concurrency/concurrent-ruby/blob/7a6cb23fad620ccf74079c51780c62a6ee4a8372/lib/concurrent/map.rb) like this:

[code

[2015-10-13 20:57] thedarkone commented on #445
@Zapotek As a side-note, don't count on `Concurrent::Hash`, `Array`, `Map` and any other general purpose concurrent data structures ever exposing their internal synchronization primitives. They are Ruby VM specific and even if they weren't, exposing them is not something we want to do (we want to be able to change them in the future for example).

[2015-10-13 21:02] Zapotek commented on #445
@thedarkone Thanks for the info, is `#key?` new? It's not listed in the [docs](http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Map.html).

[2015-10-13 21:04] jdantonio commented on #445
It's probably a yardoc setup problem. We engage in a lot of shenanigans to load platform-specific internals and that often confuses Yard. So I write a lot of Yard marcos and liberally apply them to various class files. I haven't invested much time with the docs for the classes we imported from `thread_safe` so the generated docs are probably lacking. I'll create a to-do for myself.

[2015-10-13 21:05] jdantonio opened #446 "Fix yardoc for thread_safe classes"
See #445

[2015-10-13 21:06] Zapotek commented on #445
Cool, thanks guys.

[2015-10-13 21:06] #445 closed

[2015-10-17 14:25] brandonhilkert opened #450 "Completed pool stats incrementing"
I'm looking to get stats from the `RubyThreadPoolExecutor`. I've created the following script:

[code]

The output is:

[code]

Length, queue length, and scheduled make sense, but the `completed_task_count` seems to increment only up to the max number of workers. I was under the impression it would [increment as jobs are posted to the pool over time](http://www.rubydoc.info/github/ruby-concurrency

[2015-10-17 15:25] jdantonio commented on #450
https://github.com/ruby-concurrency/concurrent-ruby/commit/dde0c618d52c2f25f40404dbfa387802bb671215

[2015-10-17 19:49] brandonhilkert commented on #450
Awesome thanks! I'll be sure to work from master.

[2015-10-17 20:31] jdantonio commented on #450
Sorry for the short response earlier today. I'll plan to publish another pre-release next week. Both @pitr-ch and I are speaking at RubyConf so we plan to release the final 1.0 just before.

Will it be attending RubyConf this year? If so I'd love to buy you a coffee/beer/other and chat.

[2015-10-18 18:58] brandonhilkert commented on #450
@jdantonio No problem. You shouldn't feel obligated to respond on vacation :)

Rubyconf sounds exciting. Sadly, I won't make it this year. Looking forward to hearing about the release though. Perhaps, we can find another opportunity to chat.

From what I've played with so far, the project seems like a great fit for Sucker Punch. I'd love to plan to migrate to Sucker Punch to CR for `v2`. I've been

[2015-10-20 00:44] asppsa commented on #144
Hi there,

Just thought I'd drop in to say that I've done a bunch more work on my [io_actors][1] gem.  Actually, it uses Agents now instead of Actors and I've added support for multiple "selector" implementations:

* [IO.select][0] (i.e. no external gem required)
* [nio4r][2] (as mentioned, [libev][5]-based in C land)
* [eventmachine][3]
* [ffi-libevent][4] (I made this [libevent][6] wrapper mysel

[2015-10-22 20:45] #450 closed

[2015-10-22 20:47] jdantonio opened #454 "1.0 Feature Freeze"
I should have done this a little while ago, but it's time to freeze the current features in preparation for the 1.0 release. I'll crrate another pre-release build in the next day or two. After that it will be bug fixes and synchronization layer updates only.

[2015-10-22 20:57] pitr-ch commented on #438
I see your point, that's ugly. The reason was that zip is also able to zip over events which do not have a value, then it makes sense to return single value or just an even for cases like: `zip(event, event) => event`, `zip(event, future) => future-with-1-value`, `zip(event, future, future) => future-with-2-values`.

I look at it after 1.0 and I try to come with some solution, this definitely need

[2015-10-22 20:58] pitr-ch commented on #438
@mikeknep Thanks for letting us know, I appreciate the feedback!

[2015-10-29 22:46] dueckes opened #456 "Copy select thread local state of calling thread into workers"
This is a suggestion.

I was recently faced with a problem in a Rails app using Futures where log content that was run by a Future task did not contain a request uuid.  It turns out that Rails stores this log related data in thread locals.  To work around this, I decided to patch the ThreadPoolExecutor Worker to copy select local thread state from the invoking thread to the worker thread when it r

[2015-10-30 13:51] jdantonio commented on #456
That's a very interesting idea. Thank you for suggesting it. Because we are so close to the 1.0 release I've put a feature freeze in place, so we won't be able to give this serious consideration until after. I'm definitely going to read the link you post and do some research.

[2015-10-30 17:29] pitr-ch commented on #456
Would something as follows work?
[code]
or am I missing something? I am not sure why the Worker patch was needed.

[2015-11-02 11:23] pitr-ch commented on #292
Moved to https://docs.google.com/document/d/1pVzU8w_QF44YzUCCab990Q_WZOdhpKolCIHaiXG-sPw/edit#

[2015-11-02 11:23] #292 closed

[2015-11-02 11:25] #407 closed

[2015-11-02 11:36] pitr-ch opened #459 "Migrate all abstractions to Synchronisation layer or to edge"
Classes using mutex:
- [ ] MVar
- [ ] TVar
- [ ] Dereferencable (when is it suppose to be removed?)

Classes with final ivars not using layer:
- [ ] Maybe
- [ ] Tick
- [ ] possibly others

[2015-11-02 11:42] jdantonio commented on #459
Removing Dereferencable is a breaking API change. I think 2.0 is the appropriate time.

I've tried to update MVar to use the synchronization layer but the tests fail every time. I haven't explored it deeply.

Anything related to channels (like Tick) can wait. Those are Edge and and need a lot more work before I would recommend using them.

[2015-11-02 19:49] jeremy commented on #395
On another tack, autoload can help with boot time and heap size. +1 to both explicit requires (every file requires every file it needs) for internal deps as well as embracing autoload for toplevel constants to limit footprint.

Example [profiling require time](https://github.com/rails/rails/blob/master/tools/profile):
[code]

[2015-11-02 19:56] jdantonio commented on #395
@jeremy For the abstractions Rails is using you should be fine requiring just the things that are being used. `require 'concurrent/map'` and `require 'concurrent/atomic/count_down_latch'`. Neither of those use the global configuration, which is the one problem area. I'm pretty sure that `require 'concurrent/executor/thread_pool_executor'` will work in AsyncJob, too. Since that is only autoloaded b

[2015-11-02 20:30] jeremy commented on #395
@jdantonio Nice, thank you. I used the Rails case since it's easy to profile and a good example of how omitting requires internally can imply that only toplevel requires are supported. The specific case where I noticed this was wanting to `require 'concurrent/synchronization/lock'` directly, but it fails since it depends on LockableObject superclass and, looking at the file, it's hard for a user o

[2015-11-02 20:52] jdantonio opened #460 "Question: Drop Delay from global config"
One of the biggest barriers to using autoload w/i this gem is the circular reference caused by the use of `Delay` within the global config. I no longer feel that we need to use Delay in the global config and I would like to remove it. I'd like some feedback from the community on this.

A bit of history...

The earliest versions of our thread pools spawned threads on construction. This meant that a

[2015-11-02 21:05] thedarkone commented on #395
Maybe `concurrent-ruby` should depend on `rails` and use `ActiveSupport::Autoload`? :stuck_out_tongue_closed_eyes:

Sorry guys, couldn't resist :innocent:.

[2015-11-03 03:07] jdantonio commented on #395
@jeremy I've created a branch on my personal Rails for in which I've [changed the require statements](https://github.com/jdantonio/rails/commit/218aa0f56f16ca7f17451c3978e115619022591d) but I can't get my output from `tools/profile` to display the same output as you. I've tried on both `master` and my working branch but I don't see concurrent-ruby in the output. What's the trick? What am I missing

[2015-11-03 03:41] jeremy commented on #395
@jdantonio Check that the file has `require 'concurrent'` – added in your commit 😁 https://github.com/rails/rails/commit/56ac6e4768adb1f7055474d40a9e921380559c43

[2015-11-03 11:50] jdantonio commented on #395
@jeremy It appears that the profiler may not output anything for files that load very fast. The [branch I'm working on](https://github.com/jdantonio/rails/commit/218aa0f56f16ca7f17451c3978e115619022591d) replaces `require 'concurrent'` with `require 'concurrent/map'`. Map does a lot of autoloading. When I do `require 'concurrent'` I get output identical to yours. I experimented with several other

[2015-11-03 13:24] pitr-ch commented on #460
Great sum-up. I am for removing it. It makes perfect sense. If we decide to migrate to autoload we can use it to load the thread pool instance lazily as well (they would be stored in a constant then) without paying the performance hit on access.

[2015-11-03 13:52] pitr-ch commented on #395
@jeremy I understand your second point, but I think it's not a maintainable option for us, as discussed further up. It would be too error-prone and we do not have a way to test it. I think best option is to allow only `require 'concurrent'` and streamline the lib with autoload for top-level abstractions.

[2015-11-03 15:38] jeremy commented on #395
Agree 👍

[2015-11-03 23:56] dueckes commented on #456
I'm a little lost on your suggestion as I'm not sure of the most appropriate way to use it.
A goal for my changes was to make the sharing of thread state the least invasive as possible for callers.

My patch currently hides the sharing of thread state from calling code, so my use of futures is dead-easy:
[code]
Sharing of thread state is achieved by a worker patch, highlights of which follow:
[cod

[2015-11-04 23:44] jdantonio commented on #435
0.9.2 has been released along with Edge 0.1.2.

[2015-11-04 23:44] #435 closed

[2015-11-05 00:33] #257 closed

[2015-11-05 00:34] #225 closed

[2015-11-05 00:35] jdantonio commented on #232
@pitr-ch Has this been handled as part of the documentation of the synchronization layer?

[2015-11-05 00:35] #234 closed

[2015-11-05 00:37] jdantonio commented on #460
I quickly attempted this in PR #465 and many tests failed. It's not something I'm going to attempt right now, with the 1.0 release being so close. We'll make this part of the 2.0 release.

[2015-11-05 14:19] jdantonio commented on #454
I've released 1.0.0.pre5 and 0.9.2. I've also submit a PR to Rails updating it to the pre5 release. That PR was merged. AFAIK that's everything (except possibly some documentation) that we need to do before 1.0.0.

@pitr-ch Is there anything else you are still working on?

[2015-11-06 19:17] eregon commented on #460
Just for info, autoload is also still unsafe on many implementations, so I would not recommend it for concurrent-ruby.

[2015-11-08 20:16] pitr-ch commented on #232
it was not. I'll add something quickly.

[2015-11-08 20:19] pitr-ch commented on #460
@eregon Thanks for warning, do you know which ones?

[2015-11-08 20:20] pitr-ch commented on #454
Only, the documentation for atomicReference and I'll also rename `attr_volatile_with_cas` to `attr_atomic` and that should be all.

[2015-11-08 21:20] pitr-ch commented on #454
see #467

[2015-11-09 10:38] eregon commented on #460
Well, recent MRI has a couple autoloading bugs, there is a RubySpec which fails sporadically for years, a few bug/deadlock reports for JRuby, JRuby+Truffle and new implementations most likely do not handle it too well, etc.

[2015-11-09 16:52] pitr-ch commented on #460
Ah ok, better not to use it then. I thought MRI and JRuby is ok, so we would just fix JRuby+Truffle.

[2015-11-09 16:57] jdantonio commented on #460
I was under the impression, from a prior discussion with @headius, that autoload was thread safe on both MRI and JRuby. Both the `atomic` and `thread_safe` gems used autoload extensively, and both have been merged into c-r.

[2015-11-09 18:19] jdantonio commented on #454
I think we're good-to-go for the full 1.0.0 release. RubyConf starts this Sunday. How does everyone feel about releasing this Saturday, 11/14/2015? Any objections?

@pitr-ch @mighe @chrisseaton @ianks @rkday @obrok @lucasallan @alexdowad @iNecas @headius @thedarkone

[2015-11-09 18:20] lucasallan commented on #454
:+1:

[2015-11-09 18:29] mighe commented on #454
Fine by me. I'm using our gem in production and everything is OK :+1:

[2015-11-09 18:43] thedarkone commented on #454
:+1:

[2015-11-10 16:24] pitr-ch commented on #454
:+1:

[2015-11-11 11:04] pitr-ch commented on #456
Ah sorry, my mistake. The example does not help with Futures. I see your problem and we should address it however the suggestion uses a global state which should be avoided. It's hard to track and it leaks to all jobs in the gem even if some of them are not called from Rails scope.

I would suggest following approach for now
[code]

In next concurrent-ruby release we could consider introducing a f

[2015-11-11 11:36] iNecas commented on #454
:+1: no incompatibilities or other issues observed in Dynflow

[2015-11-13 15:22] #454 closed

[2015-11-20 21:30] jdantonio opened #468 "Spike Streem in pure Ruby"
Matz is prototyping a new stream processing system for concurrent applications. He's doing so by creating a new language called Streem. It seems to me that we can spike a reasonable prototype in pure Ruby using concurrent-ruby. I think that might be fun.

https://github.com/matz/streem

[2015-11-22 14:06] jdantonio opened #470 "Document project "no-go" rules"
We've long had a few "don't ever do this" rules for this gem. Specifically, no downstream dependencies and no monkey-patching Ruby. We need to document these clearly for potential contributors.

[2015-11-23 09:12] pitr-ch commented on #470
:+1: and if possible we should write automated tests for them.

[2015-11-25 00:37] reidmorrison opened #471 "uninitialized constant Concurrent::ReentrantReadWriteLock"
In order to use `Concurrent::ReentrantReadWriteLock` is it expected that we need to perform the following require first before it is available?

[code]

IRB Example:
[code]

Should I submit a PR if the intention is to make `Concurrent::ReentrantReadWriteLock` available after requiring `concurrent`?

[2015-11-25 01:33] jdantonio commented on #471
Nice catch. `Concurrent::ReentrantReadWriteLock` should be loaded by `require "concurrent"`. The appropriate place for the `require` statement is `lib/concurrent/atomics.rb` (our directory structure is not idiomatic right now). I'd love a PR if you don't mind submitting one.

Thank you!

[2015-11-25 02:29] reidmorrison commented on #471
@jdantonio Great talk at RubyConf about the GIL, it corrected many of our incorrect assumptions on how MRI works.

[2015-11-25 04:50] klebervirgilio commented on #468
:+1:

[2015-11-25 14:35] Ch4s3 commented on #468
:+1:

[2015-11-25 19:58] #471 closed

[2015-11-26 08:42] kares opened #474 "concurrent/timer_task should load its dependencies"
currently: `require 'concurrent/timer_task'` :
[code]

[2015-11-28 15:45] jdantonio commented on #474
Thank you for reporting this. I'll work on it next week.

[2015-11-28 16:42] jdantonio commented on #468
I started spiking this the other day and it ended up being remarkably easy. I plan to work on this more next week and I expect I'll have something to share by the end of the week. I'll post something here and on Matz's Streem once I do.

[2015-11-30 10:31] pitr-ch opened #476 "Separate benchmarks to bench(marks) directory, use bench9000 instead of ips"
bench9000 has better isolation and warmup running on multiple Ruby implementations

[2015-12-03 01:42] schneems opened #478 "Bug in dataflow?"
I tried using dataflow. Kept getting an error. Re-wrote to only use a future, and it worked fine. Was getting this error:

[code]

Here is the diff to get the program working

[code]

Then below I make sure all the futures have executed:

[code]

Does anything jump out at you as being off with the `dataflow` implementation?

[2015-12-03 13:16] schneems commented on #478
if you're curious the value of the dependency was `false` when i ran that code with https://github.com/ruby-concurrency/concurrent-ruby/pull/477

[2015-12-03 21:49] schneems commented on #478
I shipped this implementation in Sprockets 3.5.0 https://github.com/rails/sprockets/pull/193.

[2015-12-03 21:53] jdantonio commented on #478
@schneems Thanks for updating your PR and for your patience in waiting for me to review it. I'm out of town for work this week and I haven't had much free time. I plan to catch up on my open source commitments this weekend.

I'm glad that you were able to get sprockets working!

[2015-12-03 22:19] schneems commented on #478
No worries. Take your time. I wish github had an "out of office feature". When I was out for paternity leave I keep getting all these emails, and the only good way to deal with them was to reply and say I was out. Had to do that manually.

Thanks for all your work on this gem, so far it's been great to work with. Also thanks for your talk at RubyConf. I'm not blocked on this issue, but I did want

[2015-12-07 19:20] RoryO commented on #478
@schneems I had this issue when working with Dataflow. Where I think your issue lies is ```require 'concurrent/dataflow'``` instead of ```require 'concurrent'```. I have seen a number of interesting, difficult to trace issues with the Concurrent inner classes when not requiring the base concurrent file that are seemingly unrelated. (e.x. doing ```require 'concurrent/promise'; x = Concurrent::Promi

[2015-12-07 21:32] tarcieri opened #480 "NameError: uninitialized constant Concurrent::Future::Options"
Involved gem versions can be inferred from the backtrace. JRuby 9.0.4.0.

[code]

[2015-12-07 22:14] tarcieri commented on #480
This occurs when sprockets is precompiling assets as part of a standard Rails workflow

[2015-12-07 22:40] atambo commented on #480
Hitting this on jruby 1.7.23 as well :(

[2015-12-07 22:57] chrisseaton commented on #478
I'll aim to take a look at this tomorrow.

[2015-12-08 03:08] jdantonio commented on #480
This is a problem with an autoload call behaving differently on JRuby than MRI. The `manifest.rb` file in sprockets calls `require 'concurrent/future'` rather than the recommended `require 'concurrent'`. I've opened an [issue with sprockets](https://github.com/rails/sprockets/issues/199). I'll keep working on it from my end and see if I can find a solution. In the interim, please try adding `requi

[2015-12-08 03:38] jdantonio commented on #480
Possible fix in PR #481

[2015-12-08 13:42] chrisseaton commented on #478
Sorry, I can't seem to reproduce this:

[code]

`require 'concurrent/dataflow` doesn't work - but doesn't give you error message.

Can you see any significant difference between my reduced test case and what you were doing? It looks like you (@schneems) already made a change to report a better error message. Did that tell you anything useful?

[2015-12-08 15:34] schneems commented on #478
I think we can close this issue. It was a bug in my code. If you were following along with #477 I actually had bad code in there that would always raise an error. I was using that to debug, and when I added the extra `Concurrent.dataflow {}` to the other side of the if statement it was hiding the working code (since it was always raising an error). 🙊 🙊 🙊  Sorry for the noise, thanks for the sanity

[2015-12-08 15:34] #478 closed

[2015-12-08 15:37] chrisseaton commented on #478
Great - are you trying dataflow again? You can see in your code example above that it simplifies some things compared to futures.

[2015-12-08 16:04] schneems commented on #478
I might try it in the future. For now i'm going to need to move on to other things.

In my code sample the only complex case that we have to handle when the file is already written to disk. In the future solution we check for presence of the future before calling wait on it. In the dataflow case we create an empty dataflow. Creating an empty dataflow is probably more expensive than the nil check w

[2015-12-08 16:38] pitr-ch commented on #478
@schneems you may be interested in http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Edge/FutureShortcuts.html a new future implementation going into c-r 2.0. It allows chaining as dataflow and there is also `Concurrent.succeeded_future` to create futures without blocks. For now it's in edge though.

[2015-12-09 21:39] cavpollo commented on #480
Adding <code>require 'concurrent'</code> in the Rakefile fixed temporarly the issue, thanks

[2015-12-11 05:41] balasankarc opened #484 "Test failing"
Hi,
I am packaging concurrent-ruby for Debian as part of GitLab packaging and am stuck with a weird test failure. All the tests run fine except one. The log can be seen here - http://paste.debian.net/343198/

Please help me fix it.

[2015-12-12 12:19] jdantonio commented on #484
That test is not part of the core concurrent-ruby gem, it's part of the Edge gem and can safely be ignored. The code under test won't be packaged with concurrent-ruby.

We build three gems out of this repository:

* concurrent-ruby is the core gem
* concurrent-ruby-ext contains optional C extensions
* concurrent-ruby-edge contains experimental features not necessarily ready of inclusion in the cor

[2015-12-12 12:23] jdantonio commented on #480
@cavpollo Thank you for testing this.

I am out of town on business but will be home soon. Once I get home I'll add a bunch of tests like the ones suggested by @schneems then issue a 1.0.1 release with this update. That should be done sometime next week.

[2015-12-13 16:24] FooBarWidget opened #485 "DEFAULT_MAX_POOL_SIZE is too high on non-JRuby"
On non-JRUBY, `DEFAULT_MAX_POOL_SIZE` is set to about 2 billion. This is way too high: MRI can't spawn that many threads, the OS will return an error way before that limit is reached.  `Concurrent.global_io_executor` has `max_threads` set to this value. I thought I could just put thousands of I/O operations in that thread pool and wait for it to finish, but the thread pool errors out with a thread

[2015-12-14 12:48] jdantonio commented on #485
Configuration of the global thread pool is something we've discussed extensively in the past. We believe the current settings are the best settings for the general audience. All of our high level abstractions support thread pool customization via dependency injection. When the current settings don't support a specific use case we recommend that users configure their own thread pool (explained belo