[2015-12-14 14:52] FooBarWidget commented on #485
You raise a good point w.r.t. transparency of failure. Maybe link to this discussion from the documentation for `global_io_executor`?

[2015-12-14 14:52] #485 closed

[2015-12-14 16:28] pitr-ch commented on #485
@jdantonio great explanation! :+1: for linking or adding to the documentation. Better solution might be instead of creating more thread via custom thread pools (which brings burden of managing their live time) to implement some throttling tool limiting certain kind of operations to 1024 but running them still on the global pool with rest of the operations. This is something we should explore for 2

[2015-12-14 16:29] pitr-ch opened #486 "Throttling of operations with a similar type"
based on https://github.com/ruby-concurrency/concurrent-ruby/issues/485

[2015-12-17 15:28] schmurfy commented on #144
after restarting to work on a project which I want to use concurrent-ruby in I now face this question too, previously I was going for fully evented IO (mainly eventmachine and that is what I use at work) but for simple cases the standard socket classes are a good option too but I am not sure how to implement it.

The problem I have is that on one side I think the server socket should be an actor t

[2015-12-19 15:19] pitr-ch opened #489 "Optimise thread pool"
- Do not share a single job queue.
- Lock-free implementation.
- see Java thread pools for inspiration

[2015-12-21 03:42] balasankarc commented on #484
Ok. Thanks. I will skip it in the package for now.

[2015-12-21 06:21] balasankarc commented on #484
@jdantonio Hi, when you get time, can you please tag which all tests are part of the core gem?

[2015-12-23 14:00] voxik opened #490 "Include examples and documentation in the gem"
Shouldn't the documentation and examples be included in resulting gem?

[2015-12-24 01:36] jdantonio commented on #484
Tomorrow is Christmas Eve so I won't be able to get to this for a few days. I hope to be able to do this next week.

[2015-12-24 03:59] balasankarc commented on #484
That is fine. For now I will simply disable the failing tests. Happy holidays. :)

[2015-12-27 20:07] jdantonio commented on #490
Ta this time there isn't much value in including either of those in the published gem. Our examples aren't really user-facing examples, they are mostly benchmarks and comparisons (see #476). Our documentation is still being regularly updated so the web is the best source for the most up-to-date documentation.

[2015-12-27 20:07] #490 closed

[2015-12-27 20:07] jdantonio commented on #480
#481 merged.

[2015-12-27 20:07] #480 closed

[2015-12-30 01:17] jdantonio commented on #484
Merged in PR #491.

[2015-12-30 01:17] #484 closed

[2015-12-30 18:05] balasankarc commented on #484
Thanks @jdantonio . This is a great help.

[2016-01-09 12:45] chrisseaton opened #493 "No good tools for long streams of tasks"
A couple of times now I've been speaking to someone and they have a problem like this.

[code]

or

[code]

In both cases we're creating a huge number of tasks, and in the latter case we may not know how many tasks in advance.

The problem in both cases is that people create millions of tasks which can take up a lot of memory with the proc and the closure.

I feel like we're missing two abstractio

[2016-01-09 12:50] chrisseaton commented on #493
Oh when you are doing this you may want to set the thread pool to size `Concurrent.processor_count - 1`, as the main thread will also be running tasks, so you would have `Concurrent.processor_count + 1` tasks running and being switched on and off cores, ruining cache.

[2016-01-09 13:14] digininja commented on #493
Sounds like a good option, I'll give it a try tonight.
On 9 Jan 2016 12:50, "Chris Seaton" <notifications@github.com> wrote:

[2016-01-09 15:15] eregon commented on #493
This exists in many gems as `peach`/`pmap`, but I think it would make total sense in c-r.
It sounds like [Scala's `.par`](http://docs.scala-lang.org/overviews/parallel-collections/overview.html) to me, that might be an interesting direction to explore.
It could indeed be nice to have parallel enumerators in additions to eager and lazy ones :)

[2016-01-09 15:20] digininja commented on #493
Have you got good links to describe the basics of how all this works, I.e.
what are the different types of enumerators?
On 9 Jan 2016 15:15, "Benoit Daloze" <notifications@github.com> wrote:

[2016-01-09 15:35] jdantonio commented on #493
:+1: to parallel enumerable.

I'm heading out the door and only have time for a quick note. This topic has been discussed at length before and some spike code was written. Please see #222, #229, and #231.

// @SebastianEdwards

[2016-01-09 15:39] chrisseaton commented on #493
Ah I didn't know about those. We need a parallel `Enumerator` as well as `Enumerable` though, for streams of unknown length. I didn't see that discussed yet.

[2016-01-09 21:29] digininja commented on #493
For my real code, and my sample that @chrisseaton reproduced above, the change to the pool initialisation worked perfectly. Memory doesn't go above 2.1% on my 16G machine so I've pushed the queue size up to 90 times and still only at 2.3% max.

[2016-01-11 10:41] pitr-ch commented on #493
An example with actors, which also has configurable parallelism, does not require to manage pool directly.

[code]

[2016-01-11 11:08] chrisseaton commented on #493
@pitr-ch the problem here is that creating a closure (whether that's for a pool for a future) for every single work item just takes up too much memory.

[2016-01-11 11:10] digininja commented on #493
I would assume that lumping together all the responses to the futures could
also take up a large chunk of memory.

On 11 January 2016 at 11:08, Chris Seaton <notifications@github.com> wrote:

[2016-01-11 11:23] digininja commented on #493
If it helps anyone, this is an approximation to the code I'm working on:

https://gist.github.com/digininja/d68f3c272778ec9a3299

I expect the word list to be around a million words and the individual tasks to be fairly quick and lightweight.

[2016-01-13 21:47] kylewolfe opened #494 "concurrent-edge: reading from a closed channel (timing issue)"
While writing a simple concurrent client for a RESTful service, I ran in to this scenario. The current code hangs on the last take on the channel, because take is performed before the channel is closed. Uncomment the sleep and the take operation returns a nil (as it should in both cases, IMO to avoid having to always use a 'done' channel. FYI, Golang does not block on reading of a closed channel,

[2016-01-14 03:13] jdantonio commented on #494
Thanks for pointing this out and for the detailed explanation. I haven't had an opportunity to do more work on channels recently. I hope to get back on this soon. Right now I'm the only person working on channels and they are still very experimental. I'd love some help if you're interested hacking at the implementation.

[2016-01-14 15:38] kylewolfe commented on #494
I can have a look at fixing this issue, but I am fairly new to Ruby.

A little more info: The issue may be isolated to Unbuffered channel implementation (https://github.com/ruby-concurrency/concurrent-ruby/blob/9c5b03af8661d74b37b371542a693f2bc6774dfc/lib/concurrent/channel/buffer/unbuffered.rb#L89). Flipping both channels in the example above to a capacity of 2 removes the deadlock.

Speaking of

[2016-01-14 16:03] kylewolfe commented on #494
Another issue which is probably related. Iterating over a channel that has nothing sent through it before being closed results in a deadlock.

[code]

[2016-01-14 16:41] pitr-ch commented on #493
Ah, then Channels would work (cc @jdantonio) since they have back-pressure, a reading thread would become blocked if it would be sending jobs too fast to a job-handling-channel (which should have limited size). Actors would also work but there would have to be a bounded message box implemented. This use-case definitely points at some holes we have in our APIs.

[2016-01-14 16:46] pitr-ch opened #495 "Add bounded message box for actors"

[2016-01-15 06:24] jdantonio commented on #494
Thank you! That's a huge help--now I know exactly where to look.

That's an excellent suggestion regarding deadlock detection. This channel implementation is very raw. I started working on it as I was learning Go for fun. It's a long way from being production ready. Please keep the feedback and suggestions coming! It's much appreciated.

[2016-01-15 06:27] jdantonio commented on #493
Excellent feedback and suggestions. Thank you everyone!

[2016-01-15 11:26] pitr-ch commented on #490
@voxik hi, is there any issue with packaging?

[2016-01-15 15:06] voxik commented on #490
@pitr-ch not really. I just thought that it could be useful to ship some documentation with the packaged gem. Thx

[2016-01-15 18:56] kylewolfe commented on #494
After trying to use https://github.com/igrigorik/agent (I believe they have proper deadlock detection, straight from the standard thread package?) and finding that it also does not satisfy correct behavior, I gave a little more thought to this issue.

Keep in mind that I have no experience developing a library that enables concurrency, only experience in building concurrent applications, so take w

[2016-01-16 00:28] pitr-ch commented on #438
please @mikeknep see #496.

[2016-01-16 01:17] mikeknep commented on #438
Can't comment much on the implementation as I haven't dug too deep into the internals, but the specs look solid; much more intuitive and consistent, no gotchas. Nice work, and thanks!

[2016-01-16 17:48] pitr-ch commented on #144
Sorry for not answering sooner.

@asppsa I am curious why did you switch from actors to agents?

@schmurfy I agree the loop is problematic, it'll block the actor indefinitely. A different pattern can be used here, using the UDP actor as a manager of an internal Thread which will do the loop.
[code]

[2016-01-17 16:55] schmurfy commented on #144
thanks @pitr-ch !
How would you ensure that the thread is destroyed if anything bad happens to the actor ?

[2016-01-17 23:53] jdantonio commented on #494
Thanks for the clarification. What you say makes sense. I'll work on this later in the week. I think we can solve this.

[2016-01-18 10:54] pitr-ch commented on #144
Closing the server on actor termination event should make the thread leave the loop and end, then it should GC-ed with the actor. It's a rather quick thought, please test. Also the loop should have some exception handling (which I've omitted from the example), something like: sending the error to the actor to let it fail, and terminating the loop.

[2016-01-18 13:36] schmurfy commented on #144
thanks I will give it a try.

[2016-01-18 14:29] pitr-ch commented on #144
If it works for you, would you be so kind to open a PR to the actor documentation with full example of this?

[2016-01-18 14:54] schmurfy commented on #144
yes sure, I will give it a try this week.

[2016-01-18 16:54] hobodave commented on #438
PR looks good to me. Looking forward to the changes.

[2016-01-18 22:22] #438 closed

[2016-01-21 22:41] asppsa commented on #144
Hi @pitr-ch,

Basically, it was the ability agents have to immediately dereference.  This made it much easier to write things like a select loop that lives in a long-running separate thread.  From a high level, the gem still provides a way to allow actors to pass messages over IO ([see here][1]), but the underlying code that manages the reading and writing no longer needs actors (but does instead

[2016-01-22 20:54] matthewd opened #500 "ThreadExecutor doesn't survive fork"
[code]

This causes a deadlock in the child, because its executor is full of dead threads.

It feels like the executor should be able to detect that condition, and flush the dead workers out of the pool.

[2016-01-23 10:17] pitr-ch commented on #500
@matthewd Thanks for contacting us and letting us know. Unfortunately this will require larger discussion. It's not just about how to add a callback to restart the threads after forking. Concurrent-ruby is designed to run on any Ruby implementation. Forking is not supported on all of them, so we need to come up with some solution/API which will work on all Ruby implementations. @matthewd could you

[2016-01-23 12:59] jdantonio commented on #500
My initial reaction to this request is that this isn't a bug. Passing a thread pool to a forked process isn't something we should be reasonably expected to support. The workers we would be flushing aren't "dead" threads, they are references to threads that *don't exist* in the forked process. Forking and threading are both concurrency techniques. They have distinctly different advantages and disad

[2016-01-23 19:00] matthewd commented on #500
concurrent-ruby has global executors (like the one used for futures). If those globals don't survive a fork, then concurrent-ruby is incompatible with forking, and that's gonna be a problem.

This part is easy: if the implementation doesn't support forking, then there's no problem to worry about.

Indeed... I was talking about the ruby-level Thread's state.

---

My argument is that if the executo

[2016-01-23 19:11] matthewd commented on #500
Specifically, here's line currently causing a problem: https://github.com/rails/sprockets/blob/a7b20d571012318de6271290fae6c96c06d86635/lib/sprockets/manifest.rb#L168

If `compile` is called on a non-trivial manifest, the global executor gets fully populated. It the process later forks, then calls `compile` again (or uses Future for any other reason, without an explicit executor) the Future never

[2016-01-23 20:43] jdantonio commented on #500
Let me see if I can sum this up:

* If an MRI fork occurs *after* a thread pool has created one or more threads the copy of the thread pool becomes effectively useless. The current implementation assumes all threads are viable when in situation they are not.
* When a fork occurs the thread pool on the original process will continue to process the jobs in its queue.
* That's OK with us. Our goal is

[2016-01-23 21:27] matthewd commented on #500
:+1:

The only very special circumstance I can foresee would be if a thread belonging to the executor were the one to fork: then its thread would still be alive and running. As the thread is now the new process's "main" thread, it seems fine (and even actively desirable) that the described logic will have removed it from the pool assuming it was dead [or more strictly, and more still true: useless

[2016-01-23 21:33] matthewd commented on #500
I now observe that my original example didn't wait for the Futures to complete before it forked, which could imply I was trying to spread their work across the two processes -- which would indeed be a (rather questionable) feature request.

To make that clearer for any future readers, my problem is more specifically this:

[code]

[2016-01-24 09:26] pitr-ch commented on #500
@mastfish So if I understand correctly, it's not that you are forking the application (e.g. because there is a cpu bound computations you would like to spread to more MRI processes) but rather if something else forks for whatever reason you would like to be sure that you can use c-r at it won't break. Correct?

I agree c-r should fix this issue or at least raise exceptions so it does not lead dead

[2016-01-24 09:47] matthewd commented on #500
Really? That's a deal-breaker for me. :worried:

Possibly cheaper: remember Thread.main when the executor is built, and then check whether that and the first thread in the pool are both alive -- if one or both are dead, we've forked.

And if it helps further, I think you could maybe further avoid synchronisation by focusing on whether the chosen worker thread is still alive.

[2016-01-24 10:53] pitr-ch commented on #500
Maybe I formulated it with too strong words :smile:, it's rather that we do not know at the moment it probably works but we have to make sure first that there are no issues.

[2016-01-24 11:15] pitr-ch commented on #500
I think we are in agreement that this needs to be fixed, @matthewd thanks for the suggestions, we'll try to benchmark what's the fastest way to check it an we'll add something into the MRI implementation of executor.

[2016-01-24 16:43] jdantonio commented on #500
A few thoughts (in no particular order) and some additional information:

* I still consider threading+forking to be an anti-pattern, and possibly an edge case. My main concern is that ThreadPoolExecutor survive and behave in a predictable manner. I'd like to limit our changes to only that issue.
* I'm not concerned with any of our high-level abstractions right now. If our thread pools survive a f

[2016-01-24 22:28] thedarkone commented on #500
My first goto solution would be to just monkey patch `Kernel#fork` :bowtie:.

----

On a serious note, the initial mechanism (the `$$` check or smth else) could be Ruby VM specific (noops for JRuby etc.) and as @eregon pointed out on gitter, in the future we could be rescued by https://bugs.ruby-lang.org/issues/5446. Maybe with a little help MRI core team could land this reasonably soon (2.4)?

[2016-01-24 23:08] jdantonio commented on #500
I created a couple of test scripts in PR #501.

**Tl;DR:** We cannot use `Thread.main` to determine if our process has forked because Ruby copies all attributes of `Thread.main` on the new fork. However checking `$$` on every post is only 1.08x slower which is probably an acceptable performance hit.

@matthewd @pitr-ch If you have some time, please run the scripts in the aforementioned PR, make su

[2016-01-25 13:19] eregon commented on #500
Just two notes:
* `getpid` on most OSs does not do a real syscall, but is just a read from a well-known read-only memory location.
* The Ruby Thread which is forked is the exact same instance in the child, which I would call unfortunate but it's the way it is.

[2016-01-25 14:37] jdantonio commented on #500
I've made another update and done more testing in #501.

[2016-01-26 22:38] schneems commented on #500
Thanks for the work here, it took me a few hours to find the original issue before we figured out tests in https://github.com/rails/sprockets-rails were forking and causing the executor threads to be dead.

[2016-01-27 12:36] jdantonio commented on #500
@schneems Thank you for reporting it! This is an edge case we never considered. c-r will be stronger because if this fix.

[2016-01-29 13:24] jdantonio commented on #500
Fix in PR #501 has been merged. Will release v1.0.1 soon.

[2016-02-06 13:51] jrochkind opened #504 "calling value on an un-executed Promise produces confusing exception suggesting Deadlock"
p1 = Concurrent::Promise.new{ "Hello World!" }
    p1.value
    # raises fatal: No live threads left. Deadlock?
    p1.execute.value
    # => "Hello World!"

Would a more straightforward exception message indicating "the promise hasn't been executed yet you can't look at it's value" be possible and desirable?

The problem/bug with the code that results in an exception is _not_ really that no live

[2016-02-06 17:09] ianks commented on #504
I would agree that Promise.new should just directly execute the promise. At least that's how it works is JS, and tends to be the most common pattern. In fact, I don't think JS even provides an API for creating and not executing it.

I do however understand that Ruby is a different language, and typically .new should not have side effects outside of the object being instantiated. Having the promise

[2016-02-06 19:39] jrochkind commented on #504
Understood, mainly I'm just suggesting that for now the relatively backwards compatible step of ensuring a different more meaningful exception is raised when that happens.

[2016-02-07 20:02] jdantonio commented on #504
I like this idea and I'm going to explore it. Thank you @jrochkind for the suggestion.

The reason for the `#execute` method is a little more complicated than what's described above, but the result is the same. Basically, reordering rules make it unsafe for threads to be created (or jobs post to) from within a constructor. Ruby isn't the only language that has the problem. Java and C# have this pr

[2016-02-07 20:22] jrochkind commented on #504
@jdantonio Thanks! The suggestion to actually change the `new` API was just an add-on. As I explore Promises more and see how they work, I'm actually less sure it's a good idea.

I think as a first step my primary complaint/suggest is better. If you _do_ call #value on an un-executed Promise, is there a way to get a better more description exception?

If so, I think that would be a lot easier, and

[2016-02-07 20:30] jdantonio commented on #504
@jrochkind You're first suggestion is what I'm considering--raising a descriptive exception. But I want to change all classes with an `#execute` method to behave consistently if it makes sense. At a minimum that's Promise and Future, but I want to look at ScheduledTask, TimerTask, and others. Also, none of those classes are *guaranteed* to raise an exception if `#value` is called before `#execute`

[2016-02-07 20:34] jrochkind commented on #504
Ah, okay, thanks.

Yeah, I'd consider the case where the value blocks indefinitely to _also_ be a bug. I don't think you'd ever want that to happen?

I don't think suppressing the exception and making it block indefinitely is an improvement -- I think that's still undesriable behavior, that is too easy to accidentally trigger by mistakenly using `new` instead of `execute`.  Is there any case where

[2016-02-07 21:13] jdantonio commented on #474
Sorry it took me so long to work on this. After the release of 1.0 this bug got lost in the shuffle. My apologies. I've submit a fix in PR #505. That fix should be a part of the upcoming 1.0.1 release.

[2016-02-14 16:21] lloeki opened #510 "CSP channels implementation"
I've had some chat with @coding-horror over Twitter and concurrent-ruby was brought again to my mind, so I went on to look for the channel implementation, which I found to be lacking. Turns out I've had some implementation collecting dust, so maybe someone over here could make use of this.

I strived to keep the implementation simple, keeping the Go spirit while still being idiomatic Ruby: take a

[2016-02-15 14:44] jdantonio commented on #510
Absolutely, I'd love your assistance with channels. Thank you!

The new implementation I started several months back is still very experimental, incomplete, and buggy. I haven't had much time to revisit lately. I've only looked at your implementation briefly but yours is definitely simpler and more elegant. It's probably a better base to work from than what I've created. There are tools within con

[2016-02-15 14:44] #500 closed

[2016-02-15 14:45] jdantonio commented on #494
See #501. We may adopt a new channel implementation soon.

[2016-02-15 14:45] #474 closed

[2016-02-15 14:46] jdantonio commented on #468
I have a *long* way to go, but I've started a spike [here](https://github.com/jdantonio/ruby-streem).

[2016-02-15 14:46] #468 closed

[2016-02-15 15:52] schneems commented on #500
BTW not sure if you got around to writing integration tests yet. I made a library that might help https://github.com/schneems/wait_for_it.

[2016-02-15 18:00] lloeki commented on #510
Well, becoming a contributor sounds nice :-) However small a piece, I'd like to help Ruby stay relevant in modern times.

I'll get things going locally, and start getting the hang of concurrent-ruby's layout and conventions.

[2016-02-15 20:33] pitr-ch opened #511 "Exception catching"
C-R should unify on what exceptions to catch. Discussed in #507

[2016-02-15 20:57] pitr-ch commented on #511
The Ruby exception hierarchy puts the exceptions from which we are picking on the same level so I think it's valid to put together a list of exceptions which should be caught because otherwise they would break the abstraction or would be silently ignored which is highly undesirable.

The list of exceptions was not put together carefully though, and it should be discussed further.

The hierarchy:
[

[2016-02-15 22:03] jdantonio commented on #511
Yes, so treating them all identically is reasonable.

This is a *subjective* choice. It is impossible for us to know a priori that `NoMemoryError` is unrecoverable, so grouping it with `fatal` is an arbitrary choice. It is impossible in Ruby to [rescue `fatal`](http://ruby-doc.org/core-2.3.0/fatal.html) but it *is* possible to rescue all the others. If the Ruby core team considered `NoMemoryError`

[2016-02-16 19:54] tenderlove opened #512 "check-then-set race condition in Concurrent::Map#fetch_or_store"
I couldn't find any documentation about the safety expectations for this method, but I assumed it would be thread safe so I'm filing this ticket.  It seems that `fetch_or_store` [doesn't take out a lock in the case of a miss](https://github.com/ruby-concurrency/concurrent-ruby/blob/01911e899c05ca3d68f65ef4496f3e29b3a20f4d/lib/concurrent/map.rb#L88).  As a client of the library, am I expected to lo

[2016-02-16 20:01] Ch4s3 commented on #512
The map implementation takes out a lock if I'm not mistaken. If that's the case it seems like `fetch_or_store` should as well. Or, is there a case where it's better to handle that yourself?

[2016-02-16 20:07] tenderlove commented on #512
I don't think so, and I'd rather not! ;)

[2016-02-16 20:31] jrochkind opened #513 "Q: Delay odd API"
Concurrent::Delay has some odd API.

Before it's been triggered at all, it's state is pending, and it's correspondingly not complete. OK.

[code]

Good enough. However, after it's triggered, both #state and #complete? become blocking, waiting on value.

[code]

It seems to me the point of a Delay is that once it's created, I don't have to know whether it's been triggered yet or not. #value returns

[2016-02-16 20:37] jdantonio commented on #512
Pinging original implementer @thedarkone, but it seems to me that the method should set the lock itself.

[2016-02-16 20:41] jdantonio commented on #512
It appears that the original implementation in `thread_safe` [does not lock the method call](https://github.com/ruby-concurrency/thread_safe/blob/master/lib/thread_safe/cache.rb#L64) either.

[2016-02-16 20:42] ianks commented on #512
Yes it seems `yield(key) ...` is being evaluated before the `@write_lock` is acquired in the `MapBackend`. The actually writing to the map though (in this case, writing `10`) is completely safe.

## Pros

- Writes to the map have no sequential bottleneck besides writing the final evaluated output of the block.
- Less locking

## Cons

- Confusing API -- if you consider a block to be an atomic comp

[2016-02-16 20:50] ianks commented on #512
IMO, I think `Map` is better suited for low-level interaction of writing values, and not as a concurrency pattern for ensuring thread-safety of computations.

[2016-02-16 21:06] pitr-ch commented on #510
@lloeki welcome! If you have any questions about Synchronization layer don't hesitate to ask me.
Side note: Please use only `Synchronization::Object`. `LockableObject` may have been a step in wrong direction and can go away.

[2016-02-16 21:07] thedarkone commented on #512
@tenderlove sorry about the docs, `fetch_or_store` is not meant to be an atomic check-then-set` method, neither is `fetch`.

History of `fetch_or_store` https://github.com/headius/thread_safe/issues/45, then https://github.com/ruby-concurrency/thread_safe/issues/1.

[2016-02-16 21:09] thedarkone commented on #512
I now realize I messed up really badly with a `fetch_or_store` as it does read as a check-then-set method :disappointed:.

[2016-02-16 21:16] jdantonio commented on #512
@thedarkone What's the resolution? Should we call this a bug and change the method or should be update the docs?

[2016-02-16 21:30] thedarkone commented on #512
@Ch4s3 @ianks `TS::Map` does provide a complex set of check-then-set methods:
 * `put_if_absent`, `replace_pair`, `replace_if_exists`, `delete_pair`,
 * and a block taking methods, where an atomic execution for the block (for a given key) is guaranteed: `compute_if_absent`, `compute_if_present`, `compute`, `merge_pair`
 * these methods also provide certain check-then-set guarantees: `get_and_set`,

[2016-02-16 21:32] tenderlove commented on #512
No problem!  I wouldn't expect the block to `fetch` to be atomic since you're doing a read operation, but I would expect `fetch_or_store` to be atomic.  Or, I could reword this ticket to be a feature request that we have an atomic `fetch_or_store` method :smile:

I think this is true, but if you only lock on write, it *should* be fine, I think.  I think you could have something like this:

[code]

[2016-02-16 21:34] tenderlove commented on #512
I'd be perfectly happy with leaving this alone and getting a new method.

[2016-02-17 00:16] thedarkone commented on #512
@tenderlove re your code snippet, it is not so simple. `TS::Map` on rbx and jruby uses multiple locks (for different internal hash buckets/bins, sometimes locks are not used, instead we rely on native CAS). The objective being that the atomic check-then-act methods/blocks are atomic, while at the same time mostly fully concurrent (for different keys that is, or for different hash buckets if we are

[2016-02-17 02:17] tenderlove commented on #512
Understood. Your arguments make sense to me. I'll write some docs for the
method for the next person who comes along and we can call this a day.
Thank you so much! :-D
On Tue, Feb 16, 2016 at 4:16 PM thedarkone <notifications@github.com> wrote:

[2016-02-22 14:23] jdantonio commented on #512
So if I follow the conversation correctly we've decided to:

1. Keep the method as-is
1. Update the docs to better describe the current behavior.

Is this correct?

[2016-02-22 14:35] jdantonio commented on #513
The API for Delay is definitely wonky. It started out as a simple class based on Clojure's `delay` function. But then we started adding more features. Then we decided to align it with `IVar`, `Future`, etc. And now it's not quire so simple. In 2.0 we plan to have a simpler API and fewer features. Anyway...

It seems to me that `#state` and `complete?` should not be blocking in the way you describe

[2016-02-22 15:47] tenderlove commented on #512
@jdantonio that's correct.  I'll send a PR with updated docs and close this
out.

On Mon, Feb 22, 2016 at 6:23 AM jdantonio <notifications@github.com> wrote:

[2016-02-26 18:30] leandrogs opened #516 "An error occurred while installing concurrent-ruby-ext (0.9.0)"
Hey guys! I have an 'old' project using `ruby 1.9.3-p448` installed using rbenv and `concurrent-ruby-ext 0.9.0`. Today I was trying to install my gems using `bundle install` on a new computer (ubuntu 14.04) and only `concurrent-ruby-ext` gem failed to build.

In my Gemfile I have:
[code]

The error I got is:
[code]

Am I missing something? Using my work computer I can `bundle install` without any

[2016-02-26 20:26] ianks commented on #516
This looks like you are installing the gem for Ruby-1.9.1. 1.9.3 is the oldest supported MRI version.

[2016-02-27 01:49] leandrogs commented on #516
@ianks I can only fix this by using newer gem version?

[2016-02-27 02:54] jdantonio commented on #516
I don't know anything about rbenv (I use rvm myself) but it looks like your environment may have some issues. The build process seems to be trying to use include files from the system's 1.9.1 install.

[2016-02-27 14:09] jdantonio commented on #512
I went through all the links post through the history of this issue and updated the yardoc to reflect atomicity and recursion. I'm happy to make further updates to the docs if anyone has better suggestions for the verbiage. The new docs are [here](http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Map.html).

[2016-02-27 14:09] #512 closed

[2016-02-27 14:10] jdantonio commented on #470
Documented in the [CONTRIBUTING](https://github.com/ruby-concurrency/concurrent-ruby/blob/master/CONTRIBUTING.md#follow-the-guidelines) doc.

[2016-02-27 14:10] #470 closed

[2016-02-27 14:10] jdantonio commented on #406
Updated in the v1.0.1 release.

[2016-02-27 14:10] #406 closed

[2016-03-02 01:26] jdantonio commented on #516
@leandrogs Have you had made any progress on this?

[2016-03-02 08:56] shaggyone opened #517 "Cascaded promises evaluation"
`Concurrent::Promise.execute { Concurrent::Promise.execute { 42 } }.value`
returns Promise object

i believe it should return 42

[2016-03-02 12:37] jdantonio commented on #517
A `Promise` object is the correct return value for your code snippet. The internal promise has had not its value retrieved. In order to return 42 you must explicitly retrieve the return value of the inner promise:

[code]

[2016-03-02 12:37] #517 closed

[2016-03-02 16:33] ianks commented on #517
Unless I am missing something, I believe the issue should be reopened. In ES6 JS, when returning a promise from inside a parent promise, the child promise should become the new promise which is evaluated. This is one of the main benefits of promises as it allows you to flatten out nested promises callbacks.

[2016-03-02 17:48] jdantonio commented on #517
That's ES6. Our promises were *inspired* by JavaScript's Promises/A and Promises/A+ specification, as well as promises in other languages, but we've never intended or committed to implementing any particular specification (especially ES6 which wasn't finalized when we created our promises). One of the main issues is that JavaScript is a *very* different language with a *very* different runtime and

[2016-03-03 08:25] shaggyone commented on #517
There is still a need to get everything finished. Common case:

[code]

My common need here is to get every chunk downloaded in `both` then and `value`.

Currently I have to use `value` right after `zip` which is ugly and easy to miss.

Maybe you could add some kind of deep_value and deep_then methods, to provide this functionality.

[2016-03-03 08:30] shaggyone opened #518 "Concurrent::Promise.all? always returns nil"
[code]

Expected value is true

[2016-03-03 12:25] jdantonio commented on #517
It's important to remember that `#value` isn't the only method that can be called on a completing promise. There is also `#wait` and `#reason`. Plus, these methods all take optional timeout arguments which will prevent a promise from potentially blocking forever. If we start providing special case variations of one then we have to create special case variations of the others and the API, which is

[2016-03-03 12:48] jdantonio commented on #518
That's not how the `#all?` method works. The aggregation methods don't return a value, they [execute a chained handler method](http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Promise.html#any%3F-class_method) based on the aggregate success or failure.

This success case:

[code]

will output "Succeeded" to the console.

This failure case:

[code]

will output "Failed with Concurrent::

[2016-03-03 12:48] #518 closed

[2016-03-04 01:20] leandrogs commented on #516
@jdantonio I was able to `bundle install` using `concurrent-ruby` gem instead of `concurrent-ruby-ext`

[2016-03-04 14:06] jdantonio commented on #516
:-)

[2016-03-12 09:37] lloeki commented on #510
Time sure flies. Finally started working on this a bit, tracked in #519.

[2016-03-12 13:43] pitr-ch commented on #517
Just a side note: Edge api looks as follows: `Concurrent.future { Concurrent.future { 42 } }.flat.value` with an advantage of not blocking an extra thread for the inner value call, since `flat` has non-blocking implementation.

[2016-03-12 15:24] pitr-ch commented on #144
@asppsa thanks, makes sense. BTW There is updated example of IO and actors https://github.com/ruby-concurrency/concurrent-ruby/pull/502#issuecomment-195760049

[2016-03-12 20:11] pitr-ch commented on #395
On the other hand `autoload` presents a problem for factory methods like `Concurrent.future { task }` they would be added only after Concurrent::Future is hit somewhere.

[2016-03-12 20:18] pitr-ch opened #520 "2.0 development"
How do we develop 2.0? We've discussed several ideas how to clear the code up. When we start it won't be compatible with 1.x.y. Few options come to mind:

* To branch 1.0 and start reorganising and cleaning things on master.
* Or to create second namespace `Concurrent2` in a different directory and start moving things s which are ready there.
* other option?

[2016-03-13 05:44] lucasallan commented on #520
:+1: to  `branch 1.0 ` option.

[2016-03-13 12:55] pitr-ch commented on #520
There is another thing to consider. 1.0 will live for long time (because of rails 5) and if we release 2.0 before next major rails version we will put users in bad situation. Even if it's timed with next rails. Users may get easily into situation where they would need 1 and 2 both (un-migrated gems on rails 6, new gems using v2 on rails 5, etc.). To allow both versions to be installed we could con

[2016-03-13 13:36] pitr-ch commented on #395
And that can be fixed with https://gist.github.com/pitr-ch/d31cf9787e7a4a392d6c, so using autoload is still possible,

[2016-03-13 21:10] rthbound commented on #520
@pitr-ch : I've handled this in the past (different situation, API client gem) using composition. Concurrent::V1::(all), then Concurrent::V2::(all) < Concurrent::V1::(all).

The concurrency classes in the V2 namespace _don't have to_ inherit from V1 classes. That's just something we do when none or few things need to change about a class from one version to the next.

Usage in application could ch

[2016-03-14 00:57] jdantonio commented on #520
Let's create a branch for 2.0 development, abandon `autoload`, refactor within the 2.0 branch as though we *won't* coexist with 1.x, take our time with 2.0 development, and defer figuring out how to make 1.x and 2.x play nicely.

Leading up to 1.0 we had a small community. 1.0 was downloaded 1.5 million times in its first three months. We now have an opportunity to get feedback from a significantl

[2016-03-14 00:59] jdantonio commented on #395
I think we should abandon `autoload` for now and focus on making the gem fully support limited, targeted `require` statements (for example, `require 'concurrent/future'`. I've expanded on this in #520. Since this is a 2.0 discussion we can discuss it further on that issue.

[2016-03-14 10:00] pitr-ch commented on #395
@jdantonio this issue is assigned in 2.0.0 milestone, for clarity I'll bring the discussion about autoload back.

Jerry said in #520:

I am sorry for reopening the issue but I believe there are issues left to be discussed.

Explicit requires are good, in fact I like it more than autoload (possibly accompanied by autoload_methods). But before we go that path we should have a solution for following

[2016-03-14 10:49] pitr-ch commented on #520
Bulleted thoughts:
* I do not think `Concurrent::Config.version` will be a good fit for `concurrent-ruby` we are working towards eliminating any global configuration, this would bring one.
* If 2.0 will be in 2017 then I would definitely like to get new futures in the core. It could be made compatible and merged in for 1.1 deprecating the classes it replaces.
* We should clear up Concurrent space

[2016-03-14 23:16] jdantonio commented on #395
I don't believe we need to. Ruby already provides `LoadError` specifically for this purpose. Let's take ActiveSupport as an example:

[code]

ActiveSupport is designed to allow users to include specific subsets of the gem. When users try to require something that doesn't exist it simply let's Ruby raise its normal exception. If that's good enough for ActiveSupport it's good enough for me.

Automat

[2016-03-15 15:18] ristovskiv opened #523 "Potentially wrong documentation for Concurrent::Future state"
I was having a discussion with @chrisseaton on gitter chat about one simple sample of code that I used for practicing and learning the abstractions of concurrent-ruby. Here is my code

[code]
So I was expecting an output of numbers from 0 to 99 but I only got 0 and 1. And when I've printed out the state of the Future object with

[code]

The first time I get state of `pending` and then it is `proc

[2016-03-15 15:49] jdantonio commented on #523
Thank you for pointing this out. The documentation is incorrect and your code is behaving as expected. When I added the `: processing ` state I apparently forgot to update the docs. I'll fix that.

Originally there was no `: processing ` state. The statement "becomes :pending and will remain in that state until processing is complete" is exactly how it worked. But then I added the `#cancel` method

[2016-03-16 14:37] ristovskiv commented on #523
Wow, what a thorough explanation. Thanks, really, and I'm very glad to assist you guys in any way. I was trying to figure out how the Ruby GIL works and what is his role and I ran into your talk on RailsConf 2015 which was amazing. I've found this library there, but I simply can't find any tutorials or books except the documentation (and the gitter chat which the response time was instant even tho

[2016-03-17 23:20] jdantonio commented on #523
I'm glad you found my GIL talk informative. Thank you! Making concurrency accessible to all Ruby programmers has always been a goal of this gem--and frequently that means helping to educate the community.

I've updated the docs in #524. Please let me know if it makes sense.

[2016-03-28 19:43] lmarburger opened #525 "TimerTask timeout_interval unused"
`#timeout_task` is [executed using `execution_interval`](https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/timer_task.rb#L308). Should it use `timeout_interval`?

[code]

I'm exploring the specs to see if I can expose this feature. In the mean time I thought it wise to confirm that it is, in fact, a bug.

[2016-03-29 06:40] ristovskiv commented on #523
Sorry about writing replying this late, I've had some personal problems. Anyway now it seems that everything is fine.

[2016-03-30 13:57] jdantonio commented on #523
I'm sorry to hear about you personal problems. Hopefully things are getting better. Thanks again for taking the time to help us make this library better!

[2016-03-30 13:57] #523 closed

[2016-03-30 14:08] jdantonio commented on #525
I think the original code is correct. The `execution_interval` represents the number of seconds between each execution of the task. The `timeout_interval` is the number of seconds that the task can run without completion before a timeout error is issued. In the code above, the first parameter to `ScheduledTask.execute` is the `delay` value--the number of seconds after calling `.execute` that the t

[2016-03-31 12:28] perlun opened #527 "Concurrent::RejectedExecutionError under certain conditions (JRuby etc)"
We have been seeing &lt;title&gt; now a bit in our environment. But only on _one_ of the servers, strangely enough. There are three of them, with the same config and the same version of the app running.

We are using JRuby, 1.7.22 at the moment. The code is quite simple, something like this (edited for the GH issue):

[code]

The `ComponentStore#find_by` is then called asynchronously, which is whe

[2016-04-06 19:12] jdantonio commented on #527
@perlun I apologize for the late response. I was out of town attending a conference when you post your issue.

Honestly, I have no idea why you are experiencing this. `Concurrent::Async` uses one of the global thread pools, which is configured with "unlimited" [maximum queue size](https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/configuration.rb#L142). On JRuby it isn

[2016-04-06 19:14] jdantonio commented on #527
When running on JRuby our thread pools are light wrappers around `java.util.concurrent.ThreadPoolExecutor`. So everything in [those docs](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/ThreadPoolExecutor.html) apply here. The error your are seeing is the result of us setting `ThreadPoolExecutor.AbortPolicy`.

[2016-04-13 13:31] jdantonio commented on #527
@perlun @matias-enroth-ecraft Have you made any progress on this?

[2016-04-19 18:51] #527 closed

[2016-04-19 19:04] perlun commented on #527
@jdantonio - sorry for the lack of feedback. We have not seen this since that single occurrence. It is likely a bug _somewhere_ (either in our app code, the gem, in JRuby, the JVM, etc...) but it doesn't seem to appear very often.

Let's keep this closed for now, I'll ping this GitHub issue once again if we reproduce it again.

[2016-04-19 19:42] thedarkone opened #528 "Hidden pitfalls in Conc::Map's MRI strategy?"
There is a report by a Rails user (rails/rails#24627) that on MRI `Concurrent::Map`'s `@backend` (a pure Ruby `Hash`) is throwing "insertion during iteration" errors.

As pointed out by @jeremy, there are couple of candidates:

#### `NonConcurrentMapBackend#clear`

The method calls `@backend.clear`, the C implementation (https://github.com/ruby/ruby/blob/2f6821a7c4e7a52d/hash.c#L1488) of `Hash#cle

[2016-04-19 20:07] jeremy commented on #528
Consider `#inspect` as well, since default implementation inspects an objects ivars. It'll inspect the backend, iterating it.

[2016-04-20 12:43] jdantonio commented on #528
👍 to everything @thedarkone said. You are the expert on this. I trust your judgement. Thanks again for looking into it. And not just looking into it, but diving so deep into the Ruby internals and providing such great detail. You are awesome!

[2016-04-24 22:31] #528 closed

[2016-05-03 03:33] qx opened #531 "Can not Install"
Error installing concurrent-ruby:
        invalid gem: package is corrupt, exception while verifying: undefined method `size' for nil:NilClass (NoMethodError) in /Users/ok/.rvm/gems/ruby-2.2.3@rails426/cache/concurrent-ruby-1.0.2.gem

[2016-05-03 08:32] pitr-ch commented on #531
Did you try to delete the cache and install again? It installs fine for me. What system are you on?

[2016-05-05 03:21] qx commented on #531
didn't know why, but it works sometimes.

[2016-05-05 03:21] #531 closed

[2016-05-06 00:33] bsedat opened #532 "Future's observers are run on the same executor as the future"
The [Future documentation](http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Future.html) section about observers states that "The notification will occur on the global thread pool.". I've noticed that if a different executor is specified for the Future then it runs the Observers on that same executor as well. Is it an omission from the docs that observers also run on the same executor?

[2016-05-06 18:04] jdantonio commented on #532
Good catch. Thank you for pointing this out! The docs are wrong, the behavior is as intended.

The intent is for the observation to occur on the thread that processed the job. This allows us to make guarantees regarding execution order with respect to the job and its observers.

In the earliest versions of the gem (future ID on of the earliest abstractions I wrote) there was no dependency injectio

[2016-05-06 18:11] bsedat commented on #532
Makes sense. I wanted to double-check what was going on/intended :smile:. Loving the library so far!

[2016-05-12 14:28] jdantonio commented on #532
Docs updated in commit 0d044bebdda2781b1b265472555090941232bbe5.

[2016-05-12 14:28] #532 closed

[2016-06-03 06:08] wwood opened #534 "test failure for 'Concurrent::Channel goroutines .go_loop loops until the block returns false'"
Hi,

I'm trying to run the tests but I'm running into this error:
[code]
Is this a known test failure? Is it reproducible by others? Thanks. i'm using the newest master i.e. 0d044bebdda2781b1b265472555090941232bbe5

Thanks,
ben

[2016-06-07 15:54] RJPercival commented on #516
This issue should not be closed - @leandrogs didn't fix the problem, he just stopped trying to compile the extension. I can reproduce this issue, so long as my compiler treats "format-security" warnings as errors.

[2016-06-08 02:26] pathsny opened #535 "Questions about Concurrent::Edge::Future"
1. When I create futures that are on a threadpool that results in them being queued up, is there a way to query the future to distinguish between futures that are started vs futures that have not been scheduled?
2. Following from #1, is there a way to cancel a future or remove it from the pool?
3. The documentation claims that Edge Futures are a combination of "Future, Promise, IVar, Event, datafl

[2016-06-08 08:53] jdantonio commented on #516
@RJPercival Thank you for letting us know that this is a problem for you, too. TBH, none of us work with C very much so your help would be greatly appreciated. I wasn't aware that there was such a things as a "format-security" option. Can you please provide steps to reproduce? (I don't know how to enable that option--I simply run the rake task to build.) Also, do you know if it's possible to enabl

[2016-06-08 11:03] RJPercival commented on #516
GCC can take a "-Werror=format-security" flag that causes potentially dangerous calls to printf-style functions to be treated as compilation errors. On my Ubuntu system, this flag is enabled by default and so appears in the Makefile generated for the concurrent-ruby extension. I expect you should be able to reproduce this on OS X, but you might have to manually edit the Makefile to add that flag,

[2016-06-08 11:17] leandrogs commented on #516
Nice to know that someone is working on this issue :D

[2016-06-11 18:29] pitr-ch commented on #535
Was answered in https://gitter.im/ruby-concurrency/concurrent-ruby?at=575765dfc2a6e42f7e995477

[2016-06-11 18:29] #535 closed

[2016-06-12 09:49] bk322 opened #537 "Concurrent version of Array"
I read that `concurrent-ruby` has made Array thread-safe. I wanted to give it a try with the code from [this blog post](http://deployingjruby.blogspot.ru/2013/07/why-jruby-arrays-are-not-threadsafe.html):

[code]

This creates 100 threads each of which writes to a single array in a loop.

If all is thread-safe here one should obtain `10000` as a result. However I get lower results instead:

[code]

[2016-06-12 09:58] #537 closed

[2016-06-12 12:14] jdantonio commented on #537
Your code does not use our thread-safe array. You are still using the standard library array. As a rule we [never monkey patch Ruby](https://github.com/ruby-concurrency/concurrent-ruby/blob/master/CONTRIBUTING.md#follow-the-guidelines), we create new classes for everything. Please update your code to use [Concurrent::Array](http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Array.html) a

[2016-06-12 20:02] jdantonio commented on #534
This test fails regularly, probably because of a bug. Our channel implementation is highly experimental. It's in our Edge gem (not core) and it is _not_ suitable for production use.

[2016-06-12 20:04] jdantonio commented on #516
I've uploaded an pre-release build v1.0.3.pre1 to the GitHub releases page (I have _not_ published the pre-release to Rubygems). Please test the extension gem by downloading it directly and installing it and let me know if it now works on the affected Linux versions.

[2016-06-12 22:43] wwood commented on #534
OK, thanks, I figured as much after submitting this report. I've pushed ruby-concurrency disabling this test to the Guix repo.

[2016-06-12 22:43] #534 closed

[2016-06-15 05:39] majioa opened #538 "Concurrent and Thread"
The main question is that:

Still we required to use `Thread` classes inside, for example, the `Concurrent::FixedThreadPool` pool

    pool = Concurrent::FixedThreadPool.new(pool_count)
    r = Concurrent::Future.new(executor: pool) {
      Thread.new #???
    }.execute

or not?

[2016-06-15 07:57] pitr-ch commented on #538
Could you elaborate the example? The example above will work but is strange and not recommended. It'll just post a task to a pool to create a new thread, neither is doing any useful work so it's hard to tell why would you need to combine concurrent with threads.

[2016-06-15 08:54] majioa commented on #538
My current sample is without the `Thread` and is like:

    pool = Concurrent::FixedThreadPool.new(pool_count)
    r = Concurrent::Future.new(executor: pool) {
      # list enum with ftp download a single file in list
    }.execute

[2016-06-15 09:36] pitr-ch commented on #538
That seems fine.

[2016-06-15 13:34] majioa commented on #538
thanx

[2016-06-15 14:02] RJPercival commented on #516
On Ubuntu 14.04 LTS:
[code]

[2016-06-15 15:49] fedenusy opened #539 "ConcurrencyError: No message available"
I use futures to load data from my DB in parallel. Then I wait for all futures to complete. Most of the time this works just fine, but occasionally I see the following error:

[code]

What does this error mean, and how can I fix it?

---

Tasks
- [x] fix edge futures - @pitr-ch
- [x] audit rest of the gem - @pitr-ch
- [ ] when source of interruption is identified, handle `ConcurrencyError` properl

[2016-06-15 18:55] #538 closed

[2016-06-15 19:00] pitr-ch commented on #539
Could you share whole backtrace and possibly a reproducer? Which version of JRuby are you using?

[2016-06-15 20:03] fedenusy commented on #539
@pitr-ch I'm using JRuby 9.0.1.0. In case it's helpful, this is happening in a Rails app, running atop torquebox-web and openjdk-8-jre-headless.

I'm not able to reproduce this reliably. It only seems to happen in production, when my servers are under heavy load.

Regarding the backtrace, my original comment includes all relevant lines. I could go back further but that probably wouldn't be helpful

[2016-06-16 08:15] pitr-ch commented on #539
@fedenusy Thank you, I'll have a look.

[2016-06-19 18:12] pitr-ch commented on #539
Which version of torquebox-web?

[2016-06-19 18:47] pitr-ch commented on #539
please try to use master with following commit https://github.com/ruby-concurrency/concurrent-ruby/commit/d634acfb0bfa6e17f42861eb3435b1cd7dc3038d, the issue should disappear.

[2016-06-19 19:44] fedenusy commented on #539
Tysm Petr. I'll try that patch in production tomorrow and let you know how
it goes.

Currently using torquebox-web 4.0.0.beta1.

On Sun, Jun 19, 2016 at 11:47 AM Petr Chalupa <notifications@github.com>
wrote:

[2016-06-20 00:10] jdantonio commented on #539
If this fixes the issue we can publish a new release next week. We have the C extension fix in master that needs to go out, too.

[2016-06-20 00:34] jdantonio commented on #516
Awesome! We'll wait to see what happens with #539 then publish a new release.

[2016-06-20 15:47] fedenusy commented on #539
I tried the following line in my Gemfile:

`gem 'concurrent-ruby', github: 'ruby-concurrency/concurrent-ruby', branch: 'master', ref: 'd634acf', require: 'concurrent'`

And received the following error:

[code]

I'm able to install without problems on MRI, but `jruby-9.0.1.0` and `jruby-9.1.0.0` both throw the error above. Any tips?

I'll keep trying to see if I can figure something out.

[2016-06-20 16:06] fedenusy commented on #539
Figured it out, had to delete Gemfile.lock before `bundle install` for some reason.

[2016-06-20 17:40] fedenusy commented on #539
Now `concurrent-ruby` is failing to load... @pitr-ch any clue where I'm going wrong?

[code]

[2016-06-20 21:40] pitr-ch commented on #539
ah, I've forgot to warn you that `gem ... git:` does not compile the native extensions. Please clone the master branch run `rake compile` and then use `gem ... path:`.

[2016-06-21 00:02] fedenusy commented on #539
My deploy pipeline makes it difficult to use the `gem ... path:` approach.

I ended up ssh'ing into a single server, with the idea of installing this patch manually and then running a canary test.

Turns out my production machine was missing `rake-compiler` and `javac`. I spent a good hour installing them -- and then my server crashed. Not sure if the machine ran OOM or if I just messed up the ins

[2016-06-21 13:34] pitr-ch commented on #539
I'll create a pre version for you to try.

[2016-06-21 15:41] fedenusy commented on #539
:+1: thank you

[2016-06-22 11:35] pitr-ch commented on #539
@fedenusy https://github.com/ruby-concurrency/concurrent-ruby/releases/tag/v1.0.3.pre2

[2016-06-22 11:37] pitr-ch commented on #539
@fedenusy It's not pushed to rubygems, since the pre1 wasn't either. Will you be able to install it and test it from the file available in the release link?

[2016-06-22 11:42] jdantonio commented on #539
We'll release `v1.0.3` to rubygems once we've validated that this is fixed.

[2016-06-22 15:55] fedenusy commented on #539
With this line:

[code]

I was able to install the release, but extensions failed to load once again.

[2016-06-22 16:25] fedenusy commented on #539
Ah, I guess you wanted me to download [this file](https://github.com/ruby-concurrency/concurrent-ruby/releases/download/v1.0.3.pre2/concurrent-ruby-1.0.3.pre2-java.gem) and then point to it via `gem ... path:`.

Problem is that I run JRuby and MRI for different purposes, and they both share the same Gemfile. In order to load the gem this way, I'll also need an MRI-based `.gem`.

@pitr-ch could you

[2016-06-22 16:41] fedenusy commented on #539
Update: I'm not sure I'll be able to run the packaged `.gem`.

Even if I download the `.gem` file and declare this line:

[code]

I won't be able to additionally declare:

[code]

Because you cannot declare the same gem more than once within a Gemfile.

I'm open to tips if you guys know how to handle this situation, but it sounds way easier to just pull from rubygems.

[2016-06-22 17:16] jdantonio commented on #539
We can publish to Rubygems if necessary.

[2016-06-22 17:16] jdantonio commented on #539
If we publish to Rubygems we'll publish all the gems.

[2016-06-22 17:19] fedenusy commented on #539
That would be great 😄  thanks @jdantonio

I'll get this test running as soon as you push to rubygems, and I should have results by EOD.

[2016-06-23 10:03] pitr-ch commented on #539
@fedenusy The pure mri version is in the linked release now. You can try. In the meantime I have a look at building -ext.

[2016-06-23 16:27] fedenusy commented on #539
@pitr-ch as expected I was unable to declare the gem twice. Can you please publish to rubygems?

[2016-06-23 16:40] jdantonio commented on #539
[v1.0.3.pre3](https://github.com/ruby-concurrency/concurrent-ruby/releases/tag/v1.0.3.pre3) has been built and published to [rubygems](https://rubygems.org/gems/concurrent-ruby/versions).

[2016-06-23 16:41] pitr-ch commented on #539
Thanks @jdantonio.

[2016-06-23 16:41] pocketzworld-deploy commented on #539
Thanks! I'll start running this, and get back to you with results in a few hours.

[2016-06-23 16:42] fedenusy commented on #539
Thanks! I'll start running this, and get back to you with results in a few hours.

[2016-06-23 23:44] fedenusy commented on #539
Issue solved 👍

No error occurences over the last 6 hours. Previously, I was seeing >100 occurrences per hour.

@pitr-ch @jdantonio thanks for your help!

[2016-06-24 11:19] pitr-ch commented on #539
@fedenusy Great, thanks for letting us know. If you run into any other issues, please do not hesitate to contact us again.

[2016-06-24 12:21] vemv opened #540 "AtomicBoolean: there's no compare_and_set API"
Compare-and-set is a useful functionality (that's why it exists in the Java API). It can save one from race conditions, as explained below.

### Use case

* Assume an atomicboolean called `LOCKED`, set to false.
* Multiple concurrent threads run the following code:

[code]

In this scenario, concurrent threads can read a false in `if !LOCKED.value`, and enter the `if` block. That defeats the purpo

[2016-06-24 12:36] vemv commented on #540
Correction: Ruby [does have](http://ruby-doc.org/core-2.2.0/Mutex.html#method-i-try_lock) try_lock, but no `try_lock do ... end` which would be more useful.

[2016-06-24 13:26] jdantonio commented on #540
@vemv Thank you for sharing your thoughts. I think this is a great idea and I'd love more of your input.

There are inconsistencies in the APIs of our atomic classes. They originally came from different places. AtomicReference was merged in from the `atomic` gem whereas AtomicFixnum and AtomicBoolean were created for specific internal needs. Ultimately the APIs should be as consistent as possible.

[2016-06-24 13:28] jdantonio commented on #539
@fedenusy Are you comfortable continuing with the pre-release for another week or so? I leave on vacation today and would prefer to wait until I get back to do a full release of 1.0.3.

[2016-06-24 13:34] vemv commented on #540
Personally I would be fine with most possible reasonable designs, as long as the operations are there.

Just note that at least in Java there's no AtomicDouble/AtomicFloat so implementing CAS for your AtomicFixnum might or might not fully make sense.

[2016-06-24 14:02] jdantonio commented on #520
We will resume this discussion in other issues while I will be creating over the next several days.

[2016-06-24 14:02] #520 closed

[2016-06-24 14:03] jdantonio commented on #395
We will not embrace `autoload`. 2.0 will use explicit requires and will allow users to require only the parts they need. We will not use `autoload` in 2.0.

[2016-06-24 14:03] #395 closed

[2016-06-24 14:04] jdantonio commented on #393
The `Dereferenceable` module will be removed in 2.0. It was in interesting idea but ultimately misguided.

[2016-06-24 14:04] #393 closed

[2016-06-24 14:08] jdantonio commented on #392
When 2.0 is released it will support whatever version(s) of Ruby is supported by the latest versions of Rails and JRuby. Rails 5 will drop support for Ruby 1.9 so we'll look mainly at JRuby. If the latest version of JRuby only supports Ruby 2.x at that time then we'll drop support for 1.9. Otherwise we'll retain that support.

[2016-06-24 14:08] #392 closed

[2016-06-24 14:12] jdantonio commented on #383
Soon I will begin posting new issues which propose consistent APIs for concurrent-ruby v2. Consistent APIs for the atomics will be included.We will continue this discussion over there. Certain methods (like `#increment` and `#decrement`) won't work for all of our atomics, but every proposed method should exist on every class where it makes sense.

If anyone would like to propose an API for the ato

[2016-06-24 14:12] #383 closed

[2016-06-24 14:14] jdantonio commented on #540
Certain operations might not make sense on all atomic classes, but we should be consistent with as much as possible across all atomic classes. That will be our goal.

[2016-06-24 14:15] jdantonio commented on #331
Now that we are beginning larger discussions about 2.0 I'm going to close out some of these issues. We don't need specific issues for each part of Edge yet. We can make new issues once we have a roadmap.

[2016-06-24 14:15] #331 closed

[2016-06-24 14:16] jdantonio commented on #332
Now that we are beginning larger discussions about 2.0 I'm going to close out some of these issues. We don't need specific issues for each part of Edge yet. We can make new issues once we have a roadmap.

[2016-06-24 14:16] #332 closed

[2016-06-24 14:17] jdantonio commented on #516
We'll be publishing 1.0.3 with this fix shortly. Since we know it's fixed in the latest pre-release I'm going to close this issue.

[2016-06-24 14:17] #516 closed

[2016-06-24 14:19] jdantonio commented on #494
Channels need to be re-built from the ground up, if we even want to have them at all. Since there doesn't seem to be a strong desire from the community at this time I'm going to close this issue. We'll revisit if necessary.

[2016-06-24 14:19] #494 closed

[2016-06-24 14:21] jdantonio opened #541 "2.0 Guiding Principles"
While designing and working on concurrent-ruby 2.0 we will endeavor, as much as possible, to follow these guidelines. They are not hard rules, however. Compromises will be made when necessary, but only after discussion and deliberation. These guidelines do not replace the existing [contribution guidelines](https://github.com/ruby-concurrency/concurrent-ruby/blob/master/CONTRIBUTING.md#follow-the-g

[2016-06-24 14:49] jdantonio opened #542 "2.0 Some Specific Technical Changes"
Concurrent Ruby 1.0 has been very successful, but we made some mistakes along the way. We had a few ideas that didn't work out as well as we had hoped. We discovered that some features were more trouble than they were worth. And we gained a better understanding of what our users want. Based on this learning we will make several specific changes while designing and building 2.0.
- **Remove the Dere

[2016-06-24 15:23] iNecas commented on #332
I don't know where to put write some positive feedback to influence how the 2.0 looks like, but I can say that the actors and futures in the edge are the reason we use concurrent-ruby: we even tried to use IVars for modelling the future values, but it's API was very limiting comparing what's possible in edge.

We also plan on building more on the abstractions that are in the edge right now, so loo

[2016-06-24 15:33] jdantonio commented on #332
@iNecas I greatly appreciate the support you've shown, the feedback you've given, and the work you've done to help us grow and prosper. To clarify: we will _not_ be throwing away Edge and starting over. Overall Edge is a fantastic evolution of this library. We absolutely _will_ base 2.0 on the work done in Edge, with most (if not all) of it being retained. We just need to be universally aligned as

[2016-06-24 15:35] jdantonio commented on #332
@iNecas Also, please see issue #541, #542, and subsequent issues for further discussion. But please continue to post on whichever PRs or Issues are most relevant to you, even when they are closed. Your feedback is important.

[2016-06-24 15:37] iNecas commented on #332
Thanks @jdantonio for explanation. I've seen both issues already, and they make a ton of sense, but were to abstract for me to see how it translates to actual steps. That's why I appreciate your comment here. I will watch the subsequent issues and will try to participate if I have something to say to given topic.

[2016-06-24 16:03] fedenusy commented on #539
Happy to run the pre-release as long as needed. It's working well :)
On Fri, Jun 24, 2016 at 6:28 AM jdantonio <notifications@github.com> wrote:

[2016-06-25 01:00] fedenusy commented on #539
@pitr-ch I just noticed something strange. Ever since deploying 1.0.3.pre3, my servers occasionally freeze.

When this happens the server stops responding to requests altogether. CPU usage drops to ~0%, and memory usage is also very low. I'm guessing we've introduced a deadlock 😞

It took me a while to notice this because I run monit. monit performs HTTP health checks, and when it notices an unres

[2016-06-25 01:08] fedenusy commented on #539
I just dug through all the logs of a frozen server, and I couldn't find anything out of the ordinary.

[2016-06-25 09:22] pitr-ch commented on #541
* **User experience first:** 👍 💯
* **Simplicity:** 👍 I completely agree except the last part. Regarding: "Advanced features needed only by a small number of users will be provided as options, if at all." I've been several times in a situation when I wanted to do something in a programming language or with a library and I couldn't because authors thought that it's too complicated, unsafe or other r

[2016-06-25 09:22] pitr-ch commented on #542
* **Remove the Dereferenceable module:** 👍 Obligation and Observable could be removed over time as well.
* **No autoload:** 👍 We should test requiring of c-r parts which are intended for it.
* **Explicit require** 👎 This will be quite hard to maintain for each file. There are no tools to maintain or to test it. Could we rather have a list of files which can be required standalone for each abstract

[2016-06-25 09:32] pitr-ch commented on #540
@vemv have a look at make_true, it's a CAS operation with different naming.

[2016-06-25 09:44] pitr-ch commented on #539
Ah, sorry to hear that.

Could you try to get the thread backtraces with http://stackoverflow.com/questions/4876274/kill-3-to-get-java-thread-dump ?

[2016-06-25 14:07] pitr-ch commented on #541
We should also discuss aliasing as a part of **Simplicity**:
1. do aliasing, anybody can use familiar name
2. do aliasing, but have them only to make the function more familiar with naming from other language/library (these hinting alias could be deprecated from beginning but never removed)
3. keep just one name

I am inclined to 2. possibly 3.

[2016-06-25 14:09] jdantonio commented on #541
Good point on aliasing. I'm working on responses and updates which I will post later.

[2016-06-25 14:55] fedenusy commented on #539
Nice, I'll try that on Monday.
On Sat, Jun 25, 2016 at 2:44 AM Petr Chalupa <notifications@github.com>
wrote:

[2016-06-25 15:06] vemv commented on #540
It might be CAS as an implementation detail, but for the user it's not CAS as it doesn't accept a comparison argument (see the Java API for compareAndSet)

[2016-06-26 07:40] pitr-ch commented on #540
Ah, you are proposing to add the missing compare_and_set, not looking for a way how to fix the example, sorry I've focused on the latter. It definitely makes sense to add the missing CAS method.
Noting that the current make_true and make_false are fully replacing it:

- CAS false, true -> make_true
- CAS true, false -> make_false

even though 2 different methods have be inconveniently called.

[2016-06-26 11:06] jdantonio commented on #541
I will post more as the week progresses but I am on vacation with my family this week. My posts yesterday were made from my phone during the 5-hour car ride. My posts today were written while in the car yesterday. For the remainder of the week my top priority will be spending time with my family. I will post here as I have time.

Additional clarification to this post:

* **Simplicity:** If an adva

[2016-06-26 11:08] jdantonio commented on #542
* I agree that `Observable` can be removed.
* We can remove the `Obligation` module but not the API contract. This speaks directly to our Consistency principle. I created the `Obligation` module to ensure that all "future" classes presented a common API. It was successful at that. Now that I've created numerous shared specs we can enforce that consistency in other ways. We also have better documen

[2016-06-26 11:12] jdantonio opened #543 "2.0 Promise API"
## 2.0 Promise API

The original `Concurrent::Promise` implementation was one of the first abstractions created in this library. It was intended to be a faithful implementation of the Promises/A and Promises/A+ specifications. Because the JavaScript runtime is very different than Ruby's, there were obvious differences. But overall the implementation worked. People used it and it became a guiding i

[2016-06-26 11:12] jdantonio opened #544 "2.0 Async Operations API"
This is the area where we need far greater consistency. Various abstractions in this library use methods such as `#post`, `#ask`, `#tell`, `#send`, `#await`, and `#wait`. Additionally we have `!`, `?`, `_on`, and `_off` variants. As much as possible a common set of methods should be defined. Abstractions should then implement the relevant subset of these methods. When an abstraction needs a method

[2016-06-26 18:33] iNecas commented on #541
* **Reasonable performant** - from the very beginning, what I liked about concurrent Ruby was it tried to use the potential of the platform it was currently running on and hiding it behind the abstraction. It's easier to sacrifice performance if you know that there is a way to run faster just by changing platform, not the language. This leads to another idea:

* **Extendability** - making it easie

[2016-06-26 19:26] jdantonio commented on #541
@inecas Good point. "Optimized for each platform when possible" has always been one of our goals. I'll add something about that.

[2016-06-27 18:23] fedenusy commented on #539
@pitr-ch see thread dump from a frozen server [here](https://gist.github.com/anonymous/9c3d92785265726fc74fc064ff587111).

[2016-06-29 12:04] pitr-ch commented on #539
Thanks, I've already had a short look, no idea so far. I'll continue.

[2016-06-30 07:30] majioa commented on #538
@pitr-ch one yet question. In the example above, will the single future be separated to threads count specified by `pool_count`, or should we fill the pool block with many futures to support many tasks?

[2016-07-04 15:00] voxik opened #547 "Concurrent::Map #inspect test error"
Trying to build package for Fedora ([1] but this link will expire quite soon), I got following error:

[code]

Please note this was 32b ARM builder, so is this some wrong mapping of integers in inspect method?

[1] http://koji.fedoraproject.org/koji/taskinfo?taskID=14762876

[2016-07-04 16:44] ryansch opened #548 "undefined method 'schedule_time' using ScheduledTask.execute"
I'm trying to reschedule an actor with the following code:
[code]

This causes the following log output:
[code]

It does however reschedule the actor and execution continues.  I'm using ruby 2.3.1p112.  Complete source code: https://github.com/outstand/consul_bridge

[2016-07-04 17:41] ryansch commented on #548
I figured this out.  I wasn't using the return value from `on_message` so I wasn't paying attention to what it was.  Explicitly returning `nil` causes this error to go away.

[2016-07-04 17:41] #548 closed

[2016-07-05 14:54] jdantonio commented on #547
Thanks for pointing this out. I'll update the test with a better regex (or possibly remove the test--I'm not sure it's providing much value).

[2016-07-05 15:27] voxik commented on #547
But I'd say that the test is pointing out an error in implementation of #inspect method (at minimun), since the "0x-7db1e810" does not look healthy IMO.

[2016-07-06 17:30] fedenusy commented on #539
@pitr-ch do you think the issue may stop if I use the futures in `concurrent-ruby-edge`? Or do edge futures share the same underlying logic?

[2016-07-06 18:59] pitr-ch commented on #539
@fedenusy They do not use the same logic so it might be a good thing to try. However the failing logic (before pre2) is based on JRuby's Mutex and ConditionVariable implementations which also raising ConcurrencyError on thread interruption. Edge futures are using Mutex and ConditionVariable. It will be valuable if you try to use edge though. If it fails as well then the problem may lie in some bad

[2016-07-06 20:00] pitr-ch commented on #538
If I understand correctly your question. It should look like:
[code]

[2016-07-06 20:10] jdantonio commented on #538
Creating a thread pool manually is unnecessary. The default global thread pool will grow as necessary to support the tasks it's given. Don't give an "executor" option and the futures will post to the global thread pool. The recommended approach is to not create custom thread pools. After all, this is Ruby, not Java. :-)

[2016-07-06 20:52] fedenusy commented on #539
Thanks for the feedback. I started running edge futures on production -- so far so good.

I'll report back if I see any frozen servers, or ~24h from now if the issue's solved.

[2016-07-06 21:04] fedenusy commented on #539
@pitr-ch looks like edge futures are still raising `ConcurrencyError`:

[code]

No frozen servers yet.

[2016-07-07 18:10] fedenusy commented on #539
@pitr-ch I just noticed a frozen server. So edge futures trigger both issues -- the deadlock and the `ConcurrencyError` from my previous comment.

The deadlock seems to happen less frequently when using edge futures.

[2016-07-11 08:05] pitr-ch commented on #539
@fedenusy Thanks.

We need to track down where is the interruption coming from. @fedenusy could you attach remote debugger to the running servers and log all the Java `Thread#interrupt()` calls? What other gems having Java extension or Java libraries do you use? How do you work with thread pools from concurrent-ruby? (They use interruption on showdown.)

Based on your feedback I've found a bug in

[2016-07-11 19:16] fedenusy commented on #539
Could you attach remote debugger to the running servers and log all the Java `Thread#interrupt()` calls?

- The errors got so bad that I had to remove `concurrent-ruby` 😞  would it still be helpful for me to try this, despite `concurrent-ruby` having been removed?

What other gems having Java extension or Java libraries do you use?

- torquebox-core (4.0.0.beta1-java)
- torquebox-web (4.0.0.beta1-

[2016-07-12 18:50] jrochkind opened #550 "Debugging a weird Concurrent::Delay"
I'm trying to debug some code that isn't behaving as I expect. It's a somewhat complicated chain of Concurrent::Delay objects that end up triggering each other, so it's hard to reproduce.

But here's what I'm seeing from a particular delay, and it seems to me to violate the expected contract of Concurrent::Delay and suggest a bug of some kind, but I may be misunderstanding what all these methods d

[2016-07-12 19:09] jrochkind commented on #550
Weirder:

    delay.wait   #=> returns self
    delay.pending? #=> true

Huh?  I have no doubt I am doing something impossible in my code, trying to track it down -- I think i'm possibly doing some kind of infinite loop of a delay calling itself (accidentally, via some intermediates).  But no matter what i do, it should not be possible to see what I'm seeing from the Delay, am I right?

[2016-07-14 06:37] pitr-ch commented on #539
I am sad to hear that. Yes, please try to attach the debugger, knowing where the interruption is coming from should help with a solution. Thanks for the list, I'll have look.

[2016-07-14 16:27] rmoriz opened #553 "Wishlist: Unique/Serial Task + threading executor"
I've a feature request: We're using SuckerPunch which recently moved to concurrent-ruby Task, Queue and Executor models.

What we're missing are task implementations that by design are either "unique" (only 1 can be scheduled) or "serial" (only one can be executed at a time). I'm aware of `SerializedExecution` which would solve the "serial" aspect, however this would imply having a dedicated execu

[2016-07-14 20:54] fedenusy commented on #539
@pitr-ch I looked into remote debugging. Our infrastructure is in flux right now, so attaching the debugger turned out to be very difficult, for various reasons.

We should finish our infrastructure upgrade sometime in the next 2-3 months. At that point I'll be able to run the remote debugger.

Sorry I can't get you the `Thread#interrupt()` logs any sooner 😞

[2016-07-19 08:32] vemv opened #555 "FileLock"
Hi!

I think I have the need for a File-based lock, because multiple web processes (as typical in Puma/Unicorn) can attempt to perform an overlapping operation. It only overlaps within a given machine - not across the fleet (so a distributed lock isn't the answer in this case).

I see a couple gems providing file locks, one of them looking pretty well-maintained.

I'm still hesitant to use any of

[2016-07-20 07:42] pitr-ch commented on #550
Hi, thanks for reporting. That definitely does not look right. What implementation of Ruby do you use? I had a quick look into the implementation, but I could not detangle what would be an impact of cyclic delay, @jdantonio could you have a look? @jrochkind you could also try delay from edge, that should be ok (but be aware that the API might change in future, there is ongoing discussion).

[2016-07-20 08:19] pitr-ch commented on #553
Yeah this came up in the past, we need a way to throttle concurrency. Thanks for reaching to us. So far we did not discuss it much.

My vision is to have following API for Promises:
[code]

[2016-07-20 11:57] jdantonio commented on #555
@vemv Thank you very much for this suggestion. I've been giving it some thought and I'm very intrigued, but it's not something we could work on until after we've released 2.0. That's our highest priority. We are always open to PRs with new features for Edge so we're happy to support anyone in the community who would like to take this on, but @pitr-ch and I need to focus on 2.0 right now.

I'm goin

[2016-07-20 11:59] jdantonio commented on #553
@rmoriz Thank you for the suggestion! This is definitely a feature we should look into at some point. Right now @pitr-ch need to focus our efforts on a 2.0 release do I'm going to tag this `paused`. We'll revisit after releasing 2.0. We're always happy to consider PRs for new features to Edge, so if anyone in the community would like to take this on in the mean time we'd be happy to support them.

[2016-07-20 13:13] jrochkind commented on #550
MRI 2.3.1.

I wasn't able to reduce to an isolated reproduction. I ended up just refactoring my code in a way that no longer seemed to trigger the `nil` value, just kind of bit twiddling to maybe avoid the cycle I'm not entirely sure was there in the first place. It is a bit disconcerting. It is, I'm realizing, hard to figure out the overall picture in a system made up of lots of concurrent parts,

[2016-07-21 11:53] pitr-ch commented on #539
Thanks, in the meantime I'll scan the gems you've posted if any of them is calling interrupt, it could produce some reasonable guess what is going on.

[2016-07-21 12:20] pitr-ch commented on #541
Unwieldy as a reason sounds good. Sorry I've got a wrong the impression that we will be removing things just for simplicity's sake.

Thanks, sounds good. Having also modules on top of tests when possible is good, it allows asking about it `AnInterface === object`.

[2016-07-28 09:09] toroidal-code opened #559 "Array#slice! broken on Rubinius"
### Expected behavior:

Array#slice! returns a fully-functional Array (intuitively a Concurrent::Array) containing the data removed from the primary array.
### Actual behavior:

Array#slice! returns a near-complete version of Array, but with no valid `@_monitor`, thus causing any methods that require synchronization on the object to fail.
### Example:

[code]

---

I honestly have no idea what's g

[2016-07-28 13:23] jdantonio commented on #559
Thank you very much for bringing this to our attention. We'll take a look at it ASAP.

[2016-07-29 18:09] pitr-ch commented on #542
Just to clarify, I meant to suggest to remove `Obligation` in light of new Promises, Future and Event are targeting to replace all other classes using Obligation. If there are some classes using it left then `Obligation` should be kept. It's good to have it to represent the interface.

I am sorry but I don't believe we can close this one just yet.

Let me repeat what I've mentioned in #395 issue f

[2016-07-29 18:09] pitr-ch commented on #544
This is tricky, there are 2 competing points of view, both good. One is unification across the library, second is naming conventions and consistency within the abstraction. E.g. `ask` and `tell` are very good pair of names for actors, post and ask is not that good. Agent is a direct port of clojure agent and its names `send`, `send_off` and `await` are based on its naming.

I would put the interna

[2016-07-29 18:10] pitr-ch commented on #543
In contrast to that the new Promises were developed independently taking inspirations from many different similar libraries and adding new ideas. I do not want to shape it based on any particular implementation and I want to keep freedom to make best decisions for the abstraction and its users. This implementation is not js promises. However renaming few methods to pursue familiarity makes sense a

[2016-07-29 18:22] pitr-ch commented on #539
I did not find anything suspicious in the gems. If you can later try to attach debugger and let us know what is the source, we'll be grateful.

@jdantonio for now, I'll fix the edge part and l'll let the Java specific exception (ConcurrencyError) bubble up as before. Then we can release 1.0.3 to get out the other fix.

[2016-08-01 15:15] jrochkind commented on #550
@pitr-ch

Okay, I realized I should try to reproduce with a simple case testing the hypothesis that my problem was an accidentally 'recursive' Delay. Indeed it reproduces that way:

[code]

The Delay when accessed inside the Delay thread itself is in a 'contractually unpermitted' state, Delay promises that after calling `value` it will never be incomplete, but violates that commitment in this case

[2016-08-01 22:10] tomascharad commented on #518
HI @jdantonio ,

The javascript implementation of Promise.all does actually return an array with the results of each fulfilled promise, if you provide this array, the promise.all function is almost useless IMHO.

[2016-08-02 08:47] bibstha opened #563 "100% CPU when blocked writing to a channel"
The code to test is available in this [gist](https://gist.github.com/bibstha/d24acbd892a892fd24ba5dc1a9aca4a2).
Basically if you write to a channel and that is blocked, it has a 100% cpu usage.

However, if I use `x = Concurrent::Channel.new(capacity: 1)`, it doesn't have the 100% cpu usage.

[2016-08-02 13:10] thedrow opened #564 "Thread Safe Set implementation"
Currently there is no Thread Safe set implementation in this library and I found a need for it.
What would it take to add one?

[2016-08-02 19:41] pitr-ch commented on #550
@jrochkind Thanks you for finding the reproducer! That will help. I agree it should be fixed. Question is how, options I see:
*

[2016-08-02 19:43] pitr-ch commented on #550
@jrochkind Thanks you for finding the reproducer! That will help. I agree it should be fixed. Question is how, options I see:
* block on the second value call as well (may block indefinitely, or MRI's deadlock detection will raise)
* detect the cycle and raise error in Delay

[2016-08-02 19:54] pitr-ch commented on #518
Yeah i've missed that completely in the old discussions about this API. I assumed it passes the values to the block. I agree it limits the usability. New implementation of promises which is almost ready, just API renaming in progress, passes the values as expected.

[2016-08-02 19:56] tomascharad commented on #518
Thanks @pitr-ch ,

Is there any way how to try that alpha version?

[2016-08-02 20:00] pitr-ch commented on #564
As a quick dirty solution you could use the Concurrent::Hash's keys as set, inserting always true for values. If you look at stdlib's Set it does the same. We look into adding Set for convenience later.

[2016-08-02 20:17] jrochkind commented on #550
Thanks @pitr-ch . it's clear to me that the best API from the consumer's point of view, is detect and raise immediately.  A self-referencing cycle in a Delay is never going to work, it's impossible -- but easy to do accidentally (I can provide more realistic examples if this isn't clear how easy it is to do accidentally in a hard to debug way) -- it should fail quick with a clear error.  Blocking

[2016-08-02 20:18] jrochkind commented on #550
Ideal would of course be if the exception included a backtrace which actually included the cycle (Delay.value twice in it). I don't know if a generic MRI deadlock exception would, probably depends on where/how it's raised.

[2016-08-02 20:21] jrochkind commented on #550
(PS: And of course we're talking about "MRI" deadlock detection error, but this needs to do something reasonable -- and ideally consistent -- on JRuby etc too)

[2016-08-02 20:32] pitr-ch commented on #518
it is available in concurrent-ruby-edge see http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Edge/FutureShortcuts.html for documentation. But please be warned that even though the internals will stay the same, the names and namespace will be changing in the next release. If you have feedback about the new implementation we will appreciate it.

If you wish to live beyond edge you can tr

[2016-08-02 20:51] tomascharad commented on #518
Many thanks @pitr-ch , I'll try that tomorrow and will let you know.

[2016-08-03 05:36] thedrow commented on #564
Is there a reason not to save the memory for the values?

[2016-08-03 07:26] pitr-ch commented on #564
Not really, it's just that nobody wrote the Set implementation yet.

[2016-08-03 11:52] jdantonio commented on #564
@thedrow Thank you very much for the suggestion!

I'd be happy to look at a PR which adds this feature to Edge. Unfortunately none of the core maintainers are available to work on this right now. Our top priorities are bugs and the upcoming 2.0 effort. Once 2.0 is complete we can revisit the idea. In the mean time I'm going to pause this issue and leave it open.

[2016-08-03 12:00] jdantonio commented on #550
@jrochkind Good catch. Thank you so much for all the work you went to in debugging this! Honestly, a recursive Delay is a situation I never gave any thought to. I agree with you that an immediate exception should be the result. I'll work on it this weekend. I'm not sure how it'll work but I'll see what I can do.

[2016-08-03 12:06] jdantonio commented on #563
@bibstha Thank you very much for letting us know about this. I especially appreciate the gist with the sample code. Unfortunately I have to close this issue as unresolved. The current implementation of channels is strictly experimental and no where near production ready. It's being completely replaced by an entirely new implementation (PR #519). The new implementation has vastly different internal

[2016-08-03 12:06] #563 closed

[2016-08-03 12:18] jdantonio commented on #539
@pitr-ch Awesome. Thank you!

[2016-08-03 12:41] jdantonio commented on #542
Other classes are using it but I'd rather enforce the contract through common tests. The module itself has become unwieldy.

We don't need to test it. So long as every developer makes an concerted effort to `require` its direct dependencies we'll be fine. We'll probably miss something occasionally, and that's OK. When we receive PRs like #551 we'll merge them. Eventually we'll get there. Please do

[2016-08-03 12:47] jdantonio commented on #543
I agree, but "best decisions" is very subjective. There is value in familiarity. There is value in having abstractions behave the way [users expect](https://en.wikipedia.org/wiki/Principle_of_least_astonishment). We can discuss "best decision" on a case-by-case basis.

I agree. Better to have fewer states. If a new state is needed for any reason we should know in advance how to handle that. Hopefu

[2016-08-03 12:58] jdantonio commented on #544
I agree. We should be consistent only when it makes sense.

Fair enough. What about 2 sets of baseline names? One ask/tell set and another set based on post? Each abstraction could then start with whichever baseline set matches best. We would still have consistency.

Certainly, but our implementation is still unique to concurrent-ruby. This is similar to the Promise discussion. We want our promise

[2016-08-03 18:44] tomascharad commented on #518
Hi @pitr-ch ,

I just updated to:
[code]

But it doesn't ```Concurrent::Promise.all?```still doesn't seem to return the responses.
I'm doing:
[code]
And my console just prints
[code]

[2016-08-03 19:32] tomascharad commented on #518
Hi @pitr-ch ,

I just updated to:
[code]

But ```Concurrent::Promise.all?```still doesn't seem to return the responses.
I'm doing:
[code]
And my console just prints
[code]

[2016-08-03 19:51] tomascharad commented on #518
Hi @pitr-ch ,

I also tried using:
[code]
Without the edge gem and requiring
[code]
But I the responses object still seem to be null:
[code]

[2016-08-03 21:45] tomascharad commented on #518
HI @pitr-ch ,

Just if it worths for something, I wrote the following implementation of Promise.all, based on concurrency-ruby promises:

[code]

[2016-08-04 06:50] pitr-ch commented on #518
Ah, the old Promise implementation. is still used in your example. The new promises are created differently, please have look at the documentation which was linked earlier. Requiring the edge does not change the old API.

[2016-08-09 14:11] pitr-ch opened #565 "Make concurrent-ruby work with JRuby+Truffle again"
cc @arietal

[2016-08-12 15:43] jrochkind opened #566 "Unexpected warnings from MRI 2.3.x"
I just started noticing a whole bunch of warnings in output from concurrent-ruby.

I wondered if it was a new version of concurrent-ruby, but was able to reproduce down to 1.0.0. Did I just not notice before?  Or is it MRI version?

Not sure but, it seems bad. I have a whole bunch of warnings from several different source lines, but here's one I was able to make a relatively simple repro for.

MRI

[2016-08-17 09:15] pitr-ch commented on #543
Great, I think we've reached agreement. Please have look at https://github.com/ruby-concurrency/concurrent-ruby/pull/522, I would like to merge it after next patch release (1.0.3) in edge for people to try out. The API should be finalised before going out in edge so just minor changes are done if needed when it goes to core.

[2016-08-17 09:37] pitr-ch commented on #544
Yeah lets try, sounds good, we'll se how it goes.

I think both clojure-based names or ruby-based names make sense. Please use what you think is best.

I 100% agree that we should provide tools to disambiguate nil from errors always. And I think we do. (The new Promises API has explicit warnings in the documentation when the nil can be ambiguous). However the Maybe concept is foreign to Ruby which

[2016-08-18 07:58] pitr-ch opened #567 "Move documentation of gh-pages to docs"
see https://github.com/blog/2228-simpler-github-pages-publishing

[2016-09-05 17:01] vemv opened #570 "Strange interaction between local variables and Concurrent::Array; warn about += usages"
Hi there!

I found a strange case I have no explanation for. Perhaps it's familar to you.

There's a workload which I partition by months (groups of 30 days), having one thread to process each month.

The code looks like this:

[code]

(in this code a 'transaction' simply means a business transaction, like a purchase)

The thing is that if I tried the following change:

[code]

I would get totally

[2016-09-06 01:57] chrisseaton commented on #570
Is `v` defined somewhere else in this code, outside of the block? Perhaps the `v` is being used by all threads? If it is then you probably shouldn't use that variable like that. You can also force `v` to be block-local like this

[code]

[2016-09-06 03:31] vemv commented on #570
No, it isn't! Here's the class (a few commits later), which is pretty small. https://gist.github.com/vemv/7f826a0148ce3e3e49c0dea8440d2458

`v` is local and clear there.

I still am able to reproduce the issue: the version with `v` is consistently correct (always the same, correct result), and the version without `v` is inconsistent and incorrect (doesn't even give me the same incorrect result eve

[2016-09-06 10:27] pitr-ch commented on #570
@vemv thanks for sharing the problem with us! What Ruby and version do you run?

[2016-09-06 13:08] vemv commented on #570
Hey there Petr!

I use MRI: `ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin13]`

[2016-09-06 16:26] thedarkone commented on #570
@vemv what do you mean by "I would get totally different results"? Your code is non-deterministic (due to threading), you should be getting different results pretty much every run.

Are you experiencing "lost results", where some transactions are not appended to the `transactions` array (or the `result` array in the gist)? If so, then this is because `+=` is not atomic: `foo += bar` is a syntactic

[2016-09-08 06:52] pitr-ch commented on #570
@thedarkone thanks! I've missed the `+=` usage.

[2016-09-09 01:29] vemv commented on #570
Sounds like that's the case. I'll check in detail and provide a more
detailed reply when I have the time.

I guess it's not possible to override `+=`? That'd prevent my mistake.
Actually I was actively assuming that the Concurrent::Array implementation
did override `+=`.

On Thu, Sep 8, 2016 at 8:52 AM, Petr Chalupa <notifications@github.com>
wrote:

[2016-09-09 11:20] chrisseaton commented on #570
In Python I think it is, but not in Ruby. I believe it's been suggested and rejected for Ruby before. There's no way for us to detect it's being done either so we can't even warn, unless we warned for all use of `#+`. Maybe we should do that for concurrent array?

[2016-09-12 00:34] lucasallan opened #571 "[Proposal] Promise#then with support to a different executor"
I recently came across a case where there was 2 executors: global executor for IO operations and a FixedThreadPool for CPU bound ops.

In this case, it would execute some cpu intense operation if the IO operation was successfully.

Something like:

[code]

But in order to use both executors, it had to create a new promise in the `then` block.

It could be easily solved if `then` could accept an ex

[2016-09-12 14:42] jdantonio commented on #571
That would be very consistent with all the other APIs. 👍 Feel free to make a PR, and thank you!

[2016-09-20 16:35] schneems opened #575 "Wait for all promises to complete?"
I'm chaining together a bunch of promises in a loop. After the loop is executed I need to wait for them all to finish. I would have thought that calling `wait!` on the parent promise would do this, but it doesn't, instead it only waits for the first promise in the chain to complete.

Code! I'm building up a bunch of promises in a loop:

[code]

Then later I want to make sure they're all done:

[co

[2016-09-20 18:59] schneems commented on #575
Did figure out you can wait for the last promise, would still be nice to have a top level way of waiting for a promise chain to finish. I don't know when you would ever want to wait on only the top level promise and not the full chain.

Also seems silly to add all that extra code just to keep track of the last promise:

[code]

[2016-09-21 14:50] mars commented on #575
This looks like the right approach. Promises don't know anything about their context, with exception of the standard function closure.

Are you catching errors somewhere, or do Ruby promises not have the error swallowing behavior like JavaScript?

[2016-09-21 19:02] jdantonio commented on #575
@schneems The original intent was for these promises to be used similar to JavaScript, with the callbacks being the primary interaction. I added the state methods mainly to provide consistency with other abstractions in the library. Waiting an a set of promises wasn't a use I had ever considered. Normally a create an array of futures and iterate over the array, waiting on each individually. That a

[2016-09-22 11:29] pitr-ch commented on #571
Solved in #572.
@lucasallan fyi: new promises implementation (which will replace current promises) already solves this and I hope to get it released in few months.

[2016-09-22 11:29] #571 closed

[2016-09-22 11:40] pitr-ch commented on #575
This is tricky to support. How would you ever know that the tree of promises is complete? New children can be added at any moment. I believe that waiting on the last promise which captures the part the user is interested in is right approach (other children can be added freely without issues). For that reason I am closing the issue, please reopen if the solution is not satisfactory.

Regarding err

[2016-09-22 11:40] #575 closed

[2016-09-22 13:59] schneems commented on #575
Thanks for the rescue block advice, I'll look into propagating the errors so they could be raised by the last promise.

You could handle that problem of never knowing if the chain will be added to by not allowing new promises to be added. Basically calling freeze on the whole thing when you execute "wait_all!" (or whatever you would want to call it).

Is there a better data model or pattern for do

[2016-09-24 21:19] ianks commented on #575
It seems like Promise.all could be a fitting use case here, no?

[2016-09-29 09:50] pitr-ch commented on #575
In new promises `future { 'a' } .then{ |v| raise v }.then { never happens }.value!` will raise the error, I think the old promises are propagating in the same way, don't they?

It could work. The deep_freeze suffers the same problem though, it would not happen atomically. It's hard to document the behaviour then.

On the other hand parents of a promise are always immutable so it fits naturally. Zi

[2016-10-02 00:52] matthewd commented on #566
Another one:

[code]

[code]

[2016-10-03 09:17] pitr-ch commented on #566
Thanks, I have a look to get this fixed for the upcoming patch release. (Including some automated tests for this, we did fix warnings before).

[2016-10-04 14:32] sheerun opened #578 "Consider introducing sync method for promises"
Tiny but useful (from https://github.com/lgierth/promise.rb):

[code]

[2016-10-09 09:57] pitr-ch commented on #578
Hi, Thank you for you interest! You are right. The method you are looking for is named `#value!` and it's available in both old and new implementation

[2016-10-09 09:57] #578 closed

[2016-10-09 11:01] pitr-ch commented on #570
We would get false warnings for legitimate uses of `#+` though :/
- [ ] I think we should add warning to documentation though.

[2016-10-09 15:31] chrisseaton commented on #570
I think if someone is explicitly using a concurrent array then warning them not to use `#+` could be reasonable.

[2016-10-09 22:50] jdantonio opened #580 "Stepping down as maintainer"
I've decided to step down as maintainer of Concurrent Ruby. I've asked @pitr-ch to take over that role and he has graciously agreed.

As this project has grown my passion has increasingly shifted toward evangelism: speaking at conferences, participating in online discussions, and generally promoting Ruby and this project in every way I can. Meanwhile, Petr has become increasingly active in working

[2016-10-10 15:31] donv opened #581 "Add each as an alias for each_pair for Concurrent::Map"
Hi!

`Concurrent::Map` is described as a mostly compatible replacement for `Concurrent::Hash`, but it is missing the `each` method.  On a `Hash`, this method has a lot of use, and it would ease migration from `(Concurrent::)Hash` to `Concurrent::Map` if the `each` method was an alias for `each_pair` as it is for a regular Ruby Hash.

[2016-10-11 11:04] kalsan opened #582 "Documentation enhance: Is it possible to upgrade a reentrant rw-lock from read to write?"
Hi!
On the page http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/ReentrantReadWriteLock.html there is no information about up- or downgrading locks. The parent index page gives some info, but not a lot.
IMHO it would be helpful to have a brief sentence whether or not it is possible to up- and / or downgrade a lock, as done in https://docs.oracle.com/javase/7/docs/api/java/util/concurre

[2016-10-11 12:42] pitr-ch opened #583 "Assign old closed issues/PRs to appropriate milestone when it's missing"

[2016-10-11 12:52] pitr-ch commented on #580
I am happy to accept the role and responsibility. The gem will continue in the same direction. If there are changes or improvements, there will be a public issue or pull-request opened to discuss as it was before. I am looking forward to more of your talks and I wish you safe travel without delays. Indeed, Thank you for all your work. And I am looking forward to cooperate with you in future.

Best

[2016-10-11 12:52] #580 closed

[2016-10-11 13:18] voxik commented on #547
Interesting, today I met very similarly looking issue in Action View test suite:

[code]

Please note the ```ActionView::Resolver::Cache:0x-7e78d8a0```. I am wondering if there is common source of this issues.

[2016-10-11 15:48] pitr-ch commented on #570
If user wants to just create third `Concurrent::Array` which is a concatenation of 2 other `Concurrent::Array`s then (since `Concurrent::Array` has same API as `::Array`) user should use `#+`. In this case the user would get warning even though the usage is fine. `#+` does not have an alias so he would have to either use `dup.concat` or we would have to introduce an alias for `#+` to be able to av

[2016-10-12 15:53] ianks commented on #580
Thanks @jdantonio for your top-notch maintainer work! concurrent-ruby has really been exemplary in the Ruby space. I am confident things will keep progressing in the same way now that @pitr-ch takes the wheel.

[2016-10-12 18:00] jdantonio commented on #504
Closing. Existing promises will be deprecated soon, replaced by the new Edge ones.

[2016-10-12 19:02] pitr-ch commented on #504
P.S. In the new implementation, everything starts to execute immediately. Delayed execution can be created by `delay` factory method, or inserted anywhere in the promise chain `a_future.delay.then { ... }`

[2016-10-13 03:52] jrochkind commented on #504
Huh, so my choice is using may-change-at-any-time-in-not-backwards-compat-ways edge, or soon-to-be-deprecated mainline?  I guess if mainline is about to be deprecated, I should really be using edge already?

[2016-10-13 13:34] jdantonio commented on #504
@jrochkind Well, when you put it that way... :-)

The plan for 2.0 is to follow the example set by Ember 2.0. New features and deprecated features will coexist in the library for a time under 1.x, and the 2.0 release will simply be a removal of all deprecated features. I believe that is still what @pitr-ch is planning, and he is preparing the first merge right now. Once the new promises are part o

[2016-10-13 15:20] pitr-ch commented on #504
As @jdantonio said. There is one more step missing in there though, the PR will first merge the naming updates of futures to edge, then the edge is released, then they'll go to core in 1.1, then old futures are deprecated probably 1.2, then 2.0 is released. Edge may have breaking changes more often but we still follow semantic versioning, there are no deprecations though.

[2016-10-13 19:23] jrochkind opened #585 "Rails5, auto-loading, future, circular dependency"
My first time trying to use concurrent-ruby in Rails5 and with MRI 2.3.  MRI 2.3.1. concurrent-ruby 1.0.2. Running into something very odd.

    future = Concurrent::Future.execute { something_that_will_cause_rails_autoloading }
    future.value

Hangs forever, never comes back. It's only by some weird debugging that I discovered it's "something_that_will_cause_autoloading" -- and I'm not _certain

[2016-10-14 14:57] jrochkind commented on #504
D you think edge is pretty stable with regards to any backwards-incompat at this point, do you think I should be using Edge now?  Took a skim at edge source, and I do like what you've done with it, the API seems to make a lot more sense.

But I consider concurrent-ruby to be a pretty low-level library, I want to be able to write code using it, lock my Gemfile with semver requirements, and not have

[2016-10-14 15:05] jrochkind commented on #504
And PS: If you really recommend that everyone at least strongly consider using certain edge implementations, such as Futures, I'd suggest modifying the README to provide some hints/instructions. Of course what those hints/constructions should be is the hard part, that's up to you. :)

But I had pretty much ignored Edge because, with one of the main factors in my adoption of ruby-concurrent being i

[2016-10-14 15:09] jrochkind commented on #504
Also, the README saying "Semantic versions will be obeyed though" about concurrent-ruby-edge -- is a pretty meaningless thing to say when concurrent-ruby-edge is at 0.x versions!  semver specifies nothing at all about 0.x version numbers. It makes me think that backwards breaking changes _could_ come with any release in concurrent-ruby-edge.

[2016-10-14 15:23] jdantonio commented on #504
@jrochkind Everything in the README about Edge is correct. Edge was created explicitly as a place to test ideas safely outside of the core gem. Specifically to reduce churn on core. That's why Edge will probably never have a 1.0 release. As you note, semver basically doesn't apply to 0.x releases.

To clarify, not everything in Edge will be going into core. Channels, for example, won't be. There w

[2016-10-14 22:38] jrochkind commented on #504
Okay, thanks. I too am eager to see edge promise/futures in core, the edge ones look very well designed. @pitr-ch says they'll be in core in 1.1, presumably with a different name as the 'legacy' futures will still be there too. Great. I eagerly await 1.1!

[2016-10-15 06:48] pitr-ch commented on #504
I think we were tying to do `0.y.z` where `y` is breaking change and `z` is non-breaking change in edge. I am not sure if it was defined somewhere. I'll update readme. (Still no guarantee for edge though, we'll try).

Yeah the readme is correct, and it was good that new promises were in edge, we could easily do the API renaming.

I'll leave this as an improvement. I am also marking as rejected, be

[2016-10-15 06:48] #504 closed

[2016-10-15 06:53] pitr-ch commented on #504
@jrochkind Thanks. The namespace for the new implementation will be `Promises` and it will deprecate `Future`, `Promise`, `IVar`, `Delay`, `dataflow`.

[2016-10-15 20:08] pitr-ch commented on #582
Thanks, for letting us know. Makes sense to add it. Would you open a PR with the update please?

[2016-10-15 20:14] pitr-ch commented on #585
@jrochkind Thanks for letting us know! We definitely pay attention to rails + c-r combination. Could you create a reproducer for this? The blocking part is enough.

[2016-10-15 20:26] pitr-ch commented on #559
@thedarkone Would you have time to look at this issue?

[2016-10-16 10:45] pitr-ch opened #588 "Setup tests to ensure that we do not produce any warnings"

[2016-10-16 10:45] pitr-ch commented on #566
the test enhancement is tracked separately https://github.com/ruby-concurrency/concurrent-ruby/issues/588

[2016-10-16 11:43] #566 closed

[2016-10-16 15:08] pitr-ch opened #590 "Allow failures of known problematic tests in exchanger and channels"

[2016-10-16 15:28] pitr-ch opened #591 "Create a twitter account to share news?"
- [ ] how to manage it?
- [ ] how to share with other maintainers?
- [ ] what to do if the news will not fit in the tweet?

[2016-10-16 21:00] #581 closed

[2016-10-16 21:26] kalsan commented on #582
I'd love to, but I can't write documentation about something I don't know (that's why I asked the question here).

[2016-10-16 22:36] pitr-ch commented on #582
Ah sorry, I've misunderstood. The ReentrantReadWrite supports both downgrade and upgrade.

[2016-10-16 22:38] pitr-ch commented on #582
Examples can be found in specs: https://github.com/ruby-concurrency/concurrent-ruby/blob/master/spec/concurrent/atomic/reentrant_read_write_lock_spec.rb

[2016-10-20 18:36] jrochkind commented on #585
Upon further investigation, I think it is about Rails auto-loading, and is all about Rails, and not at a  ruby-concurrent bug or something ruby-concurrent can do anything about.

But is something users of ruby-concurrent in a Rails app will have to know about, that you may want to give them hints on or be able to answer questions on.

Repro with giant write-up [here](https://github.com/jrochkind/r

[2016-10-21 23:12] headius opened #592 "Java-based Semaphore does not allow new with 0 passes"
Here's the simple reproduction.

[code]

On MRI, this runs fine. On JRuby, we get:

[code]

Of course a Semaphore with zero available permits is perfectly valid, and indeed, `java.util.concurrent.Semaphore` even allows _negative_ permits.

This leads to a number of errors in Rails's actioncable tests: https://gist.github.com/headius/a137448dbc6c6b845128c6deb6d5d227

[2016-10-22 16:22] pitr-ch commented on #592
Thanks! I have a look and I'll fix it with next release. Should be simple.

[2016-10-22 16:24] pitr-ch commented on #592
@headius which version did you try?

[2016-10-22 20:18] headius commented on #592
Looks like Rails has a dependency on 1.0.2 right now, so that's what I would have been using.

[2016-10-25 18:36] jrochkind commented on #585
Okay, I've figured some stuff out by reading source, expirimentation, but mostly by @matthewd answering my questions.

Rails 5 has several new architectural components and API for dealing with concurrency.

The good news is that can make auto-loading, and even dev-mode reloading, concurrency-safe for the first time ever.

The bad news it's pretty much entirely undocumented (not even method-level r

[2016-10-25 18:37] jrochkind commented on #585
So, yeah, it's not a concurrent-ruby issue... but I think many many people trying to use concurrent-ruby in Rails5 are going to run into these issues, so concurrent-ruby team probably wants to be aware of them, and maybe even doc them especially if Rails doesn't doc them soon.

[2016-11-03 23:13] shevkoplyas opened #594 "Concurrent::Hash does not lock on method #each"
Abstract:

Playing with Concurrent::Hash here. I hoped it would block (by using the locks against the object itself) one of two concurrent callers so they will iterate the hash in a one-at-a-time manner.

**CASE 1 of 2: Two threads reading the same Concurrent::Hash**
When 2 threads reading hash by using iteration method #each it does not lock as expected. Instead  in the middle of 1st thread readi

[2016-11-05 16:34] pitr-ch opened #595 "Remove all global state not just configuration"
Removes dependency on global state from all classes. Introduce World which can have default executors, which are injected when constructors on the world are used.

[2016-11-05 17:36] pitr-ch commented on #592
There were couple other methods not matching java behaviour.

[2016-11-05 18:28] pitr-ch commented on #594
Thanks @shevkoplyas. @thedarkone could you have look?

[2016-11-05 19:11] pitr-ch opened #597 "Evaluate change log generator"
https://github.com/skywinder/github-changelog-generator

[2016-11-05 20:26] #590 closed

[2016-11-05 21:18] jdantonio commented on #594
I believe this is expected behavior. I believe this class only promises that each read/write is synchronized. I don't believe it promises atomicity for the entire #each method. We should compare to the Java and Rbx implementations.

[2016-11-05 21:34] pitr-ch commented on #594
yeah, the error is rather unfortunate, it would be nice if it could handle concurrent iteration and updates.

[2016-11-06 12:56] shevkoplyas commented on #594
Thanks guys for quick reply.
Well, the [docs for Concurrent::Hash](http://ruby-concurrency.github.io/concurrent-ruby/frames.html) then should be fixed because currently docs promise to lock on #each call as well:

I understand it as:    Locks for every method, including #each, which means while one thread not finished it's #each call the other will have to wait.

Honestly instead of quick fix in t

[2016-11-06 13:51] jdantonio commented on #594
I take issue with this statement. Concurrent Ruby _is_ "ready-to-use in multrithreaded environment" as it exists. Your understanding of "thread safe" is limited and too heavily focussed on your personal use case.

"Thread safe" simply means that one thread cannot write to a memory location while one or more other threads read from or write to that same memory location. Concurrent::Hash makes this

[2016-11-06 15:56] thedarkone commented on #594
@shevkoplyas thanks, for bringing this up! I believe you'll be much better served by `Concurrent::Map`, it is usually the case that if you are after a concurrent `Hash`-like data structure, `Concurrent::Map` is what you want 😉. As a general rule, you should only pick `Conc::Hash` over `Conc::Map` if your use case requires insertion order guarantees.

----

@pitr-ch, @jdantonio: sigh, `KeyError` go

[2016-11-06 17:04] pitr-ch opened #599 "Allow concurrent iteration and writes in Concurrent::Hash"

[2016-11-06 17:05] pitr-ch commented on #594
Thanks @jdantonio for the elaboration, I agree. @shevkoplyas please synchronise externally if you need separate iterations.

I've updated the documentation 6f9d974, @thedarkone would you work on allowing concurrent iteration and writes #599 ?

[2016-11-08 00:35] gtan66 opened #602 "Promise.all? behavior"
Hi guys!

I noticed that the implementation of `Promise.all?` differs from that of JavaScript's Promise.all. It seems like `Promise.all?` executes the promises in the argument consecutively, whereas JS's Promise.all executes them concurrently, and then resolves when all of them have completed.

Really simple examples to illustrate:

JS example: http://jsbin.com/?html,css,js,console

Ruby example:

[2016-11-08 15:30] mmzoo commented on #9
Didn't help me haha. But thanks to this thread I could figure it out.

[2016-11-10 15:35] pitr-ch commented on #602
Hi @gtan66, thank you for submitting an issue. However, we are now working on getting new implementation of Premisses into edge and then into core. The new implementation does not have the issue so unless somebody contributes the enhancement for the old implementation we'll focus on getting the new implementation in. Related to https://github.com/ruby-concurrency/concurrent-ruby/pull/577.

[2016-11-17 14:39] abhisheksarka opened #604 "Using future - Do I still need to use mutex?"
I am using `Concurrent::Future` to run some async tasks that changes a couple of datasources(NoSql DB and SQS queue). I was wondering if I should synchronise access to these sources. I know I should but, does `concurrent-ruby` has any libraries that I can make use of? Any help will be much appreciated. For reference I have added a snippet below.

[code]

[2016-11-17 17:32] pitr-ch commented on #604
It depends on the driver of a particular database. If the driver is thread-safe and uses locks internally (or other tools) (which they ideally should) you can just use it from the future without any additional synchronisation. However If the driver is not thread-safe then one solution would be to create a thread-safe pool of connections and borrowing one connection to the future when they need it.

[2016-11-25 10:16] #592 closed

[2016-12-01 20:33] fedenusy commented on #539
@pitr-ch after completing the infrastructure upgrade, I'm no longer seeing this error. Much has changed:

- Upgraded to JRuby 9.1.6.0.
- Several gems have been added/removed/updated.
- Now running Java on the `openjdk:8-jre` container.
- Rails server runs on jetty (via warbler) instead of torquebox.

I've been running this set up for about a week now, and not a single ConcurrencyError.

[2016-12-01 20:33] #539 closed

[2016-12-01 21:39] pitr-ch commented on #539
@fedenusy thanks for getting back to us!

[2016-12-01 22:20] pitr-ch opened #609 "Release automation"
create script which builds everything, can be @pitr-ch env. dependent at the begging

[2016-12-01 22:24] jdantonio commented on #609
There is a rake task to build everything. Are there additional things the rake task needs to do?

[2016-12-01 22:30] jdantonio commented on #609
The `rake-compiler-dev-box` repo has scripts in the `bin` directory which build, package, and test. Those scripts can be run directly on an x64 Linux machine and they will do everything. The stuff in that repo related to Vagrant was there because I use a Mac at home. Eventually I gave up and just ran everything in a Linux VM. Building a new release is basically a one command process if you are on

[2016-12-01 22:36] pitr-ch commented on #609
I was writing a script for https://github.com/ruby-concurrency/concurrent-ruby/blob/master/BUILDING.md. I'll have a look at rake-compiler-dev-box I thought it's abandoned for some reason. Thanks.

[2016-12-01 22:49] jdantonio commented on #609
Looks like I dropped the ball on updating BUILDING.md. :-(

Sorry for not communicating well. I mostly abandoned the Vagrant part, but I've still been using the scripts. But they are a little confusing. There is probably a lot of room for improvement.

There is automation to test the gem packages and make sure that all the native extensions work. Those scripts need to create/delete gemsets and ins

[2016-12-05 20:23] pitr-ch commented on #609
If you would be releasing the gem now, which script from bin would you run? I'll investigate it from top to bottom so I have a better idea what it does.

[2016-12-05 20:28] jdantonio commented on #609
On a Linux machine:

1. Clone rake-compiler-dev-box
2. Change to the `rake-compiler-dev-box` directory then clone concurrent-ruby _under_ that directory
3. Run `package_all concurrent-ruby` from the rake-compiler-dev-box directory

That will build all the gem packages, including cross-compiling the Windows C extensions.

[2016-12-06 07:12] ankuriitk commented on #369
Reigniting this old thread. Is there a recommendation for the nesting problem? Is the solution that rate limit Future As so that Future B always have at one thread free available from the global pool? Another idea that came to mind was have dedicated thread pools for each level of nesting  (what if B spawns Future C and B depends on value of C). Is there any other alternative to avoid the deadlock

[2016-12-07 09:51] ankuriitk opened #610 "Correct way to use Future and Barriers"
Hi,

I have a bunch of tasks (read ruby Procs) that I put in a queue. I then iterate over them and create futures for them. Then I have a barrier that waits for all these futures to finish. Code snippet is below. When I wrote a simple test for it, it seems to deadlock unless I use an immediate executor. I am not sure what I am doing wrong. Will appreciate if someone can spot check the code:

[code

[2016-12-07 21:50] ms-ati opened #611 "Deadlock using Edge Future chain & zip"
I am seeing this from `irb -rconcurrent-edge`. Is this something I am doing wrong, or an error?

[code]

******
-   Operating system: Mac OS X 10.11.6 (El Capitan)
-   `concurrent-ruby` version: 1.0.3.pre3
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: yes: 0.2.3.pre3

[2016-12-07 21:53] ms-ati commented on #611
Note -- I am a Scala user as well, so my expectation and hope was I could use these in somewhat analogous ways to Scala Futures, but with the fully lazy `.delay` case

[2016-12-08 07:58] pitr-ch commented on #611
Thanks for reporting! I may see the issue, the flat operation may not correctly propagate requests for value to delayed futures which are being flatted. We are about to release 1.0.3, I'll include a fix for this.

[2016-12-08 11:37] ms-ati commented on #611
@pitr-ch Thanks so much! Looking forward to seeing a fix in 1.0.3

[2016-12-09 15:54] ms-ati commented on #611
FYI, until this is fixed, for anyone who is interested in a current workaround do compose sequential lazy Futures, each of which are a zipped set of parallel Futures, the following works:

[code]

This correctly prints out:

[code]

[2016-12-09 16:17] ms-ati opened #614 "Feature request for Edge Futures: #map and #flat_map"
Hi all,

Would you consider accepting a pull request to add `#map` and `#flat_map` to the Edge Futures?

I think it would make functional composition easier and more clear, especially after #611 is fixed.

For example:

[code]

So then we could write:

[code]

What do you all think?

[2016-12-11 14:21] pitr-ch commented on #614
Thank you for your interest in edge promises. I would like to avoid creating aliases, the promise implementation follows js naming so we would like to stick it. I think `then_flat` is acceptable (there are other `then_*` methods like `then_ask`, `then_select`, etc.). We'll appreciate a PR! However there is big renaming of Promise API awaiting in a PR to be merged after 1.0.3 release. You could eit

[2016-12-11 14:50] pitr-ch commented on #369
There is a solution in edge promises (still in a PR) which will be merged after 1.0.3 release and then made available in edge. In the meantime I recommend to control how many futures (or promises) of A is created.

I am not sure about the nesting pools. It creates unnecessary complexity and also does not fixes the underlying problem. It can only postpone the problem if the tasks are laid appropria

[2016-12-11 14:58] pitr-ch commented on #610
Could you simplify the code snippet just to essentials which do not work? Please include the executor configuration and how the queue is filled. It would help greatly if I could execute it locally.

[2016-12-11 15:13] #611 closed

[2016-12-11 16:23] pitr-ch commented on #609
I've ended up using this in the end https://github.com/pitr-ch/concurrent-ruby/commit/88acf953d69742c5a86ca078d2350e6b7138c4b2#diff-88d27ab550183a7acaf704ba8b1a3b35 If you spot anything wrong please let me know.

[2016-12-13 22:13] ms-ati commented on #614
Ok -- what are you guys thinking about `.sequence` and `.traverse` for example? Best live somewhere else?

[2016-12-14 17:04] ms-ati commented on #611
Hi @pitr-ch: do you have any feeling on when 1.0.3 would be released with this?

[2016-12-14 20:37] pitr-ch commented on #611
Before this week ends.

[2016-12-14 20:45] pitr-ch commented on #614
could you link what sequence and traverse do you mean?

[2016-12-22 09:03] brauliobo commented on #493
very good idea IMO, would be pleased to have a `peach` like method with ruby concurrent.

`peach` gem is unmaintained btw. As I would like to stick with ruby-concurrent and not add another dependency, I wrote a simple `peach` implementation based on fixed thread pool:
[code]

[2016-12-22 16:13] kalsan opened #616 "How to catch exceptions inside a ThreadPool"
We are using FixedThreadPools in a large Rails application. Due to the size of the project, we have a large variety of control flows including returns and all kinds of exceptions.

In order to deal with exceptions inside a FixedThreadPool, we are forced to use a workaround with a block with_exception_catching do...end, but it's a terribly ugly hack that is becoming harder and harder to maintain as

[2016-12-22 16:46] jdantonio commented on #616
Most applications should not use thread pools directly. Thread pools are a low-level abstraction meant for internal use. All of the high-level abstractions in this library (Promise, Actor, etc.) all post jobs to the global thread pool and all provide exception handling. Simply pick the abstraction that best fits your use case and use it.

If you feel the need to configure your own thread pool rath

[2016-12-23 09:08] kalsan commented on #616
Thanks a lot for your answer! This makes things a lot clearer. I think we will give Promise a go, it's looking good so far.

Concerning "I can't believe there isn't already a solution implemented in FixedThreadPool" : It now turns out the sentence was ill-formulated; I should have said: "I can't believe there isn't already a solution in a ThreadPool-like structure in RubyConcurrent." I'm happy tha

[2016-12-23 10:31] pitr-ch commented on #347
Already done.

[2016-12-23 10:31] #347 closed

[2016-12-24 08:44] MegaFPyKT opened #617 "Race conditions?"
Hello. Sorry for my english, but tell me please. This is normal behavior?
[code]

Result:
[nil, nil, nil, 3, nil, 5]
or
[nil, nil, nil, nil, 4, 5]
or
[nil, nil, 2, 3, nil, nil]

If I add a "sleep()"
[code]

Result:
[nil, nil, 2, 3, 4, 5]

******
-   Operating system: linux
-   `concurrent-ruby` version: 1.0.3
-   `concurrent-ruby-ext` installed: yes / no
-   `concurrent-ruby-edge` used: yes / no

[2016-12-24 12:16] pitr-ch commented on #617
Could you please reformat the code and use "```ruby" to enable highlighting? It's hard to read.

[2016-12-24 14:30] #617 closed

[2016-12-25 13:53] thedrow opened #618 "Custom Fallback Policies for ThreadPoolExecutor"
We would like to instrument when the fallback policy is being used.
Unfortunately `handle_fallback` is private which doesn't allow us to add more behaviour.
Can we make it protected please?

[2016-12-26 03:09] jdantonio commented on #617
The issue isn't with the thread pool, it's with the use of the loop control variable _within_ the posted job. You are pulling a variable from the closure which changes while the operations are in progress. The correct code looks like this:

[code]

In this version we pass the _value_ of the loop control variable into the `#post` method. This captures the value at the moment it is passed. The code

[2016-12-26 03:10] jdantonio commented on #616
:-)

[2016-12-28 15:03] refaelos opened #619 "Depracation on ruby 2.4.0"
I'm getting this warning after installing ruby v2.4.0:
[code]

Is it a problem or can I ignore?

******
-   Operating system: linux
-   `concurrent-ruby` version: 1.0.2
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: no

[2016-12-30 14:35] pitr-ch commented on #619
@refaelos could you try 1.0.3? it should be fixed.

[2016-12-30 15:15] pitr-ch commented on #617
Thanks @jdantonio for the answer.

[2016-12-30 15:24] pitr-ch commented on #616
@kalsan you could also have a look at edge [Promises](http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Promises.html). They will go to 1.1 and old Promise, Future will be deprecated. You might safe a migration, and we appreciate feedback before 1.1. is released.

[2016-12-30 16:04] pitr-ch commented on #618
Unfortunately it looks like it is more complicated than just making it protected. The policies are implemented in Java https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/RejectedExecutionHandler.html for JavaExecutorService. The API has to match for both Java and Ruby executor. If you can contribute a PR, we will appreciate it. Otherwise we will get to it later.

[2016-12-31 07:34] refaelos commented on #619
@pitr-ch fixed. Thanks!

[2016-12-31 07:34] #619 closed

[2017-01-03 10:01] beatgutzwiller commented on #616
@pitr-ch I take the freedom to answer for my colleague kalsan. We have implemented a very simple multithreading with promises. Now i've tried the same with the edge Promises. In our case it makes no difference and works perfectly.

But i have still one big question. Since we also use Multithreading in Unit tests, we have to propagate all errors back to the main thread. Currently we collect the err

[2017-01-03 13:45] pitr-ch commented on #616
@beatgutzwiller That's a good question. May following examples be helpful:
[code]

[2017-01-03 13:59] beatgutzwiller commented on #616
@pitr-ch Thank you very much. Exactly what i searched. Thank you all for the good work, this library is quite awesome once you get the hang of it.

[2017-01-03 14:01] kalsan commented on #616
Thanks everybody!

[2017-01-03 14:01] #616 closed

[2017-01-03 14:38] beatgutzwiller commented on #616
Just a Note if somebody will have the same problem as I have.
Concurrent::Promise.zip(*promises).value only collects values until an Error happens.
So Concurrent::Promise.zip(*promises).value! will only propagate 1 Error, and
Concurrent::Promise.zip(*promises).reason will only contain 1 error.
But with the Edge gem it works as i want
Concurrent::Promise.zip(*promises).value! Throws all exceptions

[2017-01-03 16:19] ABorovenskyi commented on #456
Hi guys,

Rails keep several values in current thread, which may change execution result.
Here is an example

[code]

Would be cool to have possibility to tell Concurent's structures to copy thread local variables in current release as well.
Thank you for cool gem!

[2017-01-05 13:08] ondra-m opened #620 "Actors on Pool raise an error"
Actor does not work if its part of Pool.

[code]

Error:

[code]

Tested on MRI 2.2.5, 2.3.3, 2.4

******
-   Operating system: linux
-   `concurrent-ruby` version: 1.0.4
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: 0.3.0

[2017-01-05 14:46] pitr-ch commented on #620
Thanks for reporting, I'll have a look.

[2017-01-05 22:20] #620 closed

[2017-01-05 22:22] pitr-ch commented on #620
Fixed, I plan to release edge 0.3.1 soon. Until then please use master if you need to.

[2017-01-05 23:48] eregon commented on #617
Just as a note, this is an unfortunate side-effet of how `for` works, by hoisting the variable declaration in the same scope as the `for`:

[code]

So changing the `for` with `(0..4).each do |i|` above also fixes the problem.

[2017-01-10 10:51] ankuriitk commented on #610
Hi Petr,

Apologies for the deafening silence on this. Here is a condensed and relevant info (including executor config). My question is if this is the correct way to use nested futures and barriers.

[code]

[2017-01-10 21:52] pitr-ch commented on #456
Moving to 1.1 giving it a higher priority.

[2017-01-13 20:16] pitr-ch opened #622 "Fix https://github.com/ruby-concurrency/ruby-concurrency.github.io"

[2017-01-18 23:59] naphthalene commented on #595
This would be a wonderful a wonderful enhancement :+1:

[2017-01-20 07:26] pawandubey commented on #610
@pitr-ch Did you have a chance to look at this?

[2017-01-22 18:57] pitr-ch commented on #610
Hi sorry, I was otherwise occupied. I think using Promises might be a better option here. Multiple executors are not necessary. Here is an example:
[code]
or using new promises implementation
[code]

[2017-01-23 21:19] ms-ati commented on #611
@pitr-ch has this been broken in the released `0.3.0` version of concurrent-ruby-edge? How does one make use of this fix for the example code above in the released version?

[2017-01-23 21:30] ms-ati opened #624 "Deadlock regression using Edge Futures chain & zip"
This appears to be a regression of #611

To reproduce:

[code]

[code]

I see this output:
[code]

******
-   Operating system: mac
-   `concurrent-ruby` version: 1.0.4
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: yes (0.3.0)

[2017-01-24 09:20] pitr-ch commented on #624
Thanks! Indeed I've broken it again. I have a look. Smaller reproducer:
[code]

[2017-01-25 07:11] ankuriitk commented on #610
@pitr-ch : thanks for your reply. I think the problem is that the "nesting" is dynamic i.e. a promise internally may have another promise. So I can't chain them statically. The question is that if a promise "spawns" another promise, is deadlock possible if one uses a single global executor?

[2017-01-25 22:36] pitr-ch commented on #624
will be fixed with #625 and in a next release.

[2017-01-27 23:02] #624 closed

[2017-02-02 04:39] ankuriitk commented on #610
@pitr-ch : FYI, my issue was https://github.com/ruby-concurrency/concurrent-ruby/issues/223. I had a proc that relied on variables defined in outer scope and I was using that proc directly in Future instead of passing the proc as an argument. Otherwise Future/Barrier combination is working fine.

[2017-02-02 17:39] eregon opened #627 "Deadlock in Concurrent::Array's on non-MRI"
-   `concurrent-ruby` version: 1.0.4
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: no

Take the following code: https://gist.github.com/eregon/323890bfff539f8a33f66d8b2f02cc99
Of course, its purpose is to create a deadlock but it means any method taking a block on Array can cause a deadlock as long as:
* 2+ threads use 2+ `Concurrent::Array` by calling a method taking a

[2017-02-02 17:51] eregon commented on #627
Related to #594

[2017-02-12 18:56] pitr-ch commented on #610
Deadlock is possible but improbable. There would have to be around 2000 (thread os limit) blocked promises execution simultaneously and all of the promises would have to be blocked by work which is thill in the queue of the thread-pool. Flat operation on old Promise block a thread though so it increases the danger. New Promises do not block a thread by doing a flat operation so the flat operation

[2017-02-12 19:00] pitr-ch commented on #627
I think this is a bug. 1) it should behave the same on all implementations. 2) it's a good practice not to execute user code when a lock is taken on a data structure, in this case to execute the each block while the block is taken

@thedarkone would you have time to work on this?

[2017-02-22 08:27] iNecas commented on #620
@pitr-ch could you release 0.3.1 now? This issue makes the new promises framework practically useless

[2017-02-23 18:37] pitr-ch commented on #620
Sorry, I was swamped, working on it right now.

[2017-02-23 19:16] #602 closed

[2017-02-23 19:32] ianks commented on #585
I stumbled across this issue as well. Spend an afternoon trying to figure out why I started deadlocking. I think dealing with this should be high-priority since it really highers the burden of entry on using concurrent patterns in Rails.

[2017-02-26 15:16] #622 closed

[2017-03-02 23:51] andrew-aladev opened #634 "Thread pool exception handling"
I've read a code in `{lib,spec}/concurrent/executor` a bit. It looks like people loves java way: the abstraction layer is ideal, documentation is great, tests are good and implementation is poor.

[Here](https://github.com/ruby-concurrency/concurrent-ruby/blob/master/lib/concurrent/executor/ruby_thread_pool_executor.rb#L347-L358) we have the implementation:
[code]

We shouldn't catch `Exception`.

[2017-03-03 00:07] andrew-aladev commented on #616
This discussion is bit ridiculous.

1. If you want to receive the first available exception you should add something like `ABORT_ON_EXCEPTION` option into thread pool executor. It is easy.
2. If you want to receive all exceptions you should use your own job wrappers or some "high level job wrappers".

[2017-03-03 00:19] jdantonio commented on #634
@andrew-aladev Thank you for your thoughtful feedback. I've made my opinion clear and my opinion has not changed. However, the decision is no longer mine to make. @pitr-ch is now the maintainer. It is up to him. I will support whatever decision he makes and I will respectfully decline to comment further.

[2017-03-03 11:52] andrew-aladev commented on #634
We can make worker abortable without any problems.

[code]

[2017-03-03 16:04] andrew-aladev commented on #634
[code]

This patch works fine for any version of MRI Ruby and Rubinius. I am not interested in JRuby support. It should be easy to fix JRuby executor. Please fix if you want.

[2017-03-13 15:26] pitr-ch commented on #634
The current implementation indeed swallows the exception, which is not good. Unfortunately I cannot accept your contribution as is. Could you open a pull-request? it will make perfectly clear what is the change in the code. Please include a simple reproducer for the problem you are describing, or even better tests. If you are not interested in JRuby that's fine I can evolve your pull-request and d

[2017-03-13 16:02] andrew-aladev commented on #634
Sure, I will provide a pull request. I am very busy this week, I will provide it later.

[2017-03-13 16:21] pitr-ch commented on #634
Thanks, that's fine.

[2017-03-13 19:44] pitr-ch commented on #610
Please reopen if you have further questions.

[2017-03-13 19:44] #610 closed

[2017-03-13 19:46] #604 closed

[2017-03-13 19:47] pitr-ch commented on #594
Remaining issue tracked in #599

[2017-03-13 19:47] #594 closed

[2017-03-15 01:39] phstc opened #638 "Is there a hook for FixedThreadPool when a thread dies?"
Hey

Is there a way/hook to know when a thread dies in a `FixedThreadPool`?

******
-   Operating system: linux / mac / win
-   `concurrent-ruby` version: 1.0.5
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: no

[2017-03-15 01:58] phstc commented on #638
Giving more context to that question, I have code like this:

[code]

But I would love to stop doing a request at time `return unless dispatching.make_true` and in order to do that, I need to control the ready capacity on my side:

[code]

Does that make? Any idea on how to implement that using concurrent-ruby? I don't want to use `ready_capacity` because I can only have a valid `ready_capacity` a

[2017-03-16 23:34] phstc commented on #638
Closed by https://github.com/ruby-concurrency/concurrent-ruby/issues/616#issuecomment-268839855

I will probably stick with

[code]

[2017-03-16 23:34] #638 closed

[2017-03-21 07:26] waynerobinson opened #639 "Thread leaks in TimerTask for long-executing jobs"
For long-executing jobs and small `execution_interval` values, `TimerTask` will leak threads at the rate of `execution_interval`.

`timeout_interval`, whilst documented, doesn't seem to be referenced anywhere. There seems to be an old (but unmerged) PR (https://github.com/ruby-concurrency/concurrent-ruby/pull/526) that at least solves the problem of timeouts running at the rate of `execution_inter

[2017-03-28 12:55] ares opened #641 "concurrent-ruby-edge defines sharp dependency"
Having a sharp dependency makes specific edge version incompatible with newer version of concurrent-ruby. If you think about packaging, whenever concurrent-ruby is updated in lets say debian package, we need to find corresponding concurrent-ruby-edge (and hope there was a compatible version released).

What if the dependency was changed to `>=` so that it remains compatible with newer versions?
ht

[2017-03-28 13:23] jdantonio commented on #641
The tight coupling of versions was intentional. The goal was to _always_ release updated versions of Edge and Ext whenever a new version of Core was released. The hope was to reduce the burden of developing and supporting Edge by strictly limiting its dependency with Core. Since Edge is experimental and not recommended for production, frequent churn is reasonable and expected. So we didn't conside

[2017-03-28 18:11] ivoanjo opened #643 "Concurrent::Map#each behaves differently in MRI and JRuby"
-   Operating system: linux
-   `concurrent-ruby` version: 1.0.5 and master (tried both)
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: no

### Description:

`Concurrent::Map#each` when called without a block returns an enumerator on MRI but `self` on JRuby.

### Testcase:

[code]

Output in MRI 2.4.1:
[code]

Output in JRuby 9.1.8.0:
[code]

[2017-03-29 11:45] ares commented on #641
Thanks a lot for explaining the reasons behind. Given there are probably less experimental features being added these days, I'd suggest considering merging to a single gem and use semantic versioning instead of releasing separate gems.

If there is a breaking change, people can always pin the older version. From maintainer point of view, 2 active branches can be kept, e.g. master for what is now e

[2017-03-29 14:09] jdantonio commented on #641
This problem may solve itself soon. @pitr-ch is working on the 2.0 release which merges much of Edge into Core. After that there may not be a need for Edge any more. Even if it's retained it will be _much_ smaller than it is now, so there will be less of a concern with version incompatibilities. It may make sense to keep things as-is for now, and continue focussing on the 2.0 release.

[2017-03-29 18:50] pitr-ch commented on #585
yeah that's a good idea, I was thinking that we should have a bridge/adapter to make c-r work easily under Rails. However I am no longer actively working with Rails applications and I do not have time to do it. I'll support anyone (and help when I can) who would decide to take up the task. @ianks ?

[2017-03-29 18:53] pitr-ch commented on #638
@phstc sorry I did not respond in time, I would have recommended a higher-level abstraction like promises as well.

[2017-03-29 19:00] pitr-ch commented on #643
@ivoanjo Thanks for reporting! It should indeed behave the same. Would you have time to contribute a PR with a fix?

[2017-03-29 19:06] phstc commented on #638
@pitr-ch no worries, thanks for checking that 🍻

As I have you in here (hehe), may I ask you something else? I'm using `Concurrent::SingleThreadExecutor` for an endless loop, like:

[code]

Any thoughts on that? I mean, does it feel like a proper usage?

[2017-03-29 19:21] ivoanjo commented on #643
Yes, I think I can take a stab at it today :)

[2017-03-29 19:25] pitr-ch commented on #641
For now I'll merge #642. concurrent-ruby has semver therefore edge should always work with a given major.minor version of concurrent-ruby.

Regarding other topics:
- `>=` cannot be used since that would also imply that old edge will be compatible with c-r 2.0, which is unknown at this moment. I've used PR from @iNecas Thanks.
- I'll release a 0.2.4 edge release with the relaxed dependencies.
- I c

[2017-03-29 19:26] pitr-ch commented on #643
Great!

[2017-03-29 19:32] pitr-ch commented on #638
It's little strange, but works. It blocks a thread which might be an issue, depending on you application and how many dispatches are there running concurrently.

You might be interested in http://ruby-concurrency.github.io/concurrent-ruby/file.promises.out.html#Run__simulated_process_ http://ruby-concurrency.github.io/concurrent-ruby/Concurrent/Promises/Future.html#run-instance_method then :) Prom

[2017-03-29 19:37] phstc commented on #638
@pitr-ch so in that case I only one dispatcher at time, I want to guarantee it dispatches one at time.

I tried to use a `TimeTask` before, but it "leaking" threads, as @waynerobinson pointed out [here](https://github.com/ruby-concurrency/concurrent-ruby/pull/526#issuecomment-287992834).

Cool, I'm looking forward to it.

[2017-03-29 19:39] jrochkind commented on #585
I'm honestly not sure there's any good way to take care of it for the user, the Rails architecture may just need the user to express their intent as intended. Good docs supplementing Rails docs may be the best that can be done.

[2017-03-29 19:40] pitr-ch commented on #638
yeah `#run` would work for that use-case. Yeah the leak is a serious issue I have to have a look at it.

[2017-03-29 19:46] pitr-ch commented on #585
I was hoping to wrap c-r tasks with permit_concurrent_loads or something like that. For promises it might be easy, theirs FactoryMethods were designed to support cases like that. Other abstractions might be problematic. I did not thing about it in depth at all. Even if the gem provides only few key abstractions which will work with Rails it might be a big win for users.

[2017-03-29 20:16] iNecas commented on #641
Thanks @pitr-ch for updates (both as in "information sharing" as well as in rubygems :) The more we have in core the better. We count on living on the edge for a while still (please don't break it too often:)

[2017-03-30 00:32] matthewd commented on #585
I'm happy to provide information on what Rails needs etc.

I've given up on addressing it myself -- all my attempts have been vetoed because they involve providing APIs that a sufficiently-misguided library could misuse, and I still see no way around that.

[2017-03-30 05:24] ares commented on #641
Fair enough, :+1

Odesláno pomocí AquaMail pro Android
http://www.aqua-mail.com

Dne 29. března 2017 21:25:14 Petr Chalupa <notifications@github.com> napsal:

[2017-03-30 12:55] pitr-ch commented on #641
edge 0.2.4 released. @iNecas I'll try :) It will be in new readme for 1.1, but FYI edge versioning 0.x.y where x => incompatible changes, y => compatible changes.

[2017-03-30 20:05] xrl opened #645 "ConcurrentRuby TimerTask fails to fire when running in app under Puma"
This is a cross post with https://github.com/puma/puma/issues/1256 because I'm not sure where the fix would come from.

### Steps to reproduce

Run my a copy of the issue from my minimal reproduction, a sinatra app that spawns a task at boot and prints status of task after each `curl`.

[code]

### Expected behavior

The timer task should be firing and spamming the stdout of the sinatra app.

The

[2017-03-31 18:45] xrl commented on #645
Definitely a me problem. I didn't understand how the puma threading model would affect this code loading. Fixed.

[2017-03-31 18:45] #645 closed

[2017-04-02 18:23] pitr-ch commented on #525
This needs to be fixed, I'll have look. Another related issue reported in #526.

[2017-04-02 18:26] pitr-ch commented on #639
Thanks I'll have a look. Unless you would have a time to dig in?

[2017-04-02 18:29] #643 closed

[2017-04-02 18:51] #570 closed

[2017-04-02 19:08] pitr-ch commented on #547
@voxik hi sorry for not addressing this sooner. I could not find any to_s or inspect implementation in our code. So I am inclined to update the regexp. Could you verify that  -7e78d8a0 is indeed an allowed value on ARM 32 ?

[2017-04-02 19:10] pitr-ch commented on #513
There will be a new implementation of delay in 1.1. See http://ruby-concurrency.github.io/concurrent-ruby/frames.html, http://ruby-concurrency.github.io/concurrent-ruby/frames.html
Closing in favour of the new implementation.

[2017-04-02 19:10] #513 closed

[2017-04-03 00:04] phstc commented on #638
Hi @pitr-ch

Could you help me with a possible impl with `#run`, basically I need something like this:

[code]

I would like to run that outside the main thread, and do something that make sure if for some reason the thread dies, it restarts it.

Just to give you more context, [Shoryuken](https://github.com/phstc/shoryuken) is a process that runs in background continuously polling messages from [A

[2017-04-03 11:46] voxik commented on #547
So this error is obviously coming from [[1]]. And it seems to be signed/unsigned mismatch. E.g. something like this:

[code]

But in reality, this should be unpacked as unsigned:

[code]

Obviously, this is not issue for default Object#inspect, since it is using C sprintf function with pointer format [[2]].

[1]: https://github.com/ruby-concurrency/concurrent-ruby/blame/master/lib/concurrent/map.r

[2017-04-03 12:20] voxik commented on #547
This should be way to reproduce (be careful with the memory consumption!):

[code]

When the address crosses certain level, it becomes negative. Trying this with:

[code]

[2017-04-03 12:37] voxik commented on #547
On the other hand, object_id appears to be signed value (see the source at [[1]]), which doesn't make a whole lot sense to me

[1]: http://ruby-doc.org/core-2.4.1/Object.html#method-i-object_id

[2017-04-03 13:01] voxik commented on #547
I reported the issue to Ruby upstream:

https://bugs.ruby-lang.org/issues/13397

[2017-04-09 20:16] pitr-ch commented on #550
This got left behind. The delay will be deprecated, so closing in favour of new implementation which will be merged in core with 1.1 release. New implementation deadlocks (no inconsistent state), however using value is discouraged and it is not possible to build a cycle with preferred chaining methods. Therefore I won't investigate this issue further for now.

[2017-04-17 10:47] pitr-ch commented on #639
Sorry, I don't have time at the moment to investigate.

[2017-04-17 11:22] pitr-ch commented on #486
implemented by throttling in `edge`

[2017-04-17 11:22] #486 closed

[2017-04-17 11:23] pitr-ch commented on #553
The Throttle is part of edge now.

[2017-04-17 11:23] #553 closed

[2017-04-17 11:24] pitr-ch commented on #329
Cooperative Cancellation is part of edge.

[2017-04-17 11:24] #329 closed

[2017-04-17 19:44] pitr-ch commented on #634
Postponing to 1.2 since it's not easily fixable since JRuby thread-pool is not using Ruby threads, the tasks probably need wrapping and raise on main thread or something similar.

[2017-04-17 20:11] pitr-ch commented on #614
@ms-ati did you had following in mind?
[code]

[2017-04-17 20:25] pitr-ch commented on #614
Aliases added in https://github.com/ruby-concurrency/concurrent-ruby/pull/637/files#diff-4563ba78b4a06ead2e72d5d5cbe03ac3R20, closing.

[2017-04-17 20:25] #614 closed

[2017-04-25 20:19] stereobooster opened #650 "Can not get value for async/future, even if it present in instance variable"
-   Operating system: linux
-   `concurrent-ruby` version: latest
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: no

[Code with example of problem](https://github.com/stereobooster/raygun4ruby/commit/9d997d28a277453c13a70c42221ee91a9e0ebdc7)

[code]

What I'm doing wrong?

[2017-05-22 19:44] doudou opened #652 "expose the prune operation from thread pools"
I'm specifically interested in the `CachedThreadPool` on MRI, but I assume that other thread pools/implementations probably have the same issue.

`RubyCachedThreadPool` prunes itself only on execute. I'm having an execution flow that creates a lot of threads in a short period of time and then stops using the thread pool altogether for a long period. This leads to having a few 100s of threads alive

[2017-05-24 20:03] bauerd opened #653 "Concurrent::Hash is broken"
concurrent-ruby (1.0.5)
ruby 2.3.1p112@x86_64-darwin15
Steps to reproduce:

[code]

Nevermind, it's expected behaviour and I should go to bed …

[2017-05-24 20:12] #653 closed

[2017-05-30 20:36] ezanmilah commented on #653
Dont know how to do that probblem

[2017-06-01 15:08] gogo52cn opened #656 "Task not Posted to Custom Executor"
-   Operating system: mac
-   `concurrent-ruby` version: 1.0.5
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: no

I am using Concurrent::Async

by default when using .async.method_name, the task gets posted to the "global_io_executor". Which is fine.

Then when I tried to supply a custom executor to the instance, I expected it to post the task to this custom executor. How

[2017-06-01 21:47] pitr-ch commented on #656
There is no API for setting a custom executor as far as I can tell. I would gladly accept a PR which would add it.

[2017-06-01 23:38] jdantonio commented on #656
A very early version had a the ability to set a custom executor but I later removed that for simplicity. Async is intended to be used for simple purposes, with applications using our other abstractions once they become more complex. That being said, if people find Async useful and would find value in the ability to change executor then I'm all for it. My once concern is that we ensure that the exe

[2017-06-02 01:32] gogo52cn commented on #656
Thank you for your reply.

Given this limitation, now I am using Future instead of Async.

Could the documentation be updated? I am asking, because in the documentation for Async, there is still a reference to “executor=“ instance method.

From:  jdantonio <notifications@github.com>
Reply-To:  ruby-concurrency/concurrent-ruby <reply@reply.github.com>
Date:  Friday, June 2, 2017 at 7:38 AM
To:  rub

[2017-06-02 03:17] ianks opened #657 "Question about MRILockableObject#ns_wait"
When using pthread_cond_wait, it is advised to always spin on the condition variable to prevent spurious wake ups. I noticed in MRILockableObject#ns_wait that we do not spin.

### Some questions I have

1. Does MRI have some strong guarantees around spurious wake ups?
2. Does ruby use pthread_cond_wait?
3. If so, does it hand spurious wake ups?

Code in question:

[code]

[2017-06-02 03:51] ianks commented on #657
Update: It looks like if `ConditionVariable#wait` is called, it ends up calling the aptly named [rb_thread_sleep_deadly_allow_spurious_wakeup](https://github.com/ruby/ruby/blob/ea1ce47fd7f2bc9023e9a1391dbadcfaf9e892ce/thread_sync.c#L422)

So unless I am mistaken, we are subject to spurious wakeups in any code that uses MRILockableObject#ns_wait without a timeout.

[2017-06-02 20:10] IronSavior opened #658 "Move #create from Promises::FactoryMethods"
I've been using the new edge Promises API with great success--fantastic work!

I'd like to propose a minor change and I'm happy to submit a PR for it myself if you agree. There is a module `Concurrent::Promises::FactoryMethods` that contains a number of methods for working with this API like `zip_futures`, `fulfilled_future`, etc.

My impression is that the purpose of this module is so that a clas

[2017-06-06 18:25] hobodave opened #659 "Edge promises fail during error handling"
[code]

As shown, the edge promises fail unexpectedly during error handling. The `explicit_failure`, `zipped_explicit`, and `zipped_nested` behavior above all seem like bugs. Note there are two separate issues here:

1. The behavior of `.exception` when handling explicitly rejected futures (via `.rejected_future`)
1. The behavior of `.exception` when handling _any_ failure (explicit or unexpected)

[2017-06-06 18:59] hobodave commented on #659
In troubleshooting various possible solutions, I have found one for each.

### undefined method `exception' for Concurrent::Array

[code]

This handles deeply nested errors without issue. Thoughts?

Will update with other solution shortly.

[2017-06-06 19:12] hobodave commented on #659
### undefined method `+' for NilClass

[code]

Ehh. I'm not sure if this is necessary. I think the root problem might be the documentation/examples that show this contrived usage:

[code]

Explicitly creating and passing around an exception is _odd_. Is there any real world usage of this?

The existing code works fine in this example, which is far more real-world:

[code]

Since this exception was

[2017-06-06 20:51] hobodave commented on #659
Submitting a PR shortly

[2017-06-08 01:48] xchen0123 opened #662 "shutdown/execute timertask will generate one more thread run the same task"
-   Operating system: linux
-   `concurrent-ruby` version: 1.0.5
-   `concurrent-ruby-ext` installed: yes
-   `concurrent-ruby-edge` used:  no

If each time i shutdown and execute the timertask as example shown, there will be one more thread running the duplicated task.
example:

[code]

[2017-06-13 09:02] merqlove commented on #634
Another way is:
[code]

[2017-06-14 02:52] ianks commented on #585
It would be nice to have a blessed way of doing concurrency inside of the Rails request life cycle. I'm finding myself commonly wanting to resolve from external APIs, and I imagine it's a common use case. I've done alright for myself building abstractions which do the Rails.application.executor dance, but I think it's error-prone and tedious.

@matthewd, do you think a proposal for something like

[2017-06-20 15:18] shun0309 commented on #639
@waynerobinson @pitr-ch  Hi guys, I would like to fix the bug. I have reproduced the problem by using the following code:
[code]
I can see the total number of threads is increasing with only two threads are running. One is the main thread, the other is the worker inside the thread pool which executes the task. It can be different from time to time as there are many workers competing for the task.

[2017-06-20 15:35] shun0309 commented on #639
@waynerobinson Sorry, just saw your comments on https://github.com/ruby-concurrency/concurrent-ruby/pull/526. You mentioned nothing actually seems to kill the running task if timeout. I guess I have to find somewhere to kill the running worker.

[2017-07-13 16:24] jbodah opened #667 "FixedThreadPool#wait_for_termination deadlock on MRI 2.4.1"
[code]

Running gives me:

[code]

******
-   Operating system: mac
-   `concurrent-ruby` version: 1.0.5
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: no

[2017-07-17 08:31] edwardmp commented on #585
@jrochkind

Thanks for your write-up. It helped me tremendously when I encountered the 'circular dependency detected while autoloading constant NameOfClass.' issue.  I don't know much about threading in Ruby in general.

Here are my observations:

* Not using `Rails.application.executor.wrap` sometimes leads to the circular dependency issue. Actually in most cases it did not, but it still happened

[2017-07-18 00:09] brennana opened #669 "Concurrent::Future "breaks" Ruby ThreadGroup guarantees"
I have noticed some peculiar behavior with concurrent ruby futures (and I would imagine anything that uses them). When using ruby's `ThreadGroup` class, if a particular future's thread is assigned to a new enclosed `ThreadGroup`, new futures spawned by the initial future may not belong to the same `ThreadGroup` as the initial future, even though they are supposed to according to `ThreadGroup`'s do

[2017-07-18 16:42] brennana commented on #669
After further investigation, I found that this problem is due to using the global thread pool for child futures as seen in the tests above. The solution is to create some form of thread pool for each initial thread for use in creating their own children (as well as children of children). Since the thread pool will only be used by threads of a particular thread group, any threads created in the poo

[2017-07-18 16:42] #669 closed

[2017-07-23 13:27] pitr-ch commented on #652
Thanks, this is a good functionality to have. Would you have time to look at it? It needs to work on JRuby (which uses Java thread pool) as well. Java thread pool may already solved it so we might just need to take inspiration there and port it to Ruby implementation.

[2017-07-23 13:35] pitr-ch commented on #656
@gogo52cn could you contribute a PR fixing the documentation? Thanks.

[2017-07-23 13:39] pitr-ch commented on #657
Thanks for reporting. This looks like a serious problem.

[2017-07-23 13:43] #659 closed

[2017-07-23 13:43] pitr-ch commented on #659
Indeed it's strange, but I think it should still work in this case as you have fixed. Thanks.

[2017-07-23 13:55] pitr-ch commented on #658
Thanks, this is good point. The create could indeed collide. I would rather just rename the method to something else to avoid collisions. Having just this method on Promises as singleton could be surprising to users so I'd rather keep it in the `FactoryMethods` module with rest of the factory methods. Name suggestions: `create_future`, `as_future`, `to_future` what would you choose or add?

[2017-07-23 13:57] pitr-ch commented on #662
Thanks for reporting, would you have time to look for a solution?

[2017-07-23 14:03] #559 closed

[2017-07-23 14:04] pitr-ch commented on #667
Thanks for reporting.

[2017-07-23 18:20] IronSavior commented on #658
Since the behavior of `#create` varies depending on the argument as opposed to `self`, `#as_future` or `#to_future` may be confusing because they suggest a type conversion/wrap operation for the receiver. `#create_future` is better in this respect, but I fear it's not distinguished well enough from `#future`.

In this case, I would suggest something like `#make_future`. It's a common convention in

[2017-07-23 20:39] pitr-ch commented on #658
`#make_future` sounds good. Could you make a PR?

[2017-07-23 20:45] pitr-ch commented on #634
@merqlove yeah that works thanks for the comment, the `array` should be a `Concurrent::Array` instance though. I've updated your comment.

[2017-07-24 12:21] pitr-ch commented on #650
Sorry that your issue went unanswered for long time. The link does no longer work, I cannot help without more information about `Client.new.async.track_exception`. Could you fix the link or provide more information here?

[2017-07-27 15:44] doudou commented on #652
I believe so, I'll check it out. I'm guessing I'll add a `#prune_pool` public method for that.

[2017-07-27 16:15] pitr-ch commented on #652
Thanks!

[2017-07-29 05:24] IronSavior commented on #658
I can do that.

[2017-08-18 01:20] xiaoronglv opened #670 "examples are broken due to Yahoo"
Lots of examples are requesting yahoo finance, but this api is discontinued by Yahoo.

so the following examples doesn't work for newbies. Could you please replace yahoo?

Many thanks.

[code]

## Reference

https://forums.yahoo.net/t5/Yahoo-Finance-help/Is-Yahoo-Finance-API-broken/td-p/250503

## URI

http://ichart.finance.yahoo.com/table.csv?s=TWTR&a=11&b=01&c=2013&d=11&e=31&f=2013&g=m

[2017-08-25 09:53] tscholz opened #671 "Concurrent::Actor used with :tell eats all the memory"
Hi there

Thank you for the great gem!

Ruby consumes a huge amount of memory when calling an actor using `:tell` many times.  I'm not sure if this is a bug or if we can't use the actor that way. Thank you for looking into this.

[code]

******
-   Operating system: mac
-   `concurrent-ruby` version: 1.0.5
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: yes
-   `ruby` used

[2017-09-06 10:30] herwinw opened #672 "shutdown and execute a timertask results in double runs"
Script as PoC:

[code]

Example output:
[code]

The tekst "In task: 2017-09-06 12:25:00 +0200" is not what I would expect here, this belongs to the first execution. The combination of shutdown and execute results in 1 extra execution of the first timer.
if you create a new TimerTask instead, the pending task is not executed.

******
-   Operating system: linux
-   `concurrent-ruby` version: 1.0.5

[2017-09-06 10:35] herwinw commented on #672
To make it a bit more clear what I'm trying to do here: create a task that runs at a specific interval, but with an option to trigger a "run now", which would reset the countdown interval as well (so if a task is scheduled every 10 seconds starting at t, and at t+2 a "run now" is triggered, the next scheduled run would be at t+12, not t+10). That does require using `run_now: true` in the above exa

[2017-09-13 18:42] mkristian opened #674 "require 'concurrent/scheduled_task' does not make the example to work"
just took me a while to debug things but
[code]

does not work on any ruby I tried (mri-2.2, mri-2.3, jruby-9.1.7) then I read in the documentation that I need to use `require 'concurrent'`.

sorry - wrong habit to just require things I really need. is this a bug or feature ?

-   `concurrent-ruby` version: 1.0.5
-   `concurrent-ruby-edge` used: no

[2017-09-14 12:08] pungoyal commented on #539
Did anyone get around to fixing it?

[2017-09-26 05:13] chriskite opened #675 "Promise.zip doesn't quite do what the docs say it does"
The docs for Promise.zip say it creates a Promise that "fails if any of them fails". This is potentially misleading, because in fact it only fails once all of the promises complete if any promise failed.

For example, the following will not fail:
`Promise.zip(Promise.new { sleep 1000000 }, Promise.new { raise StandardError.new })`

However, the following *will* fail, because promises are checked i

[2017-09-26 05:27] chriskite commented on #675
In case it helps, my motivation was that I was trying to find a way to create a Promise that would either complete successfully or fail after a time out. In Scala, Akka Futures have the `firstCompletedOf` method which allows the creation of a Future with a timeout, and I need something similar in Ruby.

[2017-10-05 19:26] torce commented on #671
Hi,
I was playing with your example a bit. Seems that the loop is sending more messages than the actor can process. Since the actor is being executed a the default thread pool with a unlimited job queue, the messages are being accumulated in the queue, causing that memory issue.

One way to solve this is using a custom executor with a bounded job queue, so spawning your actor with:
[code]
should s

[2017-10-05 19:42] torce commented on #671
Hi,
I was playing with your example a bit. Seems that everytime you send a message to the actor, it's stored in an array (`@stash`) in `Concurrent::SerializedExecution`. Since the loop sends more messages than the counter actor can process, a lot of unprocessed messages are stored in that array.

I couldn't find a way to configure a maximum size for that message array. Using a custom executor with

[2017-10-13 07:27] jbbarth commented on #667
Same on `MRI 2.3.4p301` on MacOSX Sierra, with or without concurrent-ruby-ext. I get the same error on both `Concurrent::FixedThreadPool` and `Concurrent::ThreadPoolExecutor`. Happy to help debugging/fixing if you want more infos.

[2017-10-13 22:39] stereobooster commented on #650
Thanks. Code was done other way by authors of the gem, not relevant anymore

[2017-10-13 22:39] #650 closed

[2017-10-18 22:30] divanikus opened #677 "TimerTask doesn't timeout"
Consider the following code
[code]
Expected behaviour:
[code]
Real behavior:
[code]

******
-   Operating system: linux
-   `concurrent-ruby` version: 1.0.5
-   `concurrent-ruby-ext` installed: no
-   `concurrent-ruby-edge` used: no

[2017-10-18 22:44] divanikus opened #678 "TimerTask should schedule next run before doing job"
As far as I understand the logic behind the TimerTask, it should run a job every *execution* seconds and kill it if it running too long.
The current logic is a little bit different. It causes a job to be run *execution* seconds *after* it did the previous iteration.
Short example. If I need to poll something every 30 seconds. I'll create a timer task with execution_interval set to 30 and say timeo

[2017-11-07 15:00] jrochkind commented on #585
@edwardmp that's odd that you need this apparatus in production, and disturbing to me. I don't understand what's going on. Just to check, you say you have `cache_classes=true`, do you also have `config.eager_load = true` (as would be standard/default in production)?  @matthewd, any ideas or explanation of why you'd need to use the executor and interlock objects to do concurrency even in production

[2017-11-09 00:30] rafaelsales commented on #667
News on the fix for this?

[2017-11-13 06:51] GustavoCaso commented on #627
Hi @pitr-ch.
I'm a Ruby developer and I want to get more comfortable working with threads so I decided that the best way is by helping and understanding `concurrent-ruby`. I'm not very experienced with Threads is there any issue that is a good starting point?

[2017-11-15 20:33] jrochkind commented on #585
So a naive-implementation of a Rails-safe Future, for instance, might just be one that always wraps it's body in `Rails.application.executor.wrap`, and wraps `value` in `ActiveSupport::Dependencies.interlock.permit_concurrent_loads`.

I'm not sure of the performance implications.

If you are not in a situation that requires this (I _thought_ if you are in prod-mode configurations without autoloadi

[2017-11-15 20:37] jdantonio commented on #585
@pitr-ch We haven't heard from you in a while? Are you still interested in maintaining this gem? I haven't worked with Ruby at all in the past two years and don't expect that to change in the foreseeable future. But many people depend on this gem so we need to make sure it's well maintained.

[2017-11-15 21:07] jrochkind commented on #585
Uh oh, it's a dependency of Rails now too, it def needs to be well-maintained. It's whole raison d etre IMO is being well-maintained standard shareable concurrency primitives.

I would not assume not commenting on _this_ issue (which is Rails-specific, and concurrent-ruby is not) means a lack of maintenance. But if there is a lack of maintenance, it would be a problem to many people's plans, and s

[2017-11-15 21:16] jdantonio commented on #585
I stepped down as maintainer in October of last year (issue #580), but I still follow notifications. If @pitr-ch isn't interested in maintaining the gem anymore I'll step up my involvement for a bit to help with these outstanding issues. But the best long-term solution is for someone who works regularly in Ruby to take the lead.

[2017-11-15 23:34] matthewd commented on #585
@jrochkind right, that's exactly what I wanted to do: allows Rails (or any other interested library) to automatically wrap futures when it is necessary to ensure [high-concurrency] safety.

The cost should be minimal (and if it's not, we can and should fix that in Rails)... and should only be paid if it's needed, in which case the cost is arguably immaterial anyway.

The fact @edwardmp is seeing r

[2017-11-15 23:57] jrochkind commented on #585
Thanks @matthewd. I'm confused, is @pitr-ch a Rails committer too?

What were your thoughts/plans for how to do this transparently?  Whether it's part of rails, part of c-r, an extra gem, a monkey-patch, whatever -- you're the expert here, and I think the fact that this stuff doens't Just Work in a Rails environment is a real barrier to increasing use of concurrency in places it makes sense in Rai

[2017-11-16 00:00] jdantonio commented on #585
I'm not familiar with the issue or its history so I'll have to catch up before I can express an opinion. I'm probably less concerned about people misusing a feature than @pitr-ch is. This is a concurrency library after all. Proper use of the more advanced featured requires a certain level of knowledge to begin with. I don't see why we can't work something out.

[2017-11-16 00:30] chrisseaton commented on #585
I can spend a couple of hours a week trying to get the issue count down in general.

[2017-11-16 00:47] matthewd commented on #585
My plan involves c-r providing a low-level API (which Rails would call), to say essentially "please wrap every future-execution with this block" (the executor), and possibly another to wrap the value-wait (the permit). It's not elegant, but it's the only Works By Default option that I can see -- I'm certainly open to alternative suggestions, though.

---

[The first time I brought it up](https://g

[2017-11-16 00:56] chrisseaton commented on #585
@matthewd knowing @pitr-ch well I'm sure he's trying to do the right thing and is open to ideas and compromises and any bad feeling here is accidental. Please don't give up communicating what you need. I'll try to make time to read back through this issue and see what the issues are as well.

[2017-11-16 01:16] jrochkind commented on #585
I think it would be worth revisiting with more maintainers/committers involved.

But if it can't/won't be made part of c-r, the options are:

1. monkey-patching c-r
2. providing 'wrapper' classes in another gem that proxy to c-r.

I think it's worth considering either, if neccesary. We need a way to do concurrency in rails that isn't a mess. Sadly/ironically/paradoxically, @matthewd's improvements

[2017-11-16 01:25] jrochkind commented on #585
@matthewd btw, something that would still really help is still docs... the docs in this 10-month-old un-merged PR are actually super helpful, it would be nice if they were more discoverable than they are in an un-merged PR. https://github.com/rails/rails/pull/27494

Anyone on this thread trying to figure out what's we're talking about in Rails, I think the docs in that un-merged PR are probably th

[2017-11-17 02:40] jdantonio commented on #585
All: I emailed @pitr-ch on his private email. He says he wants to be the maintainer of this gem, admits he hasn't been very responsive, and has promised to talk to me more over the next few days. I've worked with him on this gem for several years and I know he cares very deeply about its success. Please give us a chance to talk things over and figure out what's best for everyone. Unless there is a

[2017-11-17 20:54] pitr-ch commented on #585
Hi sorry, I was very busy over the summer and I let myself ignore notifications from c-r. However I did not intend to misconfigure my filters for mentions, I thought nobody was looking for me personally. I'll catch up, and please accept my apologies.

[2017-11-17 22:26] edwardmp commented on #585
@jrochkind

Thanks for your response. My settings relating to autoload should be pretty default.
Indeed in production `cache_classes = true` and `eager_load = true`.

That being said, this issue happens pretty infrequently in my production environment, the last occurrence was about 50 days ago. I currently do not wrap my code using stuff like `Rails.application.executor.wrap` anymore.

CC @matthew

[2017-11-18 01:48] matthewd commented on #585
@edwardmp maybe you have entries in `autoload_paths` that aren't in `eager_load_paths`? :confused:

If everything is eager loaded, there shouldn't be anything left to autoload.

[2017-11-18 02:52] jrochkind commented on #585
@matthewd this is kind of off-topic but it's something I _have not_ been able to figure out (and it is relevant to using rails with concurrency safely) -- is there any way to actually _turn off_ autoloading in Rails?  I have not been able to find it in any guides or docs, and have not been able to figure out the code. Like even if you have entries in autoload_paths that aren't in eager_load_paths,

[2017-11-18 03:09] matthewd commented on #585
[Yes](https://github.com/rails/rails/blob/56c1326abb11ed275f04b6e0592ca66975e37f24/railties/lib/rails/application/finisher.rb#L190-L191): http://guides.rubyonrails.org/upgrading_ruby_on_rails.html#autoloading-is-disabled-after-booting-in-the-production-environment

Also part of my confusion about how @edwardmp is getting far enough into the autoloader to see the "circular dependency detected" mess

[2017-11-18 10:05] pitr-ch commented on #585
Hi @matthewd, sorry I believe there was a misunderstanding before you gave up, and I certainly did not help with my lack of communication. Lets continue working on the solution. My last thinking was to introduce a private undocumented API for Rails to hook into to fix this. This API although undocumented would be tested and maintained for Rails. However I would like to keep it hidden because I don

[2017-11-18 11:11] pitr-ch commented on #674
Hi, I am bit confused. What's the problem with `ScheduledTask`?

Officially we only support require 'concurrent', although requiring just parts mostly works. In the future we would like to make sure that all sub-requires like `require 'concurrent/scheduled_task'` works, and allow users to use it.

[2017-11-18 11:17] pitr-ch commented on #539
@pungoyal I've reread the issue, I think we did not have enough data to resolve it. Do you experience similar problems?

[2017-11-18 11:37] pitr-ch commented on #671
Hi, sorry, unfortunately there is no bounded mailbox implementation yet. I am aware of the issue and we'll resolve it eventually.

[2017-11-18 11:40] pitr-ch commented on #671
I the problem is already tracked in another issue, I am closing this one.

[2017-11-18 11:40] #671 closed

[2017-11-18 11:46] pitr-ch commented on #667
AH! The pool needs to told to shutdown first before it does a blocking call wait_for_termination.
[code]
Works fine and as expected.

[2017-11-18 11:46] #667 closed

[2017-11-18 11:50] pitr-ch commented on #670
Thanks, we'll fix it.

[2017-11-18 11:56] pitr-ch commented on #627
@GustavoCaso Thanks you very much for you interest. I'll welcome your help. Perhaps you could have a look at https://github.com/ruby-concurrency/concurrent-ruby/issues/670, it would give you opportunity to read the documentation for the given c-r parts and try it for yourself a with a replacement service you need to find (it can be anything not just finance) for fixing the doc.

[2017-11-18 12:03] GustavoCaso commented on #670
I'm going to have a look at this one 😄

[2017-11-18 12:15] pitr-ch commented on #670
Thanks, @GustavoCaso!

[2017-11-18 12:55] edwardmp commented on #585
@matthewd
`
    extra_dirs = ["#{Rails.root}/app/models/validators", "#{Rails.root}/app/jobs/concerns"]
    config.autoload_paths += extra_dirs
    config.eager_load_paths += extra_dirs
`
This is my config. So that can't be it. Great to see some activity in this thread though!

[2017-11-18 15:11] jrochkind commented on #585
I really don't like the idea of a private undocumented API for Rails only.

1) Why should Rails get special access?

2) It's pretty hard to figure out what's going on in Rails-land with regard to concurrency and autoloading, by either docs or code reading -- using private undocumented API here will not make it any easier.

@pitr-ch I agree this is not ideal -- I think we can basically just blame a

[2017-11-18 15:34] matthewd commented on #585
@edwardmp  sounds like an issue for rails/rails if you see it again, then. 🤷🏻‍♂️

@pitr-ch Rails will never stop using it, and as long as that's a hoped-for goal, I'm nervous it will go away. (Ruby constant lookup is independent of threads; if that were to change, I'm not sure the result would still be Ruby. And as long as multiple threads are looking up constants in the same place, we're going to

[2017-11-18 15:36] edwardmp commented on #585
@matthewd there's already a Rails issue I created a few months ago (linked earlier in the thread): https://github.com/rails/rails/issues/30350. If you have any further ideas indeed it's best to discuss there, to keep this thread clean :).

[2017-11-18 16:19] matthewd commented on #585
This is the great irony: we have to limp along with `const_missing`, and thus do our own locking to provide some thread safety (now with the interlock, previously by wrapping a mutex around the whole application), whereas Ruby's internal `autoload` *is* threadsafe (by design, at least -- I've seen some indications it's not always so perfect in practice). But because `autoload` is scheduled for the

[2017-11-18 18:19] jrochkind commented on #585
@matthewd my understanding of `config.allow_concurrency = :unsafe ` is that it turns off _concurrent request handling_.  I do not want to do that.

I want concurrent request handling to happen in production. I want auto-loading to happen in dev.

I want _non-compliant threads_ (which are NOT Rails requests threads, which are perfectly compliant with the new APIs, but are likely to be little tiny t

[2017-11-18 19:32] pitr-ch commented on #585
Wrapping all c-r tasks with `Rails.application.reloader.wrap` is doable, however wrapping each blocking method like `#value` with `permit_concurrent_loads` is not. There is too many of them, it would be a nightmare to maintain, keeping it correct.

Based on my limited understanding so far, it should be enough that all c-r tasks are wrapped in `Rails.application.reloader.wrap` (they can do a Rails

[2017-11-19 22:08] pitr-ch commented on #585
@jrochkind the rationale against global state: concurrent-ruby is on a direction to get rid off all global state like configuration and global pools. If a library is designed with a global state, eventually a conflict will arise where 2 different users (projects, other libraries) of the global state will require different values there. E.g. conflicts in: configuration of concurrent-ruby's exceptio

[2017-11-20 02:35] matthewd commented on #585
I disagree that the convenience pools were/are a mistake -- I think a big part of the appeal of this library is that you can fire-and-forget tasks when you don't want to manage a pool, etc, and instead just know that they'll happen. If you become less convenient than `Thread.new { ... }.join` just for the sake of purity, I think people will follow their fingers. But that's a separate API considera

[2017-11-20 03:34] jrochkind commented on #585
I also disagree that the global pool are a mistake. I would recommend you leave them.

[2017-11-20 03:37] jrochkind commented on #585
@pitr-ch If I understand what's going on with `permit_concurrent_loads` in my examples above, in some cases the threads are actually _blocked and not processing_ until I wait for them on `value` with `permit_concurrent_loads`.  That `permit_concurrent_loads` -- causing the waiting thread to temporarily release it's lock --  is part of what made them actually run-able.  But I'm not worried about it

[2017-11-20 12:26] pitr-ch commented on #585
Let's move the discussion about global state and pools removal to https://github.com/ruby-concurrency/concurrent-ruby/issues/595. I'll later reply there later and I hope I'll dismiss your concerns.

[2017-11-22 22:29] pitr-ch commented on #595
The reasons for removal explained in https://github.com/ruby-concurrency/concurrent-ruby/issues/585#issuecomment-345553980. The removal of global pools will not make the c-r harder to use. The pre-configured pools and any other current or future configuration will live in a `Concurrent::World` object. When implemented, to get the current easy to use behavior with world object the user just needs t

[2017-11-22 22:54] pitr-ch commented on #585
Some more details about the planned pools removal are in https://github.com/ruby-concurrency/concurrent-ruby/issues/595#issuecomment-346490129

Future impact on Rails and other global state embracing libraries/frameworks: they will no longer be able to reuse c-r global pools. The libraries will be required to create their global world and document it that its the one correctly configured (and with

[2017-11-23 00:40] matthewd commented on #585
Yes, that was my earlier understanding, and exactly what I stated is not sufficient for our needs.

Don't bother. If the future plan is that Rails will need to supply its own concurrency API (regardless of whether it's internally built using c-r), and anyone not using the Rails-specific one will be out of our control, then I might as well go and do that now.

[2017-11-25 15:14] jrochkind commented on #585
I think removing the global pools is a mistake, but that's a different topic. I frequently use c-r in places where I'm just using a sprinkling, and the ease of setup to just create a future and use it, without having to create my own infrastructure, is huge.  If you have documentation somewhere I can read that would make the case for why the global pools are bad, I'd be interested in reading it.

[2017-12-03 11:19] pitr-ch opened #681 "Travis tests are failing on JRuby"

[2017-12-04 20:36] pitr-ch opened #682 "Channel implementation has thread safety bugs"
There are spurious failures when running channel specs, there is also old https://github.com/ruby-concurrency/concurrent-ruby/pull/519 with different implementation.

[2017-12-06 08:47] remofritzsche opened #684 "Thread pools behaving oddly with `max_queue` and `remaining_capacity`"
We're in need for a thread pool that has a maximum number of parallel threads, no queue and fails if too many threads are added. We also need to be able to detect how many threads are "free" at a given time.

We've tried almost all of the ThreadPool and ThreadPoolExecutor classes but can't get it to work:

[code]

If we interpret the documentation right, this should create a thread pool with 0 thr

[2017-12-11 10:49] remofritzsche commented on #684
May I bump this question again? We'd really need a solution for this and are kind of stuck. Thanks a lot for having a quick look at this 👍

[2017-12-26 00:46] jirutka opened #689 "Two tests fail on Alpine Linux armhf, running with -ext"
I’m getting the following failures on Alpine Linux armhf. All tests pass on other architectures, so the problem is related to armhf platform.

[code]

* * *
-   Operating system: linux
-   `concurrent-ruby` version: 1.0.5
-   `concurrent-ruby-ext` installed: yes
-   `concurrent-ruby-edge` used: no

[2017-12-27 20:16] jrochkind commented on #595
I still don't understand the rationale, and I think this _does_ make c-r harder to use, although possibly only slightly.  But there _are_ additional steps.

And these additional steps make it really hard to _encapsulate_ concurrent use in dependencies. Right now, I can supply a gem (eg) that does some things with (say) concurrent futures on the global pool. And you can use it in your app, and it j

[2017-12-27 20:57] HoneyryderChuck commented on #595
@jrochkind I think that the goals of this change have been thoroughly explained. Two gems can try to change the global pools in ways that make it incompatible with one another and will make code break in unexpected ways. It might make it (slightly) "harder to use" , but it'll be harder to break.

The maintainer is also willing to keep the old behavior, provides you activate it explicitly. Which ca

[2017-12-27 21:07] jrochkind commented on #595
Did you understand my point about dependencies needing their pools configured instead of just using the default global ones?

Do we know of actual cases in the wild with current global pools (I'm talking about what's currently released) where "two gems can try to change the global pools in/ ways that make it incompatible with one another and make code break in unexpected ways"?  Is this an actuall

[2017-12-27 21:15] jdantonio commented on #595
I do not know of a case where two gems both try to modify the global thread pools. As far as I know this is a hypothetical problem.

I have always believed that the greatest value of this gem is that it makes concurrency easy for most Rubyists. Global thread pools facilitate this. I never wanted this gem to look and feel like Java, where it takes 20 lines of setup code for 2 lines of actual work.

[2017-12-27 21:19] HoneyryderChuck commented on #595
Yes, I can tell you that, as a user of c-r in my gems and use cases, I **always** configure my pools, and I **never** use the global ones. My reasons for it is not being willing to share the units of concurrency with other functionality.

I'm just a user of this gem, don't know of many gems that use it under  the hood, and I wouldn't presume to know more than the maintainer of the gem in that depa

[2017-12-27 22:52] jrochkind commented on #595
I am also a user of c-r, as well as someone who has often evangelized it on reddit and in my blog. I have also contributed documentation to c-r in the past.

Sharing a global thread pool often works out fine for me. The global thread pools are configured properly to be shareable for many use cases if used properly. Of course, configuring a custom thread pool is also always possible, and I do that

[2017-12-28 06:24] jrochkind commented on #595
I don't think the 'world' idea is neccesarily bad, I just think it should be an _option_, and there should still be an option to use the same API you use now to use a default global automatically lazily-existing and automatically at_exit safe-shutdown-ing 'world'.  With no backwards incompat changes to API to do that.  An optional use of separate 'worlds' with convenient API could be a fine enhanc

[2018-01-07 05:31] mikedalpee opened #690 "Agent not dispatching action with no apparent errors"
I have an odd problem where some code I wrote base on Concurrent::Agent works fine when I run it on my local computer but fails when I run in in a docker container.  The snippet that is failing is:

[code]
What is happening in the container (which does not happen on my local computer) is once the call gets to self.await, the Agent never executes the action I initiated via send, so the wait never p

[2018-01-11 16:47] stravid opened #691 "Shutting down TimerTask is stopping already executing tasks"
Shutting down a timer task is not waiting for already executing tasks to finish. I talked to @headius and he encouraged me to open an issue since it is not clear if this is a feature or bug.

Example code:
[code]

[2018-01-11 16:58] headius commented on #691
It seems like a bug if shutting down a TimerTask kills a timed execution that has already started. Seems like it should wait for completion, or there should be another way to say "shutdown_after_current_task_has_completed".

[2018-01-19 14:49] kikonen opened #693 "Concurrent::Map.inspect triggers infinite loop with did_you_mean gem"
It seems that if "no method found" error occurs within rails template rendering, then infinite loop is triggered via "Concurrent::Map.inspect", and only way to resolve situation is to restart rails web server.

Following HACK seems to workaround issue
[code]

As you can guess this makes development/test cycle rather inconvenient in Rails

Versions:
- rails 5.1.x
- ruby 2.4.x or ruby 2.5.x
- concur

[2018-01-26 05:49] ilyacherevkov opened #694 "[Feature Request] Keyword parameters for MutableStruct in Ruby 2.5.0"
Ruby 2.5.0 introduced Struct keyword parameters by adding "keyword_init: true" optional parameter.
Mutable / ImmutableStruct / SettableStruct don't have support for those.

[2018-02-05 23:22] ilyacherevkov opened #695 "Concurrent::TimerTask Observers doesn't work"
TimerTask Observer example from documentation doesn't work. This is supposed to return `result`, but returns nothing

[code]
******
    Operating system: mac
    ruby 2.5.0
    concurrent-ruby (1.0.5)
    concurrent-ruby-edge (0.3.1)
    concurrent-ruby-ext (1.0.5)

[2018-02-21 14:04] pitr-ch commented on #693
Hi @kikonen, thanks for reporting! Could you elaborate how does it enter the loop in the `@default_proc.inspect`, perhaps a backtrace? Is `self.class.name` unrelated fix, or does it play a role in the problem?

[2018-02-21 14:05] pitr-ch commented on #694
Thanks for the suggestion.

[2018-02-21 14:08] pitr-ch commented on #695
Thanks for letting us know! Would you be interested to dig into in and contribute a fix?

[2018-02-21 15:34] pitr-ch commented on #690
Sorry I have no insight at the moment. What Ruby do you use? Do you extend the `Agent` class directly? If so, I would recommend to use composition instead to eliminate any accidental interference with the agent implementation. Could whole class?

[2018-02-21 15:41] pitr-ch commented on #689
Hi, thanks for reporting! https://github.com/ruby-concurrency/concurrent-ruby/pull/651 partially fixes it. I am looking at the rest.

[2018-02-21 15:51] pitr-ch commented on #689
https://github.com/ruby-concurrency/concurrent-ruby/pull/699 should fix the rest, @jirutka could you verify?

[2018-02-21 16:06] pitr-ch commented on #684
Sorry, I did not have free time left and could not attend concurrent-ruby for a while. Unfortunately the thread-pool uses `max_queue: 0` to make the queue unbounded. Remaining_capacity returns -1 which indicates that the capacity of the queue is unbounded, it's not related to number of free threads. The pool can be queried for the number of the threads but not for the number of idle threads.

What

[2018-02-21 21:26] pitr-ch commented on #689
Both fixes are merged, @jirutka I'll keep this open, could you test master that it passes?

[2018-02-25 07:25] pitr-ch commented on #691
Thank you, I'll have a look.

[2018-02-25 07:27] pitr-ch commented on #678
Thanks, I'll have look if we could add an option for the behavior you want.

[2018-02-25 07:41] pitr-ch commented on #547
I think this is fixed in #699 or #651

[2018-02-25 07:41] #547 closed

[2018-02-25 16:23] pitr-ch commented on #595
Thank you both for sharing your thoughts! After thinking it over, @jrochkind you are right that it would complicates things a bit for casual use, which we want to support as well as more involved usages. Therefore refining the original thought:
[code]
But also a common world should be already provided by c-r for casual use.
[code]
This very fuzzy draft and will have to be revisited.

1.x versions

[2018-02-25 19:27] jrochkind commented on #595
Thanks @pitr-ch. I'm down with not allowing configuration of the default global pools. If you want to configure, you've got to use your own pools. I don't see what the `world:` parameter gets you over the current `executor:` or perhaps `pool:` parameter. A "world" sounds like it contains more than just a pool, but what about the 'world' do you need to tell a future (or other thing needing a pool)

[2018-02-26 12:57] remofritzsche commented on #684
Thanks a lot for your answer. The reason for this requirement is the Gem [workhorse](https://github.com/sitrox/workhorse). It has a (concurrent-ruby) queue of jobs and regularly polls the database for new jobs, only fetching as many jobs as the queue can still handle. So for instance, if we have a queue size of 5 and 3 jobs are active, the poller only fetches 2 jobs from the database.

To work aro

[2018-03-16 06:50] monterey01 opened #701 "Concurrent::Promise.execute does not close the spawned thread"
******
-   Operating system: l mac
-   `concurrent-ruby` version:concurrent-ruby (1.0.5 java)
-   `concurrent-ruby-ext` installed:  no
-   `concurrent-ruby-edge` used:  no
- ruby versions tested - =* jruby-9.1.2.0 [ x86_64 ]( Our team uses this in production)
   ruby-2.2.5 [ x86_64 ](Same issue with native ruby)

[code]

I am having an issue with above code where  Concurrent::Promise.execute does

[2018-04-05 01:55] EarlofLemongrab commented on #667
Hey, I have the same problem, code snippet like this:
[code]

Then here is what I got:
[code]

[2018-04-05 01:57] EarlofLemongrab opened #703 "Deadlock on wait_for_termination"
Hey, I have a deadlock problem, code snippet like this:
[code]

Then here is what I got:
[code]

Can someone help me out?

[2018-04-05 18:06] EarlofLemongrab commented on #703
Hi guys, here the update, find the problem of deadlock. it is stupid.... its the datarace for the queue...
An updated one would be like this:
[code]
However, I am encountering a serious memory usage problem.
The weird thing is, that if the task's queue(@build_queue) size is more than my threads number, say 4. My code's consuming memory will be huge(it will keep growing until it reach the limit dur

[2018-05-02 09:09] brompwnie opened #705 "Coveralls Repo Token Exposed"
Hello,

It appears that your Coveralls repo token is publicly accessible here, https://github.com/ruby-concurrency/concurrent-ruby/blob/master/.coveralls.yml#L1.
If this token is valid, someone could submit submit Coverage data with this token, perhaps it should be implemented as an environment variable if it is being used?

[2018-05-02 10:07] pitr-ch commented on #701
That is strange, the global pool is set to auto-terminate on JRuby. It should shutdown gracefully, I'll investigate further.

[2018-05-02 10:14] pitr-ch commented on #667
@EarlofLemongrab hi, this looks like a different problem the above was missing the shutdown call. Could you open a new issue with a slightly extended snippet which I could run to reproduce the issue.

[2018-05-02 10:15] pitr-ch commented on #667
@EarlofLemongrab nevermind, just read your already open issue, Thanks!

[2018-05-02 10:41] pitr-ch commented on #703
The usual way is to do
[code]
Currently there is still a data-race between size and pop. Could you try that first, before we investigate the memory issue.

[2018-05-02 10:44] pitr-ch commented on #705
Thank you. Do you know if the token can also be used for something else then submitting the coverage data?

[2018-05-07 07:50] pitr-ch opened #710 "Fix java extension when targeting newer java version then 1.5"

[2018-05-18 16:02] jbodah opened #711 "ThreadPoolExecutor block/wait fallback policy"
I was curious how others felt about a feature for blocking when the ThreadPoolExecutor pool is busy and the queue is full. This might already be implemented but it's unclear to me based on the documentation

I often find myself writing scripts where the main thread generates data quickly and I want a worker pool for doing concurrent IO. I don't want to overload my receivers so pooling is important

[2018-05-22 02:16] vemv opened #712 "Unclear how to set logger"
Hi!

I'm having trouble with my usage of `Concurrent::TimerTask`, and logging might help debug it.

I have the feeling that exceptions are being swallowed (which is good - allows retries) without being visibly logged to `Rails.logger`.

I had a look at `Concurrent::Configuration`, `Concurrent::Logging` etc but still I don't see where to set the global logger to `Rails.logger`.

Thanks - Victor

[2018-05-22 06:34] pitr-ch opened #713 "Merge edge into main gem"
* Mark edge abstractions clearly as experimental
* do not require them by default

[2018-05-22 06:36] pitr-ch opened #714 "Create a clear require interface"
Put all sources outside of LOAD_PATH. Only files which we'll support to be required by users will be put in lib directory on LOAD_PATH. The files will use require_relative to load the actual sources. Test that each requirable part works standalone.

[2018-05-22 06:41] pitr-ch opened #715 "Drop support of old Ruby versions"

[2018-05-22 11:16] pitr-ch commented on #657
Ah I think it's actually fine, ns_wait is documented to allow spurious wake-ups, and ns_wait_until checks it in a loop. Where do you think it could cause problems?

[2018-05-22 21:00] pitr-ch commented on #695
fixed in ebd1e8654dbf45d353eef909586ef765d8f1e128

[2018-05-23 08:41] pitr-ch commented on #677
I indeed could not find timeout_interval used anywhere.

[2018-05-23 08:54] pitr-ch opened #717 "Reenable Java implementations"
All the Java blocking abstraction implementations had to be rolled back because the java threading is not compatible with ruby threading. E.g. a thread blocked by java CountDownLatch implementation cannot be killed from Ruby.

[2018-05-23 08:56] pitr-ch commented on #701
For the next release I've rolled back all the Java implementations which were blocking, #717. That should help. You can test master or 1.0.6 when it's released. If it's not fixed please reopen.

[2018-05-23 08:56] #701 closed

[2018-05-23 09:45] #705 closed

[2018-05-23 09:47] pitr-ch opened #718 "Get more contributors/maintainers"
* be public about it
* make it easy to find issues which need work
* document development process

[2018-05-23 09:50] pitr-ch commented on #717
cc @enebo @headius could JRuby's thread kill and other operations be made compatible with java interrupt mechanism to unblock Ruby threads blocked by Java blocking classes like CountDownLatch, Exchanger, etc.